<template lang="pug">
.mt-svg
  component.mt-svg__icon(
      v-show="!preloader"
      :is="getIconCmpName({ name, })"
      :color="color"
      :width="width"
      @click="svgClickHandler"
    )
  component.mt-svg__loader(
    v-show="preloader"
    :is="getIconCmpName({ name: preloaderName, })"
    :color="preloaderColor"
  )
</template>

<script>
import Failed from './svg/Failed';
import Delete from './svg/Delete';
import Preloader from './svg/Preloader';
import Settings from './svg/Settings';
import Loader from './svg/Loader';
import Cogwheel from './svg/Cogwheel';
import File from './svg/File';
import ArrowVector from './svg/ArrowVector';
import ExportSvg from './svg/Export';
import Users from './svg/Users';
import TeamLine from './svg/TeamLine';
import Timer from './svg/Timer';
import TimerFilled from './svg/TimerFilled';
import Finished from './svg/Finished';
import Play from './svg/Play';
import Group from './svg/Group';
import Refresh from './svg/Refresh';
import RefreshBg from './svg/RefreshBg';
import Department from './svg/Department';
import Lock from './svg/Lock';
import TwoTicks from './svg/TwoTicks';
import Download from './svg/Download';
import Paper from './svg/Paper';
import Close from './svg/Close';
import Submit from './svg/Submit';
import Link from './svg/Link';
import Star from './svg/Star';
import Search from './svg/Search';
import UserEdit from './svg/UserEdit';
import Exit from './svg/Exit';
import AlignLeft from './svg/AlignLeft';
import AlignRight from './svg/AlignRight';
import Pencil from './svg/Pencil';
import Upload from './svg/Upload';
import TestExpert from "@/components/UI/mtSvg/svg/TestExpert.vue";
import AlignBottom from "@/components/UI/mtSvg/svg/AlignBottom.vue";

export default {
  name: 'mtSvg',
  components: {
    Pencil,
    TeamLine,
    Delete,
    Preloader,
    Settings,
    Loader,
    Cogwheel,
    File,
    ArrowVector,
    ExportSvg,
    Users,

    Timer,
    TimerFilled,
    Finished,
    Play,
    Group,
    Refresh,
    RefreshBg,
    Department,
    Lock,
    TwoTicks,
    Download,
    Paper,
    Close,
    Submit,
    Link,
    Star,
    Search,
    UserEdit,
    Exit,
    AlignLeft,
    AlignRight,
    AlignBottom,

    Failed,
    Upload,
    TestExpert
  },

  props: {
    name: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: "#000000",
    },
    preloader: {
      type: Boolean,
      default: false,
    },
    preloaderColor: {
      type: String,
      default: "#000000",
    },
    preloaderName: {
      type: String,
      default: 'Preloader',
    },
    preloaderRotation: {
      type: String,
      default: 'right',
    },
    width: [String, Number]
  },
  data: () => ({}),
  computed: {},

  watch: {},
  methods: {
    /* GETTERS */
    getIconCmpName({ name, }) {
      if(!name) return;

      switch (name.toLowerCase()) {
        case 'pencil':
          return 'Pencil';

        case 'failed':
          return 'Failed';

        case 'delete':
          return 'Delete';

        case 'preloader':
          return 'Preloader';

        case 'settings':
          return 'Settings';

        case 'loader':
          return 'Loader';

        case 'cogwheel':
          return 'Cogwheel';

        case 'file':
          return 'File';

        case 'team-line':
          return 'TeamLine';

        case 'play':
          return 'Play';

        case 'timer':
          return 'Timer';

        case 'timerfilled':
          return 'TimerFilled';

        case 'finished':
          return 'Finished';

        case 'arrowvector':
          return 'ArrowVector';

        case 'export':
          return 'ExportSvg';

        case 'users':
          return 'Users';

        case 'group':
          return 'Group';

        case 'refresh':
          return 'Refresh';

        case 'refresh-bg':
          return 'RefreshBg';

        case 'department':
          return 'Department';

        case 'lock':
          return 'Lock';

        case 'twoticks':
          return 'TwoTicks';

        case 'download':
          return 'Download';

        case 'paper':
          return 'Paper';

        case 'close':
          return 'Close';

        case 'submit':
          return 'Submit';

        case 'link':
          return 'Link';

        case 'star':
          return 'Star';

        case 'search':
          return 'Search';

        case 'useredit':
          return 'UserEdit';

        case 'exit':
          return 'Exit';

        case 'alignleft':
          return 'AlignLeft';

        case 'alignright':
          return 'AlignRight';

        case 'alignbottom':
          return 'AlignBottom';

        case 'upload':
          return 'Upload';

        case 'testexpert':
          return 'TestExpert';

        default:
          return null;
      }
    },

    /* SETTERS */
    /* HANDLERS */
    svgClickHandler() {
      this.$emit('svg-click');
    },

    /* HELPERS */
  },

  created() { },
  mounted() { },
}
</script>

<style lang="scss">
.mt-svg {
  display: flex;
  &__icon {
    transition: all ease-in-out 0.2s;
  }
  &__loader {
    animation: spin infinite linear 1s;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>