<template>
  <div>
    <component
        :is="getPlansPage({role})"
        :rows="archivePlansRows"
    />
  </div>
</template>

<script>
import plansDefault from "@/components/workspace/assessmentPlans/plans/plansDefault";
import plansExpert from "@/components/workspace/assessmentPlans/plans/plansExpert";
import plansRespondent from "@/components/workspace/assessmentPlans/plans/plansRespondent";
import {mapActions, mapGetters} from 'vuex';

export default {
  components: {
    plansDefault,
    plansExpert,
    plansRespondent,
  },

  props: {},
  data: () => ({}),
  computed: {
    ...mapGetters('assessmentPlans/plan', ['archivePlansRows']),
    role() {
      return this.$store.getters['USER']?.role || '';
    },
  },

  watch: {},
  methods: {
    ...mapActions('assessmentPlans/plan', ['fetchArchivePlans']),

    /* GETTERS */
    getPlansPage({role,}) {
      if (role.toLowerCase() === 'expert') return 'plansExpert';
      if (role.toLowerCase() === 'respondent') return 'plansRespondent';
    },

    /* SETTERS */
    /* HANDLERS */
    /* HELPERS */
    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  async created() {
    await this.initBreadcrumbs();
    await this.fetchArchivePlans();
  },
  mounted() {
  },
}
</script>

<style lang="scss">
</style>