<template>
  <steps-nav :activeStep="3"/>
  <div class="assessment-plans-step3">
    <mtTable class="assessment-plans-step3-table">
      <template #actions>
        <div :class="['assessment-plans-step3-table__actions-header']">
          <div :class="['assessment-plans-step3-table__actions-row']">
            <div class="assessment-plans-step3__title">Шаг 3. Настройка уровней интерпретации</div>
            <mtPageNav
                :next_preloader="next_preloader"
                @back="onBackClicked"
                @next="onNextClicked"
            >
              <template #back>
                <div class="assessment-plans-step3__back">Назад</div>
              </template>
              <template #next>
                <div class="assessment-plans-step3__save">Далее</div>
              </template>
            </mtPageNav>
          </div>
          <div :class="['assessment-plans-step3-table__actions-row']">
            <div
                class="button button_add-new"
                @click="addNew"
            >
              <div class="button__item">
                <img
                    class="button__item-logo"
                    src="@/assets/img/svg/assessment-plans/assessment-plans__edit3_button-add-new_vector.svg"

                />
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #header>
        <template
            v-for="(col, index) in cols"
            :key="index"
        >
          <div
              class="assessment-plans-step3__header-cell"
              v-if="col.visible"
              :data-index="index"
              :class="[{ 'assessment-plans-step3__header-cell_first': col.stub === 'name' }]"
          >
            <span>{{ col.title }}</span>
            <span></span>
          </div>
        </template>
        <div
            class="assessment-plans-step3__header-cell"
            data-index="6"
        ></div>
      </template>
      <template #body>
        <template v-if="planEditdataExd.interpritation.length">
          <div
              class="assessment-plans-step3__item"
              v-for="(item, index) in computedInterpritation"
              :key="index"
          >
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ index + 1 }}</div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">
                <div>
                  <mt-input-amount
                      class="border-field font-field"
                      v-model="item.to"
                      theme="solid"
                      :hasError="hasError({ field: 'to', index, })"
                      @focus="resetValidateStatus({ field: 'to', index, })"
                      @blur="validateAll()"
                  />
                  <div
                      class="edit-general-info-block__error-message"
                      v-if="hasError({ field: 'to', index, })"
                  >
                    {{ errorsMessages[index]?.to[0] }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[2].visible">
              <div data-index="2">
                <div>
                  <mt-input-amount
                      class="border-field font-field"
                      v-model="item.score"
                      theme="solid"
                      :hasError="hasError({ field: 'to', index, })"
                      @focus="resetValidateStatus({ field: 'to', index, })"
                      @blur="validateAll()"
                      @input="changeScore(item.score, item)"
                  />
                  <div
                      class="edit-general-info-block__error-message"
                      v-if="hasError({ field: 'to', index, })"
                  >
                    {{ errorsMessages[index]?.to[0] }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">
                <div>
                  <mtInput
                      class="border-field font-field font-field_bold"
                      v-model="item.result"
                      theme="solid"
                      :hasError="hasError({ field: 'result', index, })"
                      @focus="resetValidateStatus({ field: 'result', index, })"
                      @blur="validateAll()"
                  />
                  <div
                      class="edit-general-info-block__error-message"
                      v-if="hasError({ field: 'result', index, })"
                  >
                    {{ errorsMessages[index]?.result[0] }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[4].visible">
              <div data-index="4">
                <div>
                  <mtInput
                      class="border-field font-field font-field_bold"
                      v-model="item.interpritation"
                      theme="solid"
                      :hasError="hasError({ field: 'interpritation', index, })"
                      @focus="resetValidateStatus({ field: 'interpritation', index, })"
                      @blur="validateAll()"
                  />
                  <div
                      class="edit-general-info-block__error-message"
                      v-if="hasError({ field: 'interpritation', index, })"
                  >
                    {{ errorsMessages[index]?.interpritation[0] }}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div data-index="5">
                <div
                    class="assessment-plans-step3__item-action"
                    @click.stop="onDelInterpritationClicked({ index })"
                >
                  <img
                      src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg"
                      alt="Удалить"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template v-if="!planEditdataExd.interpritation.length">
        <mtPreloader
            class="preloader_margin"
            v-for="preloader in 5"
            :key="preloader"
            :height="80"
        />
      </template>
    </mtTable>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations, mapState } from "vuex";
import validation from '@/plugins/_validation.js';
import mtPageNav from "@/components/composite/mtPageNav";
import mtTable from "@/components/UI/mtTable/mtTable2";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import StepsNav from "@/components/workspace/assessmentPlans/plans/plan/stepsNav.vue";
import MtInputAmount from "@/components/UI/mtInputAmount/mtInputAmount.vue";
import { onBeforeRouteLeave } from "vue-router";

export default {
  components: {
    MtInputAmount,
    StepsNav,
    mtPageNav,
    mtTable,
    mtPreloader,
    mtInput,
  },

  props: {},

  computed: {
    ...mapGetters(["assessmentPlanName",]),
    ...mapGetters('assessmentPlans/plan', ["interpritation", "planEditdataExd"]),
    ...mapState('assessmentPlans/plan', ['isNewPlan']),

    titlesPath() {
      return [
        {
          isLink: true,
          title: "Планы оценок",
          to: "AssessmentPlansList",
          query: {},
        },

        {
          isLink: true,
          title: "Список",
          to: "AssessmentPlansList",
          query: {},
        },

        {
          isLink: true,
          title: this.assessmentPlanName,
          to: "AddEdit1",
          query: {
            plan: this.planEditdataExd.uuid,
          },
        },

        {
          isLink: true,
          title: "Шаг 3",
          to: "AddEdit3",
          query: {
            plan: this.planEditdataExd.uuid,
          },
        },
      ];
    },

    computedInterpritation(){
      if(!this.planEditdataExd.interpritation.length) return;

      return this.planEditdataExd.interpritation.map(item => {
        item.score = this.toScoresLocal(item.to);
        return item;
      })
    }
  },

  methods: {
    ...mapActions([
      "setAssessmentPlanName",
      "setTitlesPath",
      "setTitleActiveSection",
    ]),
    ...mapActions('assessmentPlans/plan', ["setPlanEditdataExd", 'deletePlan']),
    ...mapMutations('assessmentPlans/plan', ['updateIsNewPlan']),

    /* HANDLERS */
    onBackClicked() {
      this.$router.push({
        name: "AddEdit2",
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
        },
      });
    },
    onNextClicked() {
      if (!this.next_preloader) {
        this.next_preloader = true;
        this.$router.push({
          name: "AddEdit4",
          params: {
            uuid: this.$route.params.uuid,
          },
          query: {
            ...this.$route.query,
          },
        });
      }
    },
    addNew() {
      this.planEditdataExd.interpritation.push({
        to: "",
        result: "",
        interpritation: "",
      });
    },
    onDelInterpritationClicked(payload = {}) {


      this.planEditdataExd.interpritation = this.planEditdataExd.interpritation.filter((item, index) => index !== payload.index);
      this.validateAll();
    },

    /* HELPERS */
    async save() {
      if (!this.planEditdataExd.interpritation.length) {
        this.next_preloader = false;
        this.$toast.error('Необходимо настроить уровни интерпретации')

        return;
      }

      if (await this.validateAll()) {
        this.$workspaceApi.assessmentPlans.planListTable
            .updatePlan(this.planEditdataExd.uuid, this.planEditdataExd)
            .then((response) => {
              this.next_preloader = false;
            });
      } else {
        this.next_preloader = false;
      }
    },

    checkInterpritation() {
      if (this.planEditdataExd.interpritation.length) {

      } else {
        this.planEditdataExd.interpritation = [
          {
            to: "20",
            score: '',
            result: "Плохо",
            interpritation: "Very bad",
          },

          {
            to: "40",
            score: '',
            result: "Неудовлетворительно",
            interpritation: "Bad",
          },

          {
            to: "60",
            score: '',
            result: "Удовлетворительно",
            interpritation: "not Bad",
          },

          {
            to: "80",
            score: '',
            result: "Хорошо",
            interpritation: "Good",
          },

          {
            to: "100",
            score: '',
            result: "Отлично",
            interpritation: "Perfect",
          },
        ];
      }
    },

    getCurrentPlanData(uuid, callback = false) {
      this.$workspaceApi.assessmentPlans.planListTable
          .getPlanEditdataExd(uuid)
          .then((response) => {
            // FIXME logs muss später entfernt werden


            let data = response.data.data;

            this.setAssessmentPlanName(data.name ?? "Без имени");
            this.setPlanEditdataExd(data);
            this.setTitlesPath(this.titlesPath);

            this.max = this.getMax();

            if (callback) {
              if (callback.params) {
                callback.exec(callback.params);
              } else {
                callback.exec();
              }
            }
          });
    },

    getMax() {


      let max = 0;

      if (this.planEditdataExd.structure) {
        for (let i = 0; i < this.planEditdataExd.structure.length; i++) {
          for (
              let j = 0;
              j < this.planEditdataExd.structure[i].parameters.criteria.length;
              j++
          ) {
            max += Number(
                this.planEditdataExd.structure[i].parameters.criteria[j].max
            );
          }
        }
      }

      return max;
    },

    toScores() {
      for (let i = 0; i < this.planEditdataExd.interpritation.length; i++) {
        let to = this.planEditdataExd.interpritation[i].to;

        let val = (Number(to) / 100) * Number(this.max);

        let tmpVal = val.toString().split(".");


        if (tmpVal.length === 2) {
          this.planEditdataExd.interpritation[i].to = Number(val).toFixed(2);
        } else {
          this.planEditdataExd.interpritation[i].to = Number(val);
        }
      }
    },

    bindActions() {
      document.addEventListener(
          "mousedown",

          (e) => {
            const nodeList = document.querySelectorAll(".js-list_unit");
            const element = e.target;

            let unitlist = this.$helpersFunc.has(nodeList, element).length;

            if (!unitlist) {
              this.unitlist = false;
            }
          }
      );
    },

    toScoresLocal(to, index) {

      let val = (Number(to) / 100) * Number(this.max);


      let tmpVal = val.toString().split('.');


      if (tmpVal.length === 2) {
        return Number(val).toFixed(2);
      } else {
        return Number(val);
      }
    },

    /* HELPERS */
    validate(payload = {}) {
      this.errorsMessages[payload.index] = {
        ...this.errorsMessages[payload.index],
        [payload.field]: validation.test({
          rules: payload.rules,
          data: {
            value: this.planEditdataExd.interpritation[payload.index][payload.field],
            index: payload.index,
            max: this.maxPercent,
            store: {
              planEditdataExd: this.planEditdataExd,
            }
          }
        }),
      };

      return this.errorsMessages[payload.index][payload.field].length === 0;
    },
    resetValidateStatus(payload = {}) {
      this.errorsMessages[payload.index] = {
        ...this.errorsMessages[payload.index],
        [payload.field]: [],
      };


    },
    async validateAll() {
      let valid = true;
      const interpritation = this.planEditdataExd.interpritation;

      for (let iInterpritation = 0; iInterpritation < interpritation.length; iInterpritation++) {
        if (!this.validate({...this.percentField, index: iInterpritation,})) {
          valid = false;

        }
        if (!this.validate({...this.resultField, index: iInterpritation,})) {
          valid = false;

        }
        if (!this.validate({...this.interpritationField, index: iInterpritation,})) {
          valid = false;

        }
      }

      return valid;
    },
    hasError(payload = {}) {
      return this.errorsMessages[payload.index] &&
          this.errorsMessages[payload.index][payload.field] &&
          this.errorsMessages[payload.index][payload.field].length;
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },

    changeScore(score, item) {
      item.to = (+score * 100) / +this.max;
    },

    typeOnlyNumbers(event) {
      const aCode = event.which ? event.which : event.keyCode;

      if (aCode > 31 && (aCode < 48 || aCode > 57)) return false;

      return true;
    }
  },

  data() {
    return {
      titleActiveSection: "Редактирование",
      max: 0,
      maxPercent: 100,
      unitlist: false,
      currentUnit: "percent",
      next_preloader: false,
      errorsMessages: {},
      cols: [
        {
          title: "№",
          stub: "name",
          visible: true,
          filter: "string",
        },

        {
          title: "До, %",
          stub: "active",
          visible: true,
          filter: "list",
        },

        {
          title: "До, баллы",
          stub: "participants",
          visible: true,
          filter: "string",
        },

        {
          title: "Оценка",
          stub: "progress",
          visible: true,
          filter: "string",
        },

        {
          title: "Интерпретация",
          stub: "results",
          visible: true,
          filter: "range",
        },
      ],

      /* VALIDATION PARAMS */
      percentField: {
        field: 'to',
        rules: [
          {rule: 'required', message: 'Заполните поле',},
          {rule: 'checkStep3PercentVal', message: 'Нарушена граница',},
          {rule: 'checkStep3PercentMax', message: 'Отсутствует максимум (100)',},
        ],
      },
      resultField: {field: 'result', rules: [{rule: 'required', message: 'Заполните поле'}]},
      interpritationField: {field: 'interpritation', rules: [{rule: 'required', message: 'Заполните поле'}]},
    };
  },

  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);

    if (this.planEditdataExd.interpritation.length) {
      this.setTitlesPath(this.titlesPath);

      this.max = this.getMax();
      this.checkInterpritation();

      this.bindActions();
    } else {
      this.getCurrentPlanData(this.$route.params.uuid, {
        exec: this.checkInterpritation,
      });

      this.bindActions();
    }

    onBeforeRouteLeave(async (to, from, next) => {
      const isRelationStep = to.name === 'AddEdit1' || to.name === 'AddEdit2' || to.name === 'AddEdit4';

      if (this.isNewPlan && !isRelationStep) {
        await this.deletePlan({ uuid: this.planEditdataExd.uuid });
        this.updateIsNewPlan(false);
      } else {
        await this.save();
      }

      next()
    })
  },
  created() {
    this.initBreadcrumbs();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.assessment-plans-step3 {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &-table {
    //min-width: 970px;
    width: 100%;

    &__actions-header {
      width: 100%;
      padding: 30px 30px 0px 15px;
    }

    &__actions-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__header {
    &-cell {
      padding: 15px;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;

      &_first {
        text-align: left;
      }
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px;
    min-height: 90px;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    // &:hover:not(.assessment-plans-step3__item_selected) {
    //   background-color: #f7f8ff;
    // }
    // &_selected {
    //   background: #e7e9ff;
    // }
    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 5px 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .2px;
      color: #252733;

      .mt-input {
        height: 40px;
      }

      &:first-child {
        min-width: 50px;
        max-width: 50px;
      }

      & > [data-index="0"] {
        width: 100%;
        font-size: 14px;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  // OBJECT STYLES START
  .button {
    .button__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 79px;
      height: 33px;
      background: #00788c;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      &:active {
        background: #005361;
      }

      .button__txt {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }

  .edit-general-info-block {
    &__error-message {
      color: #C24020;
      height: 20px;
      display: flex;
      align-items: center;
      font-size: 12px !important;
      font-weight: normal !important;
    }

    &__label {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #7C869D;
      margin-bottom: 10px;

      &_required {
        max-width: max-content;
        position: relative;

        &::after {
          content: "*";
          color: red;
          right: -12px;
          top: -2px;
          position: absolute;
        }
      }
    }
  }

  // OBJECT STYLES END

  /* MIXINS STYLES CSS START */
  .preloader_margin {
    margin: 10px 10px 0px 10px;
  }

  .mt-table {
    padding: 0 !important;

    &__actions {
      padding: 0 !important;
    }

    &__footer {
      padding: 0 !important;
    }
  }

  .border-field {
    border-radius: 12px !important;
  }

  .font-field {
    input {
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .2px;
      color: #252733;
    }

    &_bold {
      input {
        font-weight: bold;
      }
    }
  }

  .button_add-new {
    .button__item {
      width: 33px;
      height: 33px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      .button__item-logo {
        width: 17px;
        height: 17px;
      }
    }
  }

  /* MIXINS STYLES CSS END */

  &__back,
  &__save {
    margin: 7px 15px;
  }

  .mt-page-nav {
    &__button {
      &-next {
        width: 82px !important;
        height: 32px !important;
      }
    }
  }
}
</style>