.mt-radio-button {
  font-family: 'Mulish';
  font-style: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  &--radio {
    position: absolute;
    opacity: 0;

    +.radio-label {
      &:before {
        content: '';
        background: #C5C7CD;
        border-radius: 100%;
        border: 2px solid #C5C7CD;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
        box-shadow: inset 0 0 0 3px #FFFFFF;
      }
    }

    &:checked {
      +.radio-label {
        &:before {
          background-color: #00788C;
          box-shadow: inset 0 0 0 3px #FFFFFF;
          border: 2px solid #00788C;
        }
      }
    }

    &:focus {
      +.radio-label {
        &:before {
          outline: none;
          border-color: #00788C;
        }
      }
    }

    &:disabled {
      +.radio-label {
        &:before {
          content: '';
          background: #DFE0EB;
          border-radius: 100%;
          border: 2px solid #DFE0EB;
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          top: -0.2em;
          margin-right: 1em;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
          box-shadow: inset 0 0 0 3px #FFFFFF;
        }

        color: #DFE0EB;
      }
    }

    +.radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }

  &--title {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
  }
}