.statistics-line {
  min-width: 229px;
  background: #F0F1F7;
  border-radius: 12px;
  padding: 8px 10px;
  margin: 7.5px;

  &__header {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
    margin-bottom: 6px;
  }

  &__subtitle {
    margin-left: auto;
  }
}

@media all and (max-width: 575px) {
  .statistics-line {
    width: 100%;
    margin: 7.5px 0;
  }
}