<template>
  <table class="table__edit-step-2">
    <thead class="table__head">
    <tr class="row">
      <th class="cell">
        <div class="cell__title">
          Название, задание
        </div>
      </th>

      <th class="cell scale">
        <div class="cell__title">
          Шкала, критерий
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_unit"
          class="cell"
          data-type="scale-unit"
      >
        <div class="cell__title">
          Ед. шкалы
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_limit"
          class="cell"
          data-type="scale-limit"
      >
        <div class="cell__title">
          Порог
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_min"
          class="cell"
          data-type="scale-min"
      >
        <div class="cell__title">
          Минимум
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_max"
          class="cell"
          data-type="scale-max"
      >
        <div class="cell__title">
          Максимум
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_step"
          class="cell"
          data-type="scale-step"
      >
        <div class="cell__title">
          Шаг
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_weight"
          class="cell"
          data-type="scale-weight"
      >
        <div class="cell__title">
          Вес, множитель
        </div>
      </th>

      <th
          v-show="planEditdataExd.show_normalize"
          class="cell"
          data-type="scale-normalize"
      >
        <div class="cell__title">
          Нормирование
        </div>
      </th>
    </tr>
    </thead>

    <tbody
        class="table__body"
        v-for="( row, rowindex ) in planEditdataExd.structure"
        :key="row.name"
        :data-uuid="row.uuid"
        v-show="!row.isHidden"
    >
    <tr class="row first">
      <td
          class="cell"
          :rowspan="row?.parameters?.criteria?.length + 1"
      >
        <div class="cell__wrapper">
          <div class="task__logo">
              <span class="task__logo_wrapper">
                <img
                    class="attachment__content_settings-item"
                    src="@/assets/img/png/assessment-plans/assessment-plans__test.png"
                    alt="Меню"
                    v-if="row.type === 'test'"
                >

                <img
                    class="attachment__content_settings-item"
                    src="@/assets/img/png/assessment-plans/assessment-plans__info.png"
                    alt="Меню"
                    v-else-if="row.type === 'confirmation'"
                >

                <img
                    class="row__delete-logo attachment__content_settings-item"
                    src="@/assets/img/png/assessment-plans/assessment-plans__financial-audit.png"
                    alt="Меню"
                    v-else-if="row.type === 'expert'"
                >
              </span>
          </div>

          <div class="cell__inner">
            <div class="cell__titles">
              <div class="cell__title object">
                {{ row.name }}
              </div>
              <div
                  class="cell__sub-title type"
                  v-show="false"
              >
                {{ row.type }}
              </div>
            </div>

            <div class="cell__desc">
              <div class="type__assessment">
                <div class="type__assessment_title">Тип оценки:</div>
                <div class="type__assessment_value">
                  {{ getAssessmentType(row.parameters.param_type) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td class="cell">
        <div class="cell__title">
          <div
              class="button button-create"
              v-show="row.type !== 'confirmation'"
              @click="showScaleList( row.uuid )"
          >
            <div class="button__item">
              <span class="button__txt">Создать</span>
            </div>
          </div>
        </div>

        <ul
            class="scales hidden"
            :data-uuid="row.uuid"
        >
          <li
              v-for="scale in getScales( rowindex, row.scales )"
              :key="scale.uuid"
              :data-uuid="row.uuid"
              :data-type="row.type"
              class="scale"
              @click="newScale( scale, $event )"
          >
            {{ scale?.title }}
          </li>
        </ul>
      </td>
    </tr>

    <tr
        class="row"
        v-for="( criterion, index ) in row.parameters.criteria"
        :key="index"
    >
      <td
          class="cell criterion-item"
          data-type="scale-name"
      >
        <div class="cell__title mix-scale_bottom">
          <div class="button button-criterion-scale">
            <div class="button__item">
              <div class="button__item_wrapper">
                <div
                    class="button__txt exp-conf-edit"
                    v-if="row.type === 'expert' || row.type === 'confirmation'"
                    contenteditable="true"
                    @blur="setCriterionParam( 'title', row.uuid, index, $event  )"
                >
                  {{ criterion.scale?.title }}
                </div>

                <div
                    v-else
                    class="button__txt"
                >
                  {{ criterion.scale?.title }}
                </div>

                <div
                    class="button_action-logo"
                    @click="delScale( row.uuid, index )"
                >
                  <img
                      src="@/assets/img/svg/assessment-plans/assessment-plans__edit2_button-criterion-scale_vector.svg"

                      class="button_action-logo_cnt"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_unit"
          class="cell criterion-item"
          data-type="scale-unit"
      >
        <!--
        <div class="field__inner list js-list_unit" :data-id="index + '@' + row.uuid">
          <div class="field__inner_wrapper">
            <div class="field__inner_item">
              <div class="list">
                <div class="list__wrapper">
                  <div class="list__inner field-text">
                    <div class="list__head">
                      <div class="list__title">
                        <div class="list__title-span order_type">
                          {{ getUnitType( criterion.unit ) }}
                        </div>
                      </div>

                      <div class="list__vector">
                        <img src="../../../assets/img/svg/assessment-plans/assessment-plans__edit3_header-list_vector-logo.svg"  class="list__vector_logo" @click="openList( index + '@' + row.uuid )">
                      </div>
                    </div>

                    <ul class="list__body">
                      <li data-title="arbitrary" class="list__body_item" @click="unitTypeSltOpt( 'stan', row.uuid, index )">
                        Стэн
                      </li>

                      <li data-title="seriatim" class="list__body_item" @click="unitTypeSltOpt( 'percent', row.uuid, index )">
                        Процент
                      </li>

                      <li data-title="seriatim" class="list__body_item" @click="unitTypeSltOpt( 'percentile', row.uuid, index )">
                        Процентиль
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->

        <div class="cell__title criterion js-criterion_input">
          <span class="criterion__text disabled mix-unit"> {{ getUnitType(criterion.unit) }} </span>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_limit"
          class="cell criterion-item"
          data-type="scale-limit"
      >
        <div class="cell__title criterion js-criterion_input">
            <span
                :class="{ criterion__text : true, invalid : criterion.invalidLimit }"
                contenteditable="true"
                @focus="focusCriterion"
                @blur="setCriterionParam( 'limit', row.uuid, index, $event  )"
                @input="inputLimit( { event : $event, min : criterion.min, max : criterion.max, step : criterion.step, testIndex : rowindex, scaleIndex : index } )"
            >
              {{ criterion.limit }}
            </span>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_min"
          class="cell criterion-item"
          data-type="scale-min"
      >
        <div class="cell__title criterion js-criterion_input">
            <span
                class="criterion__text"
                :class="{ disabled : ( row.type === 'test' ) && !criterion.normalize, invalid : criterion.invalidMin }"
                :contenteditable="!( row.type === 'test' ) || criterion.normalize"
                @focus="focusCriterion"
                @blur="setCriterionParam( 'min', row.uuid, index, $event  )"
                @input="inputMin( $event, { isPoint : criterion.normalize, max : criterion.max, testIndex : rowindex, scaleIndex : index } )"
            >
              {{ criterion.min }}
            </span>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_max"
          class="cell criterion-item"
          data-type="scale-max"
      >
        <div class="cell__title criterion js-criterion_input">
            <span
                class="criterion__text"
                :class="{ disabled : ( row.type === 'test' ) && !criterion.normalize, invalid : criterion.invalidMax }"
                :contenteditable="!( row.type === 'test' ) || criterion.normalize"
                @focus="focusCriterion"
                @blur="setCriterionParam( 'max', row.uuid, index, $event  )"
                @input="inputMax( $event, { isPoint : criterion.normalize, min : criterion.min, testIndex : rowindex, scaleIndex : index } )"
            >
              {{ criterion.max }}
            </span>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_step"
          class="cell criterion-item"
          data-type="scale-step"
      >
        <div class="cell__title criterion js-criterion_input">
          <span
              class="criterion__text"
              :class="{ disabled : ( row.type === 'test' ) && !criterion.normalize }"
              :contenteditable="!( row.type === 'test' ) || criterion.normalize"
              @focus="focusCriterion"
              @blur="setCriterionParam( 'step', row.uuid, index, $event  )"
              @input="inputStep( $event, row.uuid, index )"
          > {{ criterion.step }} </span>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_weight"
          class="cell criterion-item"
          data-type="scale-weight"
      >
        <div class="cell__title criterion js-criterion_input">
          <span
              class="criterion__text"
              contenteditable="true"
              @focus="focusCriterion"
              @blur="setCriterionParam( 'weight', row.uuid, index, $event  )"
              @input="inputWeight"
          > {{ criterion.weight }} </span>
        </div>
      </td>

      <td
          v-show="planEditdataExd.show_normalize"
          class="cell criterion-item cell-normalize"
          data-type="scale-normalize"
      >
        <div class="mix-normalize">
          <div
              class="cell__title criterion js-normalize"
              v-show="row.type === 'test'"
          >
            <div class="settings__checkbox">
              <input
                  :id="row.name + ( criterion.scale ? criterion.scale.uuid : 'empt-exp' )"
                  type="checkbox"
                  class="settings__checkbox-item"
                  v-model="criterion.normalize"
                  @change="changeNormalize( criterion.normalize, row.uuid, index, $event )"
              >
              <label
                  :for="row.name + ( criterion.scale ? criterion.scale.uuid : 'empt-exp' )"
                  class="settings__checkbox-item__label"
              ></label>
            </div>
          </div>

          <div
              class="scale-normalize__settings"
              v-show="criterion.normalize"
              @click="onNormalizeSettings( row.uuid, index, `${rowindex}-${index}`, $event )"
          >
            <span class="scale-normalize__settings-logo"></span>
          </div>
        </div>
      </td>

      <PopUp
          v-show="criterion.normalize_visibility && ( row.type === 'test' )"
          class="popup__search popup__normalize-table"
          :spitzer__recht="true"
          :spitzer__links="false"
          :style="{ width : 'max-content', height : 'max-content' }"
          :data-id="`${rowindex}-${index}`"
      >
        <template v-slot:body>
          <div class="normalize-table">
            <div class="head">
              <div class="row">
                <div class="cell">
                  Баллы
                </div>

                <div class="cell">
                  До
                </div>
              </div>
            </div>
            <div class="body">
              <div
                  class="row"
                  v-for="( norm_sc, norm_index ) in criterion.normalize_scale"
                  :key="norm_index"
              >
                <div class="cell">
                  {{ norm_sc.value }}
                </div>

                <div class="cell">
                  <div
                      :class="{ 'to-val' : true, invalid : norm_sc.invalidVal }"
                      contenteditable="true"
                      @input="toValInput( { event : $event, testIndex : rowindex, scaleIndex : index, normIndex : norm_index } )"
                  >
                    {{ norm_sc.to }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </PopUp>
    </tr>
    </tbody>
  </table>

</template>

<script>
import {mapGetters, /*mapActions*/} from 'vuex';
import PopUp from '@/components/workspace/PopUp';

export default {

  components: {
    PopUp,
  },

  props: {},

  data() {
    return {
      editableСriterion: "",
      defHeight: null,
      normalizeEditValidation: {
        error: false,
        testIndex: null,
        scaleIndex: null,
      }
    }
  },

  computed: {
    ...mapGetters('assessmentPlans/plan', [
      'planEditdataExd',
      'addEdit2Validation'
    ]),
  },

  methods: {
    showScaleList(uuid) {
      document.querySelector(`ul.scales[data-uuid="${uuid}"]`).classList.toggle("hidden");
    },

    newScale(params, event) {


      let type = event.target.getAttribute('data-type');


      let object = params.object;
      let unit = 'stan';

      if (params.type === "expert") {
        object = 'expert';
        unit = 'point';
      }

      if (params.type === "confirmation") {
        object = 'confirmation';
      }

      let scaleType = {
        "uuid": params.uuid,
        "object": object,
        "number": params.number,
        "title": params.title,
        "type": params.type,
        "poles": params.poles,
      };


      let scale = {
        scale: scaleType,
        limit: 0,
        max: 10,
        min: 1,
        normalize: false,
        step: 0.1,
        unit: unit,
        weight: 1,
        normalize_scale: [],
      };


      let scaleIndex = this.$lodash.findIndex(this.planEditdataExd.structure, ['uuid', event.target.getAttribute('data-uuid')]);


      this.planEditdataExd.structure[scaleIndex].parameters.criteria.push(scale);
      this.showScaleList(event.target.getAttribute('data-uuid'));
    },

    getScales(taskIndex, scales = []) {


      return scales.filter((scale) => {
        let duplicated = false


        for (let scaleIndex = 0; scaleIndex < this.planEditdataExd.structure[taskIndex].parameters.criteria.length; scaleIndex++) {
          if (this.planEditdataExd.structure[taskIndex].parameters.criteria[scaleIndex].scale.title === scale.title) {
            duplicated = true;
            break;
          }
        }

        return !duplicated;
      });
    },

    delScale(uuid, scaleIndex) {
      let testIndex = this.$lodash.findIndex(this.planEditdataExd.structure, ['uuid', uuid]);

      this.planEditdataExd.structure[testIndex].parameters.criteria = this.planEditdataExd.structure[testIndex].parameters.criteria.filter(
          function (item, i) {

            return i != scaleIndex;
          }
      );

      this.save();
    },

    onNormalizeSettings(uuid, scaleIndex, popup, event) {


      let deltaLeft = document.querySelector('.sidebar').classList.contains('open') ? 410 : 220;
      let deltaRight = 30;

      document.querySelectorAll(`.popup__normalize-table[data-id="${popup}"]`)[0].style.top = (Number(event.pageY) + deltaRight) + 'px';
      document.querySelectorAll(`.popup__normalize-table[data-id="${popup}"]`)[0].style.left = (Number(event.pageX) - deltaLeft) + 'px';

      let testIndex = this.$lodash.findIndex(this.planEditdataExd.structure, ['uuid', uuid]);

      if (this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_scale.length) {
        this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_visibility = !this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_visibility;
      } else if (!this.addEdit2Validation.errorMax && !this.addEdit2Validation.errorMin && !this.addEdit2Validation.errorStep) {
        this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_scale = [];

        if (this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize) {
          let tmpMin = this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].min == 1 ? this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].min - 1 : this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].min;
          let tmpMax = Number(this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].max);
          let tmpStep = Number(this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].step);
          let distance = Number(tmpMax - tmpMin);
          let k = 10 / distance;


          if (tmpStep <= 1) {

            for (let i = 0; i < distance; i++) {
              this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_scale.push(
                  {
                    "value": i + 1,
                    "to": (k * (i + 1)).toFixed(0),
                  }
              );
            }

            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_visibility = !this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_visibility;
          } else {


            if (!(distance % tmpStep)) {
              let pointsCount = distance / tmpStep;

              for (let i = 0; i < pointsCount; i++) {
                this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_scale.push(
                    {
                      "value": i + 1,
                      "to": (tmpStep * (i + 1)).toFixed(0),
                    }
                );
              }

              this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_visibility = !this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize_visibility;
            }
          }
        }
      }
    },

    setCriterionParam(name, uuid, scaleIndex, event = null) {
      let testIndex = this.$lodash.findIndex(this.planEditdataExd.structure, ['uuid', uuid]);


      let content = event.target.textContent;

      if ((event.target.textContent == "") && (name !== 'normalize')) {
        event.target.textContent = this.editableСriterion;

        if ((event.target.textContent >= 0.1) && (event.target.textContent <= 10)) {
          event.target.classList.remove('invalid');
        }
      } else {
        switch (name) {
          case 'title' :
            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].scale.title = content;
            break;

          case 'min' :
            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].min = content;
            break;

          case 'max' :
            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].max = content;
            break;

          case 'step' :
            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].step = content;
            break;

          case 'limit' :
            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].limit = content;
            break;

          case 'weight' :
            this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].weight = content;
            break;

          case 'normalize' :
            if (this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].normalize) {
              this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].unit = 'point';
            } else {
              this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].unit = 'stan';
            }
            break;
        }
      }
    },

    save() {


      this.$emit('save');
    },

    openList(id) {


      document.querySelector(`.list[data-id="${id}"]`).classList.toggle('active');
    },

    getUnitType(type) {
      let response = null;

      switch (type) {
        case 'stan' :
          response = 'Стэн-баллы';
          break;

        case 'point' :
          response = 'Балл';
          break;

        case 'percent' :
          response = 'Процент';
          break;

        case 'percentile' :
          response = 'Процентиль';
          break;

        default :
          response = 'Стэн-баллы';
          break;
      }

      return response;
    },

    unitTypeSltOpt(type, uuid, scaleIndex) {
      let testIndex = this.$lodash.findIndex(this.planEditdataExd.structure, ['uuid', uuid]);


      this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].unit = type;

      document.querySelector(`.list[data-id="${scaleIndex}@${uuid}"]`).classList.remove('active');
    },

    getAssessmentType(type) {
      let response = null;

      switch (type) {
        case 'auto' :
          response = 'автоматическая';
          break;

        case 'expert' :
          response = 'экспертная';
          break;

        case 'confirmation' :
          response = 'подтверждение';
          break;

        default :
          response = '';
          break;
      }

      return response;
    },

    bindActions() {
      document.addEventListener(
          'mousedown',

          (e) => {
            const nodeList = document.querySelectorAll('.scales');
            const element = e.target;


            if (element.className === 'scales') {
              return
            }

            let isScales = this.$helpersFunc.has(nodeList, element).length;


            if (!isScales) {


              document.querySelectorAll('.scales').forEach((scale) => {
                scale.classList.add('hidden')
              });
            }
          }
      );

      document.addEventListener(
          'mousedown',

          (e) => {
            const nodeList = document.querySelectorAll('.js-list_unit');
            const element = e.target;

            let unitList = this.$helpersFunc.has(nodeList, element).length;

            if (!unitList) {
              document.querySelectorAll('.js-list_unit').forEach((unitList) => {
                unitList.classList.remove('active')
              });
            }
          }
      );

      document.addEventListener(
          'mousedown',

          (e) => {
            const nodeList = document.querySelectorAll('.popup__normalize-table');
            const nodeList2 = document.querySelectorAll('.js-normalize');
            const element = e.target;

            let normalizeCheckbox = this.$helpersFunc.has(nodeList2, element).length;
            let normalize = this.$helpersFunc.has(nodeList, element).length;

            if (!normalize && !normalizeCheckbox) {


              for (let i = 0; i < this.planEditdataExd.structure.length; i++) {
                for (let j = 0; j < this.planEditdataExd.structure[i].parameters.criteria.length; j++) {
                  this.planEditdataExd.structure[i].parameters.criteria[j].normalize_visibility = false;
                }
              }

              document.querySelectorAll('.body__main')[0].style.height = 'max-content'


              if (this.normalizeEditValidation.error) {


                this.normalizeEditValidation.error = false;

                this.planEditdataExd.structure[this.normalizeEditValidation.testIndex].parameters.criteria[this.normalizeEditValidation.scaleIndex].normalize_scale = [];
              }
            }
          }
      );
    },

    inputCriterion(event) {
      let regexpStr = /[A-Za-zА-Яа-яЁё,_\s+]/g;

      event.target.textContent = event.target.textContent.replace(regexpStr, "");

      if (
          (
              event.target.textContent.length > 1
              &&
              event.target.textContent[0] === '0'
              &&
              event.target.textContent[1] !== '.'
          )
          ||
          (
              event.target.textContent[0] === '.'
          )
      ) {
        event.target.textContent = event.target.textContent.slice(1);
      }
    },

    inputMin(event, params) {


      let regexpStr = /[A-Za-zА-Яа-яЁё,._\s+]/g;

      event.target.textContent = event.target.textContent.replace(regexpStr, "");

      if (
          (
              event.target.textContent.length > 1
              &&
              event.target.textContent[0] === '0'
              &&
              event.target.textContent[1] !== '.'
          )
          ||
          (
              event.target.textContent[0] === '.'
          )
      ) {
        event.target.textContent = event.target.textContent.slice(1);
      }

      let val = Number(event.target.textContent) == 1 ? Number(event.target.textContent) - 1 : Number(event.target.textContent);
      let tmpMax = Number(params.max);

      if ((tmpMax - val < 0) || (tmpMax - val > 10)) {
        this.addEdit2Validation.errorMax = true;
        this.addEdit2Validation.errorMin = true;

        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMax = true;
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMin = true;
      } else {
        this.addEdit2Validation.errorMax = false;
        this.addEdit2Validation.errorMin = false;

        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMax = false;
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMin = false;
      }

      this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale = [];
    },

    inputMax(event, params) {


      let regexpStr = /[A-Za-zА-Яа-яЁё,._\s+]/g;

      event.target.textContent = event.target.textContent.replace(regexpStr, "");

      if (
          (
              event.target.textContent.length > 1
              &&
              event.target.textContent[0] === '0'
              &&
              event.target.textContent[1] !== '.'
          )
          ||
          (
              event.target.textContent[0] === '.'
          )
      ) {
        event.target.textContent = event.target.textContent.slice(1);
      }

      let val = Number(event.target.textContent);
      let tmpMin = Number(params.min) == 1 ? Number(params.min) - 1 : Number(params.min);

      if ((val - tmpMin < 0) || (val - tmpMin > 10)) {
        this.addEdit2Validation.errorMax = true;
        this.addEdit2Validation.errorMin = true;

        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMax = true;
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMin = true;
      } else {
        this.addEdit2Validation.errorMax = false;
        this.addEdit2Validation.errorMin = false;

        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMax = false;
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidMin = false;
      }

      this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale = [];
    },

    inputStep(event, uuid, scaleIndex) {
      let regexpStr = /[A-Za-zА-Яа-яЁё,_\s+]/g;

      event.target.textContent = event.target.textContent.replace(regexpStr, "");

      if (
          (
              event.target.textContent.length > 1
              &&
              event.target.textContent[0] === '0'
              &&
              event.target.textContent[1] !== '.'
          )
          ||
          (
              event.target.textContent[0] === '.'
          )
      ) {
        event.target.textContent = event.target.textContent.slice(1);
      }

      let testIndex = this.$lodash.findIndex(this.planEditdataExd.structure, ['uuid', uuid]);

      let tmpMin = this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].min > 0 ? this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].min - 1 : 0;
      let tmpMax = Number(this.planEditdataExd.structure[testIndex].parameters.criteria[scaleIndex].max);
      let tmpStep = Number(event.target.textContent);
      let distance = Number(tmpMax - tmpMin);

      if (!(distance % tmpStep)) {
        this.addEdit2Validation.errorStep = false;

        event.target.classList.remove('invalid');
      } else {
        this.addEdit2Validation.errorStep = true;

        event.target.classList.add('invalid');
      }
    },

    limitMinMaxCtrl(params = {}) {


      if (
          ((params.val >= params.min) && (params.val <= params.max))
          &&
          !((parseFloat((params.val / params.step).toFixed(2)) - parseInt((params.val / params.step).toFixed(2))) > 0)
      ) {
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidLimit = false;

        this.addEdit2Validation.errorLimit = false;
      } else if ((params.type === 'limit') && (params.val === 0)) {
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidLimit = false;

        this.addEdit2Validation.errorLimit = false;
      } else {
        this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].invalidLimit = true;

        this.addEdit2Validation.errorLimit = true;
      }
    },

    inputLimit(params = {}) {


      this.inputCriterion(params.event);
      this.limitMinMaxCtrl(
          {
            min: params.min,
            max: params.max,
            step: params.step,
            val: parseFloat(params.event.target.textContent) ? parseFloat(params.event.target.textContent) : 0,
            type: 'limit',
            testIndex: params.testIndex,
            scaleIndex: params.scaleIndex,
          }
      );
    },

    weightMinMaxCtrl(event) {


      let val = parseFloat(event.target.textContent);

      if (val) {
        if ((val >= 0.1) && (val <= 10)) {
          event.target.classList.remove('invalid');

          this.addEdit2Validation.errorWeight = false;

          let tmpVal = val.toString().split('.');


          if (tmpVal.length === 2) {
            event.target.textContent = `${tmpVal[0]}.${tmpVal[1][0]}`;
          }
        } else {
          event.target.classList.add('invalid');

          this.addEdit2Validation.errorWeight = false;
        }
      } else {
        event.target.classList.add('invalid');

        this.addEdit2Validation.errorWeight = true;
      }
    },

    inputWeight(event) {


      this.inputCriterion(event);
      this.weightMinMaxCtrl(event);
    },

    focusCriterion(event) {
      this.editableСriterion = event.target.textContent;

      //event.target.textContent = "";
    },

    changeNormalize(status, uuid, scaleIndex, event) {


      this.setCriterionParam('normalize', uuid, scaleIndex, event);
    },

    showNormalizeByClick(status, popup) {


      if (!this.defHeight) {
        this.defHeight = document.querySelectorAll('.body__main')[0].offsetHeight;


      }

      if (status) {
        //let popupHeight = Number( document.querySelectorAll( `.popup__normalize-table[data-id="${popup}"]` )[0].offsetHeight );
        let tableHeight = Number(document.querySelectorAll('.body__main')[0].scrollHeight);

        document.querySelectorAll('.body__main')[0].style.height = (tableHeight + 600) + 'px'
      } else {


        document.querySelectorAll('.body__main')[0].style.height = 'max-content'; //this.defHeight + 'px'
      }
    },

    toValInput(params = {}) {
      let regexpStr = /[A-Za-zА-Яа-яЁё.,_\s+]/g;

      params.event.target.textContent = params.event.target.textContent.replace(regexpStr, "");

      if (
          (
              params.event.target.textContent.length > 1
              &&
              params.event.target.textContent[0] === '0'
              &&
              params.event.target.textContent[1] !== '.'
          )
          ||
          (
              params.event.target.textContent[0] === '.'
          )
      ) {
        params.event.target.textContent = params.event.target.textContent.slice(1);
      }

      this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale[params.normIndex].to = params.event.target.textContent;

      this.normalizeValidator(
          {
            testIndex: params.testIndex,
            scaleIndex: params.scaleIndex,
            value: params.event.target.textContent,
          }
      );
    },

    normalizeValidator(params = {}) {


      // checking nearest neighbors


      let nearest_neighbors_error = false

      for (let i = 0; i < this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale.length - 1; i++) {
        let to_first = this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale[i].to;
        let to_second = this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale[i + 1].to;

        if (Number(to_first) >= Number(to_second)) {


          this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale[i].invalidVal = true;

          nearest_neighbors_error = true;
        } else {
          this.planEditdataExd.structure[params.testIndex].parameters.criteria[params.scaleIndex].normalize_scale[i].invalidVal = false;
        }
      }

      // check for the presence of a maximum

      /*
      let max   = 10;
      let valid = false;
      let index = 0;

      for ( let i = 0; i < this.planEditdataExd.structure[ params.testIndex ].parameters.criteria[ params.scaleIndex ].normalize_scale.length; i++ )
      {
        index = i;

        let to = this.planEditdataExd.structure[ params.testIndex ].parameters.criteria[ params.scaleIndex ].normalize_scale[ i ].to;

        if ( Number( to ) === max )
        {


          valid = true;

          break;
        }
      }

      if ( valid )
      {
        this.planEditdataExd.structure[ params.testIndex ].parameters.criteria[ params.scaleIndex ].normalize_scale[ index ].invalidVal = false;
      }
      else
      {
        this.planEditdataExd.structure[ params.testIndex ].parameters.criteria[ params.scaleIndex ].normalize_scale[ index ].invalidVal = true;
      }
      */

      this.normalizeEditValidation.error = nearest_neighbors_error; //|| !valid;
      this.normalizeEditValidation.testIndex = params.testIndex;
      this.normalizeEditValidation.scaleIndex = params.scaleIndex;
    },
  },

  mounted() {
    this.bindActions();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style
    scoped
    lang="scss"
>
// HEADER STYLES START
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 30px;

  .page-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button {
      padding-right: 10px;

      &:last-child {
        padding-right: 0px;
      }
    }
  }
}

// HEADER STYLES END

// BODY STYLES START
.body__inner {
  //margin-bottom: 93px;

  .body__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 20px;

    .body__header_table-settings {
      margin: auto 0;

      .body__header_settings-item {
        padding-right: 35px;

        &:last-child {
          padding-right: 0;
        }
      }

      .settings-item__txt {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #4B506D;
      }

      .settings-item__search-logo {
        background: url(../../../../../../assets/img/svg/assessment-plans/assessment-plans__header-search.svg) no-repeat left center;
        padding-left: 24px;
      }

      .settings-item__filtet-logo {
        background: url(../../../../../../assets/img/svg/assessment-plans/assessment-plans__header-filter.svg) no-repeat left center;
        padding-left: 24px;
      }

      .settings-item__column-logo {
        background: url(../../../../../../assets/img/svg/assessment-plans/assessment-plans__header-column.svg) no-repeat left center;
        padding-left: 24px;
      }
    }
  }

  .body__main {
    //overflow: scroll;
  }
}

// BODY STYLES END

// OBJECT STYLES START
.button {
  .button__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 79px;
    height: 33px;
    background: #00788C;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    .button__txt {
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

.button-create {
  .button__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    padding: 0 8px;
    background: #E6F2F4;
    border-radius: 45px;

    .button__txt {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      text-transform: none;
      color: #00788C;
    }
  }
}

.button-criterion-scale {
  .button__item {
    width: max-content;
    height: 30px;
    border-radius: 45px;
    cursor: default;

    .button__item_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      .button__txt {
        padding-left: 12px;
        padding-right: 13px;

        .button__txt-span {
          font-size: 11px;
          line-height: 14px;
          text-transform: uppercase;
        }
      }

      .button_action-logo {
        width: 26px;
        height: 26px;
        margin: 2px;
        background: #FFFFFF;
        border-radius: 13px;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.settings__checkbox {
  /*display: table-cell;
  vertical-align: middle;*/
  //position: relative;

  .settings__checkbox-item {
    display: none;

    & + label {
      //position: absolute;
      //right: 0;
      //top: 2px;
      width: 20px;
      height: 20px;
    }

    & + label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      margin-right: 0.5em;
      background: #FFFFFF;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      cursor: pointer;
    }

    &:checked + label::before {
      border-color: #00788C;
      background: #00788C;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70% 70%;
      background-image: url("../../../../../../assets/img/svg/assessment-plans/assessment-plans__table_row_settings_checkbox.svg");
    }
  }
}

.table__edit-step-2 {
  text-align: left;
  vertical-align: unset;

  .table__head {
    .row {
      .cell {
        &:last-child {
          padding-right: 30px;
        }

        .cell__title {
          font-family: Mulish;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: #9FA2B4;
        }

        &.scale {
          min-width: 200px;
        }
      }
    }
  }

  .table__body {
    .row {
      &.first {
        border-top: 1.5px solid #DFE0EB;

        & .cell {
          .cell__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: center;
          }
        }

        & .cell:first-child {
          border-right: 1.5px solid #DFE0EB;
        }
      }

      &.last {
        border-bottom: 1.5px solid #DFE0EB;
      }

      .cell {
        padding-top: 20px;
        vertical-align: top;

        .cell__inner {
          .cell__titles {
            .cell__title {
              font-family: Mulish;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.2px;
              color: #252733;
              padding-bottom: 4px;
            }

            .cell__sub-title {
              font-family: Mulish;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.1px;
              color: #C5C7CD;
            }
          }

          .cell__desc {
            .type__assessment_title, .out__assessment_title, .type__assessment_value {
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.2px;
              color: #9FA2B4;
              white-space: nowrap;
            }

            .type__assessment_value {
              color: #252733;
            }

            .out__assessment, .type__assessment {
              display: flex;
              flex-wrap: wrap;
              padding-bottom: 15px;

              &:last-child {
                padding-bottom: 0;
              }

              .out__assessment_checkbox, .type__assessment_value {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }

  .row {
    .row__settings-logo, .row__delete-logo {
      cursor: pointer;
    }
  }

  .cell {
    padding: 0px 30px 10px 30px;
  }

  th.cell {
    .cell__title {
      width: max-content;
    }
  }

  .cell:first-child {
    text-align: left;
  }
}

.task__logo {
  padding-top: 5px;
  margin-right: 20px;
}

.scales {
  width: max-content;
  min-width: 200px;
  max-height: 100px;
  background: #F0F1F7;
  border-radius: 8px;
  color: #7C869D;
  margin-top: 10px;
  transition: max-height .5s ease;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    //background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
  }

  .scale {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    &:hover {
      color: #00788C;
    }
  }
}

.field__inner {
  width: 150px;
  min-height: 31px;
  background: #F0F1F7;
  border-radius: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;

  &.list {
    //padding-top: 15px;
  }

  &:not( .list, .access-time ) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .field__inner_wrapper {
    padding-left: 20px;

    .field__content {
      background: transparent;
      width: 287px;
      border: 0px;
    }
  }
}

.list {
  .list__wrapper {
    background: #F0F1F7;
    border-radius: 8px;
    padding: 5px 10px 5px 0px;

    .list__inner {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #9FA2B4;
      transition: max-height .3s;
      max-height: 0;

      .list__head {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        .list__vector {
          cursor: pointer;

          .list__vector_logo {
            transition-duration: .3s;
          }
        }
      }

      .list__body {
        opacity: 0;
        margin-top: 10px;
      }
    }
  }

  &.active {
    .list__wrapper {
      .list__inner {
        max-height: 100px;

        .list__head {
          .list__vector {
            .list__vector_logo {
              transform: rotate(180deg);
            }
          }
        }

        .list__body {
          opacity: 1;
          transition-duration: 1s;

          .list__body_item {
            cursor: pointer;
            margin-bottom: 5px;

            &.selected {
              color: red;
            }
          }
        }
      }
    }
  }
}

.normalize-table {
  display: table-cell;

  .head {
    display: table-header-group;

    .row {
      border-bottom: 2px solid #DFE0EB;
    }

    .cell {
      font-weight: bold;
    }
  }

  .body {
    display: table-row-group;
  }

  .row {
    display: table-row;
    padding: 5px 0;
  }

  .cell {
    display: table-cell;
    text-align: center !important;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* grayscale / black */

    color: #252733;

    padding-left: 20px;
    padding-right: 20px;
  }
}

.scale-normalize__settings {
  .scale-normalize__settings-logo {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../../../../../../assets/img/svg/assessment-plans/assessment-plans__table_row_settings.svg) no-repeat left center;
    background-size: 22px 22px;
    cursor: pointer;

    &:hover {
      background: url(../../../../../../assets/img/svg/assessment-plans/settings__active.svg) no-repeat left center;
      background-size: 22px 22px;
    }
  }
}

// OBJECT STYLES END

// MIXIN STYLES START
.assessment-plans__add-edit_1, .attachments {
  border: 1px solid #DFE0EB;
  border-radius: 8px;
}

.field-inner {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7C869D;
}

.wrapper {
  padding-left: 25px;
  padding-right: 30px;
}

.title__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

.description-textarea {
  display: block;
  min-height: 60px !important;
  height: auto !important;
  padding: 20px !important;
}

.button-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .button__item {
    width: 114px !important;
    height: 24px !important;
    background: #8FA93A;
    border-radius: 100px;
    text-align: center;
    cursor: default;
  }
}

.button-prev {
  .button__item {
    background: #E6F2F4;

    .button__txt {
      color: #00788C;
    }
  }
}

.hidden {
  max-height: 0;
}

.criterion {
  text-align: center;

  .criterion__text {
    min-width: 60px;
    background: #F0F1F7;
    display: inline-block;
    height: 25px;
    padding-top: 6px;
    border-radius: 8px;

    &.disabled {
      background: none !important;
      color: #9FA2B4;
    }
  }
}

.cell-normalize {
  vertical-align: middle;
  position: relative;
}

.criterion-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.invalid {
  border: 1px solid red;
}

.mix-unit {
  white-space: nowrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #252733 !important;
}

.mix-scale_bottom {
  margin-bottom: 10px;
}

.mix-normalize {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;

  & .criterion {
    width: auto !important;
  }
}

.exp-conf-edit {
  min-width: 60px;
  min-height: 14px;
  text-align: left;
}

.to-val {
  background: #F0F1F7;
  min-height: 30px;
  min-width: 30px;
  padding: 5px 5px 0px;
  border-radius: 8px;
}

// MIXIN STYLES END
</style>