<template>
  <div class="administration__add-edit-respondent__container">
    <div class="administration__add-edit-respondent__wrapper">
      <div class="add-edit-respondent__fields">
        <div class="add-edit-respondent__form-settings">
          <div>
            <div class="respondent__label">ФИО</div>
            <mtInput
                theme="solid"
                v-model="fullName"
            />
            <div
                class="respondent__error-message"
                v-if="errorsMessages?.fullName?.length > 0"
            >
              {{ errorsMessages.fullName[0] }}
            </div>
          </div>
          <div>
            <div class="respondent__label">Email</div>
            <mtInput
                theme="solid"
                v-model="email"
                :hasError="errorsMessages?.email?.length > 0"
                @focus="errorsMessages.email = false"
                @blur="validate('email', [{ rule: 'required', message: 'Заполните поле Email' }, { rule: 'isEmail', message: 'Введите корректный Email' }])"
            />
            <div
                class="respondent__error-message"
                v-if="errorsMessages?.email?.length > 0"
            >
              {{ errorsMessages.email[0] }}
            </div>
          </div>
        </div>
        <div class="add-edit-respondent__form-settings">
          <div>
            <div class="respondent__label">Пол</div>
            <mtSelect
                v-model="gender"
                :items="genderList"
            />
            <div
                class="respondent__error-message"
                v-if="errorsMessages?.gender?.length > 0"
            >
              {{ errorsMessages.gender[0] }}
            </div>
          </div>
          <div>
            <div
                class="respondent__label"
                @click="test"
            >
              Дата рождения
            </div>
            <mtInput
                theme="solid"
                v-model="birthday"
                type="date"
                :hasError="errorsMessages?.birthday?.length > 0"
                @focus="errorsMessages.birthday = false"
                @blur="validate('birthday', [{ rule: 'required', message: 'Заполните поле Дата рождения' }])"
            />
            <div
                class="respondent__error-message"
                v-if="errorsMessages?.birthday?.length > 0"
            >
              {{ errorsMessages.birthday[0] }}
            </div>
          </div>
        </div>
        <div class="add-edit-respondent__form-settings">
          <div>
            <div class="respondent__label">Роль</div>
            <mtSelect
                v-model="role"
                :items="rolesList"
                :hasError="errorsMessages?.role?.length > 0"
                @focus="errorsMessages.role = false"
                @blur="validate('role', [{ rule: 'required', message: 'Необходимо выбрать роль' }])"
            />
            <div
                class="respondent__error-message"
                v-if="errorsMessages?.role?.length > 0"
            >
              {{ errorsMessages.role[0] }}
            </div>
          </div>
        </div>
        <div class="add-edit-respondent__form-settings">
          <div
              v-for="field in formSettings"
              :key="field.uuid"
          >
            <div class="respondent__label">{{ field.name }}</div>
            <mtSelect
                v-if="field.type === 'list'"
                v-model="field.value"
                :items="field.variants"
            />
            <mtInput
                v-else
                theme="solid"
                v-model="field.value"
            />
            <div
                class="respondent__error-message"
                v-if="errorsMessages[field.name]?.length > 0"
            >
              {{ errorsMessages[field.name][0] }}
            </div>
          </div>
        </div>
      </div>
      <div class="add-edit-respondent__actions">
        <div class="page-nav">
          <div
              class="button button-prev"
              @click="handlers().onPrevBtnClicked()"
          >
            <div class="button__item">
              <span class="button__txt">Назад</span>
            </div>
          </div>
          <div
              class="button"
              @click="save"
          >
            <div class="button__item">
              <span
                  class="button__txt"
                  v-if="!savePreloader"
              >
                Сохранить
              </span>
              <mtIcon
                  preloader="preloader"
                  v-if="savePreloader"
                  fill="#fff"
                  style="margin: 0 auto;"
              />
            </div>
          </div>
        </div>
        <hr
            class="divider"
            v-if="$route.params.id"
        />
        <mtResetPassword
            :email="email"
            v-if="$route.params.id"
        />
        <mtBlockOrActive
            :uuid="uuid"
            :status="status"
            v-if="status !== null"
            style="margin-top: 20px;"
        />
        <div
            class="respondent-action delete"
            v-if="$route.params.id"
        >
          <div
              class="wrapper"
              @click="activateConfirmationDialog({ uuid: respondent.uuid })"
          >
            <div class="icon">
              <img
                  src="@/assets/img/svg/delete-icon.svg"

              />
            </div>
            <div class="title">удалить</div>
          </div>
        </div>
      </div>
    </div>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Вы уверены, что хотите удалить администратора ${respondent?.full_name}?`"
          :submit-cb="onDeleteRespondentClick"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import validation from '@/plugins/validation.js';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtSelect from '@/components/UI/mtSelectSolid/mtSelectSolid.vue';
import mtBlockOrActive from '@/components/composite/mtBlockOrActive'
import mtResetPassword from '@/components/composite/mtResetPassword'
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {

  components: {
    ConfirmationDialog,
    mtInput,
    mtSelect,
    mtResetPassword,
    mtBlockOrActive,
    mtIcon
  },
  created() {
    this.initBreadcrumbs();
    this.fetchFields()
        .then(res => {
          let fs = res.data.data
          fs.forEach(item => {
            item['value'] = null
          })
          this.formSettings = fs

        })
    this.fetchRoles({type: 'user'})
        .then(response => {
          const rolesList = []
          response.data.data.forEach(role => {
            if (!rolesList.length || !rolesList.find(r => r.slug === role.slug)) {
              rolesList.push(role);
            }
          })
          this.rolesList = rolesList;
        })
    // FETCH RESPONDENT if edit
    if (this.isEdit) {
      this.fetchRespondent({uuid: this.$route.params.id})
          .then(res => {

            this.fullName = res.data.data.full_name
            this.email = res.data.data.email
            this.gender = this.genderList[this.genderList.findIndex(i => i.slug === res.data.data.gender)]
            this.uuid = res.data.data.uuid
            this.status = res.data.data.status


            let brdt = res.data.data.birthday.split(".")
            brdt = `${brdt[2]}-${brdt[1]}-${brdt[0]}`
            this.birthday = brdt
            this.role = res.data.data.role
            this.formSettings = res.data.data.formSettings
            this.formSettings.forEach(item => {
              if (item.type === 'list') {
                let indx = item.variants.findIndex(i => i.name === item.value)
                item.value = item.variants[indx]
              }
            })
          })
    }

  },
  data() {
    return {
      fullName: null,
      email: null,
      gender: null,
      birthday: null,
      role: null,
      status: null,
      uuid: null,
      rolesList: [],
      formSettings: [],
      savePreloader: false,
      genderList: [
        {
          slug: 'male',
          name: 'Мужской'
        },
        {
          slug: 'female',
          name: 'Женский'
        }
      ],
      errorsMessages: {},
      fieldsConfig: {
        fullName: {
          hauptTitel: 'ФИО',
          maintest_original: true,
        },

        email: {
          hauptTitel: 'Email',
          maintest_original: true,
        },

        gender: {
          hauptTitel: 'Пол',
          maintest_original: true,
        },

        birthday: {
          hauptTitel: 'Дата рождения',
          maintest_original: true,
        },

        role: {
          hauptTitel: 'Роль',
          maintest_original: true,
        },

        default: {
          hauptTitel: '',
          maintest_original: true,
        }
      },
      isConfirmationDialogOpen: false,
      deletingRespondents: null
    }
  },

  computed: {
    ...mapGetters(
        [
          'roles',
          'fields',
          'respondent',
          'forgotPassword'
        ]
    ),


    titleActiveSection() {
      return this.$route.params.id ? 'Редактировать респондента' : 'Добавить респондента';
    },

    titlesPath() {
      return [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Респонденты',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: false,
          title: this.$route.params.id ? this.respondent.full_name : 'Добавить',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ];
    },
    isEdit() {
      return !!this.$route.params.id
    }
  },

  methods: {
    ...mapActions(
        [
          'setTitlesPath',
          'setTitleActiveSection',
          'fetchRespondent',
          'setRespondentStore',
          'createRespondent',
          'uploadRespondent',
          'fetchRoles',
          'fetchFields',
          'deleteRespondents',
        ]
    ),
    resetPassword() {
      // send email
      this.forgotPassword()
          .then(res => {

          })
    },
    resetValidation() {
      this.errorsMessages = {}
    },
    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)

      return this.errorsMessages[field].length === 0
    },
    validateDynamicField(field, idx, rules = []) {
      if (!this.formSettings[idx].required) return
      this.errorsMessages[field.name] = validation.test(this.formSettings[idx].value, rules)
      return this.errorsMessages[field.name].length === 0
    },
    validateAll() {
      let valid = true
      // if (!this.validate('fullName', [{rule: 'required', message: 'Заполните поле ФИО'}])) valid =  false
      // if (!this.validate('gender', [{rule: 'required', message: 'Заполните поле Пол'}])) valid =  false
      // if (!this.validate('birthday', [{rule: 'required', message: 'Заполните поле Дата рождения'}])) valid =  false
      if (!this.validate('role', [{rule: 'required', message: 'Необходимо выбрать роль'}])) valid = false
      if (!this.validate('email', [{rule: 'required', message: 'Заполните поле Email'}, {
        rule: 'isEmail',
        message: 'Введите корректный Email'
      }])) valid = false
      return valid
    },
    validateAllDynamicFields() {
      let valid = true
      this.formSettings.forEach((field, index) => {
        if (field.required) {
          let v = this.validateDynamicField(field, index, [{rule: 'required', message: 'Необходимо заполните поле'}])
          if (!v) valid = false
        }
      })
      return valid
    },
    save() {
      let validAll = this.validateAll()
      // let validDynamic = this.validateAllDynamicFields()

      if (validAll) { // && validDynamic
        this.savePreloader = true
        if (this.isEdit) {
          this.uploadRespondent({
            uuid: this.$route.params.id,
            respondent: {
              role: this.role,
              full_name: this.fullName,
              birthday: this.birthday,
              gender: this.gender,
              // email: this.email,
              formSettings: this.formSettings
            }
          })
              .then(res => {
                this.savePreloader = false
                this.$router.push(
                    {
                      name: 'RespondentsList',
                    }
                );
              })
        } else {
          this.createRespondent({
            role: this.role,
            full_name: this.fullName,
            birthday: this.birthday,
            gender: this.gender,
            email: this.email,
            formSettings: this.formSettings
          })
              .then(res => {
                this.savePreloader = false
                if (res.status === 200) {
                  this.$router.push(
                      {
                        name: 'RespondentsList',
                      }
                  );
                } else {
                  this.errorsMessages['email'] = []
                  this.errorsMessages['email'].push("Этот email уже используется.")
                }
              })
        }

      }
    },

    getters() {
      return {}
    },

    setters() {
      return {
        setFullName: (payload = {}) => {


          this.setRespondentStore({full_name: payload.event.target.value});
        },

        setEmail: (payload = {}) => {


          this.setRespondentStore({email: payload.event.target.value});
        },

        setGender: (payload = {}) => {


          this.setRespondentStore({gender: payload.option.slug});
        },

        setBirthday: (payload = {}) => {


          this.setRespondentStore({birthday: payload.event.target.value});
        },

        setRole: (payload = {}) => {


          this.setRespondentStore({role: payload.option});
        },

        setFormSettingsField: (payload = {}) => {


          this.setRespondentStore(
              {
                'formSettings': this.respondent.formSettings.map(
                    (field) => {
                      if (field.uuid === payload.uuid) {
                        return {
                          ...field,

                          value: payload.value
                        }
                      }

                      return field;
                    }
                ),
              }
          );
        },
      }
    },

    handlers() {
      return {
        onPrevBtnClicked: () => {
          this.$router.push(
              {
                name: 'RespondentsList',
              }
          );
        },

        onSaveBtnClicked: async () => {
          if (this.$route.params.id) {
            await this.uploadRespondent({uuid: this.$route.params.id});
          } else {
            await this.createRespondent();
          }

          this.$router.push(
              {
                name: 'RespondentsList',
              }
          );
        }
      }
    },

    activateConfirmationDialog (payload = {}) {
      this.deletingRespondents = null
      this.deletingRespondents = payload
      this.isConfirmationDialogOpen = true
    },

    async onDeleteRespondentClick() {
        await this.deleteRespondents(this.deletingRespondents);
        this.$router.push({name: 'RespondentsList',});
    },

    helpers() {
      return {
        parseGender: (payload = {}) => {
          switch (payload.gender) {
            case 'male':
              return 'Мужской';

            case 'female':
              return 'Женский';

            default:
              return '';
          }
        }
      }
    },

    async init() {
      this.setTitleActiveSection(this.titleActiveSection);

      if (this.$route.params.id) {
        await this.fetchRespondent({uuid: this.$route.params.id});
      }

      this.setTitlesPath(this.titlesPath);
      this.fetchRoles({type: 'user'});

      await this.fetchFields();

      this.setRespondentStore(
          {
            'formSettings': this.fields
                .map(
                    (field) => {
                      if (this.respondent.formSettings.length) {
                        let formSetting = this.respondent.formSettings.find(formSetting => formSetting.uuid === field.uuid);

                        if (formSetting !== undefined) {
                          return {
                            ...field,

                            value: formSetting.value,
                          };
                        }
                      }

                      return field;
                    }
                )
                .filter(
                    (field) => {
                      return field.status;
                    }
                ),
          }
      );
    },

    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.respondentName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  async mounted() {
    await this.init();
  },
}

</script>

<style
    lang="scss"
    scoped
>
.respondent {
  &__error-message {
    color: #C24020;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }
}


.administration__add-edit-respondent__container {
  .administration__add-edit-respondent__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px 15px 32px 32px;

    /* OBJECT STYLES CSS START */
    .administration__add-edit-respondent__row {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-bottom: 30px;
    }

    .add-edit-respondent__fields {
      min-width: 600px;
    }

    .add-edit-respondent__form-settings {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      padding-bottom: 30px;

      .add-edit-respondent__form-setting {
        max-width: 327px;
      }
    }

    .edit-field {
      max-width: 327px;
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    .button {
      .button__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120px;
        height: 33px;
        background: #00788C;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;

        &:active {
          background: #005361;
        }

        .button__txt {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }

    .page-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .button {
        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }

    .button-prev {
      .button__item {
        width: 82px;
        background: #E6F2F4;

        &:active {
          background: #CDE3E7 !important;
        }

        .button__txt {
          color: #00788C;
        }
      }
    }

    .divider {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid #DFE0EB;
    }

    .respondent-action {
      margin-top: 25px;

      &.reset-password {
        margin-top: 0;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        .icon {
        }

        .title {
          font-family: Mulish;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #9FA2B4;
          margin-left: 15px;
        }
      }
    }

    /* OBJECT STYLES CSS END */

    /* MIXINS STYLES CSS START */
    .min-default-width {
      width: 327px;
    }

    /* MIXINS STYLES CSS END */
  }
}
</style>