<template>
  <div class="administration-settings-respondent-questionnaire__container">
    <div class="administration-settings-respondent-questionnaire__wrapper">
      <div class="administration-settings-respondent-questionnaire__wrapper_main">
        <div class="actions">
          <div class="action">
            <mtButton
                class="add-new-filed__btn"
                @click="handlers().onNewFieldClick()"
            >
              <mtIcon
                  name="plus"
                  fill="#fff"
              />
              добавить поле
            </mtButton>
          </div>
        </div>
        <div
            class="field"
            v-for="(field, index) in defaultFields"
            :key="index"
            style="padding: 0 54px; color: #C5C7CD; margin-top: 10px;"
        >
          {{ field.name }}
        </div>
        <template v-if="fields.length > 0">
          <draggable
              v-model="fields"
              v-bind="dragOptions"
              item-key="order"
              :component-data="componentDataDraggable"
              handle=".js-drag"
              @end="sendFields"
          >
            <template #item="{ element }">
              <div
                  class="field"
                  :key="element.uuid"
              >
                <mtIcon
                    class="js-drag"
                    name="menu"
                    fill="#C7C7C7"
                    style="margin-left: 12px;"
                />
                <span>{{ element.name }}</span>
                <mtSwitch
                    v-model="element.status"
                    style="margin-left: auto;"
                    @change="updateStatus(element.uuid, element.status)"
                />
                <mtIcon
                    name="edit"
                    fill="#C7C7C7"
                    style="margin-left: 12px; cursor: pointer;"
                    @click="onEditFieldClick({field: element})"
                />
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    style="margin: 0 18px; cursor: pointer;"
                    v-if="!element.deletePreloader"
                    @click="deleteFieldByUuid(element.uuid)"
                >
                  <path
                      d="M3 6H5H21"
                      stroke="#C5C7CD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  ></path>
                  <path
                      d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                      stroke="#C5C7CD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  ></path>
                  <path
                      d="M14 11V17"
                      stroke="#C5C7CD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  ></path>
                  <path
                      d="M10 11V17"
                      stroke="#C5C7CD"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  ></path>
                </svg>
                <mtIcon
                    preloader="preloader"
                    v-else
                    fill="#C5C7CD"
                    style="margin: 0 18px; cursor: pointer;"
                />
              </div>
            </template>
          </draggable>
        </template>
      </div>
    </div>

  </div>
</template>

<script>
import {mapActions} from 'vuex';
import mtButton from '@/components/UI/mtButton';
import draggable from "vuedraggable";
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
import mtSwitch from '@/components/UI/mtSwitch'

export default {
  components: {
    mtButton,
    draggable,
    mtIcon,
    mtSwitch
  },
  created() {
    this.fetchFields()
        .then(res => {
          let staticField = [
            {
              name: "ФИО"

            }

          ]
          let dynamicFields = res.data.data


          let fields = res.data.data
          fields.forEach(field => {
            field['deletePreloader'] = false
          })

          this.fields = fields

        })
  },

  data() {
    return {

      fieldsConfig: { // TODO ???
        fieldsConfig: {}
      },
      drag: false,

      fields: [],

      defaultFields: [
        {
          name: 'Адрес электронной почты',
        },

        {
          name: 'Пароль',
        },

        {
          name: 'ФИО',
        },

        {
          name: 'Пол',
        },
      ]
    }
  },

  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
    componentDataDraggable() {
      return {
        tag: 'ul',
        type: 'transition-group',
        name: !this.drag ? 'flip-list' : null,
      }
    },
  },

  methods: {
    ...mapActions([
      'fetchFields',
      'fetchField',
      'setFieldStatus',
      'resetFieldStore',
      'deleteFieldsById',
      'updateFields',
      'deleteField'
    ]),

    deleteFieldByUuid(uuid) {

      const index = this.fields.findIndex(field => field.uuid === uuid)
      this.fields[index].deletePreloader = true
      this.deleteField(uuid)
          .then(res => {

            this.fields.splice(index, 1)
          })
    },
    sendFields() {

      this.fields.forEach((field, index) => field.order = index + 1)
      this.updateFields(this.fields)
    },
    updateStatus(uuid, status) {
      this.setFieldStatus({uuid, status});
    },


    setters() {
      return {
        setFieldStatus: async (payload = {}) => {


          await this.fetchField({uuid: payload.uuid,});

          this.setFieldStatus({uuid: payload.uuid, status: payload.event.target.checked,});
        },
      }
    },

    handlers() {
      return {
        onNewFieldClick: async () => {
          await this.resetFieldStore();

          this.$router.push(
              {
                name: 'createField',
                query: {
                  ...this.$route.query,
                  fieldName: 'Добавить',
                },
              }
          )
        }
      }
    },

    helpers() {
      return {}
    },

    init() {
      this.fetchFields();
    },

    bindActions() {
    },

    async onEditFieldClick({field,}) {


      await this.resetFieldStore();

      this.$router.push(
          {
            name: 'Field',
            params: {
              id: field.uuid,
            },
            query: {
              ...this.$route.query,
              fieldName: field.name,
            },
          }
      );
    },
  },

}

</script>

<style lang="scss" scoped>
.field {
  display: flex;
  height: 50px;
  align-items: center;
  border: 1.5px solid #dfe0eb;
  border-radius: 4px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }

  & > span {
    margin-left: 18px;
    font-weight: 600;
    font-size: 14px;
  }
}


.administration-settings-respondent-questionnaire__container {

  /* OBJECT STYLES CSS START */
  .administration-settings-respondent-questionnaire__wrapper {
    background: #FFFFFF;
    border: 1px solid #E7E8F0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px 20px 32px 20px;

    .administration-settings-respondent-questionnaire__wrapper_main {
    }
  }

  .add-new-filed__btn {
    .mt-icon {
      margin-right: 5px;
      width: 22px;
      height: 22px;
    }
  }

  .fields {
    margin-top: 25px;

    .field {
      border: 1.5px solid #DFE0EB;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 12px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      .content,
      .actions {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
      }

      .content {
        .title {
          margin-left: 18px;
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;

          &.default {
            color: #9FA2B4;
          }
        }
      }

      .actions {
        .action {

          .edit,
          .delete {
            cursor: pointer;
            margin-left: 15px;
          }
        }
      }
    }
  }

  /* OBJECT STYLES CSS END */

  /* MIXINS STYLES CSS START */
  .mix-switcher {
    padding-top: 5px;
  }

  .mix-default__field {
    .content {
      .title {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #9FA2B4;
      }
    }
  }

  /* MIXINS STYLES CSS END */
}
</style>