<template>
  <div class="administration-settings-security__container">
    <div class="administration-settings-security__wrapper">
      <div class="administration-settings-security__wrapper_main">
        <div class="fields">
          <div
              class="field"
              v-for="(field, index) in security"
              :key="index"
          >
            <div class="content">
              <div class="title">{{ field.name }}</div>
            </div>
            <div class="actions">
              <div
                  class="action"
                  v-if="field.slug === 'min'"
              >
                <Input
                    class="mix-min-default"
                    :params="{ ...fieldsConfig.default, value : getters().getMinCount( { min : field.rule } ), }"
                    @change="setters().setSecurityMinCount( { event : $event, uuid : field.uuid, } )"
                />
              </div>
              <div
                  class="action mix-switcher"
                  v-else
              >
                <Switcher
                    :id="field.uuid"
                    :stay="field.active"
                    :params="fieldsConfig.branchStatus"
                    @change="setters().setFieldStatus( { event : $event, uuid : field.uuid, } )"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';
import Switcher from '@/components/UI/mtSwitcher';
import Input from '@/components/UI/input';

export default {

  components: {
    Switcher,
    Input,
  },

  data() {
    return {
      fieldsConfig: {
        default: {
          hauptTitel: '',
          maintest_original: true,
        }
      },
    }
  },

  computed: {
    ...mapGetters(
        [
          'security',
        ]
    ),
  },

  methods: {
    ...mapActions(
        [
          'fetchSecurity',
          'setSecurityItemStatus',
          'uploadSecurityMinCount',
        ]
    ),

    getters() {
      return {
        getMinCount: (payload = {}) => {
          return payload.min.split(':')[1];
        },
      }
    },

    setters() {
      return {
        setFieldStatus: async (payload = {}) => {


          await this.setSecurityItemStatus({uuid: payload.uuid, status: payload.event.target.checked,});
        },

        setSecurityMinCount: async (payload = {}) => {
          let min = (payload.event.target.value < 8) ? 8 : payload.event.target.value

          await this.uploadSecurityMinCount({uuid: payload.uuid, rule: `min:${min}`,});
        },
      }
    },

    handlers() {
      return {}
    },

    helpers() {
      return {}
    },

    init() {
      this.fetchSecurity();
    },

    bindActions() {
    },
  },

  mounted() {
    this.init();
  },
}

</script>

<style lang="scss">

.administration-settings-security__container {
  /* OBJECT STYLES CSS START */
  .administration-settings-security__wrapper {
    background: #FFFFFF;
    border: 1px solid #E7E8F0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px 20px 32px 20px;

    .administration-settings-security__wrapper_main {
    }
  }

  .fields {
    margin-top: 25px;

    .field {
      border: 1.5px solid #DFE0EB;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 12px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      .content,
      .actions {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
      }

      .content {
        .title {
          margin-left: 18px;
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;

          &.default {
            color: #9FA2B4;
          }
        }
      }

      .actions {
        .action {
          .edit, .delete {
            cursor: pointer;
            margin-left: 15px;
          }
        }
      }
    }
  }

  /* OBJECT STYLES CSS END */

  /* MIXINS STYLES CSS START */
  .mix-switcher {
    padding-top: 5px;
  }

  .mix-min-default {
    width: 55px;

    .body {
      .body__wrapper {
        padding: 10px;
        border-radius: 2px;
      }
    }
  }

  /* MIXINS STYLES CSS END */
}

</style>