body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000000;
  overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 7px 10px 12px #f0f0f0;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(13, 49, 79, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(13, 49, 79, 0.5);
}


.form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;

  &__group {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #252733;
    margin-bottom: 10px;
  }
}


.vue-notification-group {
  top: 10px !important;
  right: 10px !important;
}