<template lang="pug">
.select-ui___header(v-click-outside="vcoSettings")
    .header__wrapper
        .select-ui__haupt-titel {{ params.hauptTitel }}
    .select-ui___body
      .select-ui___container(
        :class="{ 'maintest-original__select' : params.maintest_original, outlined : params.outlined, 'is-open' : isOpen, default : helpers().isDefaultStyle(), }"
      )
        .select-ui__wrapper
          .selected-option( @click="handlers().onSelectedOptionClick()" )
            .option {{ getSelectedOption }}
            .logo
              img.select-vector_logo(
                src="@/assets/img/svg/assessment-plans/assessment-plans__edit3_header-list_vector-logo.svg"

              )
          .select-options
            ul.list
              li.option(
                v-for="option in params.items"
                :key="params.uuid"
                @click="handlers().onOptionClick( { option } )"
              ) {{ option.name }}

</template>

<script>

  export default {

    components : {},

    props: {
      /**
       * The following component parameters are passed to this object
       * {
       *    @param { string-enum }  type : [ 'text', 'password', 'number', ]
       *    @param { string }       hauptTitel
       *    @param { string }       label
       *    @param { boolean }      outlined
       * }
       */
      autoSelectFirst: {
        type: Boolean,
        default: false
      },
      params : {
        type: Object,
        required: true
      },
    },
    created () {
      if (this.autoSelectFirst) {

        this.handlers().onOptionClick({ option: this.params.items[0] })
      }
    },
    data ()
    {
      return {
        isOpen : false,
        defSelectedOption : '',//'Выберите роль',
        selectedOption : null,
        vcoSettings: {
          handler: this.hide,
          events: ['mousedown'],
          isActive: true,
          detectIFrame: true,
          capture: false
        },
      }
    },

    computed : {
      getSelectedOption ()
      {
        if ( this.selectedOption )
          return this.selectedOption;

        return this.params.selectedOption || this.defSelectedOption;
      }
    },

    methods : {
      hide () {
        this.isOpen = false
      },
      getters ()
      {
        return {}
      },

      setters ()
      {
        return {}
      },

      handlers ()
      {
        return {
          onSelectedOptionClick : () => {
            this.isOpen = !this.isOpen;
          },

          onOptionClick : ( payload = {} ) => {
            this.isOpen = false;
            this.selectedOption = payload.option.name;
            this.$emit( 'change', payload.option );
          },
        }
      },

      helpers ()
      {
        return {
          isDefaultStyle : () => {
            return !( this.params.maintest_original ) && !( this.params.outlined );
          }
        }
      },

      init (){},

      bindActions (){},
    }

  }

</script>

<style lang="scss" scoped>

.select-ui___container
{
  /* OBJECT STYLES CSS START */
    .selected-option
    {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      padding: 20px 15px 20px 20px;
    }

    .logo
    {
      .select-vector_logo
      {
        transition-duration : .3s;
      }
    }

    .select-options
    {
      position: relative;

      .list
      {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition : all ease .4s;
        background: #FFFFFF;
        width: 100%;

        .option
        {
          padding: 10px;
          cursor: pointer;

          &:hover
          {
            background : #F0F1F7;
          }
        }
      }
    }

    &.maintest-original__select
    {
      background: #F0F1F7;
      border-radius: 12px;
      width: max-content;
      width: 100%;

      .selected-option
      {
        justify-content: space-between;
      }

      .list {
        background: #F0F1F7 !important;
        box-shadow: 0px 6px 10px rgba(124, 124, 124, 0.25);
      }
    }

    &.is-open
    {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .select-vector_logo
      {
        transform : rotate( 180deg );

      }

      .list
      {
        max-height: 250px !important;
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(124, 124, 124, 0.25);
      }
    }

    &.default
    {
      width: max-content;

      .selected-option
      {
        padding: 0;

        .option
        {
          min-width: 100px;;
        }
      }

      .list
      {
        width: max-content;
        box-shadow: 0px 6px 10px rgba(124, 124, 124, 0.25);
      }
    }

    &.outlined
    {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #C2C8D0;
      border-radius: 4px;

      overflow: hidden;

      &.is-open
      {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        overflow: visible;

        .select-ui__wrapper
        {
          .list
          {
            //border: none;
          }
        }
      }

      .select-ui__wrapper
      {
        .selected-option
        {
          padding: 15px;

          .option
          {
            min-width: 100px;
            width: 100%;
          }
        }

        .list
        {
          width: max-content;
          z-index: 1000;
          width: 100%;
          border: 1px solid #C2C8D0;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          border-top: none;
          left: -1px;
        }
      }
    }
  /* OBJECT STYLES CSS END */
}

.select-ui__haupt-titel
{
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7C869D;
  margin-bottom: 10px;
}

</style>