<template>
  <mtExpanderItem class="assessment-plans">
    <template #header>
      <slot name="header"/>
    </template>
    <template #content>
      <div class="assessment-plan-cards-row">
        <assessmentPlanCard
            v-for="assessmentPlan in assessmentPlans.plans"
            :key="assessmentPlan.uuid"
            :assessment-plan="assessmentPlan"
        >
          <template #item-statistics="item">
            <slot
                name="item-statistics"
                v-bind="item"
            />
          </template>
        </assessmentPlanCard>
      </div>
      <button
          class="assessment-plans__archive-link"
          v-if="assessmentPlans.meta?.current_page !== assessmentPlans.meta?.last_page"
          @click="updateAssessmentPlansList(assessmentPlans)"
      >
        Загружать ещё
      </button>
    </template>
  </mtExpanderItem>
</template>

<script>
import assessmentPlanCard from '@/components/workspace/assessmentPlans/plans/card';
import mtExpanderItem from '@/components/UI/mtExpander/mtExpanderItem';

export default {
  name: 'assessmentPlansRow',
  components: {mtExpanderItem, assessmentPlanCard},
  props: {
    assessmentPlans: {
      type: [Array, Object],
      default: () => []
    }
  },
  methods: {
    updateAssessmentPlansList(data) {
      this.$emit('update', data)
    }
  }
}
</script>


<style
    lang="scss"
    src="./style.scss"
/>