<template>
  <div class="auth__container">
    <div class="auth__wrapper">
      <div class="auth__header">
        <div class="logo">
          <img
              class="maintest_logo-open"
              src="@/assets/img/svg/maintest_logo-open.png"
              style="display: block; margin: 0 auto;"

          />
        </div>
        <div class="title">
          <slot name="title"/>
        </div>
      </div>
      <div class="auth__body">
        <slot name="body"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthWrapper'
}
</script>

<style
    lang="scss"
    src="./style.scss"
/>