.auth {
  &__field {
    margin-bottom: 15px;
  }
  &__body {
    width: 100%;
  }
  &__actions {

    .actions__back {
      text-align: center;
      margin: 0 auto 20px;
      color: rgb(0, 120, 140);
      cursor: pointer;
    }

    &__btn {
      width: 100%;
      height: 50px;
    }

    &__link {
      display: block;
      margin: 25px auto 0;
      width: fit-content;
      &__value {
        color: $green;
        transition: .3s color;
        cursor: pointer;
        &:hover {
          color: $dark-green;
        }
      }
    }
  }
  &__error-message {
    color: #C24020;
    margin-top: 3px;
    font-size: 12px;
    visibility: hidden;
    min-height: 14px;
    &--show {
      visibility: visible;
    }
  }
  &__container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  &__wrapper {
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 48px;
    width: 410px;

    @include max-sm{
      padding: 30px 20px;
    }
  }
  &__header {
    & > .logo {
      margin-bottom: 30px;
    }

    & > .title {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.18px;
      color: #000000;
      margin-bottom: 30px;
    }
  }
}