<template lang="pug">
.test-library-tests-item
  div TestLibrary tests item
  router-view
</template>

<script>
export default {
  props: {},

  data() {
    return {};
  },
  mounted() {},
};
</script>

<style lang="scss">
</style>
