.c {
  &-alert {
    width: 100%;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 13px;
    display: flex;
    align-items: center;

    &__icon {
      min-width: 40px;
      max-width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      margin-right: 16px;
      border-radius: 50%;
    }

    &--error {
      background-color: $red;
      color: $red;

      .c-alert__icon {
        background-color: $dark-red;
      }
    }

    &--warning {
      color: $yellow;
      background-color: rgba($yellow, 0.2);

      .c-alert__icon {
        background-color: rgba($yellow, 0.2);
      }
    }

  }
}