<template>
  <div class="administration__add-edit-administrator_container">
    <div class="add-edit-administrator_wrapper">
      <GeneralInfo
          class="general-info-component"
          @email="email = $event"
      />
      <template v-if="USER !== null && email !== USER.email">
        <BranchesInfo
            class="banches-info-component"
            v-if="isMainAdmin"
        />
      </template>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import GeneralInfo from '@/components/workspace/administration/admins/editGeneralInfoBlock';
import BranchesInfo from '@/components/workspace/administration/admins/editBranchesInfoBlock';

export default {
  components: {
    GeneralInfo,
    BranchesInfo,
  },

  data() {
    return {
      email: null
    }
  },

  computed: {
    ...mapGetters(
        [
          'administrator',
          'isMainAdmin',
          'USER'
        ]
    ),

    titleActiveSection() {
      return this.$route.params.id ? 'Редактировать администратора' : 'Добавить администратора';
    },

    titlesPath() {
      return [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Администраторы',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: false,
          title: this.$route.params.id ? this.administrator.full_name : 'Добавить',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ];
    },
  },
  watch: {
    email(newVal) {

    }
  },
  methods: {
    ...mapActions(
        [
          'setTitlesPath',
          'setTitleActiveSection',
          'fetchAdministrator',
        ]
    ),

    isEdit() {
      return !!this.$route.params.id // if has id then is edit
    },


    getters() {
      return {}
    },

    setters() {
      return {}
    },

    handlers() {
      return {}
    },

    helpers() {
      return {}
    },

    async init() {
      this.setTitleActiveSection(this.titleActiveSection);

      if (this.$route.params.id) {
        await this.fetchAdministrator({uuid: this.$route.params.id});
      }

      this.setTitlesPath(this.titlesPath);
    },

    bindActions() {
    },

    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.adminName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  async mounted() {
    await this.init();
  },
  created() {
    this.initBreadcrumbs();
  }
}

</script>

<style lang="scss">
.administration__add-edit-administrator_container {
  .add-edit-administrator_wrapper {
    .banches-info-component {
      margin-top: 10px;
    }
  }
}
</style>