<template>
  <div class="administrators__wrapper assessment-plans__home">
    <mtTable>
      <template #actions>
        <div style="width: 100%;">
          <div class="administrators__title">Управление учётными записями</div>
          <div style="display: flex; align-items: center; width: 100%; height: 60px; padding-bottom: 10px;">
            <div
                class="administrators__add"
                @click="onNewAdminClicked"
            >
              <mtIcon
                  name="plus"
                  fill="#fff"
              />
              <span>Добавить Администратора</span>
            </div>
            <div
                class="administrators__export"
                @click="exportUsers"
                style="margin-left: 20px;"
                title="Экспорт"
            >
              <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M10.0028 6.16013C9.82962 6.33332 9.60293 6.41991 9.37595 6.41991C9.14897 6.41991 8.92229 6.33332 8.7488 6.16013C8.40242 5.81404 8.40242 5.2525 8.7488 4.90641L11.396 2.2592C11.5692 2.086 11.7959 2 12.0226 2H12.0362C12.2629 2 12.4895 2.086 12.6627 2.2592L15.31 4.90641C15.6563 5.2525 15.6563 5.81404 15.31 6.16013C15.1368 6.33332 14.9098 6.41991 14.6831 6.41991C14.4564 6.41991 14.2294 6.33332 14.0562 6.16013L12.8862 4.99005V14.0708C12.8862 14.5605 12.4893 14.9574 11.9995 14.9574C11.5098 14.9574 11.1129 14.5605 11.1129 14.0708V5.05005L10.0028 6.16013Z"
                    fill="#9FA2B4"
                />
                <path
                    d="M14.6593 8.90027H17.6479C19.5273 8.90027 20.9994 10.0502 20.9997 11.5185V19.3819C20.9997 20.8498 19.5273 21.9998 17.6482 21.9998H6.35151C4.47212 21.9998 3 20.8501 3 19.3819V11.5185C3 10.0505 4.47212 8.90056 6.35151 8.90056H9.33949V10.6739H6.35151C5.4628 10.6739 4.77329 11.1278 4.77329 11.5185V19.3816C4.77329 19.7723 5.4628 20.2262 6.35151 20.2262H17.6479C18.5366 20.2262 19.2262 19.7723 19.2262 19.3816V11.5182C19.2262 11.1275 18.5366 10.6736 17.6479 10.6736H14.6593V8.90027Z"
                    fill="#9FA2B4"
                />
              </svg>
            </div>
            <div
                class="administrators__import"
                style="margin-left: 20px;"
                title="Импорт"
            >
              <label for="import-file">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    style="cursor: pointer;"
                >
                  <path
                      d="M17.6479 6.90051H14.6593V8.6738H17.6479C18.5366 8.6738 19.2261 9.12776 19.2261 9.51847V17.3818C19.2261 17.7725 18.5366 18.2265 17.6479 18.2265H6.35151C5.4628 18.2265 4.77329 17.7725 4.77329 17.3818V9.51877C4.77329 9.12805 5.4628 8.67409 6.35151 8.67409H9.33949V6.90081H6.35151C4.47212 6.90081 3 8.05078 3 9.51877V17.3821C3 18.8504 4.47212 20.0001 6.35151 20.0001H17.6482C19.5273 20.0001 20.9997 18.8501 20.9997 17.3821V9.51877C20.9994 8.05049 19.5273 6.90051 17.6479 6.90051Z"
                      fill="#9FA2B4"
                  />
                  <path
                      d="M14.6829 10.5375C14.4559 10.5375 14.2292 10.6241 14.056 10.7973L12.946 11.9073L12.946 8.05695L12.946 6.28367L12.946 2.88664C12.946 2.39692 12.549 2 12.0593 2C11.5696 2 11.1727 2.39692 11.1727 2.88664L11.1727 6.28367L11.1727 8.05695L11.1727 11.9673L10.0026 10.7973C9.8294 10.6241 9.60242 10.5375 9.37574 10.5375C9.14905 10.5375 8.92207 10.6241 8.74888 10.7973C8.4025 11.1434 8.4025 11.7049 8.74888 12.051L11.3961 14.6982C11.5693 14.8714 11.796 14.9574 12.0227 14.9574C12.025 14.9574 12.0271 14.9574 12.0295 14.9574C12.0318 14.9574 12.0339 14.9574 12.0363 14.9574C12.2629 14.9574 12.4896 14.8714 12.6628 14.6982L15.31 12.051C15.6564 11.7049 15.6564 11.1434 15.31 10.7973C15.1366 10.6241 14.9099 10.5375 14.6829 10.5375Z"
                      fill="#9FA2B4"
                  />
                </svg>
              </label>
              <input
                  type="file"
                  id="import-file"
                  @change="importAdministratorsFile"
              />
            </div>
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                v-model:sort="sort"
                v-model:search="search"
                :filtersSettings="filtersSettings"
                @change="updateAdministratorsList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template
            v-for="(col, index) in cols"
            :key="index"
        >
          <div
              class="administrators__header-item"
              v-if="col.visible"
              :data-index="index"
          >
            <span>{{ col.title }}</span>
            <span/>
          </div>
        </template>
        <div
            class="administrators__header-item"
            data-index="5"
        ></div>
      </template>
      <template #body>
        <template v-if="administratorsList.length > 0">
          <div
              class="administrators__item"
              v-for="(item, index) in administratorsList"
              :key="index"
          >
            <div
                v-if="cols[0].visible"
                data-index="0"
            >
              <div>{{ item.full_name }}</div>
              <div style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;">{{
                  item.role.name
                }}
              </div>
            </div>
            <div
                v-if="cols[1].visible"
                data-index="1"
            ><span
                class="administrators__item-status"
                v-if="item.status === 'active'"
                style="background: #8FA93A"
            >Активный</span><span
                class="administrators__item-status"
                v-if="item.status === 'wait'"
                style="background:#F0F1F7; color: #9FA2B4;"
            >Ожидает</span><span
                class="administrators__item-status"
                v-if="item.status === 'block'"
                style="background: #C24020"
            >Блокирован</span></div>
            <div
                v-if="cols[2].visible"
                data-index="2"
            >{{ item.email }}
            </div>
            <div
                v-if="cols[3].visible"
                data-index="3"
            >{{ item.role.name }}
            </div>
            <div
                v-if="cols[4].visible"
                data-index="4"
            >{{ item.branches }}
            </div>
            <div data-index="5">
              <div class="administrators__item-action">
                <img
                    src="@/assets/img/svg/table_row_edit.svg"
                    alt="Редактировать"
                    @click="edit({ admin: item })"
                />
              </div>
              <template v-if="USER.email !== item.email">
                <div class="administrators__item-action">
                  <mtIcon
                      v-if="item.status !== 'block'"
                      name="forbidden"
                      fill="#C5C7CD"
                      :preloader="item.statusPreloader"
                      @click="changeUserStatus(index, 'block')"
                  />
                  <mtIcon
                      v-else
                      name="play"
                      :preloader="item.statusPreloader"
                      fill="#C5C7CD"
                      @click="changeUserStatus(index, 'active')"
                  />
                </div>
                <div
                    class="administrators__item-action"
                    @click="activateConfirmationDialog(item.uuid, item.full_name)"
                >
                  <img
                      src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg"
                      alt="Удалить"
                  />
                </div>
              </template>
            </div>
          </div>
        </template>
        <template v-else>
          <div
              class="administrators__item-preloader"
              v-for="(preloader, index) in perpage"
              :key="index"
          />
        </template>
      </template>
      <template #footer>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updateAdministratorsList"
        />
      </template>
    </mtTable>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Вы действительно хотите удалить, ${deletingItem?.name}?`"
          :submit-cb="remove"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import mtTable from '@/components/UI/mtTable/mtTable.vue'
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
import mtPagination from '@/components/UI/mtPagination/mtPagination.vue'
import mtFilters from '@/components/UI/mtFilters/mtFilters.vue'
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  props: {},
  components: {
    ConfirmationDialog,
    mtIcon,
    mtTable,
    mtPagination,
    mtFilters
  },
  created() {
    this.initBreadcrumbs();
    this.getAdministratorsList()
  },
  data() {
    return {
      titleActiveSection: 'Администраторы',
      titlesPath: [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Администраторы',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ],
      cols: [
        {
          title: "ФИО",
          stub: "full_name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Статус",
          stub: "status",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Электронная почта",
          stub: "email",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Роль",
          stub: "role",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Филиал",
          stub: "branches",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        }
      ],
      filtersSettings: [],
      page: 1,
      perpage: 15,
      total: 1,
      administratorsList: [],
      filters: [],
      sort: {},
      search: {},
      userStatusPreloader: false,
      isConfirmationDialogOpen: false,
      deletingItem: null
    }
  },

  computed: {
    ...mapGetters(['USER'])
  },
  methods: {
    ...mapActions(
        [

          'setTitlesPath',
          'setTitleActiveSection',
          'resetAdministratorStore',

          'importUsers',
          'exportAdministrators',
          'getAdministrators',
          'deleteAdministrator',
          'setUserStatus'
        ]
    ),

    activateConfirmationDialog(uuid, name) {
      this.isConfirmationDialogOpen = true
      this.deletingItem = {uuid, name}
    },

    remove() {
      this.deleteAdministrator(this.deletingItem.uuid)
          .then(() => {
            this.updateAdministratorsList()
          })
    },

    changeUserStatus(index, status) {
      this.userStatusPreloader = true
      this.administratorsList[index].statusPreloader = true
      let uuid = this.administratorsList[index].uuid
      this.setUserStatus({uuid, status})
          .then(res => {
            this.administratorsList[index].statusPreloader = false
            this.administratorsList[index].status = status
          })
    },

    edit({admin,}) {
      this.$router.push(
          {
            name: 'Admin',
            params: {
              id: admin.uuid
            },
            query: {
              ...this.$route.query,
              adminName: admin.full_name,
            },
          }
      )
    },
    getAdministratorsList() {
      let params = {
        page: this.page,
        perpage: this.perpage
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length > 0) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          }
        }
      }
      if (!!this.search.value) {
        params.settings['value'] = this.search.value;

        if (!!this.search.search) {
          params.settings['search'] = this.search.search;
        }
      }

      this.getAdministrators(params)
          .then(res => {
            this.administratorsList = res.data.data
            this.administratorsList.forEach(item => {
              item['statusPreloader'] = false
            })
            this.total = res?.data?.meta?.total
            this.filtersSettings = res.data.meta.filters

          })

    },
    importAdministratorsFile(file) {
      this.importUsers(file.target.files[0])
          .then(res => {

            this.updateAdministratorsList()
          })
    },
    exportUsers() {
      let params = {};

      params = {...params, settings: {...this.sort}};

      if (this.filters.length > 0) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters
          },
        }
      }
      if (!!this.search.value) {
        params.settings['value'] = this.search.value;
        if (!!this.search.search) params.settings['search'] = this.search.searchx;
      }

      this.exportAdministrators(params)
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');

            link.href = url;

            let fileName = `administrators__${new Date().toLocaleDateString()}-${new Date().toLocaleTimeString().replace(/:/g, '_')}.xlsx`;

            link.setAttribute('download', fileName); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
    },
    updateAdministratorsList() {
      this.administratorsList = []
      this.getAdministratorsList()
    },

    async onNewAdminClicked() {
      await this.resetAdministratorStore();

      this.$router.push(
          {
            name: 'createAdmin',
            query: {
              ...this.$route.query,
              adminName: 'Добавить',
            },
          }
      )
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
}
</script>

<style
    scoped
    lang="scss"
>
.administrators {
  &__export {
    background: #F0F1F7;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
  }

  &__import {
    background: #F0F1F7;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;

    & input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788C;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px;
    min-height: 90px;
    border-bottom: solid #DFE0EB 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: #F7F8FF;
    }

    & > div {
      flex-grow: 1;

      &[data-index="0"] {
        width: 15%;
        font-size: 14px;
      }

      &[data-index="1"] {
        width: 20%;
        display: flex;
        justify-content: center;
      }

      &[data-index="2"] {
        width: 25%;
        display: flex;
        justify-content: center;
      }

      &[data-index="3"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="4"] {
        width: 10%;
        display: flex;
        justify-content: center;
      }

      &[data-index="5"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }
    }

    &-status {
      font-family: 'Mulish';
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;

      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-preloader {
      width: calc(100% - 20px);
      height: 80px;
      margin: 10px;
      background: rgba(0, 0, 0, .02);
      opacity: 1;
      animation: 1s ease-in-out 1s infinite blick;
    }
  }

  &__header-item {
    height: 40px;
    flex-grow: 1;

    &[data-index="0"] {
      width: 15%;
    }

    &[data-index="1"] {
      width: 20%;
      display: flex;
      justify-content: center;
    }

    &[data-index="2"] {
      width: 25%;
      display: flex;
      justify-content: center;
    }

    &[data-index="3"] {
      width: 15%;
      display: flex;
      justify-content: center;
    }

    &[data-index="4"] {
      width: 10%;
      display: flex;
      justify-content: center;
    }

    &[data-index="5"] {
      width: 15%;
      display: flex;
    }
  }

}
</style>