.alert {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: $gray;
  margin-bottom: 15px;

  &__icon {
    margin-right: 10px;
  }
}