<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.57756 2.00005L14.9282 13.0001C14.9867 13.1014 15.0175 13.2164 15.0175 13.3334C15.0175 13.4504 14.9867 13.5654 14.9282 13.6667C14.8697 13.7681 14.7856 13.8522 14.6842 13.9107C14.5829 13.9692 14.4679 14 14.3509 14.0001H1.64956C1.53254 14 1.41758 13.9692 1.31623 13.9107C1.21489 13.8522 1.13073 13.7681 1.07222 13.6667C1.01371 13.5654 0.982909 13.4504 0.98291 13.3334C0.982911 13.2164 1.01372 13.1014 1.07223 13.0001L7.42289 2.00005C7.48141 1.89871 7.56557 1.81456 7.66691 1.75606C7.76825 1.69755 7.88321 1.66675 8.00023 1.66675C8.11725 1.66675 8.2322 1.69755 8.33355 1.75606C8.43489 1.81456 8.51905 1.89871 8.57756 2.00005ZM2.80423 12.6667H13.1962L8.00023 3.66672L2.80423 12.6667ZM7.33356 10.6667H8.66689V12.0001H7.33356V10.6667ZM7.33356 6.00005H8.66689V9.33338H7.33356V6.00005Z" fill="white"/>
  </svg>

</template>