<template>
  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.95825 7.14587C3.53966 7.14587 3.12517 7.06343 2.73845 6.90324C2.35172 6.74305 2.00034 6.50826 1.70435 6.21228C1.40836 5.91629 1.17357 5.5649 1.01339 5.17818C0.853199 4.79145 0.770752 4.37696 0.770752 3.95837C0.770752 3.53979 0.853199 3.1253 1.01339 2.73857C1.17357 2.35185 1.40836 2.00046 1.70435 1.70447C2.00034 1.40848 2.35172 1.17369 2.73845 1.01351C3.12517 0.853321 3.53966 0.770874 3.95825 0.770874C4.80363 0.770874 5.61438 1.1067 6.21215 1.70447C6.80993 2.30224 7.14575 3.113 7.14575 3.95837C7.14575 4.80375 6.80993 5.6145 6.21215 6.21228C5.61438 6.81005 4.80363 7.14587 3.95825 7.14587ZM3.95825 14.2292C3.11287 14.2292 2.30212 13.8934 1.70435 13.2956C1.10658 12.6978 0.770752 11.8871 0.770752 11.0417C0.770752 10.1963 1.10658 9.38558 1.70435 8.7878C2.30212 8.19003 3.11287 7.85421 3.95825 7.85421C4.80363 7.85421 5.61438 8.19003 6.21215 8.7878C6.80993 9.38558 7.14575 10.1963 7.14575 11.0417C7.14575 11.8871 6.80993 12.6978 6.21215 13.2956C5.61438 13.8934 4.80363 14.2292 3.95825 14.2292ZM11.0416 7.14587C10.623 7.14587 10.2085 7.06343 9.82178 6.90324C9.43506 6.74305 9.08367 6.50826 8.78768 6.21228C8.4917 5.91629 8.25691 5.5649 8.09672 5.17818C7.93653 4.79145 7.85408 4.37696 7.85408 3.95837C7.85408 3.53979 7.93653 3.1253 8.09672 2.73857C8.25691 2.35185 8.4917 2.00046 8.78768 1.70447C9.08367 1.40848 9.43506 1.17369 9.82178 1.01351C10.2085 0.853321 10.623 0.770874 11.0416 0.770874C11.887 0.770874 12.6977 1.1067 13.2955 1.70447C13.8933 2.30224 14.2291 3.113 14.2291 3.95837C14.2291 4.80375 13.8933 5.6145 13.2955 6.21228C12.6977 6.81005 11.887 7.14587 11.0416 7.14587ZM11.0416 14.2292C10.1962 14.2292 9.38545 13.8934 8.78768 13.2956C8.18991 12.6978 7.85408 11.8871 7.85408 11.0417C7.85408 10.1963 8.18991 9.38558 8.78768 8.7878C9.38545 8.19003 10.1962 7.85421 11.0416 7.85421C11.887 7.85421 12.6977 8.19003 13.2955 8.7878C13.8933 9.38558 14.2291 10.1963 14.2291 11.0417C14.2291 11.8871 13.8933 12.6978 13.2955 13.2956C12.6977 13.8934 11.887 14.2292 11.0416 14.2292Z" :fill="color" />
  </svg>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: "#000000",
    },
  }
}
</script>

<style scoped>

</style>