<template>
  <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_7208_8996)">
      <path d="M15.5 14.2083C17.2128 14.2083 18.8555 14.8887 20.0667 16.0999C21.2779 17.311 21.9583 18.9537 21.9583 20.6666V28.4166H19.375V20.6666C19.375 19.6782 18.9974 18.7271 18.3193 18.008C17.6413 17.2889 16.714 16.856 15.7273 16.798L15.5 16.7916C14.5116 16.7915 13.5605 17.1692 12.8414 17.8472C12.1223 18.5253 11.6894 19.4526 11.6314 20.4393L11.625 20.6666V28.4166H9.04165V20.6666C9.04165 18.9537 9.72208 17.311 10.9332 16.0999C12.1444 14.8887 13.7871 14.2083 15.5 14.2083ZM7.10415 18.0833C7.46452 18.0833 7.81456 18.1259 8.1504 18.2047C7.92955 18.8621 7.79877 19.5465 7.7616 20.239L7.74998 20.6666V20.7777C7.60151 20.7245 7.44707 20.6898 7.29015 20.6743L7.10415 20.6666C6.62251 20.6666 6.15814 20.846 5.80161 21.1698C5.44507 21.4937 5.22193 21.9387 5.17569 22.4181L5.16665 22.6041V28.4166H2.58331V22.6041C2.58331 21.4051 3.05961 20.2552 3.90743 19.4074C4.75526 18.5596 5.90515 18.0833 7.10415 18.0833ZM23.8958 18.0833C25.0948 18.0833 26.2447 18.5596 27.0925 19.4074C27.9403 20.2552 28.4166 21.4051 28.4166 22.6041V28.4166H25.8333V22.6041C25.8333 22.1224 25.6539 21.6581 25.3301 21.3015C25.0062 20.945 24.5612 20.7219 24.0818 20.6756L23.8958 20.6666C23.6698 20.6666 23.4528 20.7053 23.25 20.7764V20.6666C23.25 19.8063 23.1105 18.9797 22.8509 18.2073C23.1854 18.1259 23.5354 18.0833 23.8958 18.0833ZM7.10415 10.3333C7.96058 10.3333 8.78193 10.6735 9.38751 11.2791C9.9931 11.8846 10.3333 12.706 10.3333 13.5624C10.3333 14.4188 9.9931 15.2402 9.38751 15.8458C8.78193 16.4514 7.96058 16.7916 7.10415 16.7916C6.24772 16.7916 5.42637 16.4514 4.82078 15.8458C4.21519 15.2402 3.87498 14.4188 3.87498 13.5624C3.87498 12.706 4.21519 11.8846 4.82078 11.2791C5.42637 10.6735 6.24772 10.3333 7.10415 10.3333ZM23.8958 10.3333C24.7522 10.3333 25.5736 10.6735 26.1792 11.2791C26.7848 11.8846 27.125 12.706 27.125 13.5624C27.125 14.4188 26.7848 15.2402 26.1792 15.8458C25.5736 16.4514 24.7522 16.7916 23.8958 16.7916C23.0394 16.7916 22.218 16.4514 21.6124 15.8458C21.0069 15.2402 20.6666 14.4188 20.6666 13.5624C20.6666 12.706 21.0069 11.8846 21.6124 11.2791C22.218 10.6735 23.0394 10.3333 23.8958 10.3333ZM7.10415 12.9166C6.93286 12.9166 6.76859 12.9846 6.64747 13.1057C6.52636 13.2269 6.45831 13.3911 6.45831 13.5624C6.45831 13.7337 6.52636 13.898 6.64747 14.0191C6.76859 14.1402 6.93286 14.2083 7.10415 14.2083C7.27543 14.2083 7.4397 14.1402 7.56082 14.0191C7.68194 13.898 7.74998 13.7337 7.74998 13.5624C7.74998 13.3911 7.68194 13.2269 7.56082 13.1057C7.4397 12.9846 7.27543 12.9166 7.10415 12.9166ZM23.8958 12.9166C23.7245 12.9166 23.5603 12.9846 23.4391 13.1057C23.318 13.2269 23.25 13.3911 23.25 13.5624C23.25 13.7337 23.318 13.898 23.4391 14.0191C23.5603 14.1402 23.7245 14.2083 23.8958 14.2083C24.0671 14.2083 24.2314 14.1402 24.3525 14.0191C24.4736 13.898 24.5416 13.7337 24.5416 13.5624C24.5416 13.3911 24.4736 13.2269 24.3525 13.1057C24.2314 12.9846 24.0671 12.9166 23.8958 12.9166ZM15.5 2.58325C16.8703 2.58325 18.1844 3.1276 19.1534 4.09653C20.1223 5.06547 20.6666 6.37963 20.6666 7.74992C20.6666 9.1202 20.1223 10.4344 19.1534 11.4033C18.1844 12.3722 16.8703 12.9166 15.5 12.9166C14.1297 12.9166 12.8155 12.3722 11.8466 11.4033C10.8777 10.4344 10.3333 9.1202 10.3333 7.74992C10.3333 6.37963 10.8777 5.06547 11.8466 4.09653C12.8155 3.1276 14.1297 2.58325 15.5 2.58325ZM15.5 5.16659C14.8148 5.16659 14.1578 5.43876 13.6733 5.92323C13.1888 6.4077 12.9166 7.06478 12.9166 7.74992C12.9166 8.43506 13.1888 9.09214 13.6733 9.57661C14.1578 10.0611 14.8148 10.3333 15.5 10.3333C16.1851 10.3333 16.8422 10.0611 17.3267 9.57661C17.8111 9.09214 18.0833 8.43506 18.0833 7.74992C18.0833 7.06478 17.8111 6.4077 17.3267 5.92323C16.8422 5.43876 16.1851 5.16659 15.5 5.16659Z" fill="#00788C"/>
    </g>
    <defs>
      <clipPath id="clip0_7208_8996">
        <rect width="31" height="31" fill="white"/>
      </clipPath>
    </defs>
  </svg>

</template>
<script>
export default {

}
</script>