<template>
  <component :is="componentBasedOnRole" />
</template>

<script>
import mtDialog from '@/components/UI/mtDialog/mtDialog.vue';
import expertCustomAssessment from '@/components/workspace/assessmentPlans/plans/plan/customAssessment/expert';
import respondentCustomAssessment from '@/components/workspace/assessmentPlans/plans/plan/customAssessment/respondent';
import { mapActions } from 'vuex';

export default {
  components: {
    mtDialog,
    expertCustomAssessment,
    respondentCustomAssessment
  },
  data: () => {
    return {
      task: {},
      loaded: false,
    }
  },

  computed: {
    role() {
      return this.$store.getters['USER']?.role || '';
    },
    componentBasedOnRole () {
      switch (this.role.toLowerCase()) {
        case 'expert':
        case 'inspector':
        case 'admin':
          return 'expertCustomAssessment';

        case 'respondent':
          return 'respondentCustomAssessment';

        default:
          return null;
      }
    }
  },
  methods: {
    ...mapActions('assessmentPlans/plan/task', ['fetchExpRespTask']),
  }
}
</script>

<style lang="scss">
</style>