.mt-card {
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    margin-bottom: 10px;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      background: #F0F1F7;
      border-radius: 100px;
      margin-right: 15px;

      svg {
        filL: $gray;
      }
    }
  }
}