<template>
  <mt-dialog
      class="custom-assessment"
      @close="onClose()"
      opened-by-default="opened-by-default"
      size="md"
  >
    <mt-loading-animation-linear v-if="!loaded" />
    <template v-else>
      <mt-expander class="custom-assessment__expander">
        <mt-expander-item
            class="pb-3"
            :disabled="expRespTask.materials.length === 0 && !!!expRespTask.description"
        >
          <template #header>
            <h3 class="custom-assessment__expander__title">{{ expRespTask.name }}</h3>
          </template>
          <template #content>
            <p
                class="custom-assessment__expander__text"
                v-show="expRespTask.description"
            >
              {{ expRespTask.description }}
            </p>
            <template v-if="expRespTask.materials.length">
              <h2 class="custom-assessment__expander__file-title">Файлы</h2>
              <div class="card mt-2">
                <fileDownloadCard :links="expRespTask.materials"/>
              </div>
            </template>
          </template>
        </mt-expander-item>
      </mt-expander>
      <slot name="prepend-chat"/>
      <div class="custom-assessment__chat">
        <div class="custom-assessment__title">Ответ</div>
        <div
            class="custom-assessment__chat__item custom-assessment__chat__item_mark"
            v-if="mark"
        >
          <div class="custom-assessment__chat__item__header">
            <mt-svg
                class="mr-1"
                name="star"
                color="#00788C"
            />
            <h3 class="custom-assessment__chat__item__title">{{ mark.fullName }}</h3>
            <p class="custom-assessment__chat__item__date"> {{ mark.createdAt }}</p>
          </div>
          <div class="custom-assessment__chat__item__chips-row">
            <div
                class="custom-assessment__chat__item__chip"
                v-for="(scale, index) in mark.scales"
                :key="index"
            >
              {{ scale.name }}
              <span>{{ scale.value }}</span>
            </div>
          </div>
        </div>
        <mt-loading-animation-linear v-if="chatLoading"/>
        <div
            class="custom-assessment__chat__list"
            ref="chat"
        >
          <div
              class="custom-assessment__chat__item"
              v-for="message in chatMessages"
              :key="message.uuid"
          >
            <div class="custom-assessment__chat__item__header">
              <h3 class="custom-assessment__chat__item__title">{{ message.user.fullName }} ({{ message.user.role }})</h3>
              <p class="custom-assessment__chat__item__date">{{ message.createdAt }}</p>
            </div>
            <p class="custom-assessment__chat__item__text">{{ message.value }}</p>
            <fileDownloadCard
                class="mt-2"
                :links="message.files"
                color="#fff"
            />
          </div>
        </div>
        <fileDownloadCard
            class="custom-assessment__input-box__files"
            :links="newMessage.files"
            link-label="name"
            disabled="disabled"
            v-show="newMessage.files.length"
        >
          <h4 class="custom-assessment__input-box__files__title">Файлы для отправки</h4>
          <template #item-append="{index}">
            <mtSvg
                class="custom-assessment__input-box__files__item__delete"
                name="delete"
                @click="deleteFile(index)"
            />
          </template>
        </fileDownloadCard>
      </div>
      <mt-loading-animation-linear
          class="custom-assessment__message-send-loading"
          :class="{'custom-assessment__message-send-loading_show': sendMessageRequestPending}"
      />
      <div class="custom-assessment__input-box">
        <input
            multiple="multiple"
            type="file"
            @change="uploadFiles"
            style="display:none;"
            ref="newMessageFileInput"
        />
        <custom-textarea
            ref="textarea"
            :loading="sendMessageRequestPending"
            @submit="callSendMessageAction()"
            placeholder="Текст"
            v-model="newMessage.message"
        />
        <button
            class="custom-assessment__input-box__btn"
            @click="$refs.newMessageFileInput.click()"
        >
          <mtSvg name="link"/>
        </button>
        <button
            class="custom-assessment__input-box__btn"
            @click="callSendMessageAction()"
            :disabled="sendMessageRequestPending"
        >
          <mtSvg name="submit"/>
        </button>
      </div>
    </template>
    <i v-show="error">{{ error }}</i>
  </mt-dialog>
</template>

<script>
import MtExpander from '@/components/UI/mtExpander/mtExpander';
import MtExpanderItem from '@/components/UI/mtExpander/mtExpanderItem';
import MtSvg from '@/components/UI/mtSvg';
import fileDownloadCard from '@/components/workspace/assessmentPlans/plans/fileDownloadCard';
import {mapActions, mapState} from 'vuex';
import CustomTextarea from '@/components/UI/CustomTextarea/CustomTextarea.vue';
import MtDialog from '@/components/UI/mtDialog/mtDialog.vue';
import MtLoadingAnimationLinear from '@/components/UI/mtLoadingAnimationLinear/mtLoadingAnimationLinear.vue';
import chatApi from '@/api/workspace/assessmentPlans/pages/tasks/chatApi';

export default {
  name: "customAssessment",
  components: {MtLoadingAnimationLinear, MtDialog, CustomTextarea, fileDownloadCard, MtSvg, MtExpanderItem, MtExpander},
  props: {
    fnOnMount: Function
  },
  data: () => {
    return {
      loaded: false,
      error: null,
      sendMessageRequestPending: false,
      chatLoading: false,
      chatObserver: null,
      newMessage: {
        message: '',
        files: []
      }
    }
  },
  computed: {
    ...mapState('assessmentPlans/plan/task', ['expRespTask', 'sessionUuid', 'mark']),
    ...mapState('assessmentPlans/plan/chat', ['chatMessages', 'meta'])
  },
  methods: {
    ...mapActions('assessmentPlans/plan/task', ['fetchExpRespTask', 'startCustomAssessmentSession', 'getMark', 'setMark']),
    ...mapActions('assessmentPlans/plan/chat', ['getMessages', 'sendMessage']),
    onClose() {
      let routeName = "AssessmentPlanSingleResults"
      if(this.$route.name === "ExpertTaskSingle") routeName = 'ExpRespAssessmentPlanSingle';
      else if(this.$route.name === "RespondentCabinetTaskSingle") routeName = 'RespondentCabinet';

      this.$router.push({
        name: routeName,
        params: {
          uuid: this.$route.params.planUuid
        }
      })
    },
    uploadFiles(event) {
      let files = event.target.files;
      this.newMessage.files = [...this.newMessage.files, ...files];
    },
    deleteFile(index) {
      this.newMessage.files.splice(index, 1);
    },
    callSendMessageAction() {
      if (this.sendMessageRequestPending) return;

      if (this.newMessage.files.length === 0 && !this.newMessage.message) {
        return;
      }

      this.sendMessageRequestPending = true;
      this.sendMessage({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
        sessionUuid: this.sessionUuid,
        payload: this.newMessage
      })
          .then(() => {
            this.newMessage.message = '';
            this.newMessage.files = [];
            this.scrollToEndOfChat()
            setTimeout(() => {
              this.$refs.textarea.calculateHeight();
            })
          })
          .catch((error) => {
            if (error?.data?.message) {
              this.$toast.error(error?.data?.message)
            }
          })
          .finally(() => {
            this.sendMessageRequestPending = false;
          });
    },
    scrollToEndOfChat() {
      this.$nextTick(() => {
        const chat = this.$refs.chat;
        chat.scroll(0, chat.scrollHeight);
      });
    },
    chatObserve() {
      const chat = this.$refs.chat;
      const firstChild = chat.children[0]

      if (!firstChild) return;

      this.chatObserver = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const isExistNextPage = this.meta.current_page < this.meta.last_page
            if (isExistNextPage && !this.chatLoading) {
              this.loadMessages(this.meta.current_page + 1)
              const topPosition = chat.children[0].offsetTop
              chat.scrollTop = topPosition
              this.chatObserver.unobserve(firstChild)
            }
          }
        })
      })
      this.chatObserver.observe(firstChild)
    },
    chatUnObserver() {
      this.chatObserver.unobserve()
    },
    startChatResizeObserver() {
      const chat = this.$refs.chat;
      const resizeObserver = new ResizeObserver(entries => {
        entries.forEach(({target}) => {
          const scrollHeight = target.scrollHeight;
          const clientHeight = target.clientHeight;
          chat.style.paddingRight = scrollHeight > clientHeight ? '10px' : 0;
        })
      })
      resizeObserver.observe(chat)
    },
    async loadMessages(page = 1) {
      this.chatLoading = true
      await this.getMessages({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
        sessionId: this.sessionUuid,
        queryParams: {
          page,
        },
      })
      if (page !== 1) this.chatObserve()
      this.chatLoading = false
    }
  },
  async mounted() {
    this.$store.state.assessmentPlans.plan.chat.chatMessages = [];

    Promise.all([
      await this.fnOnMount(),
      await this.fetchExpRespTask({
        uuidPlan: this.$route.params.planUuid,
        uuid: this.$route.params.taskUuid
      }),
      this.getMark({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
        sessionUuid: this.sessionUuid,
      }),
      this.loadMessages()
    ])
        .then(() => {
          this.loaded = true;
          this.$nextTick(() => {
            this.scrollToEndOfChat();
            this.startChatResizeObserver();
            this.chatObserve();

          })
        })
        .finally(() => {
          this.loaded = true;
        })
  }
}
</script>

<style
    lang="scss"
    src="./style.scss"
/>