<template>
  <div>
    <div class="administration__add-edit-branch__container">
      <div class="administration__add-edit-branch__wrapper">
        <div class="edit-branch-info-block__fields">
          <div class="edit-general-info-block__row">
            <div>
              <div class="branches__label">Название филиала</div>
              <mtInput
                  theme="solid"
                  v-model="branchName"
                  :hasError="errorsMessages?.branchName?.length > 0"
                  @focus="errorsMessages.branchName = false"
                  @blur="validate('branchName', [{rule: 'required', message: 'Заполните поле Название филиала'}])"
              />
              <div
                  class="branches__error-message"
                  v-if="errorsMessages?.branchName?.length > 0"
              >
                {{ errorsMessages.branchName[0] }}
              </div>
            </div>
            <div style="margin-left: 30px;">
              <div class="branches__label">Статус</div>
              <mtSwitch
                  theme="solid"
                  v-model="status"
              />
            </div>
          </div>
          <div class="edit-general-info-block__row">
            <div>
              <div class="branches__label">Описание</div>
              <mtTextarea
                  theme="solid"
                  style="width: 420px;"
                  v-model="description"
                  :hasError="errorsMessages?.description?.length > 0"
                  @focus="errorsMessages.description = false"
                  @blur="validate('description', [{rule: 'required', message: 'Заполните поле Описание'}])"
              />
              <div
                  class="branches__error-message"
                  v-if="errorsMessages?.description?.length > 0"
              >
                {{ errorsMessages.description[0] }}
              </div>
            </div>
          </div>
          <div class="edit-general-info-block__row">
            <div>
              <div class="branches__label">
                <span>Баланс</span>
                <span
                    v-if="!manualDistribution"
                    style="font-size: 12px; margin-left: 15px;"
                >
                  (!) Ручное распределение отключено
                </span>
              </div>
              <mtInput
                  theme="solid"
                  v-model="balance"
                  :disabled="!manualDistribution"
                  :hasError="errorsMessages?.balance?.length > 0"
                  @focus="errorsMessages.balance = false"
                  @blur="validate('balance', [{rule: 'required', message: 'Заполните поле Баланс'}])"
              />
              <div
                  class="branches__error-message"
                  v-if="errorsMessages?.balance?.length > 0"
              >
                {{ errorsMessages.balance[0] }}
              </div>
            </div>
          </div>
        </div>
        <div class="edit-branch-info-block__actions">
          <div class="page-nav">
            <div
                class="button button-prev"
                @click="handlers().onPrevBtnClicked()"
            >
              <div class="button__item">
                <span class="button__txt">Назад</span>
              </div>
            </div>
            <div class="button">
              <div class="button__item">
                <span
                    class="button__txt"
                    @click="save"
                >
                Сохранить
              </span>
              </div>
            </div>
          </div>
          <hr
              class="divider"
              v-if="$route.params.id"
          />
          <div
              class="admin-action delete"
              v-if="$route.params.id"
          >
            <div
                class="wrapper"
                @click="activateConfirmationDialog( { uuid : branch.uuid } )"
            >
              <div class="icon">
                <img src="@/assets/img/svg/delete-icon.svg"/>
              </div>
              <div class="title">удалить</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <BranchAvailableTests :tests="branchTests"/>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Вы уверены, что хотите удалить филиал ${branch?.name}?`"
          :submit-cb="onDeleteBranchClick"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import validation from '@/plugins/validation.js';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtSwitch from '@/components/UI/mtSwitch';
import mtTextarea from '@/components/UI/mtTextarea';
import BranchAvailableTests from '@/components/workspace/administration/branches/id/BranchAvailableTests';
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  components: {
    ConfirmationDialog,
    mtInput,
    mtTextarea,
    mtSwitch,
    BranchAvailableTests,
  },

  created() {
    this.initBreadcrumbs();
    this.fetchManualDistributionStatus()
        .then(result => {
          this.manualDistribution = result
        })
    this.fetchBranch({uuid: this.$route.params.id})
        .then(res => {
          this.description = res.data.data.description
          this.branchName = res.data.data.name
          this.status = res.data.data.status
          this.balance = res.data.data.balance
        })
        .then(() => {
          this.fetchBranchTests({uuid: this.$route.params.id,})
        });
  },

  data() {
    return {
      description: null,
      branchName: null,
      status: false,
      balance: 0,
      errorsMessages: {},
      manualDistribution: false,

      fieldsConfig: {
        branchName: {
          hauptTitel: 'Название филиала',
          maintest_original: true,
        },

        branchStatus: {
          hauptTitel: 'Статус',
        },

        branchDescription: {
          hauptTitel: 'Описание',
          maintest_original: true,
        },

        branchBalance: {
          hauptTitel: 'Баланс',
          maintest_original: true,
        },
      },
      deletingBranch: null,
      isConfirmationDialogOpen: false
    }
  },

  computed: {
    ...mapGetters([
      'branch',
      'branchTests',
    ]),
    isEdit() {
      return !!this.$route.params.id
    },

    titleActiveSection() {
      return this.$route.params.id ? 'Редактировать филиал' : 'Добавить филиал';
    },

    titlesPath() {
      return [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Филиалы',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: false,
          title: this.$route.params.id ? this.branch.name : 'Добавить филиал',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ];
    },
  },

  methods: {
    ...mapActions(
        [
          'setTitlesPath',
          'setTitleActiveSection',
          'fetchBranch',
          'uploadBranch',
          'createBranch',
          'setBranchStore',
          'deleteBranches',
          'fetchManualDistributionStatus',
          'fetchBranchTests',
          'updateBranchTests',
        ]
    ),
    resetValidation() {
      this.errorsMessages = {}
    },
    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)

      return this.errorsMessages[field].length === 0
    },
    validateDynamicField(field, idx, rules = []) {
      if (!this.formSettings[idx].required) return
      this.errorsMessages[field.name] = validation.test(this.formSettings[idx].value, rules)
      return this.errorsMessages[field.name].length === 0
    },
    validateAll() {
      let valid = true
      if (!this.validate('description', [{rule: 'required', message: 'Заполните поле Описание'}])) valid = false
      if (!this.validate('branchName', [{rule: 'required', message: 'Заполните поле Название филиала'}])) valid = false
      if (this.manualDistribution) {
        if (!this.validate('balance', [{rule: 'required', message: 'Заполните поле Баланс'}])) valid = false
      }
      return valid
    },

    save() {
      if (!this.validateAll()) {
        return;
      }

      this.updateBranchTests();

      if (this.isEdit) {
        let data = {
          status: this.status,
          description: this.description,
          name: this.branchName
        }

        if (this.manualDistribution) {
          data['balance'] = this.balance;
        }

        this.uploadBranch({uuid: this.$route.params.id, branch: data}).then(res => {
          this.$router.push({name: 'BranchesList'});
        })
      } else {
        let data = {
          status: this.status,
          description: this.discription,
          name: this.branchName
        }
        if (this.manualDistribution) data['balance'] = this.balance
        this.createBranch(data)
            .then(() => {
              this.$router.push({name: 'BranchesList'});
            })
      }
    },

    getters() {
      return {}
    },

    setters() {
      return {
        setBranchStatus: (payload = {}) => {
          this.setBranchStore({status: payload.event.target.checked});
        },

        setBranchBalance: (payload = {}) => {
          this.setBranchStore({balance: payload.event.target.value});
        },
      }
    },

    activateConfirmationDialog (payload = {}) {
      this.deletingBranch = null
      this.deletingBranch = payload
      this.isConfirmationDialogOpen = true
    },

    handlers() {
      return {
        onPrevBtnClicked: () => {
          this.$router.push(
              {
                name: 'BranchesList',
              }
          );
        },

        onSaveBtnClicked: async () => {
          if (this.$route.params.id) {
            await this.uploadBranch({uuid: this.$route.params.id});
          } else {
            await this.createBranch();
          }

          this.$router.push({name: 'BranchesList',});
        }
      }
    },

    async onDeleteBranchClick () {
      await this.deleteBranches(deletingBranch);

      this.$router.push({name: 'BranchesList',});
    },

    helpers() {
      return {}
    },

    async init() {
      this.setTitleActiveSection(this.titleActiveSection);

      if (this.$route.params.id) {
        await this.fetchBranch({uuid: this.$route.params.id});
      }

      this.setTitlesPath(this.titlesPath);
    },

    bindActions() {
    },

    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.branchName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  mounted() {
    this.init();
  },
}

</script>

<style lang="scss">

.branches {
  &__error-message {
    color: #C24020;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }
}

.administration__add-edit-branch__container {
  .administration__add-edit-branch__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px 15px 32px 32px;
  }

  /* OBJECT STYLES CSS START */

  .button {
    .button__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      height: 33px;
      background: #00788C;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      &:active {
        background: #005361;
      }

      .button__txt {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }

  .page-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button {
      padding-right: 10px;

      &:last-child {
        padding-right: 0px;
      }
    }
  }

  .button-prev {
    .button__item {
      width: 82px;
      background: #E6F2F4;

      &:active {
        background: #CDE3E7 !important;
      }

      .button__txt {
        color: #00788C;
      }
    }
  }

  .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #DFE0EB;
  }

  .admin-action {
    margin-top: 25px;

    &.reset-password {
      margin-top: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      .icon {
      }

      .title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #9FA2B4;
        margin-left: 15px;
      }
    }
  }

  .edit-branch-info-block__fields {
    width: 100%;
  }

  .edit-general-info-block__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  .branch-status {
    margin-left: 30px;

    .switcher__haupttitel {
      margin-bottom: 32px;
    }
  }

  .branch-description__container {
    max-width: 670px;
  }

  .edit-field {
    max-width: 327px;
  }

  /* OBJECT STYLES CSS END */

  /* MIXINS STYLES CSS START */
  .min-default-width {
    width: 327px;
  }

  /* MIXINS STYLES CSS END */
}

</style>