<template>
  <div class="administration-branches__container">
    <div class="administration-branches__wrapper">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {}
</script>