<template>
  <div class="branches">
    <mtTable>
      <template #actions>
        <div style="width: 100%;">
          <div class="branches__title">Управление учётными записями</div>
          <div style="display: flex; align-items: center; width: 100%; height: 60px; padding-bottom: 10px;">
            <div
                class="branches__add"
                @click="createBranch"
            >
              <mtIcon
                  name="plus"
                  fill="#fff"
              />
              <span>Добавить Филиал</span>
            </div>
            <mtSwitch
                v-model="manualDistribution"
                @change="setManualDistributionStatus"
                style="margin-left: 20px;"
            />
            <span style="margin-left: 5px;">Ручное распределение Ψ</span>
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                v-model:sort="sort"
                v-model:search="search"
                :filtersSettings="filtersSettings"
                @change="updateBranchesList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template
            v-for="(col, index) in cols"
            :key="index"
        >
          <div
              class="branches__header-item"
              v-if="col.visible"
              :data-index="index"
          >
            <span>{{ col.title }}</span>
            <span></span>
          </div>
        </template>
        <div
            class="branches__header-item"
            data-index="5"
        ></div>
      </template>
      <template #body>
        <template v-if="branchesList.length > 0">
          <div
              class="branches__item"
              v-for="(item, index) in branchesList"
              :key="index"
          >
            <div
                v-if="cols[0].visible"
                data-index="0"
            >
              {{ item.name }}
            </div>
            <div
                v-if="cols[1].visible"
                data-index="1"
            >
              <mtSwitch
                  v-model="item.status"
                  @change="updateBranchData(index)"
              />
            </div>
            <div
                v-if="cols[2].visible"
                data-index="2"
            >
              <template v-if="!manualDistribution">{{ item.balance }}</template>
              <template v-else>
                <mtInput
                    v-model="item.balance"
                    style="width: 120px;"
                    theme="solid"
                    center="center"
                    @change="updateBranchData(index)"
                />
              </template>
            </div>
            <div data-index="5">
              <div class="branches__item-action">
                <img
                    src="@/assets/img/svg/table_row_edit.svg"
                    alt="Редактировать"
                    @click="edit({branch: item})"
                />
              </div>
              <div
                  class="branches__item-action"
                  @click="activateConfirmationDialog(index)"
              >
                <img
                    src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg"
                    alt="Удалить"
                />
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <div
              class="branches__item-preloader"
              v-for="(preloader, index) in perpage"
              :key="index"
          />
        </template>
      </template>
      <template #footer>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updateBranchesList"
        />
      </template>
    </mtTable>

    <teleport to="body">
      <confirmation-dialog
          v-model="isActiveConfirmationDialog"
          :title="`Вы уверены, что хотите удалить филиал?`"
          :submit-cb="remove"
      />
    </teleport>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import mtTable from '@/components/UI/mtTable/mtTable.vue'
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
import mtPagination from '@/components/UI/mtPagination/mtPagination.vue'
import mtFilters from '@/components/UI/mtFilters/mtFilters.vue'
import mtSwitch from '@/components/UI/mtSwitch'
import mtInput from '@/components/UI/mtInput/mtInput.vue'
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  props: {},

  components: {
    ConfirmationDialog,
    mtIcon,
    mtTable,
    mtPagination,
    mtFilters,
    mtSwitch,
    mtInput
  },

  created() {
    this.initBreadcrumbs();
    this.getBranchesList()
    this.fetchManualDistributionStatus()
        .then(result => {
          this.manualDistribution = result

        })
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
  data() {
    return {
      titleActiveSection: 'Филиалы',
      titlesPath: [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Филиалы',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ],

      cols: [
        {
          title: "Название",
          stub: "name",
          visible: true,
          filter: 'string',
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Статус",
          stub: "status",
          visible: true,
          filter: 'list',
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Баланс",
          stub: "balance",
          visible: true,
          filter: 'range',
          filterable: true,
          sortable: true,
          showable: true,
        },
      ],
      page: 1,
      perpage: 5,
      total: 1,
      branchesList: [],
      filters: [],
      sort: {},
      search: {},
      manualDistribution: false,
      filtersSettings: [],
      deletingBranchIndex: null,
      isActiveConfirmationDialog: false
    }
  },

  computed: {
    ...mapGetters([
          'planListSortConfig',
          'columnsPlans',
          'selectedPlans',
          'selectedPlanTags',
          'manualDistributionStatus',
        ]),
  },

  methods: {
    ...mapActions([
          'setTitlesPath',
          'resetBranchStore',
          'fetchBranches',
          'setTitleActiveSection',
          'fetchBranchesBalance',
          'setManualDistributionStatus',
          'fetchManualDistributionStatus',
          'deleteBranches',
          'getBranches',
          'updateBranch'
        ]),

    getBranchesList() {
      let params = {
        page: this.page,
        perpage: this.perpage
      }

      params = {...params, settings: {...this.sort}}
      if (this.filters.length > 0) {
        params = {
          ...params, settings: {
            ...params.settings,
            filters: this.filters
          }
        }
      }
      if (!!this.search.value) {
        params.settings['value'] = this.search.value
        if (!!this.search.search) params.settings['search'] = this.search.search

      }
      this.getBranches(params)
          .then(res => {
            this.branchesList = res.data.data
            this.total = res?.data?.meta?.total
            this.filtersSettings = res.data.meta.filters
          })

    },

    updateBranchesList() {
      this.branchesList = []
      this.getBranchesList()
    },

    async createBranch(payload = {}) {

      await this.resetBranchStore();

      this.$router.push(
          {
            name: 'createBranch',
            query: {
              ...this.$route.query,
              branchName: 'Добавить филиал',
            },
          }
      )
    },

    updateBranchData(index) {
      this.updateBranch(this.branchesList[index])
    },

    init() {
      this.setTitleActiveSection(this.titleActiveSection);
      this.setTitlesPath(this.titlesPath);
    },

    edit({branch,}) {
      this.$router.push(
          {
            name: 'Branch',
            params: {
              id: branch.uuid
            },
            query: {
              ...this.$route.query,
              branchName: branch.name,
            },
          }
      )
    },

    activateConfirmationDialog (index) {
      this.deletingBranchIndex = index
      this.isActiveConfirmationDialog = true
    },

    remove() {
      this.deleteBranches({uuid: this.branchesList[this.deletingBranchIndex].uuid})
          .then(() => {
            this.updateBranchesList()
          })
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

}

</script>

<style lang="scss">
.branches {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788C;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px;
    min-height: 90px;
    border-bottom: solid #DFE0EB 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: #F7F8FF;
    }

    & > div {
      flex-grow: 1;

      &[data-index="0"] {
        width: 15%;
        font-size: 14px;
      }

      &[data-index="1"] {
        width: 20%;
        display: flex;
        justify-content: center;
      }

      &[data-index="2"] {
        width: 25%;
        display: flex;
        justify-content: center;
      }

      &[data-index="3"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="4"] {
        width: 10%;
        display: flex;
        justify-content: center;
      }

      &[data-index="5"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }
    }

    &-status {
      font-family: 'Mulish';
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;

      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-preloader {
      width: calc(100% - 20px);
      height: 80px;
      margin: 10px;
      background: rgba(0, 0, 0, .02);
      opacity: 1;
      animation: 1s ease-in-out 1s infinite blick;
    }
  }

  &__header-item {
    height: 40px;
    flex-grow: 1;

    &[data-index="0"] {
      width: 15%;
    }

    &[data-index="1"] {
      width: 20%;
      display: flex;
      justify-content: center;
    }

    &[data-index="2"] {
      width: 25%;
      display: flex;
      justify-content: center;
    }

    &[data-index="3"] {
      width: 15%;
      display: flex;
      justify-content: center;
    }

    &[data-index="4"] {
      width: 10%;
      display: flex;
      justify-content: center;
    }

    &[data-index="5"] {
      width: 15%;
      display: flex;
    }
  }

}
</style>