<template>
  <component :is="getPlansPage()"/>
</template>

<script>
import planExpert from "@/components/workspace/assessmentPlans/plans/plan/expert";
import planRespondent from "@/components/workspace/assessmentPlans/plans/plan/respondent";

export default {
  components: {
    planRespondent,
    planExpert,
  },

  computed: {
    role() {
      return this.$store.getters['USER']?.role || '';
    },
  },

  watch: {},
  methods: {
    /* GETTERS */
    getPlansPage() {
      switch (this.role.toLowerCase()) {
        case 'operator':
          return 'planDefault';

        case 'expert':
        case 'inspector':
          return 'planExpert';

        case 'respondent':
          return 'planRespondent';

        default:
          return null;
      }
    },
  }
}
</script>