<template>
  <div class="billing">
    <div class="billing__list">
      <mtTable>
        <template #actions>
          <div class="billing__filters">
            <div
                class="billing__export"
                @click="exportBillingFile"
                title="Экспорт"
            >
              <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M10.0028 6.16013C9.82962 6.33332 9.60293 6.41991 9.37595 6.41991C9.14897 6.41991 8.92229 6.33332 8.7488 6.16013C8.40242 5.81404 8.40242 5.2525 8.7488 4.90641L11.396 2.2592C11.5692 2.086 11.7959 2 12.0226 2H12.0362C12.2629 2 12.4895 2.086 12.6627 2.2592L15.31 4.90641C15.6563 5.2525 15.6563 5.81404 15.31 6.16013C15.1368 6.33332 14.9098 6.41991 14.6831 6.41991C14.4564 6.41991 14.2294 6.33332 14.0562 6.16013L12.8862 4.99005V14.0708C12.8862 14.5605 12.4893 14.9574 11.9995 14.9574C11.5098 14.9574 11.1129 14.5605 11.1129 14.0708V5.05005L10.0028 6.16013Z"
                    fill="#9FA2B4"
                />
                <path
                    d="M14.6593 8.90027H17.6479C19.5273 8.90027 20.9994 10.0502 20.9997 11.5185V19.3819C20.9997 20.8498 19.5273 21.9998 17.6482 21.9998H6.35151C4.47212 21.9998 3 20.8501 3 19.3819V11.5185C3 10.0505 4.47212 8.90056 6.35151 8.90056H9.33949V10.6739H6.35151C5.4628 10.6739 4.77329 11.1278 4.77329 11.5185V19.3816C4.77329 19.7723 5.4628 20.2262 6.35151 20.2262H17.6479C18.5366 20.2262 19.2262 19.7723 19.2262 19.3816V11.5182C19.2262 11.1275 18.5366 10.6736 17.6479 10.6736H14.6593V8.90027Z"
                    fill="#9FA2B4"
                />
              </svg>
            </div>
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                v-model:search="search"
                v-model:sort="sort"
                :filtersSettings="filtersSettings"
                @change="updateBillingsList"
            ></mtFilters>
          </div>
        </template>
        <template #header>
          <template
              v-for="(col, index) in cols"
              :key="index"
          >
            <div
                class="billing__list-header-item"
                v-if="col.visible"
                :data-index="index"
            >
              <span>{{ col.title }}</span>
              <span/>
            </div>
          </template>
        </template>
        <template #body>
          <template v-if="billingsList.length > 0">
            <div
                class="billing__item"
                v-for="(billing, index) in billingsList"
                :key="index"
            >
              <div
                  v-if="cols[0].visible"
                  data-index="0"
              >
                {{ $helpersFunc.formattedDate(billing.created_at) }}
              </div>
              <div
                  v-if="cols[1].visible"
                  data-index="1"
              >
                <span
                    style="color: #8FA93A;"
                    v-if="billing.operation === 'increment'"
                >
                  пополнение
                </span>
                <span
                    style="color: #C24020;"
                    v-else
                >
                  списание
                </span>
              </div>
              <div
                  v-if="cols[2].visible"
                  data-index="2"
              >
                {{ billing.value }}
              </div>
              <div
                  v-if="cols[3].visible"
                  data-index="3"
              >
                {{ billing.service || "не определён" }}
              </div>
              <div
                  v-if="cols[4].visible"
                  data-index="4"
              >
                {{ billing.description }}
              </div>
            </div>
          </template>
          <template v-else>
            <div
                class="billing__item_preloader"
                v-for="(preloader, index) in perPage"
                :key="index"
            />
          </template>
        </template>
        <template #footer>
          <mtPagination
              v-model:page="page"
              v-model:perpage="perPage"
              :total="total"
              @change="updateBillingsList"
              style="margin-left: auto;"
          />
        </template>
      </mtTable>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import mtTable from '@/components/UI/mtTable/mtTable.vue'
import mtPagination from '@/components/UI/mtPagination/mtPagination.vue'
import mtFilters from '@/components/UI/mtFilters/mtFilters.vue'

export default {
  components: {
    mtTable,
    mtPagination,
    mtFilters
  },
  props: {},
  created() {
    this.initBreadcrumbs();
    this.getBillingsList();
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
  data() {
    return {
      titleActiveSection: 'Биллинг',
      titlesPath: [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Биллинг',
          routeName: 'Billing',
          query: {},
        },
      ],
      billingsList: [],
      page: 1,
      perPage: 5,
      total: 1,
      filters: [],
      sort: {},

      // table cols list, filters of cols work automatically
      // stubs is billingsList object propertys name
      cols: [
        {
          title: "Дата операции",
          stub: 'created_at',
          visible: true,
          filter: 'datetime',
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Тип операции",
          stub: 'operation',
          visible: true,
          filter: 'list',
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Сумма",
          stub: 'value',
          visible: true,
          filter: 'range',
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Сервис",
          stub: 'service',
          visible: true,
          filter: 'string',
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Детализация",
          stub: 'description',
          visible: true,
          filter: 'string',
          filterable: true,
          sortable: true,
          showable: true,
        }
      ],
      filtersSettings: [],
      search: {}

    }
  },
  methods: {
    ...mapActions(['getBillings', 'setTitlesPath',
      'setTitleActiveSection', 'exportBilling']),
    getBillingsList() {
      let params = {
        page: this.page,
        perpage: this.perPage
      }

      params = {...params, settings: {...this.sort}};

      if (this.filters.length > 0) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        }
      }
      if (!!this.search.value) {
        params.settings['value'] = this.search.value;

        if (!!this.search.search) params.settings['search'] = this.search.search;
      }

      this.getBillings(params)
          .then(res => {
            this.billingsList = res.data.data
            this.total = res?.data?.meta?.total
            this.filtersSettings = res.data.meta.filters

          })

    },
    exportBillingFile() {
      let params = {}

      params = {...params, settings: {...this.sort}}
      if (this.filters.length > 0) {
        params = {
          ...params, settings: {
            ...params.settings,
            filters: this.filters
          }
        }
      }
      if (!!this.search.value) {
        params.settings['value'] = this.search.value
        if (!!this.search.search) params.settings['search'] = this.search.search

      }
      this.exportBilling(params)
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'export_administrators.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
    },
    getFormattedDate(timestamp) {
      let d = new Date(timestamp)
      return d
    },
    updateBillingsList() {
      this.billingsList = []
      this.getBillingsList()
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  }
}
</script>

<style lang="scss">
.billing {
  &__export {
    background: #F0F1F7;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
  }

  &__filters {
    width: 100%;
    display: flex;

    &-group {
      margin-left: auto;
      display: flex;
    }
  }

  &__download {
    background-color: #F0F1F7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 36px;
    height: 32px;
    cursor: pointer;

    & svg {
      width: 32px;
    }
  }

  &__list {
    &-header-item {
      height: 40px;
      flex-grow: 1;

      &[data-index="0"] {
        width: 15%;
      }

      &[data-index="1"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="2"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="3"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="4"] {
        padding-left: 30px;
        width: 40%;
      }

      // &:nth-child(1) {
      //   width: 15%;
      // }
      // &:nth-child(2) {
      //   width: 15%;
      //   display: flex;
      //   justify-content: center;
      // }
      // &:nth-child(3) {
      //   width: 15%;
      //   display: flex;
      //   justify-content: center;
      // }
      // &:nth-child(4) {
      //   width: 15%;
      //   display: flex;
      //   justify-content: center;
      // }
      // &:nth-child(5) {
      //   padding-left: 30px;
      //   width: 40%;
      // }
    }
  }

  &__item {
    display: flex;
    min-height: 90px;
    align-items: stretch;
    border-bottom: solid 1.5px #DFE0EB;
    padding: 0 30px;
    transition: all 2s;

    &:last-child {
      border-bottom: none;
    }

    & > div {
      display: flex;
      align-items: center;
      flex-grow: 1;

      &[data-index="0"] {
        width: 15%;
        font-size: 14px;
      }

      &[data-index="1"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="2"] {
        width: 15%;
        display: flex;
        justify-content: center;
      }

      &[data-index="3"] {
        width: 15%;
        display: flex;
        justify-content: center;
        text-align: center;
      }

      &[data-index="4"] {
        padding-left: 30px;
        border-left: solid 1.5px #DFE0EB;
        width: 40%;
      }

      // &:nth-child(1) {
      //   width: 15%;
      //   font-size: 14px;
      // }
      // &:nth-child(2) {
      //   width: 15%;
      //   display: flex;
      //   justify-content: center;
      // }
      // &:nth-child(3) {
      //   width: 15%;
      //   display: flex;
      //   justify-content: center;
      // }
      // &:nth-child(4) {
      //   width: 15%;
      //   display: flex;
      //   justify-content: center;
      // }
      // &:nth-child(5) {
      //   padding-left: 30px;
      //   border-left: solid 1.5px #DFE0EB;
      //   width: 40%;
      // }
    }

    &_preloader {
      width: calc(100% - 20px);
      height: 80px;
      margin: 10px;
      background: rgba(0, 0, 0, .02);
      opacity: 1;
      animation: 1s ease-in-out 1s infinite blick;
    }
  }
}

@keyframes blick {
  50% {
    opacity: .4;
  }
}
</style>