<template>
  <div class="assmnt-plan-st1--fields">
    <div class="fields">
      <div
          class="fields__item"
          :class="'assmnt-plan-st1--fields__field'"
      >
        <div class="edit-general-info-block__label">
          <div class="edit-general-info-block__label_required">Название</div>
        </div>
        <mtInput
            class="border-field"
            v-if="planEditdataExd.uuid"
            v-model="planEditdataExd.name"
            theme="solid"
            :hasError="errorsMessages?.name?.length"
            @focus="resetValidateStatus({field: 'name'})"
            @blur="validate('name', [{rule: 'required', message: 'Заполните поле &quot;Название&quot;'}])"
        />
        <mtPreloader
            class="stub-field"
            v-else
        />
        <div
            class="edit-general-info-block__error-message"
            v-if="errorsMessages?.name?.length"
        >
          {{ errorsMessages.name[0] }}
        </div>
      </div>
      <div
          class="fields__item"
          :class="'assmnt-plan-st1--fields__field'"
      >
        <div class="edit-general-info-block__label">
          <div class="edit-general-info-block__label_required">Описание</div>
        </div>
        <custom-textarea
            v-if="planEditdataExd.uuid"
            v-model="planEditdataExd.description"
            class="border-field"
            theme="solid"
            :hasError="errorsMessages?.description?.length > 0"
            @focus="resetValidateStatus({ field: 'description' })"
            @blur="validate('description', [{rule: 'required', message: 'Заполните поле &quot;Описание&quot;'}])"
        />
<!--        <mtInput-->
<!--            class="border-field"-->
<!--            v-if="planEditdataExd.uuid"-->
<!--            v-model="planEditdataExd.description"-->
<!--            theme="solid"-->
<!--            :hasError="errorsMessages?.description?.length > 0"-->
<!--            @focus="resetValidateStatus({field: 'description'})"-->
<!--            @blur="validate('description', [{rule: 'required', message: 'Заполните поле &quot;Описание&quot;'}])"-->
<!--        />-->
        <mtPreloader
            class="stub-field"
            v-else
        />
        <div
            class="edit-general-info-block__error-message"
            v-if="errorsMessages?.description?.length > 0"
        >
          {{ errorsMessages.description[0] }}
        </div>
      </div>
      <mtFilesField
          :class="'assmnt-plan-st1--fields__field'"
          :title="'Прикрепленные файлы'"
          :files="planFiles"
          @add="addFile({...$event})"
          @delete="activateConfirmationDialog({...$event,})"
      />
      <div
          class="fields__item"
          :class="'assmnt-plan-st1--fields__field'"
          style="margin-top: 20px;"
      >
        <div class="edit-general-info-block__label">
          <div class="edit-general-info-block__label_required">
            Порядок прохождения
          </div>
        </div>
        <mtSelect
            v-if="planEditdataExd.uuid"
            v-model="order_type"
            :items="orderTypeList"
            @change="selectOrderType"
        />
        <mtPreloader
            class="stub-field"
            v-else
        />
        <div
            class="edit-general-info-block__error-message"
            v-if="errorsMessages?.orderType?.length > 0"
        >
          {{ errorsMessages.orderType[0] }}
        </div>
      </div>
      <mtTimeIntervalField
          :class="'assmnt-plan-st1--fields__field'"
          :title="'Время доступа'"
          :dateFrom="planEditdataExd.date_from"
          :dateTo="planEditdataExd.date_to"
          clearable
          @update-date="setDates"
      />
    </div>
    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Удалить файл '${deletingFile?.name}'?`"
          :submit-cb="deleteFile"
      />
    </teleport>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtSelect from '@/components/UI/mtSelectSolid/mtSelectSolid.vue';
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtTimeIntervalField from '@/components/composite/mtTimeIntervalField';
import mtFilesField from '@/components/composite/mtFilesField';
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";
import CustomTextarea from "@/components/UI/CustomTextarea/CustomTextarea.vue";

export default {
  components: {
    CustomTextarea,
    ConfirmationDialog,
    mtInput,
    mtSelect,
    mtPreloader,
    mtTimeIntervalField,
    mtFilesField
  },
  props: {
    errorsMessages: {
      type: Object,
      required: true,
    }
  },
  data: () => ({
    file: "",
    dateKey: 0,
    orderType: '',
    orderTypeList: [
      {
        slug: 'arbitrary',
        name: 'Произвольный',
      },
      {
        slug: 'seriatim',
        name: 'По порядку',
      },
    ],
    orderTypeListOpen: false,
    isConfirmationDialogOpen: false,

    planFiles: [],
    deletingFile: null
  }),
  computed: {
    ...mapGetters('assessmentPlans/plan', [
      /* ITEM */
      "planEditdataExd",
      "addEdit1Validation",
      "date_from",
      "date_to",
    ]),

    order_type: {
      get() {
        return this.planEditdataExd.order_type ? this.orderTypeList.filter(item => item.slug === this.planEditdataExd.order_type)[0] : this.orderTypeList[0];
      },
      set(newValue) {
        this.orderType = newValue;
      }
    },

    PLAN_FILES() {
      return this.$store.getters['assessmentPlans/plan/files'];
    },
  },
  methods: {
    ...mapActions('assessmentPlans/plan', {
      setPlanStore: 'setPlanStore',
      setFileToDelete: 'setFileToDelete',
      setFileToAdd: 'setFileToAdd',
      unsetFileToAdd: 'unsetFileToAdd',
    }),

    activateConfirmationDialog({file}) {
      this.isConfirmationDialogOpen = true
      this.deletingFile = file
    },

    /* SETTERS */
    setDates(payload = null) {


      if (!payload) return;

      this.setPlanStore({
        date_from: payload.dateFrom,
        date_to: payload.dateTo,
      });
    },

    /* HANDLERS */
    selectOrderType(payload = {}) {
      this.setPlanStore({order_type: this.orderType.slug,});
    },

    addFile({file}) {
      this.setFileToAdd({file});
    },

    deleteFile() {
      if (!this.deletingFile) return false
      if (this.deletingFile.uuid) {
        this.planFiles = this.planFiles.filter(
            planFile => planFile.uuid !== this.deletingFile.uuid
        );

        this.setFileToDelete({uuid: this.deletingFile.uuid});
      }
      else {
        this.planFiles = this.planFiles.filter(
            planFile => planFile.uuidLocal !== this.deletingFile.uuidLocal
        );

        this.unsetFileToAdd({file: this.deletingFile,});
      }
    },

    /* HELPERS */
    validate(field, rules = []) {
      this.$emit('validate', {field, rules});
    },
    resetValidateStatus(payload = {}) {
      this.$emit('resetValidateStatus', payload);
    },
  },
  watch: {
    PLAN_FILES(newValue) {
      this.planFiles = newValue;
    },
  }
};
</script>

<style lang="scss">
.assmnt-plan-st1--fields {
  width: 100%;
  &__field {
    box-sizing: border-box;
    //grid-column: 1/3;
  }
}

.edit-general-info-block {
  &__error-message {
    color: #C24020;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;

    &_required {
      max-width: max-content;
      position: relative;

      &::after {
        content: "*";
        color: red;
        right: -12px;
        top: -2px;
        position: absolute;
      }
    }
  }
}

.fields {
  &__item {
    margin-bottom: 20px;
  }
}

.field {
  .field__title {
    padding-bottom: 10px;
  }

  &:last-child .field__inner {
    margin-bottom: 0px;
  }

  .field__inner {
    width: 327px;
    min-height: 60px;
    background: #f0f1f7;
    border-radius: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;

    &.list {
      padding-top: 15px;
    }

    &:not(.list, .access-time) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    .field__inner_wrapper {
      padding-left: 20px;

      .field__content {
        background: transparent;
        width: 287px;
        border: 0px;
      }
    }

    .files {
      .files__wrapper {
        display: grid;
        grid-template-columns: 90% 10%;
        height: 60px;

        .files__list {
          border-right: 1px solid #cfcfd0;

          .files__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-top: 10px;

            .file {
              width: 130px;
              background: #ffffff;
              border-radius: 6px;
              margin: 0px 10px 10px 0px;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: center;
              align-content: center;
              align-items: center;

              .file__delete {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;
                margin: 5px;

                .button_action-logo {
                  width: 17px;
                  height: 17px;
                  border: 1px solid #d07058;
                  margin: 2px;
                  background: #ffffff;
                  border-radius: 13px;
                  cursor: pointer;

                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: center;
                  align-items: center;

                  .button_action-logo_cnt {
                    width: 10px;
                    height: 15px;
                  }
                }
              }

              .file-inner {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                flex-grow: 1;
                margin-top: 5px;
                margin-bottom: 5px;

                .file__logo {
                  margin-right: 15px;
                  margin-left: 10px;
                  align-self: center;
                  min-width: 24px;
                  min-height: 24px;

                  &.pdf {
                    background: url(../../../../../../assets/img/png/assessment-plans/assessment-plans__edit1_file-logo_pdf.png) no-repeat left center;
                  }

                  &.png {
                    background: url(../../../../../../assets/img/png/assessment-plans/assessment-plans__edit1_file-logo_png.png) no-repeat left center;
                  }

                  &.def {
                    background: url(../../../../../../assets/img/png/assessment-plans/default_file.png) no-repeat left center;
                  }
                }

                .file__text {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: center;

                  .file__title {
                    word-break: break-word;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 14px;
                    letter-spacing: 0.2px;
                    color: #252733;
                  }

                  .file__sub-title {
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 16px;
                    letter-spacing: 0.1px;
                    color: #c5c7cd;
                  }
                }
              }
            }
          }
        }

        .files__settings {
          align-self: center;
          justify-self: center;

          .files___settings-item {
            cursor: pointer;
          }
        }
      }
    }
  }

  .field__inner-file {
    display: block;
    height: auto !important;
  }
}

.list {
  .list__wrapper {
    background: #f0f1f7;
    border-radius: 8px;
    padding: 5px 10px 5px 0px;

    .list__inner {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #9fa2b4;
      transition: max-height 0.3s;
      max-height: 0;

      .list__head {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        .list__vector {
          cursor: pointer;

          .list__vector_logo {
            transition-duration: 0.3s;
          }
        }
      }

      .list__body {
        opacity: 0;
        margin-top: 10px;
      }
    }
  }

  &.active {
    .list__wrapper {
      .list__inner {
        max-height: 80px;

        .list__head {
          .list__vector {
            .list__vector_logo {
              transform: rotate(180deg);
            }
          }
        }

        .list__body {
          opacity: 1;
          transition-duration: 1s;

          .list__body_item {
            cursor: pointer;
            margin-bottom: 5px;

            &.selected {
              color: red;
            }
          }
        }
      }
    }
  }
}

.access-time {
  .access-time_date {
    display: inline-block;
    border-bottom: 1.5px solid #00788c;
    min-width: 91px;
    min-height: 21px;
    cursor: text;
    color: #2a4365;

    &.invalid {
      border-bottom: 1.5px solid red;
    }
  }

  display: flex;

  .access-time__field {
    &.to {
      .calendar {
        left: 200px;
      }
    }

    .access-time__field_content {
      display: flex;

      .access-time__field__calendar {
        .access-time__field__calendar-item {
          background: url(../../../../../../assets/img/svg/assessment-plans/calendar.svg) no-repeat left center;
          padding-left: 17px;
          cursor: pointer;

          &:hover {
            background: url(../../../../../../assets/img/svg/assessment-plans/calendar__active.svg) no-repeat left center;
          }

          &.clicked {
            background: url(../../../../../../assets/img/svg/assessment-plans/calendar__active.svg) no-repeat left center;
          }
        }
      }
    }
  }
}

// OBJECT STYLES END

// MIXIN STYLES START
.field-inner {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7c869d;
}

.title__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

.description-textarea {
  display: block;
  min-height: 60px !important;
  height: auto !important;
  padding: 20px !important;
}

.hidden {
  display: none;
}

.left-space_date {
  padding-left: 5px;
}

.top-space_date {
  padding-top: 18px;
}

.calendar-open {
  min-height: 225px !important;
}

.invalid {
  border: 1px solid red;
}

.field-gen_title {
  position: relative;

  &::after {
    content: "*";
    color: red;
    right: -15px;
    top: -5px;
    position: absolute;
  }
}

.border-field,
.mt-solid__wrapper,
.stub-field {
  border-radius: 12px !important;
}

.stub-field {
  height: 56px !important;
  width: 327px !important;
  background: #f0f1f7 !important;
}

// MIXIN STYLES END
</style>