<template>
  <div :class="['attachments', { attachments_error: errorsMessages?.structure?.length, attachments_empty: isAttachmentsEmpty, },]">
    <div class="attachments__header">
      <div class="field-gen_title">
        Задания
        <mtButton
            class="plan-step1-tasks--add-task"
            :preloader="addTaskLoader"
            @click="addAttachment"
        >
          Добавить
        </mtButton>
      </div>
    </div>
    <draggable
        v-if="planEditdataExd.uuid"
        :component-data="{ tag: 'div', type: 'transition-group', name: !drag ? 'flip-list' : null, }"
        class="list-group attachments__body"
        v-model="myList"
        v-bind="dragOptions"
        @start="drag = true"
        @end="drag = false"
        item-key="order"
        handle=".js-drag"
    >
      <template #item="{ element }">
        <div
            class="list-group-item attachment"
            @dragend="fixTestOrder"
        >
          <div class="attachment__wrapper">
            <div class="attachment__inner">
              <div class="attachment__index">{{ element.order }}</div>
              <div class="attachment__content">
                <div class="attachment__content_inner">
                  <div class="attachment__content_title">
                    <div class="attachment__content_title-inner">
                      <div class="attachment__content_title-logo">
                        <span :class="['row__menu-burger', 'attachment__content_settings-logo',]">
                          <img
                              v-if="element.type === 'test'"
                              :class="['attachment__content_settings-item',]"
                              src="@/assets/img/png/assessment-plans/assessment-plans__test.png"
                              alt="Меню"
                          />
                          <img
                              v-else-if="element.type === 'confirmation'"
                              :class="['attachment__content_settings-item',]"
                              src="@/assets/img/png/assessment-plans/assessment-plans__info.png"
                              alt="Меню"
                          />
                          <img
                              v-else-if="element.type === 'expert'"
                              :class="['row__delete-logo', 'attachment__content_settings-item',]"
                              src="@/assets/img/png/assessment-plans/assessment-plans__financial-audit.png"
                              alt="Меню"
                          />
                        </span>
                      </div>
                      <div :class="['attachment__content_title-text',]">{{ element.name }}</div>
                    </div>
                  </div>
                  <div :class="['attachment__content_status',]">
                    <div
                        :class="['button', 'button-status',]"
                        v-show="!!element.group?.name"
                    >
                      <div :class="['button__item', 'attachments-button',]">
                        <span :class="['button__txt',]">{{ element.group?.name }}</span>
                      </div>
                    </div>
                  </div>
                  <div :class="['attachment__content_settings',]">
                    <span :class="['row__settings', 'attachment__content_settings-logo',]">
                      <img
                          :class="['row__settings-logo', 'attachment__content_settings-item',]"
                          src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_settings.svg"
                          alt="Настроить"
                          :data-uuid="element.uuid"
                          @click="editAttachment({ task: element })"
                      />
                    </span>
                    <span :class="['row__delete', 'attachment__content_settings-logo',]">
                    <img
                        :class="['row__delete-logo', 'attachment__content_settings-item',]"
                        src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg"
                        alt="Удалить"
                        :data-uuid="element.uuid"
                        @click="activateConfirmationDialog({ uuid: element.uuid })"
                    />
                    </span>
                    <span :class="['row__menu-burger', 'attachment__content_settings-logo',]">
                    <img
                        :class="['row__delete-logo', 'attachment__content_settings-item', 'js-drag',]"
                        src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_menu-burger.svg"
                        alt="Меню"
                    />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </draggable>
    <div
        v-else
        :class="['stubs']"
    >
      <mtPreloader
          class="stub-field__tasks"
          v-for="n in 4"
          :key="n"
          :class="['stubs__item',]"
      />
    </div>
    <div
        v-if="planEditdataExd.structure ? !planEditdataExd.structure.length : false"
        :class="['hinweis', { hinweis_error: errorsMessages?.structure?.length },]"
    >
      <div :class="['hinweis__text',]">Для продолжения работы добавьте задания в план оценки</div>
    </div>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          title="Удалить задание?"
          :submit-cb="deleteAttachment"
      />
    </teleport>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import draggable from "vuedraggable";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtButton from "@/components/UI/mtButton";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  components: {
    ConfirmationDialog,
    draggable,
    mtPreloader,
    mtButton,
  },

  props: {
    errorsMessages: {
      type: Object,
      required: true,
    },
    addTaskLoader: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      drag: false,
      attachmentsKey: 0,
      isConfirmationDialogOpen: false,
      deletingAttachment: null
    };
  },

  computed: {
    ...mapGetters('assessmentPlans/plan', [
      /* ITEM */
      "planEditdataExd",
      "addEdit1Validation",
    ]),

    isAttachmentsEmpty() {
      return !this.planEditdataExd?.structure?.length;
    },

    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
    list() {
      if (this.planEditdataExd.structure) {
        return this.planEditdataExd.structure;
      } else {
        return [];
      }
    },
    myList: {
      get() {
        if (this.planEditdataExd.structure) {
          // return this.planEditdataExd.structure.filter(task => task.name);
          return this.planEditdataExd.structure;
        }
        return [];
      },
      set(value) {
        this.$store.commit("assessmentPlans/plan/updateTests", value);
      },
    },
  },

  methods: {
    ...mapActions('assessmentPlans/plan', [
      /* ITEM */
      'deleteTask',
    ]),
    ...mapActions('assessmentPlans/plan/task', [
      /* ITEM */
      'resetTaskStore',
        'setTask'
    ]),

    addAttachment() {
      this.$emit("onAddNewAttachment");
    },

    editAttachment({task}) {
      this.resetTaskStore().then(() => {
        // this.$router.push({
        //   name: "AddEdit1Attach",
        //   params: {
        //     uuid_plan: this.$route.params.uuid,
        //     uuid_task: task.uuid,
        //   },
        //   query: {
        //     ...this.$route.query,
        //     page: this.$route.name,
        //     testName: task.name,
        //   },
        // });
        this.setTask(task)
        this.$emit("onAddNewAttachment");
      });
    },

    activateConfirmationDialog (payload = {}) {
      this.isConfirmationDialogOpen = true
      this.deletingAttachment = payload
    },

    deleteAttachment() {
      this.deleteTask({
        uuidPlan: this.$route.params.uuid,
        uuidTest: this.deletingAttachment.uuid,
      }).then(() => {
        this.$lodash.remove(this.planEditdataExd.structure, {uuid: this.deletingAttachment.uuid});
        this.fixTestOrder()
      });
    },

    fixTestOrder() {
      this.$emit("fix_test_order");
    },
  },

  mounted() {
  },
};
</script>

<style
    lang="scss"
    scoped
>
.plan-step1-tasks {
  &--add-task {
    padding: 0;
    width: 89px;
    height: 24px !important;
    border-radius: 8px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
  }
}

.hinweis {
  height: calc(100% - 106px);
  position: relative;

  &_error {
    background-color: rgba(255, 0, 0, 0.3);

    .hinweis__text {
      color: #c24020 !important;
    }
  }

  .hinweis__text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 15%;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #7c869d;
  }
}

.attachments {
  margin: 0px 0px 133px 86px;
  width: 100%;
  max-height: 644px;
  overflow-y: scroll;

  &_error,
  &_empty {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border: 1px solid #dfe0eb;
    box-sizing: border-box;
  }

  .attachments__header {
    padding: 15px 35px;
  }

  .attachments-button {
    width: 89px !important;
    height: 24px !important;
  }

  @include max-xs {
    margin: 25px 0 0;
    max-height: unset;
    overflow-y: unset;
  }
}

.stubs {
  padding: 0px 10px 0px 10px;

  &__item {
    width: 100% !important;
    height: 58px !important;

    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.button {
  .button__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 79px;
    height: 33px;
    background: #00788c;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    .button__txt {
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #ffffff;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 10px;
    }
  }
}

.field {
  .field__title {
    padding-bottom: 10px;
  }

  &:last-child .field__inner {
    margin-bottom: 0px;
  }

  .field__inner {
    width: 327px;
    height: 60px;
    background: #f0f1f7;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    box-sizing: border-box;

    .field__inner_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .field__content {
        background: transparent;
        width: 287px;
        border: 0px;
      }
    }

    .files {
      .files__wrapper {
        display: grid;
        grid-template-columns: 90% 10%;

        .files__list {
          border-right: 1px solid #cfcfd0;

          .files__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-top: 10px;

            .file {
              width: 130px;
              height: 66px;
              background: #ffffff;
              border-radius: 6px;
              margin: 0px 10px 10px 0px;

              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              justify-content: center;

              .file-inner {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;

                .file__logo {
                  margin-right: 15px;
                  align-self: center;
                }

                .file__text {
                  .file__title {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #252733;
                  }

                  .file__sub-title {
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 16px;
                    letter-spacing: 0.1px;
                    color: #c5c7cd;
                  }
                }
              }
            }
          }
        }

        .files__settings {
          align-self: center;
          justify-self: center;
        }
      }
    }
  }

  .field__inner-file {
    display: block;
    height: auto !important;
  }
}

.attachment {
  .attachment__wrapper {
    width: 100%;
    border-bottom: 1px solid #dfe0eb;

    .attachment__inner {
      display: grid;
      grid-template-columns: 5% 95%;
      padding: 14px;
      align-items: center;

      .attachment__index {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #c7c7c7;
      }

      .attachment__content {
        .attachment__content_inner {
          display: grid;
          grid-template-columns: 50% 1fr 102px;
          align-items: center;

          .attachment__content_title {
            .attachment__content_title-inner {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;

              .attachment__content_title-logo {
                padding-right: 10px;
              }
            }

            &-text {
              word-break: break-word;
            }
          }

          .attachment__content_settings {
            display: flex;
            justify-self: center;

            .row__settings,
            .row__delete {
              padding-right: 15px;
            }

            .attachment__content_settings-item {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group {
  min-height: 20px;
}

.row__menu-burger {
  cursor: move;

  .row__delete-logo {
    cursor: unset !important;
  }
}


.list-group-item i {
  cursor: pointer;
}

// OBJECT STYLES END

// MIXIN STYLES START
.attachments {
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.field-inner {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #7c869d;
}

.wrapper {
  padding-left: 46px;
  padding-right: 32px;
}

.title__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: #252733;
  margin-bottom: 30px;
}

.description-textarea {
  display: block;
  min-height: 60px !important;
  height: auto !important;
  padding: 20px !important;
}

.button-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .button__item {
    width: 114px !important;
    height: 24px !important;
    background: #8fa93a;
    border-radius: 100px;
    text-align: center;
    cursor: default;
  }
}

.button-prev {
  .button__item {
    background: #e6f2f4;

    .button__txt {
      color: #00788c;
    }
  }
}

.field-gen_title {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: "*";
    color: red;
    right: -15px;
    top: -5px;
    position: absolute;
  }
}

.stub-field {
  &__tasks {
    background: #f0f1f7 !important;
  }
}

// MIXIN STYLES END
</style>