<template>
  <div class="test-library-results">
    <mtTable class="test-library-results__table">
      <template #actions>
        <div style="width: 100%;">
          <div style="display: flex; align-items: center; width: 100%; height: 60px; padding-bottom: 10px;">
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                :filtersSettings="filtersSettings"
                v-model:sort="sort"
                v-model:search="search"
                @change="updateResultsList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template v-for="(col, index) in cols">
          <div
              class="test-library-results__header-cell"
              v-if="col.visible && col.showInTable"
              :data-index="index"
              :key="index"
              :class="[{ 'test-library-results__header-cell_first': col.stub === '__name' }]"
          >
            <div class="test-library-results__header-cell__title">{{ col.title }}</div>
          </div>
        </template>
      </template>
      <template #body>
        <template v-if="results.length">
          <div
              class="test-library-results__item"
              v-for="(item, index) in results"
              :key="index"
              :class="[{ 'test-library-results__item_selected': item.selected }]"
              v-on:click.ctrl="selectRowTableMultiple({ index })"
              v-on:click.meta="selectRowTableMultiple({ index })"
              @click.exact="selectRowTable({ index })"
          >
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ item.mainTest.TestTitle }}</div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">
                <div class="test-library-results__body--full-name">{{ item.user?.full_name }}</div>
                <div class="test-library-results__body-tags">
                  <div
                      class="test-library-results__body-tag"
                      v-for="tag in item.tags"
                      :key="tag"
                      style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;"
                  >
                    {{ tag }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[2].visible">
              <div data-index="2">{{ item.branch }}</div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">{{ getGender({gender: item.user.gender}) }}</div>
            </div>
            <div v-if="cols[4].visible">
              <div data-index="4">{{ item.plans }}</div>
            </div>
            <div v-if="cols[5].visible">
              <div data-index="5">{{ item.session?.duration }}</div>
            </div>
            <div v-if="cols[6].visible">
              <div data-index="6">{{ getEndDate({endDate: item.session?.end_date}) }}</div>
            </div>
            <div v-if="cols[7].visible">
              <div
                  class="test-library-results--additional-info"
                  data-index="7"
              >
                <mtAdditionalTableBtn
                    class="test-library-results--additional-info__item"
                    v-if="item.acomplished"
                    :disabled="true"
                    title="д"
                />
                <mtAdditionalTableBtn
                    class="test-library-results--additional-info__item"
                    v-if="item.deleted"
                    :disabled="true"
                    title="у"
                />
                <mtAdditionalTableBtn
                    class="test-library-results--additional-info__item"
                    v-if="item.unprocessed"
                    :disabled="true"
                    title="н"
                />
              </div>
            </div>
            <div class="test-library-results__download-report">
              <div data-index="8">
                <svg
                    class="test-library-results__download-report-icon"
                    v-if="!item.restoreLoader"
                    width="21"
                    height="20"
                    viewBox="0 0 21 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    @click.stop="activateRestoreResultConfirmationDialog({ result: item })"
                >
                  <path
                      d="M3.963 2.43301C5.77756 0.86067 8.09899 -0.00333986 10.5 9.70266e-06C16.023 9.70266e-06 20.5 4.47701 20.5 10C20.5 12.136 19.83 14.116 18.69 15.74L15.5 10H18.5C18.5001 8.43163 18.0392 6.89781 17.1747 5.58927C16.3101 4.28072 15.0799 3.25517 13.6372 2.64013C12.1944 2.0251 10.6027 1.84771 9.05996 2.13003C7.5172 2.41234 6.09145 3.14191 4.96 4.22801L3.963 2.43301ZM17.037 17.567C15.2224 19.1393 12.901 20.0034 10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 7.86401 1.17 5.88401 2.31 4.26001L5.5 10H2.5C2.49987 11.5684 2.96075 13.1022 3.82534 14.4108C4.68992 15.7193 5.92007 16.7449 7.36282 17.3599C8.80557 17.9749 10.3973 18.1523 11.94 17.87C13.4828 17.5877 14.9085 16.8581 16.04 15.772L17.037 17.567Z"
                      :fill="item.deleteLoader ? '#C5C7CD' : '#09121F'"
                  />
                </svg>
                <svg
                    class="test-library-results__download-report-icon test-library-results__download-report-icon_preloader"
                    v-else
                    width="21"
                    height="20"
                    viewBox="0 0 21 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M3.963 2.43301C5.77756 0.86067 8.09899 -0.00333986 10.5 9.70266e-06C16.023 9.70266e-06 20.5 4.47701 20.5 10C20.5 12.136 19.83 14.116 18.69 15.74L15.5 10H18.5C18.5001 8.43163 18.0392 6.89781 17.1747 5.58927C16.3101 4.28072 15.0799 3.25517 13.6372 2.64013C12.1944 2.0251 10.6027 1.84771 9.05996 2.13003C7.5172 2.41234 6.09145 3.14191 4.96 4.22801L3.963 2.43301ZM17.037 17.567C15.2224 19.1393 12.901 20.0034 10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 7.86401 1.17 5.88401 2.31 4.26001L5.5 10H2.5C2.49987 11.5684 2.96075 13.1022 3.82534 14.4108C4.68992 15.7193 5.92007 16.7449 7.36282 17.3599C8.80557 17.9749 10.3973 18.1523 11.94 17.87C13.4828 17.5877 14.9085 16.8581 16.04 15.772L17.037 17.567Z"
                      fill="#C5C7CD"
                  />
                </svg>
                <svg
                    class="test-library-results__download-report-icon"
                    v-if="!item.deleteLoader"
                    width="21"
                    height="20"
                    viewBox="0 0 21 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    @click.stop="activateDeleteResultConfirmationDialog({ result: item })"
                >
                  <path
                      d="M15.5 4H20.5V6H18.5V19C18.5 19.2652 18.3946 19.5196 18.2071 19.7071C18.0196 19.8946 17.7652 20 17.5 20H3.5C3.23478 20 2.98043 19.8946 2.79289 19.7071C2.60536 19.5196 2.5 19.2652 2.5 19V6H0.5V4H5.5V1C5.5 0.734784 5.60536 0.48043 5.79289 0.292893C5.98043 0.105357 6.23478 0 6.5 0H14.5C14.7652 0 15.0196 0.105357 15.2071 0.292893C15.3946 0.48043 15.5 0.734784 15.5 1V4ZM16.5 6H4.5V18H16.5V6ZM7.5 9H9.5V15H7.5V9ZM11.5 9H13.5V15H11.5V9ZM7.5 2V4H13.5V2H7.5Z"
                      :fill="item.restoreLoader ? '#C5C7CD' : '#09121F'"
                  />
                </svg>
                <svg
                    class="test-library-results__download-report-icon test-library-results__download-report-icon_preloader"
                    v-else
                    width="21"
                    height="20"
                    viewBox="0 0 21 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M3.963 2.43301C5.77756 0.86067 8.09899 -0.00333986 10.5 9.70266e-06C16.023 9.70266e-06 20.5 4.47701 20.5 10C20.5 12.136 19.83 14.116 18.69 15.74L15.5 10H18.5C18.5001 8.43163 18.0392 6.89781 17.1747 5.58927C16.3101 4.28072 15.0799 3.25517 13.6372 2.64013C12.1944 2.0251 10.6027 1.84771 9.05996 2.13003C7.5172 2.41234 6.09145 3.14191 4.96 4.22801L3.963 2.43301ZM17.037 17.567C15.2224 19.1393 12.901 20.0034 10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 7.86401 1.17 5.88401 2.31 4.26001L5.5 10H2.5C2.49987 11.5684 2.96075 13.1022 3.82534 14.4108C4.68992 15.7193 5.92007 16.7449 7.36282 17.3599C8.80557 17.9749 10.3973 18.1523 11.94 17.87C13.4828 17.5877 14.9085 16.8581 16.04 15.772L17.037 17.567Z"
                      fill="#C5C7CD"
                  />
                </svg>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template v-if="!results.length">
        <mtPreloader
            class="preloader_margin"
            v-for="preloader in perpage"
            :key="preloader"
            :height="80"
        />
      </template>
      <template #footer>
        <div class="test-library-results__actions">
          <mtButton
              :preloader="restoreResultsLoader"
              :class="['test-library-results__actions-item', 'test-library-results__actions_send-msg', {
                'test-library-results__actions-item_active': selectedResults?.length
              }]"
              @click="activateRestoreResultsConfirmationDialog"
          >
            восстановить
          </mtButton>
          <mtButton
              class="test-library-results__actions-item"
              :preloader="deleteResultsLoader"
              :class="['test-library-results__actions_switch', { 'test-library-results__actions-item_active': selectedResults?.length }]"
              @click="activateDeleteResultsConfirmationDialog"
          >
            удалить
          </mtButton>
        </div>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updateResultsList"
        />
      </template>
    </mtTable>

    <teleport to="body">
      <confirmation-dialog
          v-model="restoreResultLoader"
          :title="`Восстановить данный результат: '${result?.mainTest?.TestTitle}-${result?.user?.full_name}'?`"
          :submit-cb="restoreResult"
      />

      <confirmation-dialog
          v-model="restoreResultsLoader"
          :title="`Восстановить данные результаты? Количество: ${selectedResults?.length}`"
          :submit-cb="restoreResults"
      />

      <confirmation-dialog
          v-model="deleteResultLoader"
          :title="`Удалить безвозвратно данный результат: '${result?.mainTest?.TestTitle}-${result?.user?.full_name}'?`"
          :submit-cb="deleteResult"
      />

      <confirmation-dialog
          v-model="deleteResultsLoader"
          :title="`Удалить результаты? Количество: ${selectedResults?.length}`"
          :submit-cb="deleteResults"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {inputResultsAdapter,} from './results.adapter';
import getGenderBySlug from '@/services/getGenderBySlug';
import DateService from '@/services/DateService';
import mtTable from "@/components/UI/mtTable/mtTable2";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtButton from "@/components/UI/mtButton";
import mtAdditionalTableBtn from "@/components/composite/mtAdditionalTableBtn";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  components: {
    ConfirmationDialog,
    mtTable,
    mtPagination,
    mtFilters,
    mtPreloader,
    mtButton,
    mtAdditionalTableBtn,
  },

  props: {},
  data() {
    return {
      titleActiveSection: "Корзина",
      titlesPath: [
        {
          isLink: true,
          title: "Планы оценок",
          routeName: "AssessmentPlansList",
          query: {},
        },

        {
          isLink: true,
          title: "Список",
          routeName: "AssessmentPlansList",
          query: {},
        },
      ],

      showTagsPopup: false,
      addNewTagLoader: false,
      foundTags: [],

      showDownloadReportPopup: false,
      showGroupDownloadReportPopup: false,
      showReplicationPopover: false,

      clipboardReports: [],
      clipboardPlans: [],
      clipboardUuid: null,
      clipboardUuidSession: null,
      clipboardUuidUser: null,

      cols: [
        { /* 0 */
          title: "Название теста",
          stub: "MaintestName",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: false,
          showInTable: true,
        },
        { /* 1 */
          title: "ФИО",
          stub: "full_name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 2 */
          title: "Филиал",
          stub: "branch",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 3 */
          title: "Пол",
          stub: "gender",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 4 */
          title: "Планы оценки",
          stub: "plans",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 5 */
          title: "Длительность",
          stub: "duration",
          visible: true,
          filter: "time",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 6 */
          title: "Время завершения",
          stub: "end_date",
          visible: true,
          filter: "datetime",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 7 */
          title: "Доп. информация",
          stub: "branch",
          visible: true,
          filter: "string",
          filterable: false,
          sortable: false,
          showable: true,
          showInTable: true,
        },
        { /* 8 */
          title: "Действия",
          stub: "replication",
          visible: true,
          filter: "",
          filterable: false,
          sortable: false,
          showable: false,
          showInTable: true,
        },
      ],

      filtersSettings: [],
      page: 1,
      perpage: 15,
      total: 1,
      results: [],
      filters: [],
      search: {},

      sort: {},

      searchAddTag: "",
      tags: [],
      result: null,

      /* LOADERS */
      deleteResultLoader: false,
      deleteResultsLoader: false,
      restoreResultLoader: false,
      restoreResultsLoader: false
    };
  },
  computed: {
    selectedResults() {
      return this.results.filter((plan) => {
        return plan.selected;
      });
    },
  },

  methods: {
    ...mapActions([
      'setTitlesPath',
      'setTitleActiveSection',
      'setAssessmentPlanName',
      'fetchTags',
    ]),
    ...mapActions('results', [
      'fetchTrashResults',
      'fetchPlansForReplications',
      'resultsPlansAttach',
      'deleteResultsForceAction',
      'restoreResultsAction',
      'reprocessResults',
      'exportResultsReport',
      'downloadResultsReport',
      'addTags',
    ]),

    /* GETTERS */
    getResultsList() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      this.fetchTrashResults(params).then((res) => {
        this.total = res?.data?.meta?.total;
        this.filtersSettings = res.data.meta.filters;
        this.results = inputResultsAdapter(
            res.data.data.map((plan) => ({
              ...plan,
              selected: false,
              deleteLoader: false,
              restoreLoader: false,
              blockSingle: false,
              blockGroup: false,
            }))
        );
      });
    },
    getGender({gender,}) {


      if (!gender) return null;

      return this.cut3Gender(
          this.capitalizeFirstLetter(getGenderBySlug(gender))
      );
    },
    getEndDate({endDate,}) {
      if (!endDate) return null;

      return `${this.parseDate({string: endDate})} ${this.parseTime({string: endDate})}`;
    },

    /* SETTERS */

    /* HANDLERS */
    selectRowTable(payload = {}) {
      this.results.forEach((plan, index) => {
        if (index === payload.index) {
          this.results[payload.index].selected = !this.results[payload.index].selected;
        } else {
          plan.selected = false;
        }
      });
    },
    selectRowTableMultiple(payload = {}) {
      this.results[payload.index].selected = !this.results[payload.index].selected;
    },

    activateRestoreResultConfirmationDialog ({result}) {
      this.result = null
      this.restoreResultLoader = true
      this.result = result
    },

    async restoreResult() {
      if (this.result.blockGroup && this.result.restoreLoader && this.result.deleteLoader) return

      this.result.restoreLoader = true;
      this.result.blockSingle = true;

      await this.restoreResultsAction({
        results: [this.result.uuid]
      });

      this.results = this.results.filter(_result => _result.uuid !== this.result.uuid);
    },

    activateRestoreResultsConfirmationDialog () {
      this.restoreResultsLoader = true
    },

    async restoreResults() {
      if (this.restoreResultsLoader && !this.selectedResults.length) return

      this.restoreResultsLoader = true;

      if (!await this.haveActiveSingleEvents()) {
        const results = this.selectedResults.map(result => result.uuid);

        await this.restoreResultsAction({results,});

        this.results = this.results.filter(result => !results.includes(result.uuid));
      }

      this.restoreResultsLoader = false;
    },

    activateDeleteResultConfirmationDialog ({result}) {
      this.result = null
      this.deleteResultLoader = true
      this.result = result
    },

    async deleteResult() {
      if (this.result.blockGroup && this.result.deleteLoader && this.result.restoreLoader) return
        
      this.result.deleteLoader = true;
      this.result.blockSingle = true;

      await this.deleteResultsForceAction({
        results: [this.result.uuid]
      });

      this.results = this.results.filter(_result => _result.uuid !== this.result.uuid);
    },

    activateDeleteResultsConfirmationDialog () {
      this.deleteResultsLoader = true
    },

    async deleteResults() {
      if (this.deleteResultsLoader && !this.selectedResults.length) return

      this.deleteResultsLoader = true;

      if (!await this.haveActiveSingleEvents()) {
        const results = this.selectedResults.map(result => result.uuid);

        await this.deleteResultsForceAction({results,});

        this.results = this.results.filter(result => !results.includes(result.uuid));
      }

      this.deleteResultsLoader = false;
    },

    /* HELPERS */
    updateResultsList() {
      this.results = [];

      this.getResultsList();
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    cut3Gender(string) {
      return string.slice(0, 3);
    },
    async parseTags() {
      let tags = [];

      await this.selectedResults.forEach((plan) => {
        tags.push(...plan.tags);
      });

      this.tags = [...new Set(tags)].map(tag => ({
        name: tag,
      }));
    },
    checkUniqueSelectedResults() {
      return [...new Set(this.selectedResults.map(result => result.mainTest.TestTitle))].length === 1;
    },
    async resetSelectResults() {
      this.results = this.results.map((result) => ({
        ...result,
        selected: false,
      }));
    },
    parseDate({string,}) {
      if (!string) return null;

      return DateService.parseDate({
        string,
        nodeSplitBy: " ",
        itemSplitBy: "-",
        divider: ".",
      });
    },
    parseTime({string,}) {
      if (!string) return null;

      return DateService.parseTime({
        string,
        nodeSplitBy: " ",
      });
    },
    async haveActiveSingleEvents() {
      let haveEvents = false;

      await this.selectedResults.forEach((result) => {
        result.blockGroup = true

        if (result.blockSingle) haveEvents = true;
      });

      return haveEvents;
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  watch: {
    reports(newReports) {
      this.reports = newReports.map((report) => ({
        ...report,
        selected: false,
      }));
    },
  },

  created() {


    this.initBreadcrumbs();

    if (this.$route.params.filters) {


      this.filters = [
        ...this.filters,
        ...JSON.parse(this.$route.params.filters),
      ];
    }

    this.getResultsList();
  },

  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
};
</script>

<style lang="scss">
.test-library-results {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__table {
    // min-width: 970px;
  }

  &__header {
    &-cell {
      padding: 12px 30px;
      vertical-align: middle;
      text-align: center;
      background: #00788C;

      &__title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        white-space: nowrap;
        letter-spacing: 0.01em;
        color: #FFFFFF;
      }

      &_first {
        text-align: left;
      }
    }
  }

  &__body {
    &--full-name {
      white-space: nowrap;
    }

    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    &-tag {
      margin-right: 5px;
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover:not(.test-library-results__item_selected) {
      background-color: #f7f8ff;
    }

    &_selected {
      background: #e7e9ff;
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 16px 0px;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 115%;
      letter-spacing: 0.01em;

      & > [data-index="0"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="6"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="7"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="8"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }

      & > [data-index="9"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-item {
      transition: all 0.2s ease;
      background: #f0f1f7 !important;
      border-radius: 8px !important;
      padding: 5px 12px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      user-select: none;
      color: #9fa2b4 !important;
      margin-left: 10px;
      max-height: 24px !important;
      box-sizing: border-box;
      cursor: unset !important;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        background: #00788c !important;
        color: #ffffff !important;
        cursor: pointer !important;

        &:active {
          background: #066a7e !important;
        }
      }
    }

    &_delete {
      min-width: 83px;
    }

    &_switch {
      min-width: 89px;
    }

    &_send-msg {
      min-width: 120px;
    }
  }

  &__add-tag-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #00788c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  &__tags {
    &-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    &-body {
    }

    &-name {
    }

    &-delete {
    }

    &-add {
      width: 45px;
      height: 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: #00788c;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      margin-left: 10px;

      &:active {
        background: #066a7e;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      margin-top: 15px;

      &:first-child {
        margin-top: 20px;
      }
    }

    &-delete {
      cursor: pointer;
    }
  }

  &__download-report {
    &-icon {
      cursor: pointer;
      margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }

      &_preloader {
        animation: spin infinite linear 1s;
      }
    }
  }

  &__export {
    background: #F0F1F7;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;

    &:active {
      background: #D7D7DD;
    }
  }

  &--additional-info {
    &__item {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* MIXINS STYLES CSS START */
.preloader_margin {
  margin: 10px 10px 0px 10px;
}

.mt-table {
  &__footer {
    padding: 30px 30px 0 30px;
  }
}

.participants {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #0073E5;
  }
}

/* MIXINS STYLES CSS END */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
</style>