<template>
  <transition name="mt-dialog">
    <div
        class="mt-dialog"
        v-show="modelValue || openedByDefault"
        :class="'mt-dialog_' + size"
    >
      <div
          class="mt-dialog__overlay"
          @click="closeModal"
      />
      <div class="mt-dialog__window">
        <div class="mt-dialog__window__wrapper">
          <button
              class="mt-dialog__close-btn"
              @click="closeModal"
          >
            <mtSvg
                name="close"
                color="#09121F"
            />
          </button>
          <slot/>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import MtSvg from '@/components/UI/mtSvg';

export default {
  name: "mtDialog",
  components: {MtSvg},
  props: {
    modelValue: {
      type: Boolean,
      default: false
    },
    size: String,
    openedByDefault: Boolean
  },
  methods: {
    closeModal() {
      this.$emit('update:modelValue', false)
      this.$emit('close')
    }
  }
}
</script>

<style
    lang="scss"
    src="./mtDialog.scss"
/>