.mt-dialog {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
  }

  &__window {
    max-height: calc(100vh - 50px);
    background: #FFFFFF;
    border-radius: 8px;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 150px;
    width: calc(100% - 30px);
    max-width: 1000px;

    &__wrapper {
      overflow-y: auto;
      padding: 30px;
      width: 100%;

    }
    .progress-bar {
      margin-top: 30px;
    }
  }
  &_md {
    .mt-dialog {
      &__window {
        width: 600px;
        max-width: calc(100% - 30px);
      }
    }
  }
  &_sm {
    .mt-dialog {
      &__window {
        width: 350px;
        max-width: calc(100% - 30px);
      }
    }
  }

  &-enter-from, &-leave-to {
    opacity: 0;

    .modal__window {
      transform: scale(.8);
    }
  }

  &-enter-to {
    opacity: 1;

    .modal__window {
      transform: scale(1);
    }
  }

  &-enter-active, &-leave-active {
    transition: opacity .3s ease;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    transition: .3s transform;
    z-index: 3;
    cursor: pointer;

    &:hover{
      transform: rotate(90deg);
    }
  }

  .expander__item {
    &:after {
      content: '';
      position: absolute;
      left: -30px;
      width: calc(100% + 60px);
      bottom: 0;
      border-bottom: 2px solid #DFE0EB;
    }
  }
}

.expert-assessment_mt-dialog {
  .expert-assessment {
    margin: -30px;
    width: unset;
    max-width: unset;
  }

  .mt-dialog {
    &__window {
      border: 1px solid #DFE0EB;
      border-radius: 8px;
    }
  }
}

@media all and (max-width: 575px) {
  .expert-assessment_mt-dialog {
    .mt-dialog {
      &__window {
        max-height: unset;
        height: 100%;
        border: none;
        border-radius: 0;
        padding: 50px 20px;
      }
    }
  }
}