<template>
  <div class="events">
    <div class="events__list">
      <mtTable>
        <template #actions>
          <mtFilters
              style="margin-left: auto;"
              v-model:cols="cols"
              v-model:filters="filters"
              v-model:sort="sort"
              v-model:search="search"
              :filtersSettings="filtersSettings"
              @change="updateEventsList"
          ></mtFilters>
        </template>
        <template #body>
          <div class="events__header">
            <template
                v-for="(col, index) in cols"
                :key="index"
            >
              <div
                  v-if="col.visible"
                  class="events__header-item"
                  :data-index="index"
              >
                {{ col.title }}
              </div>
            </template>
          </div>
          <template v-if="eventsList.length > 0">
            <div
                class="events__item"
                v-for="(event, index) in eventsList"
                :key="index"
            >
              <div
                  v-if="cols[0].visible"
                  data-index="0"
              >
                {{ $helpersFunc.formattedDate(event.created_at) }}
              </div>
              <div
                  v-if="cols[1].visible"
                  data-index="0"
              >
                {{ event.category }}
              </div>
              <div
                  v-if="cols[2].visible"
                  data-index="0"
              >
                {{ event.name }}
              </div>
              <div
                  v-if="cols[3].visible"
                  data-index="0"
              >
                {{ event.object || "---" }}
              </div>
              <div
                  v-if="cols[4].visible"
                  data-index="0"
              >
                {{ event.status }}
              </div>
              <div
                  v-if="cols[5].visible"
                  data-index="0"
              >
                {{ event.description || "-" }}
              </div>
              <div
                  v-if="cols[6].visible"
                  data-index="0"
              >
                {{ event.email }}
              </div>
              <div
                  v-if="cols[7].visible"
                  data-index="0"
              >
                {{ event.full_name }}
              </div>
              <div
                  v-if="cols[8].visible"
                  data-index="0"
              >
                {{ event.role.name }}
              </div>
              <div
                  v-if="cols[9].visible"
                  data-index="0"
              >
                {{ event.ip_address || "---" }}
              </div>
            </div>
          </template>
          <template>
            <div
                class="events__item_preloader"
                v-for="(preloader, index) in perPage"
                :key="index"
            />
          </template>
        </template>
        <template #footer>
          <mtPagination
              v-model:page="page"
              v-model:perpage="perPage"
              :total="total"
              style="margin-left: auto;"
              @change="updateEventsList"
          />
        </template>
      </mtTable>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import mtTable from '@/components/UI/mtTable/mtTable.vue'
import mtPagination from '@/components/UI/mtPagination/mtPagination.vue'
import mtFilters from '@/components/UI/mtFilters/mtFilters.vue'

export default {
  components: {
    mtTable,
    mtPagination,
    mtFilters
  },
  props: {},
  created() {
    this.initBreadcrumbs();
    this.getEventsList()
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
  data() {
    return {
      titleActiveSection: 'События',
      titlesPath: [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'События',
          routeName: 'Events',
          query: {},
        },
      ],
      eventsList: [],
      page: 1,
      perPage: 5,
      total: 1,
      filters: [],
      filtersSettings: [],
      cols: [
        {
          title: "Дата и время",
          stub: "created_at",
          visible: true,
          filter: "datetime",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Категория",
          stub: "category",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Событие",
          stub: "name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Объект",
          stub: "objet",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Результат",
          stub: "status",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Детали",
          stub: "description",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Пользователь",
          stub: "email",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "ФИО",
          stub: "full_name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Роль",
          stub: "role",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "IP Адрес",
          stub: "ip_address",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
      ],
      sort: {},
      search: {},
    }
  },
  methods: {
    ...mapActions([
      'getEvents',
      'setTitlesPath',
      'setTitleActiveSection'
    ]),
    getEventsList() {

      let params = {
        page: this.page,
        perPage: this.perPage
      }

      params = {...params, settings: {...this.sort}}
      if (this.filters.length > 0) {
        params = {
          ...params, settings: {
            ...params.settings,
            filters: this.filters
          }
        }
      }
      if (!!this.search.value) {
        params.settings['value'] = this.search.value
        if (!!this.search.search) params.settings['search'] = this.search.search

      }


      this.getEvents(params)
          .then(res => {

            this.eventsList = res.data.data
            this.total = res?.data?.meta?.total
            this.filtersSettings = res.data.meta.filters

          })
    },
    updateEventsList() {
      this.respondentsList = []
      this.getEventsList()
    },
    getFormattedDate(timestamp) {
      let d = new Date(timestamp)
      return d
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  }
}
</script>

<style lang="scss">
.events {
  &__filters {
    width: 100%;
    display: flex;

    &-group {
      margin-left: auto;
      display: flex;
    }
  }

  &__header {
    display: flex;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      height: 46px;
      background-color: #00788C;
      color: #fff;
      flex-shrink: 0;

      &:nth-child(1) {
        min-width: 120px;
        width: 7%;
      }

      &:nth-child(2) {
        min-width: 140px;
        width: 9%;
      }

      &:nth-child(3) {
        min-width: 160px;
        width: 10%;
      }

      &:nth-child(4) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(5) {
        min-width: 120px;
        width: 8%;
      }

      &:nth-child(6) {
        min-width: 160px;
        width: 6%;
      }

      &:nth-child(7) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(8) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(9) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(10) {
        min-width: 180px;
        width: 12%;
      }
    }
  }

  &__download {
    background-color: #F0F1F7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 36px;
    height: 32px;
    cursor: pointer;

    & svg {
      width: 32px;
    }
  }

  &__item {
    display: flex;
    min-height: 46px;
    align-items: stretch;
    font-size: 14px;

    &:hover {
      & > div {
        background: #F9FAFC;
      }
    }

    &:last-child {
      & > div {
        border-bottom: none !important;
      }
    }

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-bottom: solid 1.5px #DFE0EB;
      padding: 5px 0;

      &:nth-child(1) {
        min-width: 120px;
        width: 7%;
      }

      &:nth-child(2) {
        min-width: 140px;
        width: 9%;
      }

      &:nth-child(3) {
        min-width: 160px;
        width: 10%;
      }

      &:nth-child(4) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(5) {
        min-width: 120px;
        width: 8%;
      }

      &:nth-child(6) {
        min-width: 160px;
        width: 6%;
      }

      &:nth-child(7) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(8) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(9) {
        min-width: 180px;
        width: 12%;
      }

      &:nth-child(10) {
        min-width: 180px;
        width: 12%;
      }
    }

    &_preloader {
      width: calc(100% - 20px);
      height: 80px;
      margin: 10px;
      background: #F0F1F7;
      opacity: 1;
      animation: 1s ease-in-out 1s infinite blick;
    }
  }
}

@keyframes blick {
  50% {
    opacity: .4;
  }
}
</style>