<template>
  <div
      class="mt-breadcrumbs"
      :key="component"
  >
    <span
      v-for="(breadcrumb, index) in breadcrumbs"
      :key="index"
      class="mt-breadcrumbs__crumb"
      @click="routeTo({ breadcrumb, })"
  >
      {{ breadcrumb.value }}
    </span>
  </div>
</template>

<script>
export default {
  components: {},

  props: {},
  data: () => ({
    component: 0,
  }),
  computed: {
    breadcrumbs() {
      return this.$store.getters['breadcrumbs/breadcrumbs'];
    },
  },

  watch: {},
  methods: {
    /* GETTERS */
    /* SETTERS */
    /* HANDLERS */
    routeTo({breadcrumb,}) {


      if (breadcrumb.link) {
        this.$router.push({
          name: breadcrumb.link,
          params: breadcrumb.params,
          query: breadcrumb.query,
        });
      }
    },

    /* HELPERS */
    /* ACTIONS */
  },

  created() {
  },
  mounted() {
  },
}
</script>

<style lang="scss">
.mt-breadcrumbs {
  &__crumb {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00788C;
    cursor: pointer;

    &::after {
      content: ' / ';
    }

    &:last-child::after {
      content: '';
    }
  }
}
</style>