<template>
  <div class="calendar">
    <table class="table" :key="tableCount">
      <thead>
        <tr>
          <td>
            <button v-on:click="decrease">
              &lt;
            </button>
          </td>

          <td colspan="5"> {{ monthes[ month ] }} {{ year }} </td>
          <td>
            <button v-on:click="increase">
              &gt;
            </button>
          </td>
        </tr>

        <tr >
          <td v-for="( d, index ) in day" :key="index">{{d}}</td>
        </tr>
      </thead>

      <tbody>
        <tr v-for="( week, index ) in calendar" :key="index">
          <td
            v-for="( day, index ) in week" :key="index"
            :class="{ day : Boolean( day.index ), weekend : day.weekend, selected : day.selected }"
            :style="{ /*'color' : day.weekend, 'background-color' : day.current*/ }"
            @click="selectDay( day.index )"
          >
            {{ day.index }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {

    props: {
      name : {
        type      : String,
        required  : true
      },

      storage : {
        type      : String,
        required  : true,
      }
    },

    data () {
      return {
        month         : new Date().getMonth(),
        year          : new Date().getFullYear(),
        c_month       : new Date().getMonth(),
        c_year        : new Date().getFullYear(),
        c_day         : new Date().getDate(),
        dFirstMonth   : '1',
        day           : [ "Пн", "Вт","Ср","Чт","Пт","Сб", "Вс" ],
        monthes       : [ "Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Авуст","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
        date          : new Date(),
        tableCount    : 0,
      }
    },

    computed : {
      ...mapGetters( [ 'planEditdataExd', 'testEditdataExd', ] ),

      calendar () {


        var days = [];
        var week = 0;
        days[ week ] = [];
        var dlast = new Date( this.year, this.month + 1, 0 ).getDate();

        for ( let i = 1; i <= dlast; i++ )
        {
          if ( new Date( this.year, this.month, i ).getDay() != this.dFirstMonth )
          {
            let a = {
              index : i
            };

            days[ week ].push( a );

            if (
              ( i == this.c_day )
                &&
              ( this.year == this.c_year )
                &&
              ( this.month == this.c_month )
            )
            {
              a.selected = true
            }

            if ( new Date( this.year, this.month, i ).getDay() == 6 || new Date( this.year, this.month, i ).getDay() == 0 )
            {
              a.weekend = true;
            }
          }
          else
          {
            week++;

            days[ week ] = [];
            let a = {
              index : i
            };

            days[ week ].push( a );

            if (
              ( i == this.c_day )
                &&
              ( this.year == this.c_year )
                &&
              ( this.month == this.c_month )
            )
            {
              a.selected = true
            }

            if ( new Date( this.year, this.month, i ).getDay() == 6 || new Date( this.year, this.month, i ).getDay() == 0 )
            {
              a.weekend = true;
            }
          }
        }

        if ( days[ 0 ].length > 0 )
        {
          for ( let i = days[ 0 ].length; i < 7; i++ )
          {
            days[ 0 ].unshift( {} );
          }
        }

        this.dayChange;



        return days;
      },
    },

    methods:{
      ...mapActions( [ 'set_date_from', 'set_date_to' ] ),

      decrease : function () {
        this.month--;

        if ( this.month < 0 )
        {
          this.month = 12;
          this.month--;
          this.year--;
        }
      },

      increase : function () {
        this.month++;

        if ( this.month > 11 )
        {
          this.month = -1;
          this.month++;
          this.year++;
        }
      },

      dayChange : function () {
        if( this.dFirstMonth == 0 )
        {
          this.day = [ "Su", "Mn", "Tu","We","Th","Fr","Sa" ];
        }
        else
        {
          this.day = [ "Mn", "Tu","We","Th","Fr","Sa", "Su" ];
        }
      },

      selectDay : function ( dayIndex, hide = true ) {
        if ( dayIndex )
        {
          // FIXME Logs muss später entfernt werden





          this.$lodash.forEach(
            this.calendar,

            ( week ) => {




              this.$lodash.forEach(
                week,

                ( day ) => {



                  day.selected = day.index == dayIndex ? true : false;
                }
              );
            }
          );

          this.c_year   = this.year;
          this.c_month  = this.month;
          this.c_day    = dayIndex;

          let year  = this.c_year;
          let month = parseInt( this.c_month ) < 9 ? '0' + ( parseInt( this.c_month ) + 1 ) : parseInt( this.c_month ) + 1;
          let day   = parseInt( this.c_day ) < 10 ? '0' + dayIndex : dayIndex;





          /*if ( !year )
          {
            year = new Date().getFullYear();
          }

          if ( !month )
          {
            month = new Date().getMonth();
          }

          if ( !day )
          {
            day = new Date().getDate();
          }*/

          this[ this.storage ][ this.name ] = `${year}-${month}-${day}`;

          this.tableCount++;

          if ( hide )
          {
            this.set_date_from( false );
            this.set_date_to( false );
          }
        }
        else
        {
          // FIXME Logs muss später entfernt werden

        }
      },
    },

    mounted () {
      let currentDate = this[ this.storage ][ this.name ] ? this[ this.storage ][ this.name ].split( ' ' )[ 0 ].split("-") : false;



      if ( currentDate )
      {
        this.year   = this.c_year  = parseInt( currentDate[ 0 ] );
        this.month  = this.c_month = parseInt( currentDate[ 1 ] ) - 1;
        this.c_day  = parseInt( currentDate[ 2 ] );

        this.selectDay( this.c_day, false );




      }


    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .calendar {
    /*margin-top: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;*/

    position    : absolute;
    margin-top  : 5px;
  }
  .table {
    border-collapse: collapse;
    float: left;
    width: 180px;
    table-layout: fixed;
  }
  .format-week {
    float:right;
  }
  .table td {
    text-align:center;
  }
  .table thead tr:last-child {
    background-color: #dedada;
  }

  .day {
    cursor : pointer;
  }

  .selected {
    color             : #FFFFFF !important;
    background-color  : #6DB2BD;
  }

  .weekend {
    color : #6DB2BD;
  }

</style>