<template>
  <mt-loading-animation-linear v-if="!loaded"/>
  <div
      v-else
      class="mt-data-table"
      :class="{'mt-data-table_loading': respondentsLoading}"
  >
    <div class="mt-data-table__header">
      <button
          class="expert-plan__export-btn mt-button mt-button_icon mt-button_light-gray"
          @click="exportUsers()"
          title="Экспорт"
      >
        <svg
            width="21"
            height="23"
            viewBox="0 0 21 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
          <path
              d="M16.9955 7.9353H13.5586V9.97458H16.9955C18.0175 9.97458 18.8105 10.4966 18.8105 10.946V19.9888C18.8105 20.4381 18.0175 20.9602 16.9955 20.9602H4.00463C2.98261 20.9602 2.18967 20.4381 2.18967 19.9888V10.9463C2.18967 10.497 2.98261 9.97492 4.00463 9.97492H7.44081V7.93564H4.00463C1.84333 7.93564 0.150391 9.25811 0.150391 10.9463V19.9891C0.150391 21.6777 1.84333 22.9998 4.00463 22.9998H16.9958C19.1568 22.9998 20.8501 21.6773 20.8501 19.9891V10.9463C20.8497 9.25777 19.1568 7.9353 16.9955 7.9353Z"
              fill="#00788C"
          />
          <path
              d="M7.48238 5.0829C7.74341 5.0829 8.0041 4.98332 8.20327 4.78415L9.47985 3.50756V7.93551V9.97479V13.8814C9.47985 14.4445 9.93631 14.901 10.4995 14.901C11.0627 14.901 11.5191 14.4445 11.5191 13.8814V9.97479V7.93551V3.43856L12.8647 4.78415C13.0639 4.98332 13.3249 5.0829 13.5856 5.0829C13.8463 5.0829 14.1073 4.98332 14.3065 4.78415C14.7048 4.38615 14.7048 3.74038 14.3065 3.34238L11.2622 0.298074C11.063 0.098905 10.8023 0 10.5416 0C10.5389 0 10.5365 0 10.5338 0C10.5311 0 10.5287 0 10.526 0C10.2653 0 10.0046 0.098905 9.80546 0.298074L6.76116 3.34238C6.36282 3.74038 6.36282 4.38615 6.76116 4.78415C6.96067 4.98332 7.22135 5.0829 7.48238 5.0829Z"
              fill="#00788C"
          />
        </svg>
      </button>
      <mtFilters
          style="margin-left: auto;"
          v-model:cols="cols"
          v-model:filters="computedFilters"
          v-model:sort="sort"
          v-model:search="search"
          :filtersSettings="filtersSettings"
          @change="updateExpPlanList"
      />
    </div>
    <div class="mt-data-table__body">
      <div
          class="mt-data-table__show-more"
          v-if="hasScroll"
          :class="{'mt-data-table__show-more_available': showInfo}"
          @touchmove.prevent="scrollHorizontal()"
      >
        Прокрутите вправо, чтобы увидеть больше
      </div>
      <div
          class="mt-data-table__wrapper"
          ref="table"
          v-dragscroll
          @scroll.prevent="scrollHorizontal"
      >
        <table>
          <thead>
          <tr>
            <th>
              <div class="mt-data-table__cell">
                Респондент
                <mt-svg
                    name="alignbottom"
                    :class="['mt-data-table__sort-icon ml-1', {
                          'mt-data-table__sort-icon--active': respondentsSortingBy === 'desc'
                        }]"
                    @click="toggleRespondentsSorting"
                />
              </div>
            </th>
            <th>Возраст</th>
            <template
                v-for="(test, index) in computedHeaderTestings"
                :key="index"
            >
              <th class="mt-data-table__border-left">
                <div class="mt-data-table__cell">
                  <mtSvg
                      class="mt-data-table__header__icon mr-1"
                      color="#00788C"
                      :name="test.icon"
                      @click="showTaskDialog(test.uuid)"
                  />
                  {{ test.title }}
                  <button
                      v-if="test.hasOwnProperty('criterias') && test.criterias.length"
                      @click="toggleCriteriasDisplay(test)"
                  >
                    <div
                        class="mt-data-table__header__toggler"
                        :class="{'mt-data-table__header__toggler_active': test.uuid === activeTestColumn}"
                    />
                  </button>
                </div>
              </th>
              <th
                  v-show="test.uuid === activeTestColumn"
                  v-for="(criteria, index) in test.criterias"
                  :key="index"
              >
                {{ criteria.name }}
              </th>
            </template>
            <th class="mt-data-table__border-left">Балл</th>
            <th class="mt-data-table__border-left">Оценка</th>
          </tr>
          </thead>
          <tbody>
          <tr
              v-for="(respondent, index) in computedRespondents"
              :key="index"
          >
            <td>
              <component
                  :is="respondentNameTag"
                  :to="{
                    name: 'RespondentCabinet',
                    params: {
                      respondentUuid: respondent.uuid
                    }
                  }"
                  class="mt-data-table__cell_fullname"
              >
                {{ respondent.fullName }}
              </component>
            </td>
            <td>{{ respondent.age }}</td>
            <template v-for="(test, index) in respondent.tests">
              <td
                  v-if="test.type === 'confirmation'"
                  class="mt-data-table__border-left"
                  :key="index"
              >
                <mtCheckbox
                    class="ml-auto mr-auto"
                    disabled="disabled"
                    v-model="test.isChecked"
                />
              </td>
              <template v-else>
                <td
                    :key="index"
                    class="mt-data-table__border-left"
                >
                  <div class="mt-data-table__cell">
                    <template v-if="!test.sessionUuid">
                      <div class="mt-data-table__cell__more">
                        <template v-if="!test.currentScore && !test.totalScore">
                          -
                        </template>
                        <template v-else>
                          {{ !test.isSet ? '-' : test.currentScore }}
                          из
                          {{ test.totalScore }}
                        </template>
                      </div>
                    </template>
                    <template v-else>
                      <component
                          class="mt-data-table__cell__more"
                          :is="test.type === 'expert' && !assessmentPlan.isCompleted ? 'button' : 'div'"
                          :class="{'mt-data-table__cell__more_failed': test.isFailed, 'mt-data-table__cell__more_expert': test.type === 'expert' && !assessmentPlan.isCompleted}"
                          @click="openTaskModal(test, respondent)"
                      >
                        <template v-if="!test.currentScore && !test.totalScore">
                          -
                        </template>
                        <template v-else>
                          {{ !test.isSet && !test.currentScore ? '-' : test.currentScore }} из {{
                            test.totalScore
                          }}
                        </template>
                      </component>
                      <button
                          class="ml-2"
                          v-if="test.reports.length"
                          @click="openDownloadReportModal(respondent.uuid, test)"
                      >
                        <mtSvg
                            name="download"
                            color="#00788C"
                        />
                      </button>
                    </template>
                    <img
                        class="mt-data-table__cell__notification"
                        src="/img/icons/notification.svg"
                        v-if="test.hasNotifications"

                    />
                  </div>
                </td>
                <td
                    v-show="test.uuid === activeTestColumn"
                    v-for="(criteria, criteriaIndex) in test.criterias"
                    :key="criteriaIndex"
                >
                  <template v-if="criteria.currentScore === 0 && criteria.maxScore === 0">
                    -
                  </template>
                  <template v-else>
                    {{ !test.isSet  ? '-' : criteria.currentScore }} из {{ criteria.maxScore }}
                  </template>
                </td>
              </template>
            </template>
            <td class="mt-data-table__border-left">{{ respondent.totalScore }}</td>
            <td class="mt-data-table__border-left">{{ respondent.grade }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <mt-pagination
          class="mt-data-table__pagination"
          v-if="respondentsMeta?.total"
          :total="respondentsMeta?.total"
          v-model:page="respondentsMeta.current_page"
          v-model:perpage="respondentsMeta.per_page"
          @change="loadRespondents"
      />
    </div>

  </div>
  <teleport to="body">
    <download-report-popover
        :visibility="isDownloadReportVisible"
        :reports="clipboardTask?.reports"
        @close="closeDownloadReportModal"
        @download="downloadReport"
    />
    <mt-dialog
        class="custom-assessment"
        size="md"
        v-model="taskDialog"
    >
      <mt-loading-animation-linear v-if="taskLoading"/>
      <template v-else>
        <h3 class="custom-assessment__expander__title">{{ chosenTask.name }}</h3>
        <p
            class="custom-assessment__expander__text"
            v-show="chosenTask.description"
        >
          {{ chosenTask.description }}</p>
        <template v-if="chosenTask.materials.length">
          <h2 class="custom-assessment__expander__file-title">Файлы</h2>
          <div class="card mt-2">
            <file-download-card :links="chosenTask.materials"/>
          </div>
        </template>
      </template>
    </mt-dialog>
  </teleport>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import MtCheckbox from "@/components/UI/mtCheckbox/index.vue";
import MtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import MtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import MtSvg from "@/components/UI/mtSvg/index.vue";
import api from "@/network";
import { dragscroll } from "vue-dragscroll";
import { taskSingleAdapter } from "@/adapters/assessmentPlans/tasks/tasks.adapter";
import MtDialog from "@/components/UI/mtDialog/mtDialog.vue";
import FileDownloadCard from "@/components/workspace/assessmentPlans/plans/fileDownloadCard/index.vue";
import MtLoadingAnimationLinear from "@/components/UI/mtLoadingAnimationLinear/mtLoadingAnimationLinear.vue";
import { roundStringNumberWithoutTrailingZeroes } from "@/services/Mathe";
import DownloadReportPopover from "@/components/workspace/testLibrary/results/DownloadReportPopover/index.vue";
import externalApi from "@/network/external";

export default {
  name: "ExpertBillingTable",
  components: {
    DownloadReportPopover,
    MtLoadingAnimationLinear,
    FileDownloadCard,
    MtDialog,
    MtSvg,
    MtFilters,
    MtPagination,
    MtCheckbox
  },
  directives: { dragscroll },
  data: () => ({
    cols: [],
    filtersSettings: {},
    chosenTask: {},
    sort: {},
    search: {},
    customFilters: [],

    clipboardUserUuid: null,
    clipboardTask: null,
    taskDialog: false,
    taskLoading: true,
    showInfo: true,
    hasScroll: false,
    activeTestColumn: null,
    respondentsSortingBy: 'asc',
    respondentsLoading: false,
    isDownloadReportVisible: false,
    activeCustomAssessment: {},
    loaded: false
  }),
  computed: {
    ...mapGetters(['USER']),
    ...mapState('assessmentPlans/plan/task', ['mark', 'marksChanged']),
    ...mapState('assessmentPlans/plan', ['assessmentPlan', 'respondents', 'respondentsMeta', 'filters']),

    computedRespondents() {
      if (!this.respondents.length) return [];

      return [...this.respondents].sort((a, b) => {
        if (this.respondentsSortingBy === 'asc') {
          if (a.fullName.toLowerCase() < b.fullName.toLowerCase()) {
            return -1;
          }
          if (a.fullName.toLowerCase() > b.fullName.toLowerCase()) {
            return 1;
          }
          return 0;
        } else {
          if (a.fullName.toLowerCase() > b.fullName.toLowerCase()) {
            return -1;
          }
          if (a.fullName.toLowerCase() < b.fullName.toLowerCase()) {
            return 1;
          }
          return 0;
        }

      })

    },

    computedHeaderTestings() {
      if (this.respondents.length === 0) return [];
      return this.respondents[0].tests;
    },

    respondentNameTag() {
      return this.USER.role === 'admin' ? 'router-link' : 'span';
    },

    computedFilters: {
      get() {
        return this.filters
      },
      set(newValue) {
        this.updateFilters(newValue)
      }
    }
  },
  methods: {
    ...mapActions('assessmentPlans/plan', ['fetchRespondents', 'completePlan', 'resumePlan']),
    ...mapActions('assessmentPlans/plan/task', ['fetchTask']),
    ...mapMutations('assessmentPlans/plan', ['updateFilters', 'updateStore']),

    async downloadReport({ format, variants, }) {
      const payload = [
        {
          format,
          variants,
          uuid: this.clipboardTask.sessionUuid,
          user_uuid: this.clipboardUserUuid,
        }
      ];
      const response = await api.post('export/results', payload);
      if (response.data?.url) {

        const reportLink = response.data.url;
        const type = format;
        const isGroup = variants.length > 1;

        try {
          if (isGroup) {
            window.open(reportLink, "_blank");
          } else {
            const response = await externalApi.get(`${ reportLink }`, {
              responseType: 'blob',
            });

            if (response.data.size) {
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement('a');

              link.href = url;

              let fileName = `results__${ new Date().toLocaleDateString() }-${ new Date().toLocaleTimeString().replace(/:/g, '_') }.${ type }`;

              link.setAttribute('download', fileName);
              document.body.appendChild(link);
              link.click();
            } else {
              this.$toast.error('Отчёт не найден');
            }
          }
        } catch (e) {
          return e;
        }
      }
    },

    async showTaskDialog(taskUuid) {
      this.taskDialog = true;
      this.taskLoading = true;

      const { data } = await this.fetchTask({
        uuidPlan: this.$route.params.planUuid,
        uuid: taskUuid
      });

      this.chosenTask = taskSingleAdapter(data.data);
      this.taskLoading = false;
    },

    async loadRespondents() {
      let params = {
        page: this.respondentsMeta.current_page,
        per_page: this.respondentsMeta.per_page,
        settings: { ...this.sort }
      };

      if (this.sort.order?.length) {
        this.respondentsSortingBy = this.sort.order
      }

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        };
      }

      if (this.filterByResult) {
        params = {
          ...params,
          result: this.filterByResult,
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      if (!this.marksChanged) this.respondentsLoading = true;

      await this.fetchRespondents({
        uuid: this.$route.params.planUuid,
        params: params
      })
          .finally(() => {
            this.respondentsLoading = false;
            this.updateStore({ entity: 'marksChanged', payload: false })
          });
    },

    scrollHorizontal() {
      if (this.$refs.table.scrollLeft > 0) {
        this.showInfo = false;
      }
    },

    toggleRespondentsSorting() {
      if (this.respondentsSortingBy === 'asc') {
        this.respondentsSortingBy = 'desc'
      } else {
        this.respondentsSortingBy = 'asc'
      }
    },

    exportUsers() {
      api.get(`export/plans/${ this.$route.params.planUuid }`, {
        responseType: 'blob'
      })
          .then((response) => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');

            link.href = url;

            let fileName = `Таблица_ведомости__${new Date().toLocaleDateString()}-${new Date().toLocaleTimeString().replace(/:/g, '_')}.xlsx`;

            link.setAttribute('download', fileName); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
    },

    toggleCriteriasDisplay(test) {
      if (this.activeTestColumn === test.uuid) {
        this.activeTestColumn = null;
        return;
      }
      this.activeTestColumn = test.uuid
    },

    updateExpPlanList() {
      this.respondentsMeta.current_page = 1;
      this.loadRespondents();
    },

    openDownloadReportModal(userUuid, task) {
      this.isDownloadReportVisible = true;
      this.clipboardUserUuid = userUuid;
      this.clipboardTask = task;
    },

    closeDownloadReportModal() {
      this.isDownloadReportVisible = false
    },

    openTaskModal(test, respondent) {
      this.activeCustomAssessment = test;

      const taskRoute = this.$route.name === 'ExpRespAssessmentPlanSingle' ? 'ExpertTaskSingle' : this.$route.name === 'AssessmentPlanSingleResults' ? 'PlanSingleResultsExpertTaskSingle' : ''

      this.$router.push({
        name: taskRoute,
        params: {
          planUuid: this.$route.params.planUuid,
          taskUuid: test.uuid,
          respondentUuid: respondent.uuid
        }
      })
    }

  },
  mounted() {
    this.loadRespondents()
        .then(() => {
          let table = this.$refs.table;
          if (table) {
            const verifyScroll = () => {
              this.hasScroll = table.scrollWidth - 20 > table.clientWidth;
            }
            verifyScroll();
            window.addEventListener('resize', verifyScroll);
          }
        })
        .finally(() => {
          this.loaded = true
        })
  },
  watch: {
    messageCounter() {
      this.activeCustomAssessment.hasNotifications = false;
    },
    mark(val) {
      if (this.marksChanged) {
        this.loadRespondents()
      }
      let totalScore = val.scales ? val.scales.reduce((acc, scale) => {
        return acc + scale.value
      }, 0) : [];
      this.activeCustomAssessment.currentScore = roundStringNumberWithoutTrailingZeroes(totalScore);
    },
    filters() {
      this.loadRespondents()
    },
    respondentsMeta(newValue) {
      if (!newValue) return

      this.cols = newValue.filters.map(x => {
        return {
          title: x.title,
          stub: x.field,
          visible: true,
          filter: x.type,
          filterable: true,
          sortable: true,
          showable: true,
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.mt-data-table {
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  position: relative;
  width: fit-content;
  max-width: 100%;
  transition: .3s opacity;

  &__body {
    position: relative;
  }

  &_loading {
    opacity: 0.7;
    pointer-events: none;
  }

  &__sort-icon {
    cursor: pointer;
    transition: transform .3s;

    &--active {
      transform: rotate(180deg);
    }
  }

  &__cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    &_fullname {
      white-space: nowrap;
    }

    &__notification {
      width: 16px;
      margin-left: 8px;
    }
    &__more {
      color: $black;
      flex-shrink: 0;
      &_failed {
        color: #C24020;
      }
      &_expert {
        text-decoration: underline;
      }
    }
  }

  a.mt-data-table__cell_fullname {
    color: #000;
    text-decoration: underline;
    transition: color .3s;

    &:hover {
      color: #00788C;
    }
  }

  &__edit {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    svg {
      fill: $green;
    }
  }
  &__show-more {
    position: absolute;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right, transparent, #ffffff);
    top: 0;
    right: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    pointer-events: none;
    &_available {
      opacity: 1;
      visibility: visible;
    }
  }
  &__header {
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    &__toggler {
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 8px solid $green;
      margin-left: 10px;
      &_active {
        transform: scale(-1);
      }
    }
  }

  &__wrapper {
    overflow-x: auto;
  }

  th, td {
    padding: 12px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #252733;
    vertical-align: top;
  }

  th {
    white-space: nowrap;
    background: #F0F1F7;
    box-shadow: inset 0px -1px 0px #E6E7E9;
  }

  tbody tr > * {
    border-bottom: 1px solid #DFE0EB;
    min-width: 130px;
  }

  table {
    width: 100%;
  }

  &__header {
    &__icon {
      cursor: pointer;
      svg {
        width: 20px;
        height: 18px;
      }

      &_pre {
        margin-right: 16px;
      }
    }
  }

  &__border-right {
    border-right: 2px solid #E6E7E9;
  }

  &__border-left {
    border-left: 2px solid #E6E7E9;
  }

  &__pagination {
    justify-content: flex-end;
    min-height: 60px;
  }
}

.expert-plan {
  &__export-btn {
    background: #F0F1F7;
    border-radius: 8px;
    height: 33px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.custom-assessment {
  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    margin-bottom: 15px;
  }
  &__expander {
    margin-bottom: 20px;

    &__title {
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
      margin-bottom: 30px;
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #252733;
      white-space: pre-wrap;
    }

    &__file-title {
      font-weight: 600;
      margin-top: 30px;
    }

    .expander {
      &__item {
        &__header {
          padding-top: 0;
          max-width: calc(100% - 50px);
          @include max-xs{
            flex-wrap: nowrap;
            max-width: 100%;
          }
        }
      }
    }
  }
}

</style>