<template>
  <div class="footer">
    <div class="footer__copyright">© MainTest 2022 Все права защищены</div>
    <router-link
        class="footer__link"
        to="/support"
        v-show="!isSupportPage"
    >
      {{ contactsText }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Footer",
  computed: {
    contactsText() {
      return window.screen.availWidth < 768 ? 'Поддержка' : 'Связаться с поддержкой'
    },
    isSupportPage() {
      return this.$route.fullPath.includes('/support')
    }
  }
}
</script>

<style
    lang="scss"
    scoped
>
.footer {
  padding: 0 15px 40px;
  display: flex;
  justify-content: center;

  &__copyright {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
    margin-bottom: 15px;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #00788C;
    margin-left: 15px;
  }

  @include max-sm {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer {
      &__link {
        margin: 0;
      }
    }
  }
}
</style>
