<template>
  <div class="header">
    <div class="header__desktop">
      <div class="header__page-info">
        <img
            class="header__page-info__logo"
            src="/img/logo.svg"

        />
        <div class="header__page-info__details">
          <h2 class="header__page-info__title">Личный кабинет</h2>
          <Breadcrumbs/>
        </div>
      </div>
      <div class="header__user-block">
        <div class="header__user-block__currency header__user-block_item">
          <span
              class="header__user-block__currency_text"
              v-if="balance && reminder"
          >
          {{ `${balance} / ${reminder} Ψ` }}
        </span>
        </div>
        <div
            class="header__branch"
            v-if="!!currentBranch"
        >
          <div style="color: #9FA2B4; font-size: 14px;">Филиал</div>
          <div>{{ currentBranch.name }}</div>
        </div>
        <template v-if="USER">
          <div class="header__user-info">
            <h4 class="header__user-info__name">{{ USER.full_name }}</h4>
            <p class="header__user-info__role">{{ rolesTranslation(USER.role) }}</p>
          </div>

          <mt-dropdown ref="actionsDropdown">
            <template #header>
              <div class="header__user-block__user-settings header__user-block_item">
                <div class="header_user-settings_logo">
                  <img
                      class="logo-icon-img"
                      src="../../assets/img/png/user__logo.png"
                      alt="Пользователь"
                  />
                </div>
                <div class="header_user-settings_vector">
                  <img
                      src="../../assets/img/svg/user-block_vector__logo.svg"
                      alt="Настройки пользователя"
                      :class="{ 'popup-open__vector': isOpen }"
                  />
                </div>

              </div>
            </template>
            <template #body>
              <div class="header_user-settings__popup">
                <div class="header_user-settings__popup_wrapper">
                  <mtSelectSolid
                      class="header__branch-select"
                      v-if="branches && branches.length > 0"
                      theme="border"
                      v-model="currentBranch"
                      :items="branches"
                      @change="changeBranch"
                  />
                  <div
                      class="settings-popup__actions"
                      @click="$refs.actionsDropdown.toggleDropdown"
                  >
                    <router-link
                        v-if="USER?.role !== 'admin'"
                        class="settings-popup__action logout"
                        :to="{
                          name: 'UserCabinet'
                        }"
                    >
                      <div class="icon">
                        <mt-svg
                            name="userEdit"
                            color="#00788C"
                        />
                      </div>
                      <div class="title">Кабинет</div>
                    </router-link>
                    <div
                        class="settings-popup__action logout"
                        @click="activateLogOutConfirmation"
                    >
                      <div class="icon">
                        <img
                            class="icon-logout"
                            src="@/assets/img/svg/logout-icon.svg"
                        />
                      </div>
                      <div class="title">Выйти из системы</div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </mt-dropdown>
        </template>
      </div>
    </div>
    <div class="header__mobile">
      <div class="header__mobile__main">
        <div
            class="header__menu-icon-btn"
            @click="toggleMenu"
            :class="{'header__menu-icon-btn_active': isOpenMenu}"
        ><span></span><span></span><span></span></div>
        <div class="header__mobile__logo"><img src="/img/full-logo.svg"/></div>
        <div
            class="goBack"
            v-if="!isHomePage && !isOpenMenu"
            @click="goBack"
        ><img src="@/assets/img/png/close.png"/></div>
        <div
            class="header__menu"
            :class="{'header__menu_active': isOpenMenu}"
        >
          <div
              class="header__menu__header"
              v-if="USER"
          ><img
              class="header__menu__avatar"
              src="../../assets/img/png/user__logo.png"
              alt="Пользователь"
          />
            <div class="header__menu__text">
              <div class="header__menu__name">{{ USER.full_name }}</div>
              <div class="header__menu__email">{{ USER.email }}</div>
            </div>
          </div>
          <div class="header__menu__nav">
            <div
                class="header__menu__nav__link"
                @click="activateLogOutConfirmation"
            >
              <mtSvg
                  name="userEdit"
                  color="#00788C"
              />
              <span>Кабинет</span>
            </div>
            <div
                class="header__menu__nav__link"
                @click="activateLogOutConfirmation"
            >
              <mtSvg
                  name="exit"
                  color="#00788C"
              />
              <span>Выйти из системы</span>
            </div>
          </div>
        </div>
      </div>
      <div class="header__page-info">
        <div class="header__page-info__details">
          <h2 class="header__page-info__title">Личный кабинет</h2>
          <Breadcrumbs></Breadcrumbs>
        </div>
      </div>
    </div>
    <teleport to="body">
      <confirmation-dialog
          v-model="isLogOutConfirmActive"
          title="Вы уверены, что хотите выйти?"
          :submit-cb="logout"
      />
    </teleport>
  </div>
</template>

<script>
import mtSelectSolid from '@/components/UI/mtSelectSolid/mtSelectSolid.vue'
import { mapActions, mapGetters, mapMutations } from 'vuex';
import mtSvg from '@/components/UI/mtSvg';
import Breadcrumbs from '@/components/workspace/Breadcrumbs';
import MtDropdown from "@/components/UI/mtDropdown/mtDropdown.vue";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  name: 'Header',
  components: {
    ConfirmationDialog,
    MtDropdown,
    Breadcrumbs,
    mtSvg,
    mtSelectSolid
  },
  data() {
    return {
      activeSection: 'AssessmentPlans',
      activeSectionTitle: 'Планы оценок',
      isOpen: false,
      isOpenMenu: false,
      key: 0,
      vcoSettings: {
        events: ['mousedown'],
        isActive: true,
        detectIFrame: true,
        capture: false
      },


      email: null,
      fullName: null,
      branches: [],
      branch: null,
      balance: null,
      reminder: null,
      currentBranch: null,
      isLogOutConfirmActive: false
    }
  },
  computed: {
    ...mapGetters(['titleActiveSection', 'administratorBranches', 'USER']),
    ...mapGetters('breadcrumbs', ['breadcrumbs']),
    isHomePage() {
      return this.$route.path === '/'
    }
  },
  methods: {
    ...mapActions(['fetchUserInfo', 'fetchBranches', 'setAdminBranch']),
    ...mapMutations('assessmentPlans/plan', ['clearExpRespPlans']),

    goBack() {
      window.history.back();
    },

    activateLogOutConfirmation() {
      this.isLogOutConfirmActive = true
    },

    logout() {
      this.clearExpRespPlans();
      localStorage.removeItem('maintest_auth_data');
      this.$router.push({name: 'Signin'});
    },
    changeBranch(item) {
      this.setAdminBranch(item.uuid)
          .then(res => {
            document.location.reload();
          })
    },
    toggleMenu() {
      this.isOpenMenu = !this.isOpenMenu
    },
    rolesTranslation(role) {
      switch (role) {
        case 'admin':
          return 'Админ'
        case 'expert':
          return 'Эксперт'
        case 'inspector':
          return 'Проверяющий'
        case 'respondent':
          return 'Респондент'
        case 'operator':
          return 'Оператор'
        case 'metodolog':
          return 'Методолог'
      }
    }
  },
  created() {
    this.fetchUserInfo()
        .then(res => { // TODO remove bcs USER (store -> work.../adm.../user.js) have all need data
          let info = res.data.data;

          this.email = info.email;
          this.fullName = info.full_name;
          this.balance = info.balance;
          this.reminder = info.reminder;
          this.currentBranch = info.branch;
          this.branches = info.branches;
        })
  }
}

</script>

<style
    scoped
    lang="scss"
>
.logo-icon-img {
  cursor: pointer;
}

.goBack {
  width: 30px;
  height: 30px;
  padding: 5px;

  img {
    width: 100%;
    height: 100%;
  }

  @include min-xs {
    display: none;
  }
}

.header {
  //min-height: 150px;
  padding: 0 15px 5px;

  @include min-lg {
    padding: 0 40px 5px;
  }

  @include max-xs {
    min-height: unset;
    height: unset;
  }

  &__user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 25px;

    &__name {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-align: right;
      letter-spacing: 0.4px;
      color: #252733;
    }

    &__role {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      letter-spacing: 0.4px;
      color: #9FA2B4;
      margin-top: 4px;
    }
  }

  &__page-info {
    display: flex;
    align-items: center;

    &__logo {
      margin-right: 32px;
    }

    &__title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      color: $green;
    }

    @include max-xs {
      margin-top: 100px;
    }
  }

  &__branch {
    margin-right: 30px;
  }

  &__branch-select {
    width: 90%;
    margin: 15px auto;
  }

  &__desktop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 50px;

    @include max-xs {
      display: none;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    &__main {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      z-index: 4;
      display: flex;
      align-items: center;
      padding: 40px 15px 30px;
      background-color: #fff;
      justify-content: space-between;

      > div {
        z-index: 5;
      }
    }

    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    @include min-xs {
      display: none;
    }
  }

  &__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 15px 15px;
    background-color: #fff;
    z-index: 4 !important;
    transition: left .3s;

    &_active {
      left: 0;
    }

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    &__avatar {
      min-width: 70px;
      max-width: 70px;
      height: 70px;
      border: 1px solid #EBEBEB;
      border-radius: 35px;
      margin-right: 20px;
    }

    &__name {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #4B506D;
      margin-bottom: 5px;
    }

    &__email {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #4B506D;
    }

    &__nav {
      display: flex;
      flex-direction: column;

      &__link {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #4B506D;
        padding: 20px 15px;
        margin: 0 -15px;
        border-top: 1.5px solid #DFE0EB;

        .mt-svg {
          margin-right: 15px;
        }
      }
    }
  }

  &__menu-icon-btn {
    height: 20px;
    width: 22.5px;
    position: relative;

    span {
      position: absolute;
      background-color: #00788C;
      height: 2px;
      width: 22.5px;
      transition: all .3s;

      &:first-child {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        right: 0;
        bottom: 0;
      }
    }

    &_active {
      span {
        &:first-child {
          transform: rotate(45deg);
          top: 9px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }
  }

  &__user-block {
    display: flex;

    &_item {
      margin: auto 0;
    }

    &__currency_text {
      font-size: 18px;
      line-height: 23px;

      text-align: right;
      letter-spacing: 0.4px;

      margin-right: 15px;

      color: #2A4365;
    }

    &__search_img {
      cursor: pointer;
    }

    &__user-settings {
      display: flex;
      position: relative;

      .header_user-settings_vector {
        margin: auto 0;
        padding-left: 10px;
        cursor: pointer;
      }

      .header_user-settings__popup {
        .header_user-settings__popup_wrapper {
          position: absolute;
          width: 307px;
          background: #FFFFFF;
          border: 1px solid #DFE0EB;
          box-sizing: border-box;
          box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
          border-radius: 12px;
          top: 70px;
          left: -250px;
          z-index: 10;

          .settings-popup__info {
            font-family: Mulish;
            font-style: normal;

            .pop-info__user-name {
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: 0.2px;
              color: #4B506D;
            }

            .pop-info__user-email {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.2px;
              color: #4B506D;
            }
          }
        }
      }
    }
  }

  &_sidebar-exist {
    .header {
      &__page-info {
        &__logo {
          display: none;
        }
      }
    }
  }
}

.header_user-settings__popup {
  width: 307px;
  background: #fff;
  border: 1px solid #dfe0eb;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  border-radius: 12px;
}

.settings-popup__action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 20px;
  transition: background-color .3s;

  .title {
    margin-left: 15px;
    color: #000;
  }

  .icon {
    width: 21px;
  }

  &:hover {
    background-color: #eee;
  }
}

.divider {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #DFE0EB;
}

/* MIXINS STYLES CSS START */
.popup-open__vector {
  transform: rotate(180deg);
}

/* MIXINS STYLES CSS END */
</style>