<template>
  <transition name="modal">
    <div
        class="modal-mask"
        :style="{ width : modal_width, heigth : modal_heigth }"
        v-click-outside="vcoSettings"
    >
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
            </slot>
          </div>

          <div :class="{ spitzer__recht : spitzer__recht, spitzer__links : spitzer__links }"></div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    modal_width: {
      type: String,
    },

    modal_heigth: {
      type: String,
    },

    spitzer__recht: {
      type: Boolean
    },

    spitzer__links: {
      type: Boolean
    },
  },
  data() {
    return {
      vcoSettings: {
        handler: this.close,
        events: ['mousedown'],
        isActive: true,
        detectIFrame: true,
        capture: false
      },
    }
  },
  methods: {
    close() {
      this.$emit('close')
    }
  }

}
</script>

<style
    lang="scss"
    scoped
>
.modal-mask {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  //width: 100%;
  //height: 100%;
  //background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: inherit;
  height: -webkit-fill-available;
  margin: 0px auto;
  //padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  position: relative;
  border-radius: 12px;
  border: 2px solid #00788C;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  //margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.spitzer__recht {
  position: absolute;
  right: 0;
  top: -10px;
  width: 15px;
  height: 15px;
  transform: translateX(-30px) rotate(45deg);
  border-radius: 3px;
  border-left: 2px solid #00788C;
  border-top: 2px solid #00788C;
  background: #fff;
}

.spitzer__links {
  position: absolute;
  left: 0;
  top: -10px;
  width: 15px;
  height: 15px;
  transform: translateX(30px) rotate(45deg);
  border-radius: 3px;
  border-left: 2px solid #00788C;
  border-top: 2px solid #00788C;
  background: #fff;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>