<template>
  <div :class="['sidebar', { open: isOpen }]">
    <div :class="['sidebar__wrapper',]">
      <div :class="['sidebar__inner',]">
        <div
            :class="['sidebar__logo',]"
            @click="goTo('AssessmentPlansList', {titleActiveSection: 'Список планов оценок',})"
        ></div>
        <ul :class="['sidebar__list',]">
          <li :class="['sidebar__li_wrapper',]">
            <div
                class="sidebar__li_inner"
                v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator' || USER?.role === 'expert' || USER?.role === 'respondent'"
                data-title="assessment_plans"
                @click="selectSection('assessment_plans');goTo('AssessmentPlansList', {titleActiveSection: 'Список планов оценок',});"
            >
              <div
                  data-id="AssessmentPlans"
                  data-title="Планы оценок"
                  :class="['sidebar__li', 'sidebar__li-assessment_plans', 'sidebar__li-logo',]"
              ><span class="title">Планы оценок</span></div>
            </div>
            <ul :class="['sub_sidebar',]">
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator' || USER?.role === 'expert' || USER?.role === 'respondent'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('AssessmentPlansList', {titleActiveSection: 'Список планов оценок',})"
              ><span class="title">Список</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator' || USER?.role === 'expert' || USER?.role === 'respondent'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('Results', {titleActiveSection: 'Список планов оценок',})"
              ><span class="title">Результаты</span></li>
            </ul>
          </li>
          <li class="sidebar__li_wrapper">
            <div
                v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                :class="['sidebar__li_inner',]"
                data-title="test_library"
                @click="selectSection('test_library');goTo('TestLibraryIndex', {titleActiveSection: 'Тесты',});"
            >
              <div
                  data-id="TestLibrary"
                  data-title="Библиотека тестов"
                  :class="['sidebar__li', 'sidebar__li-test_library', 'sidebar__li-logo',]"
              ><span class="title">Библиотека тестов</span></div>
            </div>
            <ul class="sub_sidebar">
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('TestLibraryTestsIndex', {titleActiveSection: 'Тесты',})"
              ><span class="title">Тесты</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('TestLibrarySessions', {titleActiveSection: 'Сеансы',})"
              ><span class="title">Сеансы</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('TestLibraryResults', {titleActiveSection: 'Результаты',})"
              ><span class="title">Результаты</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('TestLibraryTrash', {titleActiveSection: 'Корзина',})"
              ><span class="title">Корзина</span></li>
            </ul>
          </li>
          <li class="sidebar__li_wrapper">
            <div
                v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                :class="['sidebar__li_inner',]"
                data-title="model_development"
                @click="selectSection('model_development');goTo('ModelDevelopment', {titleActiveSection: 'Разработка моделей',});"
            >
              <div
                  data-id="ModelDevelopment"
                  data-title="Разработка моделей"
                  :class="['sidebar__li', 'sidebar__li-model_development', 'sidebar__li-logo',]"
              ><span class="title">Разработка моделей</span></div>
            </div>
            <ul class="sub_sidebar">
              <li
                  class="sub_sidebar__li"
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
              >
                <router-link :to="{name: '',params: { titleActiveSection: 'Список планов оценок' },}">
                  <span class="title">subsection 1</span></router-link>
              </li>
              <li
                  class="sub_sidebar__li"
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
              ><span class="title">subsection 2</span></li>
            </ul>
          </li>
          <li class="sidebar__li_wrapper">
            <div
                v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                :class="['sidebar__li_inner',]"
                data-title="test_development"
                @click="selectSection('test_development');goTo('TestDevelopment', {titleActiveSection: 'Разработка тестов',});"
            >
              <div
                  data-id="TestDevelopment"
                  data-title="Разработка тестов"
                  :class="['sidebar__li', 'sidebar__li-test_development', 'sidebar__li-logo',]"
              ><span class="title">Разработка тестов</span></div>
            </div>
            <ul class="sub_sidebar">
              <li
                  class="sub_sidebar__li"
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
              >
                <router-link :to="{name: '',params: { titleActiveSection: 'Список планов оценок' },}">
                  <span class="title">subsection 1</span></router-link>
              </li>
              <li
                  class="sub_sidebar__li"
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
              ><span class="title">subsection 2</span></li>
            </ul>
          </li>
          <li class="sidebar__li_wrapper">
            <div
                v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                :class="['sidebar__li_inner',]"
                data-title="administration"
                @click="selectSection('administration');goTo('AdminsList', { titleActiveSection: 'Администрирование' });"
            >
              <div
                  data-id="Administration"
                  data-title="Администрирование"
                  :class="['sidebar__li', 'sidebar__li-administration', 'sidebar__li-logo',]"
              ><span class="title">Администрирование</span></div>
            </div>
            <ul class="sub_sidebar">
              <li
                  v-if="USER?.role === 'admin'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('AdminsList', {titleActiveSection: 'Администрирование',})"
              ><span class="title">Администраторы</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('RespondentsList', {titleActiveSection: 'Администрирование',})"
              ><span class="title">Респонденты</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('Billing', { titleActiveSection: 'Администрирование' })"
              ><span class="title">Биллинг</span></li>
              <li
                  v-if="USER?.role === 'admin'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('Events', { titleActiveSection: 'Администрирование' })"
              ><span class="title">События</span></li>
              <li
                  v-if="USER?.role === 'admin'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('BranchesList', {titleActiveSection: 'Администрирование',})"
              ><span class="title">Филиалы</span></li>
              <li
                  v-if="USER?.role === 'admin' || USER?.role === 'metodolog' || USER?.role === 'operator'"
                  :class="['sub_sidebar__li',]"
                  @click="goTo('Settings', { titleActiveSection: 'Администрирование' })"
              ><span class="title">Настройка</span></li>
            </ul>
          </li>
        </ul>
      </div>
      <div
          :class="['sidebar__open-close',]"
          @click="openClose"
      >
        <div class="sidebar__open-close_inner"><span class="title">Свернуть меню</span></div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import {mapActions, mapGetters} from 'vuex';

export default {
  props: {},
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    ...mapGetters(['USER']),
  },

  methods: {
    setTitleActiveSection(titleActiveSection) {
      this.$store.dispatch("setTitleActiveSection", titleActiveSection);
    },

    setTitlesPath(titlesPath) {
      this.$store.dispatch("setTitlesPath", titlesPath);
    },

    openClose() {
      this.isOpen = !this.isOpen;
    },

    selectSection(title) {
      _.forEach(
          document.querySelectorAll(`.sidebar__li_inner`),

          function (value) {
            value.classList.remove("selected");
          }
      );

      let sidebar = document.querySelector(
          `.sidebar__li_inner[data-title="${title}"]`
      );

      sidebar.classList.toggle("selected");
    },

    onLogo() {
      this.$router.push({
        name: "AssessmentPlansList",
        params: {},
      });
    },

    goTo(to, params = {}) {
      this.$router.push({
        name: to,
        params: params,
      });
    },
  },
};
</script>

<style
    lang="scss"
    scoped
>
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 94px;
  border-right: 1px solid #e5e5e5;
  transition: all 0.5s ease;
  z-index: 99;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);

  .sidebar__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 51px;
    padding-left: 24px;
    height: calc(100% - 70px);

    .sidebar__inner {
      .sidebar__logo {
        margin-bottom: 61px;
        padding-right: 41px;
        height: 50px;
        cursor: pointer;

        background: url(../../assets/img/svg/maintest_logo.png) no-repeat left center;

        transition: all 0.5s ease;
      }

      .sidebar__list {
        padding-right: 21px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #c7c7c7;

        .sidebar__li_wrapper {
          padding-bottom: 5px;

          .sidebar__li_inner {
            padding-left: 10px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;

            &.selected {
              background: rgba(0, 120, 140, 0.1);
              border-radius: 4px;
              color: #00788c;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;

              .sidebar__li-assessment_plans {
                background: url(../../assets/img/svg/assessment_plans__logo-active.svg) no-repeat left center;
              }

              .sidebar__li-test_library {
                background: url(../../assets/img/svg/test_library__logo-active.svg) no-repeat left center;
              }

              .sidebar__li-model_development {
                background: url(../../assets/img/svg/model_development__logo-active.svg) no-repeat left center;
              }

              .sidebar__li-test_development {
                background: url(../../assets/img/svg/test_development__logo-active.svg) no-repeat left center;
              }

              .sidebar__li-administration {
                background: url(../../assets/img/svg/administration__logo-active.svg) no-repeat left center;
              }
            }

            &.selected + .sub_sidebar {
              max-height: 180px;
            }

            .sidebar__li {
              &:hover {
                color: #00788c;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
              }
            }

            .sidebar__li-logo {
              background-size: 30px;
              padding-left: 50px;

              cursor: pointer;
            }

            .sidebar__li-assessment_plans {
              background: url(../../assets/img/svg/assessment_plans__logo.svg) no-repeat left center;

              &:hover {
                background: url(../../assets/img/svg/assessment_plans__logo-active.svg) no-repeat left center;
              }
            }

            .sidebar__li-test_library {
              background: url(../../assets/img/svg/test_library__logo.svg) no-repeat left center;

              &:hover {
                background: url(../../assets/img/svg/test_library__logo-active.svg) no-repeat left center;
              }
            }

            .sidebar__li-model_development {
              background: url(../../assets/img/svg/model_development__logo.svg) no-repeat left center;

              &:hover {
                background: url(../../assets/img/svg/model_development__logo-active.svg) no-repeat left center;
              }
            }

            .sidebar__li-test_development {
              background: url(../../assets/img/svg/test_development__logo.svg) no-repeat left center;

              &:hover {
                background: url(../../assets/img/svg/test_development__logo-active.svg) no-repeat left center;
              }
            }

            .sidebar__li-administration {
              background: url(../../assets/img/svg/administration__logo.svg) no-repeat left center;

              &:hover {
                background: url(../../assets/img/svg/administration__logo-active.svg) no-repeat left center;
              }
            }
          }
        }
      }
    }

    .sidebar__open-close {
      padding-left: 15px;
      cursor: pointer;

      .sidebar__open-close_inner {
        background: url(../../assets/img/svg/sidebar__close-open.svg) no-repeat left center;

        &:hover {
          background: url(../../assets/img/svg/sidebar__close-open_active.svg) no-repeat left center;
        }

        .title {
          padding-left: 50px;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: #00788c;
        }
      }
    }
  }

  &.open {
    width: 275px;

    .sidebar__wrapper {
      .sidebar__logo {
        background: url(../../assets/img/svg/maintest_logo-open.png) no-repeat left center;
      }
    }

    .title {
      opacity: 1;
    }

    .sidebar__open-close {
      .sidebar__open-close_inner {
        background: url(../../assets/img/svg/sidebar__close-open_active.svg) no-repeat left center;
      }
    }
  }

  @include max-sm {
    display: none !important;
  }
}

.sub_sidebar {
  padding-left: 60px;
  padding-bottom: 10px;

  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 0;

  .sub_sidebar__li {
    padding-top: 10px;

    &:hover {
      color: #00788c;
      cursor: pointer;
    }
  }


}

.title {
  white-space: nowrap;
  opacity: 0;
  transition: all 0.5s ease;
}
</style>