<template>
  <div class="steps-nav">
    <button
        v-for="(item, index) in steps"
        :key="index"
        :class="['steps-nav__item', {
          'steps-nav__item--active': item.order === activeStep
        }]"
        @click="changeRoute(item)"
    >
      <span class="steps-nav__item__order">
        {{index + 1}}
      </span>
      <span class="steps-nav__item__title">{{item.name}}</span>
    </button>
  </div>
</template>

<script>
export default {
  name: "StepsNavigation",
  props: {
    steps: {
      type: Array,
      default: () => []
    },
    activeStep: {
      type: Number,
      default: 1
    }
  },
  methods: {

    changeRoute({ order, to }) {
      if(!to) return;

      this.$router.push(to)
    }
  }
}
</script>

<style lang="scss" scoped>
.steps-nav {
  padding: 15px 0;
  position: static;
  z-index: 6;
  transition: top .3s;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__item {
    display: flex;
    align-items: center;
    border-radius: 12px;
    position: relative;
    padding: 0 15px;
    margin: 0 -15px;
    z-index: 1;
    background-color: #fff;

    &__order {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      background-color: #dddfdf;
      border-radius: 50%;
      margin-right: 10px;
      color: #838989;
      font-size: 14px;
      line-height: 22px;
      transition: background-color .3s, color .3s;
    }

    &__title {
      font-size: 14px;
      line-height: 22px;
      font-weight: 700;
      color: #151717;
      transition: color .3s;
      position: relative;
      width: -moz-fit-content;
      width: fit-content;

      &:after {
        content: "";
        position: absolute;
        left: calc(100% + 15px);
        top: 50%;
        transform: translateY(-50%);
        width: 25vw;
        height: 1px;
        background-color: #e1e1e1;
      }
    }

    &--active {
      .steps-nav {
        &__item {
          &__order {
            background-color: #fff;
            border: 2px solid #28b2ab;
            color: #28b2ab;
          }
        }
      }
    }

    &:not(.steps-nav__item--active):hover {
      .steps-nav__item__order {
        background-color: #a4a4a4;
        color: #fff;
      }
    }

    &:last-child {
      .steps-nav__item__title:after {
        display: none;
      }
    }
  }

  @include max-sm {
    &__item {
      flex-direction: column;
      padding: 0;
      margin: 0;

      &__order {
        margin: 0 0 5px 0;
      }

      &__title {
        font-size: 12px;
        line-height: unset;
        text-align: center;
      }
    }
  }
}
</style>