<template>
  <div class="mt-table">
    <div class="mt-table__header">
      <div class="mt-table__actions">
        <slot name="actions"/>
      </div>
      <div class="mt-table__head-list">
        <slot name="header"/>
      </div>
    </div>
    <div class="mt-table__body">
      <slot name="body"/>
    </div>
    <div class="mt-table__footer">
      <slot name="footer"/>
    </div>
  </div>
</template>

<style lang="scss" src="./mtTable.scss" />