<template>
  <div class="mt-table">
    <div class="mt-table__header">
      <div class="mt-table__actions">
        <slot name="actions"/>
      </div>
    </div>
    <div class="mt-table--container">
      <div class="mt-table__main">
        <div class="mt-table__main-header">
          <div class="mt-table__row">
            <slot name="header"/>
          </div>
        </div>
        <div class="mt-table__main-body">
          <slot name="body"/>
        </div>
      </div>
    </div>
    <slot/>
    <div class="mt-table__footer">
      <slot name="footer"/>
    </div>
  </div>
</template>

<style lang="scss" src="./mtTable.scss" />