.mt-table {
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  padding: 30px 0;

  &--container {
    overflow-x: auto;
  }

  &__row {
    display: table-row;

    &>div {
      display: table-cell;
    }
  }

  &__head-list {
    display: flex;
    border-bottom: 1.5px solid #DFE0EB;
    padding: 0 30px;
    & > div {
      color: #9FA2B4;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__actions {
    padding: 0 30px;
    min-height: 44px;
    display: flex;
    align-items: flex-start;
  }

  &__body {
    overflow-x: auto;
  }

  &__main {
    display: table;
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;

    &-header {
      display: table-header-group;
      border-bottom: 1.5px solid #DFE0EB;
      padding: 0 30px;

      &>div {
        color: #9FA2B4;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
      }
    }

    &-body {
      display: table-row-group;
    }
  }

  &__footer {
    border-top: 1.5px solid #DFE0EB;
    display: flex;
    align-items: center;
    padding: 30px 30px 0 30px;
  }

  @include max-xs {
    padding: 15px 0;

    &__actions {
      padding: 0 15px;
    }

    &__footer {
      padding: 30px 15px 0;
    }
  }
}