<template>
  <div class="tests-library--report-block">
    <div class="tests-library--report-block__wrapper">
      <div class="tests-library--report-block__fields">
        <div class="tests-library--report-block__row">
          <div class="tests-library--report-block__name">
            <div class="blocks__label">Название блока</div>
            <mtInput
                class="tests-library--report-block__name--input"
                theme="solid"
                v-model="blockName"
                :hasError="errorsMessages?.blockName?.length > 0"
                @focus="errorsMessages.blockName = false"
                @blur="validate('blockName', [{ rule: 'required', message: 'Заполните поле' }])"
            />
            <div
                class="blocks__error-message"
                v-if="errorsMessages?.blockName?.length > 0"
            >
              {{ errorsMessages.blockName[0] }}
            </div>
          </div>
          <div style="margin-left: 30px;">
            <div class="blocks__label">Статус</div>
            <mtSwitch
                theme="solid"
                v-model="status"
            />
          </div>
        </div>
        <div class="tests-library--report-block__row">
          <div>
            <div class="blocks__label">Текст</div>
            <mtTextarea
                theme="solid"
                style="width: 420px;"
                v-model="description"
                :hasError="errorsMessages?.description?.length > 0"
                @focus="errorsMessages.description = false"
                @blur="validate('description', [{ rule: 'required', message: 'Заполните поле' }])"
            />
            <div
                class="blocks__error-message"
                v-if="errorsMessages?.description?.length > 0"
            >
              {{ errorsMessages.description[0] }}
            </div>
          </div>
        </div>
      </div>
      <div class="edit-block-info-block__actions">
        <mtPageNav
            class="tests-library--report-block__page-nav"
            :next_preloader="saveLoader"
            @next="save"
            @back="cancel"
        >
          <template #back>Назад</template>
          <template #next>Сохранить</template>
        </mtPageNav>
        <hr
            class="divider"
            v-if="$route.params.uuid_block"
        />
        <div
            class="admin-action delete"
            v-if="$route.params.uuid_block"
        >
          <div
              class="wrapper"
              @click="activateConfirmationDialog"
          >
            <mtSvg
                name="delete"
                color="#9FA2B4"
                preloaderColor="#9FA2B4"
                :preloader="deleteLoader"
            />
            <div class="title">удалить</div>
          </div>
        </div>
      </div>
    </div>
    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          title="Удалить данный блок?"
          :submit-cb="deleteBlock"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions,} from 'vuex';
import validation from '@/plugins/validation.js';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtSwitch from '@/components/UI/mtSwitch';
import mtTextarea from '@/components/UI/mtTextarea';
import mtPageNav from '@/components/composite/mtPageNav';
import mtSvg from '@/components/UI/mtSvg';
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  components: {
    ConfirmationDialog,
    mtInput,
    mtTextarea,
    mtSwitch,
    mtPageNav,
    mtSvg,
  },

  data() {
    return {
      /* FIELDS */
      description: null,
      blockName: null,
      status: false,
      errorsMessages: {},

      /* LOADERS */
      saveLoader: false,
      deleteLoader: false,
      isConfirmationDialogOpen: false
    }
  },
  computed: {
    isEdit() {
      return !!this.$route.params.uuid_block;
    },
    titleActiveSection() {
      return this.$route.params.uuid_block ? 'Редактирование доп. блока' : 'Добавление доп. блока';
    },
    titlesPath() {
      return [
        {
          isLink: true,
          title: 'Библиотека тестов',
          routeName: 'AssessmentPlansList',
          query: {},
        },
        {
          isLink: true,
          title: 'Настройки',
          routeName: 'AssessmentPlansList',
          query: {},
        },
        {
          isLink: false,
          title: 'Новый дополнительный блок',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ];
    },
  },

  watch: {
    blockName(newBlockName) {
      this.setTitlesPath([
        {
          isLink: true,
          title: 'Библиотека тестов',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Настройки',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: false,
          title: newBlockName,
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ]);
    },
  },
  methods: {
    ...mapActions([
      'setTitlesPath',
      'setTitleActiveSection',
    ]),
    ...mapActions('report', [
      'fetchTestVariantBlock',
      'createTestVariantBlock',
      'updateTestVariantBlock',
      'deleteTestVariantBlocks',
    ]),

    /* HANDLERS */
    cancel() {
      this.back();
    },

    async save() {
      if (!this.saveLoader) {
        this.saveLoader = true;

        if (!this.validateAll()) {
          this.saveLoader = false;

          return;
        }

        const PAYLOAD = {
          status: this.status,
          description: this.description,
          title: this.blockName,
        }

        if (this.isEdit) {
          await this.updateTestVariantBlock({
            uuidTest: this.$route.params.uuid,
            uuidVariant: this.$route.params.uuid_variant,
            uuidBlock: this.$route.params.uuid_block,
            payload: PAYLOAD,
          });

          this.saveLoader = false;

          this.back();
        } else {
          await this.createTestVariantBlock({
            uuidTest: this.$route.params.uuid,
            uuidVariant: this.$route.params.uuid_variant,
            payload: PAYLOAD,
          });

          this.saveLoader = false;

          this.back();
        }
      }
    },

    activateConfirmationDialog () {
      this.isConfirmationDialogOpen = true
    },

    async deleteBlock() {
      if (this.deleteLoader) return
      this.deleteLoader = true;

      await this.deleteTestVariantBlocks({
        uuidTest: this.$route.params.uuid,
        payload: [{
          uuid: this.$route.params.uuid_block,
        }],
      });

      this.deleteLoader = false;

      this.back();
    },

    /* HELPERS*/
    resetValidation() {
      this.errorsMessages = {};
    },
    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules);

      return this.errorsMessages[field].length === 0;
    },
    validateAll() {
      let valid = true;

      if (!this.validate('description', [{rule: 'required', message: 'Заполните поле Текст'}])) valid = false;
      if (!this.validate('blockName', [{rule: 'required', message: 'Заполните поле Название блока'}])) valid = false;

      return valid;
    },
    back() {
      this.$router.push({
        name: 'TestLibraryTestsItemSettings',
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
        },
      });
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setQuerySettings({
          value: `Настройки "${this.$route.query.testName}"`,
          breadcrumbs: await this.$breadcrumbs.setValue({
            page: this.$route.query.page,
            value: `Настройки "${this.$route.query.testName}"`,
            breadcrumbs: await this.$breadcrumbs.setValue({
              page: this.$route.name,
              value: this.$route.query.blockName,
              breadcrumbs: this.$route.meta.breadcrumbs,
            }),
          }),
          query: this.$route.query,
          params: {
            uuid: this.$route.params.uuid,
          },
        })
      });
    },
  },

  created() {
    this.initBreadcrumbs();

    if (this.$route.params.uuid_block) {
      this.fetchTestVariantBlock({
        uuidTest: this.$route.params.uuid,
        uuidVariant: this.$route.params.uuid_variant,
        uuidBlock: this.$route.params.uuid_block,
      }).then((response) => {
        if (response.data.data) {
          const BLOCK = response.data.data;

          this.blockName = BLOCK.title;
          this.status = BLOCK.status;
          this.description = BLOCK.description;
        }
      });
    }
  },
  async mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
}

</script>

<style lang="scss">
.blocks {
  &__error-message {
    color: #C24020;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }
}

.tests-library--report-block {
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px 15px 32px 32px;
  }

  &__fields {
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  &__name {
    width: 327px;

    &--input {
      border-radius: 12px !important;
    }
  }

  &__page-nav {
    .mt-page-nav__button-back {
      width: 84px;
    }

    .mt-page-nav__button-next {
      width: 122px;
    }
  }

  /* OBJECT STYLES CSS START */

  .button {
    .button__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      height: 33px;
      background: #00788C;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      &:active {
        background: #005361;
      }

      .button__txt {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }

  .page-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button {
      padding-right: 10px;

      &:last-child {
        padding-right: 0px;
      }
    }
  }

  .button-prev {
    .button__item {
      width: 82px;
      background: #E6F2F4;

      &:active {
        background: #CDE3E7 !important;
      }

      .button__txt {
        color: #00788C;
      }
    }
  }

  .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #DFE0EB;
  }

  .admin-action {
    margin-top: 25px;

    &.reset-password {
      margin-top: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      .icon {
      }

      .title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #9FA2B4;
        margin-left: 15px;
      }
    }
  }

  .block-status {
    margin-left: 30px;

    .switcher__haupttitel {
      margin-bottom: 32px;
    }
  }

  .block-description__container {
    max-width: 670px;
  }

  .edit-field {
    max-width: 327px;
  }

  /* OBJECT STYLES CSS END */

  /* MIXINS STYLES CSS START */
  .min-default-width {
    width: 327px;
  }

  /* MIXINS STYLES CSS END */
}
</style>