.mt-select {
  display: inline-block;
  padding: 0 10px;
  overflow: hidden;
  height: 40px;
  position: relative;

  &__selected {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: #4B506D;
  }

  &__list {
    display: none;
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
    max-height: 300px;
    box-shadow: 0 0 5px 0px #7f7f7f85;

    &-item {
      padding: 5px 10px;
      cursor: pointer;
      color: #4B506D;
      width: 100%;

      &:hover {
        background-color: #F0F1F7;
      }
    }
  }

  &_opened &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__theme {
    &-border {
      border: solid 1px red;
    }
  }

  &_form-select {
    width: 100%;
    height: 60px;
    background: #F0F1F7;
    border-radius: 12px;
    padding: 0;

    .mt-select {
      &__selected {
        padding: 0 20px;
        span {
          flex-grow: 1;
          margin-right: 10px;
        }
      }
    }
  }
}