<template>
	<div class="table__wrapper">
    <table class="plan-list__table">
      <thead class="thead">
        <tr class="row">
          <td class="cell mix-rowspan mix-celltop">
            <div class="cell__wrapper">
              <div class="cell__inner first">
                <div class="cell__title">
                  ФИО
                </div>
              </div>
            </div>
          </td>

          <td class="cell mix-rowspan mix-celltop">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  Возраст
                </div>
              </div>
            </div>
          </td>

          <td class="cell mix-rowspan mix-celltop">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  Пол
                </div>
              </div>
            </div>
          </td>

          <td class="cell mix-rowspan mix-celltop">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  Итог (оценка)
                </div>
              </div>
            </div>
          </td>

          <td class="cell mix-rowspan mix-celltop">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  Итог (балл)
                </div>
              </div>
            </div>
          </td>
        </tr>
      </thead>

      <tbody class="tbody" v-for="user in results" :key="user.uuid">
        <tr class="row">
          <td class="cell" data-type="plan-name">
            <div class="cell__wrapper plan-name">
              <div class="cell__inner first">
                <div class="cell__title" data-type="plan-name__title">
                  {{ user.user }}
                </div>
              </div>
            </div>
          </td>

          <td class="cell">
            <div class="cell__wrapper plan-name">
              <div class="cell__inner first">
                <div class="cell__title" data-type="plan-name__title">
                  {{ user.old }}
                </div>
              </div>
            </div>
          </td>

          <td class="cell">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title cell__title-participants">
                  {{ getGender( user.sex ) }}
                </div>
              </div>
            </div>
          </td>

          <td class="cell">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title cell__title-participants">
                  {{ user.result }}
                </div>
              </div>
            </div>
          </td>

          <td class="cell">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  {{ user.score }}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="plan-list__table" v-for="( indexTest, index ) in maxCountofTests" :key="index">
      <thead class="thead">
        <tr class="row">
          <td class="cell mix-rowspan mix-celltop" data-type="testname" rowspan="2">
            <div class="cell__wrapper">
              <div class="cell__inner first">
                <div class="cell__title">
                  Название
                </div>
              </div>
            </div>
          </td>

          <td class="cell mix-celltop" :colspan="criterionValuesHeaders.length" data-type="criterion" v-for="( criterion, crh_index ) in criteria" :key="crh_index">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  {{ criterion }}
                </div>
              </div>
            </div>
          </td>

          <td class="cell mix-rowspan" data-type="report" rowspan="2">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  Отчет
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr class="row">
          <td class="cell" v-for="criterionValue in getCriterionValuesHeaders()" :key="criterionValue.slug">
            <div class="cell__wrapper mix-criterioncell">
              <div class="cell__inner first">
                <div class="cell__title">
                  {{ criterionValue.name }}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </thead>

      <tbody class="tbody" v-for="user in results" :key="user.uuid">
        <tr class="row">
          <td class="cell">
            <div class="cell__wrapper plan-name">
              <div class="cell__inner first">
                <div class="cell__title" data-type="plan-name__title">
                  {{ user.tests[ index ] ? user.tests[ index ].name : ' ' }}
                </div>
              </div>
            </div>
          </td>


          <td class="cell" v-for="( criterionValue, crb_index ) in getCriterionValues( user.tests[ index ] )" :key="crb_index">
            <div class="cell__wrapper plan-name">
              <div class="cell__inner first">
                <div class="cell__title" data-type="plan-name__title">
                  {{ criterionValue }}
                </div>
              </div>
            </div>
          </td>


          <td class="cell">
            <div class="cell__wrapper">
              <div class="cell__inner">
                <div class="cell__title">
                  <div class="result-save" v-if="user.tests[ index ]">
                    <span class="result-save__logo" @click="resultDownload"></span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <PopUp class="popup__save-report" :spitzer__recht="spitzer__recht" :spitzer__links="spitzer__links" :modal_width="'503px'" :style="{ top : `${popUpTop + dy}px`, left : `${popUpLeft + dx}px`, }" v-show="saveReport">
      <template v-slot:header>
        <h1 class="popup-title">Варианты отчета</h1>
      </template>

      <template v-slot:body>
        <div class="reports">
          <div class="report">
            <div class="report__name">
              Бизнес отчет:
            </div>

            <div class="report__options">
              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">DOCX</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">PDF</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">html</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="report">
            <div class="report__name">
              Отчет для респондента:
            </div>

            <div class="report__options">
              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">DOCX</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">PDF</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">html</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="report">
            <div class="report__name">
              Отчет для специалиста:
            </div>

            <div class="report__options">
              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">DOCX</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">PDF</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">html</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="report">
            <div class="report__name">
              Отчет по компетенциям:
            </div>

            <div class="report__options">
              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">DOCX</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">PDF</span>
                  </div>
                </div>
              </div>

              <div class="option">
                <div class="button">
                  <div class="button__item">
                    <span class="button__txt">html</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="report">
            <div class="report__name">
              Отчет управленческого потенциала:
            </div>

            <div class="report__options report__not-available">
              <div class="option">
                <div class="button ">
                  <div class="button__item">
                    <span class="button__txt">получить за 3 у.е.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </PopUp>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import PopUp from '@/components/workspace/PopUp';

  export default {
    components : {
			PopUp,
		},

    props: {
      rows : {
        type     : Array,
        required : true
      }
    },

    data () {
      return {
        saveReport : false,
        popUpTop : 0,
        popUpLeft : 0,
        dx        : -25,
        dy        : 35,
        spitzer__recht  : false,
        spitzer__links  : false,
        criterionValuesHeaders : [
          {
            name  : 'Оценка',
            slug  : 'value',
          },

          {
            name  : 'Оценка %',
            slug  : 'percent',
          },

          {
            name  : 'Ед. шкалы',
            slug  : 'unit',
          },

          {
            name  : 'Порог',
            slug  : 'min',
          },

          {
            name  : 'Максимум',
            slug  : 'max',
          },

          {
            name  : 'Шаг',
            slug  : 'step',
          },

          {
            name  : 'Предел',
            slug  : 'limit',
          },

          {
            name  : 'Вес, множитель',
            slug  : 'weight',
          },
        ],
      }
    },

    computed : {
			...mapGetters( [ 'results', 'resultsSortConfig' ] ),

      maxCountofTests ()
      {
        let max = 0;

        for ( let resindex = 0; resindex < this.results.length; resindex++ )
        {
          max = max < this.results[ resindex ].tests.length ? this.results[ resindex ].tests.length : max;
        }




        return max;
      },

      criteria ()
      {
        let criteria = {};

        for ( let resindex = 0; resindex < this.results.length; resindex++ )
        {
          for ( let testIndex = 0; testIndex < this.results[ resindex ].tests.length; testIndex++ )
          {
            for ( let critIndex = 0; critIndex < this.results[ resindex ].tests[ testIndex ].criteria.length; critIndex++ )
            {
              criteria[ this.results[ resindex ].tests[ testIndex ].criteria[ critIndex ].name ] = this.results[ resindex ].tests[ testIndex ].criteria[ critIndex ].name;
            }
          }
        }




        return criteria;
      },
		},

    methods : {
      ...mapActions( [ 'setAssessmentPlanName', 'setTitlesPath', 'setTitleActiveSection', 'setPlanEditdataExd' ] ),

      resultDownload ( event )
      {






        this.popUpTop   = parseInt( event.pageY );
        this.popUpLeft  = parseInt( event.pageX ) - 110; //- parseInt( document.querySelectorAll( 'div.body' )[ 0 ].scrollLeft ) - 7;
        this.spitzer__links = true;
        this.spitzer__recht = false;







        if ( ( Number( this.popUpLeft ) + 503 ) > Number( document.querySelectorAll( 'div.body' )[ 0 ].clientWidth ) )
        {

          this.popUpLeft = parseInt( event.pageX ) - 540;
          this.spitzer__links = false;
          this.spitzer__recht = true;
        }

        this.saveReport = true;



      },

      has ( nodeList, element ) // FIXME Das muss in der Helpers-Funktion herausgeholt werden
      {
        let classList = element.className.split( ' ' );

        classList[ 0 ] = '.' + classList[ 0 ];

        let selector = classList.join( '.' );



        return Array.from( nodeList ).filter( e => e.querySelector( selector ) );
      },

      getCriterionValues ( test )
      {




        let values  = [];

        if ( test )
        {



          for( let criterion in this.criteria )
          {
            let isFound = false;

            for ( let criterionIndex = 0; criterionIndex < test.criteria.length; criterionIndex++ )
            {


              if ( criterion == test.criteria[ criterionIndex ].name )
              {
                values.push( test.criteria[ criterionIndex ].value );
                values.push( test.criteria[ criterionIndex ].percent );
                values.push( test.criteria[ criterionIndex ].unit );
                values.push( test.criteria[ criterionIndex ].min );
                values.push( test.criteria[ criterionIndex ].max );
                values.push( test.criteria[ criterionIndex ].step );
                values.push( test.criteria[ criterionIndex ].limit );
                values.push( test.criteria[ criterionIndex ].weight );

                isFound = true;
              }
            }

            if ( !isFound )
            {
              values.push( '' );
              values.push( '' );
              values.push( '' );
              values.push( '' );
              values.push( '' );
              values.push( '' );
              values.push( '' );
              values.push( '' );
            }
          }
        }




        return values;
      },

      sortieren ( field )
      {
        if ( field != this.resultsSortConfig.field )
        {
          this.resultsSortConfig.order = 'asc';
        }
        else
        {
          if ( !this.resultsSortConfig.order )
          {
            this.resultsSortConfig.order = 'asc';
          }
          else if ( this.resultsSortConfig.order == 'asc' )
          {
            this.resultsSortConfig.order = 'desc';
          }
          else
          {
            this.resultsSortConfig.order = null;
          }
        }

        this.resultsSortConfig.field = field;

        this.$emit( 'sortieren' );
      },

      getGender ( slug )
      {
        let gender;

        switch ( slug )
        {
          case 'male':
            gender = 'Мужской';
          break;

          case 'female':
            gender = 'Женский';
          break;

          default:
            gender = '';
          break;
        }

        return gender;
      },

      getCriterionValuesHeaders ()
      {


        let headers = [];

        for ( let criterion in this.criteria  )
        {
          if ( criterion );

          headers.push( ...this.criterionValuesHeaders );
        }




        return headers;
      },
    },

    mounted ()
    {
      document.addEventListener(
        'mousedown',

        ( e ) => {
          const nodeList  = document.querySelectorAll( '.modal-mask' );
          const element   = e.target;

          let isPopUp = this.has( nodeList, element ).length;



          if ( !isPopUp )
          {


            this.saveReport = false;
          }
        }
      );



    },

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .plan-list__table {
    //display: table;
    border-collapse: collapse;

    width: 100%;

    .thead {
        //display: table-header-group;

        .row {
          background  : #00788C;
          border-bottom: 1.5px solid #00788C;

          &:hover {
            background : #00788C;
          }
        }

        .cell {
          .cell__wrapper {
            .cell__inner {
              &.first {
                text-align: left;
              }

              .cell__title {
                font-family: Mulish;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2px;
                color: #FFFFFF;
              }
            }
          }
        }
    }

    .tbody {
        //display: table-row-group;

        .cell {
          .cell__wrapper {
            .cell__inner {
              &.first {
                text-align : left;
              }

              .progress + .cell__title {
                padding-top : 10px;
              }
            }
          }
        }
    }

    .row {
      //display				: table-row;
      border-bottom : 1.5px solid #DFE0EB;

      &:hover {
        //background : #F7F8FF;
      }

      .row__settings-logo,
      .row__delete-logo,
      .row__edit-logo {
        cursor : pointer;
      }
    }

    .cell {
      //display: table-cell;
      vertical-align: middle;

      .cell__wrapper {
        padding: 16px 22px;

        .cell__inner {
          text-align: center;

          &.first {
            text-align: left;
          }

          .cell__title {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #252733;
            padding-bottom: 4px;
            min-height: 20px;
          }

          .cell__sub-title {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #C5C7CD;
          }
        }
      }

      .row__settings {
        padding-left: 15px;
        padding-right: 15px;
      }

      .switcher {
        padding-right: 50%;
        padding-bottom: 20px;
      }
    }

    .cell:first-child {
      text-align: left;
    }

    .tfoot {
      display: table-footer-group;
    }
  }

  .progress {
    position: relative;
    margin-bottom: 10px;

    .progress__item {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      border-radius: 10px;
      z-index: 1;
    }

    .progress_orange {
      background: #FAB56E;
    }

    .progress_red {
      background: #D17058;
    }

    .progress_green {
      background: #ABBF6B;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      background: #DFE0EB;
      border-radius: 8.5px;
    }
  }

  .switcher {
      .scwitcher__checkbox {
          display: none;
      }

      .switcher__label {
          cursor: pointer;
          font-size: 16px;
          line-height: 21px;
          position: relative;

          &::after {
              content: "";
              width: 44px;
              height: 21px;
              background: #E9E9EA;
              border-radius: 99px;
              position: absolute;
              transition-duration: 330ms;
          }

          &::before {
              content: "";
              width: 21px;
              height: 21px;
              position: absolute;
              z-index: 1;
              background: #FFFFFF;
              border: 1px solid #9FA2B4;
              border-radius: 50%;
              box-sizing: border-box;
              box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
              transition-duration: 300ms;
          }
      }

      .scwitcher__checkbox:checked + .switcher__label::before {
          right: -43px;
      }

      .scwitcher__checkbox:checked + .switcher__label::after {
          background: #00788C;
      }

  }

  .cell__title-participants {
    cursor: pointer;
  }

  // OBJECTS STYLES START
    .result-save {
      .result-save__logo {
        background    : url(../../../../assets/img/svg/assessment-plans/result_save_bericht.svg) no-repeat left center;
				padding-left  : 24px;
        cursor        : pointer;

				&:hover {
					background : url(../../../../assets/img/svg/assessment-plans/result_save_bericht-active.svg) no-repeat left center;
				}
      }
    }

    .table__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .button {
			.button__item {
				display					: flex;
				flex-direction	: column;
				justify-content : center;
				width						: 79px;
				height					: 33px;
				background			: #00788C;
				border-radius 	: 8px;
				text-align			: center;
				cursor					: pointer;

				&:active {
					background : #005361;
				}

				.button__txt {
					font-style		 : normal;
					font-weight		 : bold;
					font-size			 : 14px;
					line-height		 : 18px;
					letter-spacing : 0.5px;
					text-transform : uppercase;
					color					 : #FFFFFF;
				}
			}
		}

    .popup__save-report {
      .popup-title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #252733;
        margin: 24px 32px 18px 32px;
      }

      .reports {
        margin: 0px 32px 22px 32px;

        .report {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .report__name {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #252733;
          }

          .report__options {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .option {
              margin-right: 5px;

              &:last-child {
                margin-right: 0;
              }

              .button {
                .button__item {
                  width: 58px;
                  height: 24px;

                  .button__txt {
                    font-family: Mulish;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 14px;
                    align-items: center;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                  }
                }
              }
            }
          }
        }
      }
    }
  // OBJECTS STYLES END

  // MIXIN STYLES START
    .row-settings {
      white-space: nowrap;
    }

    .cell__title {
      white-space : nowrap !important;
      text-align  : center;
    }

    .report__not-available {
      .button__item {
        width: 145px !important;
        height: 24px !important;
        background: #E6F2F4;

        &:active {
          background : #CDE3E7 !important;
        }

        .button__txt {
          font-family: Mulish;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 14px;
          color: #00788C !important;
        }
      }
    }

    .mix-rowspan {
      height: 82px !important;
    }

    .mix-celltop {
      vertical-align: top !important;
    }

    .mix-criterioncell {
      padding: 0 !important;
      padding-right: 22px !important;
      width: 100% !important;
    }
  // MIXIN STYLES END
</style>