<template>
  <div class="test-library-results">
    <mtTable class="test-library-results__table">
      <template #actions>
        <div style="width: 100%;">
          <div style="display: flex; align-items: center; width: 100%; height: 60px; padding-bottom: 10px;">
            <div
                class="test-library-results__export"
                @click="openGroupDownloadReportPopover"
            >
              <svg
                  class="test-library-results__export-logo"
                  width="18"
                  height="20"
                  viewBox="0 0 18 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M14.6481 6.90027H11.6595V8.67355H14.6481C15.5368 8.67355 16.2263 9.12752 16.2263 9.51823V17.3816C16.2263 17.7723 15.5368 18.2262 14.6481 18.2262H3.35164C2.46293 18.2262 1.77341 17.7723 1.77341 17.3816V9.51852C1.77341 9.12781 2.46293 8.67385 3.35164 8.67385H6.33962V6.90056H3.35164C1.47225 6.90056 0.0001297 8.05054 0.0001297 9.51852V17.3819C0.0001297 18.8501 1.47225 19.9998 3.35164 19.9998H14.6484C16.5274 19.9998 17.9999 18.8498 17.9999 17.3819V9.51852C17.9996 8.05024 16.5274 6.90027 14.6481 6.90027Z"
                    fill="#9FA2B4"
                ></path>
                <path
                    d="M6.37598 4.41991C6.60296 4.41991 6.82965 4.33332 7.00284 4.16013L8.11292 3.05005V6.90044V8.67373V12.0708C8.11292 12.5605 8.50984 12.9574 8.99956 12.9574C9.48928 12.9574 9.8862 12.5605 9.8862 12.0708V8.67373V6.90044V2.99005L11.0563 4.16013C11.2295 4.33332 11.4564 4.41991 11.6831 4.41991C11.9098 4.41991 12.1368 4.33332 12.31 4.16013C12.6564 3.81404 12.6564 3.2525 12.31 2.90641L9.66277 0.259195C9.48958 0.0860043 9.26289 0 9.03621 0C9.03384 0 9.03177 0 9.02941 0C9.02704 0 9.02497 0 9.02261 0C8.79593 0 8.56924 0.0860043 8.39605 0.259195L5.74883 2.90641C5.40245 3.2525 5.40245 3.81404 5.74883 4.16013C5.92232 4.33332 6.149 4.41991 6.37598 4.41991Z"
                    fill="#9FA2B4"
                ></path>
              </svg>
            </div>
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                :filtersSettings="filtersSettings"
                v-model:sort="sort"
                v-model:search="search"
                @change="updateResultsList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template
            v-for="(col, index) in cols"
            :key="index"
        >
          <div
              v-if="col.visible && col.showInTable"
              :data-index="index"
              :class="['test-library-results__header-cell', { 'test-library-results__header-cell_first': col.stub === '__name' }]"
          >
            <div class="test-library-results__header-cell__title">{{ col.title }}</div>
          </div>
        </template>
      </template>
      <template #body>
        <template v-if="results.length">
          <div
              v-for="(item, index) in results"
              :key="index"
              :class="['test-library-results__item', { 'test-library-results__item_selected': item.selected }]"
              @click.ctrl="onRowGroupSelected({ index })"
              @click.meta="onRowGroupSelected({ index })"
              @click.exact="onRowSingleSelected({ index })"
          >
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ item.mainTest.TestTitle }}</div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">
                <div class="test-library-results__body--full-name">{{ item.user?.full_name }}</div>
                <div class="test-library-results__body-tags">
                  <div
                      class="test-library-results__body-tag"
                      v-for="tag in item.tags"
                      :key="tag"
                      style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;"
                  >
                    {{ tag }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[2].visible">
              <div data-index="2">{{ item.branch }}</div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">{{ getGender({gender: item.user.gender}) }}</div>
            </div>
            <div v-if="cols[4].visible">
              <div
                  data-index="4"
                  @click.stop="openPlansListWithResult({ result: item.uuid, })"
              >
                {{ item.plans }}
              </div>
            </div>
            <div v-if="cols[5].visible">
              <div data-index="5">{{ item.session?.duration }}</div>
            </div>
            <div v-if="cols[6].visible">
              <div data-index="6">{{ getEndDate({endDate: item.session?.end_date}) }}</div>
            </div>
            <div v-if="cols[7].visible">
              <div data-index="7">
                <div
                    class="test-library-results__status"
                    v-if="item.acomplished"
                >
                  <div class="test-library-results__status-title">{{ 'Д' }}</div>
                </div>
                <div
                    class="test-library-results__status"
                    v-if="item.deleted"
                >
                  <div class="test-library-results__status-title">{{ 'У' }}</div>
                </div>
                <div
                    class="test-library-results__status"
                    v-if="item.unprocessed"
                >
                  <div class="test-library-results__status-title">{{ 'Н' }}</div>
                </div>
              </div>
            </div>
            <div
                class="test-library-results__download-report"
                v-if="cols[8].visible"
            >
              <div data-index="8">
                <svg
                    class="test-library-results__download-report-icon"
                    width="18"
                    height="20"
                    viewBox="0 0 18 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    @click="openDownloadReportPopover({ result: item, })"
                >
                  <path
                      d="M0 17.5H18V19.5H0V17.5ZM10 11.672L16.071 5.6L17.485 7.014L9 15.5L0.515 7.015L1.929 5.6L8 11.67V0.5H10V11.672Z"
                      fill="#09121F"
                  />
                </svg>
              </div>
            </div>
            <div v-if="cols[12].visible">
              <div data-index="9">
                <svg
                    style="width:24px;height:24px"
                    viewBox="0 0 24 24"
                    @click="openReplicationPopover({ result: item })"
                >
                  <path
                      fill="currentColor"
                      d="M4,8H8V4H20V16H16V20H4V8M16,8V14H18V6H10V8H16M6,12V18H14V12H6Z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template v-if="!results.length">
        <mtPreloader
            class="preloader_margin"
            v-for="preloader in perpage"
            :key="preloader"
            :height="80"
        />
      </template>
      <template #footer>
        <div class="test-library-results__actions">
          <mtButton
              class="test-library-results__actions-item"
              :preloader="reprocessResultsLoader"
              :class="['test-library-results__actions_send-msg', { 'test-library-results__actions-item_active': selectedResults?.length }]"
              @click="reprocessResultsGroup"
          >
            обработать повт.
          </mtButton>
          <mtButton
              class="test-library-results__actions-item"
              :preloader="deleteResultsLoader"
              :class="['test-library-results__actions_switch', { 'test-library-results__actions-item_active': selectedResults?.length }]"
              @click="activateConfirmationDialog"
          >
            удалить
          </mtButton>
          <mtButton
              class="test-library-results__actions-item"
              :class="['test-library-results__actions_delete', { 'test-library-results__actions-item_active': selectedResults?.length }]"
              @click="makeFreeGroup"
          >
            бесплатно
          </mtButton>
          <mtButton
              class="test-library-results__actions-item"
              :class="['test-library-results__actions_switch', { 'test-library-results__actions-item_active': selectedResults?.length }]"
              @click="onAddTagClicked"
          >
            Присвоить тэг
          </mtButton>
        </div>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updateResultsList"
        />
      </template>
    </mtTable>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Удалить результаты? Количество: ${selectedResults?.length}`"
          :submit-cb="deleteResultsGroup"
      />

      <mtTagsPopover
          :visibility="showTagsPopup"
          :addLoader="addNewTagLoader"
          :tags="tags"
          :foundTags="foundTags"
          @close="closeTagsPopover"
          @search="searchTags"
          @select="selectTag"
          @add="addTag"
          @delete="deleteTag"
      />
      <DownloadReportPopover
          :visibility="showDownloadReportPopup"
          :reports="clipboardReports"
          @close="closeDownloadReportPopover"
          @download="downloadReport"
      />
      <GroupDownloadReportPopover
          :isGroup="true"
          :visibility="showGroupDownloadReportPopup"
          :reports="clipboardReports"
          @close="closeGroupDownloadReportPopover"
          @download="groupDownloadReport"
      />

      <ReplicationPopup
          v-model="showReplicationPopover"
          :applyLoader="replicationApplyLoader"
          :plans="clipboardPlans"
          @close="closeReplicationPopover"
          @apply="applyReplication"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import getGenderBySlug from '@/services/getGenderBySlug';
import DateService from '@/services/DateService';
import mtTable from "@/components/UI/mtTable/mtTable2";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import mtTagsPopover from "@/components/composite/mtTagsPopover";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtButton from "@/components/UI/mtButton";
import DownloadReportPopover from "@/components/workspace/testLibrary/results/DownloadReportPopover";
import GroupDownloadReportPopover from "@/components/workspace/testLibrary/results/DownloadReportPopover";
import ReplicationPopup from "@/components/workspace/testLibrary/results/ReplicationPopup";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  components: {
    ConfirmationDialog,
    mtTable,
    mtPagination,
    mtFilters,
    mtTagsPopover,
    mtPreloader,
    mtButton,
    DownloadReportPopover,
    GroupDownloadReportPopover,
    ReplicationPopup,
  },

  props: {},
  data() {
    return {
      titleActiveSection: "Результаты",

      showTagsPopup: false,
      addNewTagLoader: false,
      foundTags: [],

      showDownloadReportPopup: false,
      showGroupDownloadReportPopup: false,
      showReplicationPopover: false,

      clipboardReports: [],
      clipboardPlans: [],
      clipboardUuid: null,
      clipboardUuidSession: null,
      clipboardUuidUser: null,

      cols: [
        { /* 0 */
          title: "Название теста",
          stub: "MaintestName",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: true,
          showInTable: true,
        },
        { /* 1 */
          title: "ФИО",
          stub: "full_name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 2 */
          title: "Филиал",
          stub: "branch",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 3 */
          title: "Пол",
          stub: "gender",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 4 */
          title: "Планы оценки",
          stub: "plans",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 5 */
          title: "Длительность",
          stub: "duration",
          visible: true,
          filter: "time",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 6 */
          title: "Время завершения",
          stub: "end_date",
          visible: true,
          filter: "datetime",
          filterable: true,
          sortable: true,
          showable: true,
          showInTable: true,
        },
        { /* 7 */
          title: "Доп. информация",
          stub: "branch",
          visible: true,
          filter: "string",
          showInTable: true,
          showable: true,
        },
        { /* 8 */
          title: "Отчет",
          stub: "branch",
          visible: true,
          filter: "string",
          showInTable: true,
          showable: true,
        },
        { /* 9 */
          title: "Не обработан",
          stub: "unprocessed",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: false,
        },
        { /* 10 */
          title: "Дозавершенный",
          stub: "acomplished",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: false,
        },
        { /* 11 */
          title: "Удаленный",
          stub: "deleted",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: false,
        },
        { /* 12 */
          title: "Тиражирование",
          stub: "replication",
          visible: true,
          filter: "",
          filterable: false,
          sortable: false,
          showable: true,
          showInTable: true,
        },
      ],

      filtersSettings: [],
      page: 1,
      perpage: 15,
      total: 1,
      results: [],
      filters: [],
      search: {},

      sort: {},

      searchAddTag: "",
      tags: [],

      /* LOADERS */
      deleteResultsLoader: false,
      reprocessResultsLoader: false,
      replicationApplyLoader: false,
      isConfirmationDialogOpen: false
    };
  },
  computed: {
    selectedResults() {
      return this.results.filter((plan) => {
        return plan.selected;
      });
    },
  },

  methods: {
    ...mapActions([
      'setTitlesPath',
      'setTitleActiveSection',
      'setAssessmentPlanName',
      'fetchTags',
    ]),
    ...mapActions('results', [
      'fetchResults',
      'fetchPlansForReplications',
      'resultsPlansAttach',
      'deleteResults',
      'reprocessResults',
      'exportResultsReport',
      'downloadResultsReport',
      'addTags',
    ]),

    /* GETTERS */
    getResultsList() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      this.fetchResults(params)
          .then((res) => {
            this.total = res?.data?.meta?.total;
            this.filtersSettings = res.data.meta.filters;

            return (this.results = res.data.data.map((plan) => {
              return {
                ...plan,
                selected: false,
                delLoader: false,
              };
            }));
          })
          .then((results) => {


            this.results = results;
          });
    },
    getGender({gender,}) {


      if (!gender) return null;

      return this.cut3Gender(
          this.capitalizeFirstLetter(getGenderBySlug(gender))
      );
    },
    getEndDate({endDate,}) {
      if (!endDate) return null;

      return `${this.parseDate({string: endDate})} ${this.parseTime({string: endDate})}`;
    },

    /* SETTERS */

    activateConfirmationDialog() {
      this.isConfirmationDialogOpen = true
    },

    /* HANDLERS */
    async deleteResultsGroup() {
      if (this.deleteResultsLoader && !this.selectedResults.length) return
      this.deleteResultsLoader = true;

      const results = this.selectedResults.map(result => result.uuid);

      await this.deleteResults({results,});

      this.results = this.results.filter(result => !results.includes(result.uuid));
      this.deleteResultsLoader = false;
    },
    async reprocessResultsGroup() {
      this.$toast.error('функционал временно недоступен')

      // if (
      //   !this.reprocessResultsLoader
      //   &&
      //   this.selectedResults.length
      //   &&
      //   confirm(`Обработать повторно результаты? Количество: ${this.selectedResults.length}`)
      // ) {
      //   this.reprocessResultsLoader = true;

      //   const sessions = this.selectedResults.map(result => result.session?.uuid);

      //   await this.reprocessResults({ sessions, });
      //   await this.resetSelectResults();

      //   this.reprocessResultsLoader = false;
      // }
    },
    onRowGroupSelected(payload = {}) {
      if (this.showDownloadReportPopup) {
        return;
      }

      this.results[payload.index].selected = !this.results[payload.index].selected;
    },
    onRowSingleSelected(payload = {}) {
      if (
          this.showDownloadReportPopup ||
          this.showReplicationPopover
      ) {
        return;
      }

      this.results.forEach((plan, index) => {
        if (index === payload.index) {
          this.results[payload.index].selected = !this.results[payload.index].selected;
        } else {
          plan.selected = false;
        }
      });
    },
    async onAddTagClicked() {
      this.foundTags = [];

      if (this.selectedResults.length) {
        this.showTagsPopup = !this.showTagsPopup;

        if (this.showTagsPopup) {
          await this.parseTags();
        }
      }
    },
    closeTagsPopover() {
      this.showTagsPopup = false;
    },
    async searchTags({tag,}) {


      if (tag) {
        this.foundTags = await this.fetchTags({search: tag}).then((response) => response.data.data);
      } else {
        this.foundTags = [];
      }
    },
    selectTag({tag,}) {


      this.searchTag = tag;
      this.foundTags = [];
    },
    async addTag({tag,}) {


      if (!this.addNewTagLoader) {
        this.addNewTagLoader = true;

        if (!!tag.replaceAll(" ", "")) {
          const tags = this.selectedResults.map((plan) => {
            return {
              uuid: plan.uuid,
              tags: [...new Set([tag, ...plan.tags.map((tag) => tag)])],
            };
          });

          await this.addTags({tags});
          await this.selectedResults.forEach((selectedPlan) => {
            selectedPlan.tags = [...new Set([tag, ...selectedPlan.tags])];
          });
          await this.parseTags();
        }

        this.addNewTagLoader = false;
      }
    },
    async deleteTag({tag,}) {


      if (!!tag.replaceAll(" ", "")) {
        const tags = this.selectedResults.map((plan) => {
          return {
            uuid: plan.uuid,
            tags: plan.tags.filter((_tag) => _tag !== tag),
          };
        });

        await this.addTags({tags});
        await this.selectedResults.forEach((selectedPlan) => {
          selectedPlan.tags = selectedPlan.tags.filter((_tag) => _tag !== tag);
        });
        await this.parseTags();
      }
    },
    openDownloadReportPopover({result,}) {
      this.clipboardReports = result.reports.map((report) => ({
        ...report,
        selected: false,
      }));
      this.clipboardUuidSession = result.session.uuid;
      this.clipboardUuidUser = result.user.uuid;
      this.showDownloadReportPopup = true;
    },
    closeDownloadReportPopover() {
      this.clipboardReports = [];
      this.clipboardUuidSession = null;
      this.clipboardUuidUser = null;
      // this.clipboardGender = null;
      // this.clipboardFullName = null;
      this.showDownloadReportPopup = false;
    },
    async downloadReport({format, variants,}) {
      const payload = [
        {
          format,
          variants,
          uuid: this.clipboardUuidSession,
          user_uuid: this.clipboardUuidUser,
        }
      ];

      await this.exportResultsReport(payload).then((response) => {
        if (response.data?.url) {
          this.downloadResultsReport({
            reportLink: response.data.url,
            type: format,
            isGroup: variants.length > 1,
          });
        }
      });

      // this.closeDownloadReportPopover();
    },
    openGroupDownloadReportPopover() {
      if (this.selectedResults.length) {
        if (this.checkUniqueSelectedResults()) {
          this.clipboardReports = this.selectedResults[0].reports.map((report) => ({
            ...report,
            selected: false,
          }));
          this.showGroupDownloadReportPopup = true;
        } else {
          this.$toast.warning('Необходимо выбрать результаты с одинаковыми тестами');
        }
      } else {
        this.$toast.warning('Выберете результаты');
      }
    },
    closeGroupDownloadReportPopover() {
      this.showGroupDownloadReportPopup = false;
    },
    async openReplicationPopover({result,}) {
      this.clipboardUuid = result.uuid;

      this.fetchPlansForReplications({
        user: result.user.uuid,
        maintest: result.mainTest.MaintestName,
        result: result.uuid,
      }).then((response) => {
        if (!response.data?.data) {
          this.$toast.error('Error');

          return;
        }

        const PLANS = response.data?.data;

        PLANS.forEach((plan) => {
          if (plan.success) {
            this.clipboardPlans.unshift(plan);
          } else {
            this.clipboardPlans.push(plan);
          }
        });
      });

      this.showReplicationPopover = true;
    },
    closeReplicationPopover() {
      this.showReplicationPopover = false;
      this.clipboardPlans = [];
      this.clipboardUuid = null;
    },
    async applyReplication(plans) {
      if (!this.replicationApplyLoader) {
        this.replicationApplyLoader = true;

        await this.resultsPlansAttach({
          uuid: this.clipboardUuid,
          plans: plans.map(plan => plan.uuid),
        });
        this.closeReplicationPopover();

        this.replicationApplyLoader = false;
      }
    },
    async groupDownloadReport({format, variants,}) {
      const payload = this.selectedResults.map((result) => ({
        format,
        variants,
        uuid: result.session.uuid,
        user_uuid: result.user.uuid,
      }));

      await this.exportResultsReport(payload).then((response) => {
        if (response.data?.url) {
          this.downloadResultsReport({
            reportLink: response.data.url,
            isGroup: true,
          });
        }
      });

      // this.closeGroupDownloadReportPopover();
    },
    openPlansListWithResult({result,}) {
      if (!result) return;

      this.$router.push({
        name: 'AssessmentPlansList',
        params: {result,}
      });
    },
    makeFreeGroup() {
      this.$toast.error('функционал временно недоступен');
    },

    /* HELPERS */
    updateResultsList(payload = {}) {
      this.results = [];
      this.getResultsList();
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    cut3Gender(string) {
      return string.slice(0, 3);
    },
    async parseTags() {
      let tags = [];

      await this.selectedResults.forEach((plan) => {
        tags.push(...plan.tags);
      });

      this.tags = [...new Set(tags)].map(tag => ({
        name: tag,
      }));
    },
    checkUniqueSelectedResults() {
      return [...new Set(this.selectedResults.map(result => result.mainTest.TestTitle))].length === 1;
    },
    async resetSelectResults() {
      this.results = this.results.map((result) => ({
        ...result,
        selected: false,
      }));
    },
    parseDate({string,}) {
      if (!string) return null;

      return DateService.parseDate({
        string,
        nodeSplitBy: " ",
        itemSplitBy: "-",
        divider: ".",
      });
    },
    parseTime({string,}) {
      if (!string) return null;

      return DateService.parseTime({
        string,
        nodeSplitBy: " ",
      });
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },
  watch: {
    reports(newReports) {


      this.reports = newReports.map((report) => ({
        ...report,
        selected: false,
      }));
    },
  },

  created() {


    this.initBreadcrumbs();

    if (this.$route.params.filters) {


      this.filters = [
        ...this.filters,
        ...JSON.parse(this.$route.params.filters),
      ];
    }

    this.getResultsList();
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
};
</script>

<style lang="scss">
.test-library-results {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__table {
    // min-width: 975px;
  }

  &__header {
    &-cell {
      padding: 12px 30px;
      vertical-align: middle;
      text-align: center;
      background: #00788C;

      &__title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        white-space: nowrap;
        letter-spacing: 0.01em;
        color: #FFFFFF;
      }

      &_first {
        text-align: left;
      }
    }
  }

  &__body {
    &--full-name {
      white-space: nowrap;
    }

    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    &-tag {
      margin-right: 5px;
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover:not(.test-library-results__item_selected) {
      background-color: #f7f8ff;
    }

    &_selected {
      background: #e7e9ff;
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 16px 0px;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 115%;
      letter-spacing: 0.01em;

      & > [data-index="0"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #00788C;
        cursor: pointer;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="6"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="7"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="8"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }

      & > [data-index="9"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-item {
      transition: all 0.2s ease;
      background: #f0f1f7 !important;
      border-radius: 8px !important;
      padding: 5px 12px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      user-select: none;
      color: #9fa2b4 !important;
      margin-left: 10px;
      max-height: 24px !important;
      box-sizing: border-box;
      cursor: unset !important;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        background: #00788c !important;
        color: #ffffff !important;
        cursor: pointer !important;

        &:active {
          background: #066a7e !important;
        }
      }
    }

    &_delete {
      min-width: 83px;
    }

    &_switch {
      min-width: 89px;
    }

    &_send-msg {
      min-width: 120px;
    }
  }

  &__add-tag-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #00788c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  &__tags {
    &-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    &-body {
    }

    &-name {
    }

    &-delete {
    }

    &-add {
      width: 45px;
      height: 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: #00788c;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      margin-left: 10px;

      &:active {
        background: #066a7e;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      margin-top: 15px;

      &:first-child {
        margin-top: 20px;
      }
    }

    &-delete {
      cursor: pointer;
    }
  }

  &__download-report {
    &-icon {
      cursor: pointer;
    }
  }

  &__export {
    background: #F0F1F7;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;

    &:active {
      background: #D7D7DD;
    }
  }

  &__status {
    height: 30px;
    width: 30px;
    background: #E6F2F4;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    &-title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 115%;
      letter-spacing: 0.01em;
      color: #00788C;
      user-select: none;
    }
  }
}

/* MIXINS STYLES CSS START */
.preloader_margin {
  margin: 10px 10px 0px 10px;
}

.mt-table {
  &__footer {
    padding: 30px 30px 0 30px;
  }
}

.participants {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #0073E5;
  }
}

/* MIXINS STYLES CSS END */
</style>