<template>
  <mtDialog
      v-model="computedModelValue"
      :size="size"
  >
    <div class="confirmation-dialog">
      <div
          v-if="$slots.icon"
          class="confirmation-dialog__icon"
      >
        <slot name="icon"/>
<!--        <mtSvg name="search"/>-->
      </div>
      <h2 class="confirmation-dialog__title">{{ title }}</h2>
      <p class="confirmation-dialog__text">{{ text }}</p>
      <div class="confirmation-dialog__btns">
        <mtButton
            class="confirmation-dialog__submit-btn"
            @click="close"
        >
          Закрыть
        </mtButton>
        <mtButton @click="submit">{{ submitText }}</mtButton>
      </div>
    </div>
  </mtDialog>
</template>

<script>
import MtDialog from '@/components/UI/mtDialog/mtDialog.vue';
import MtButton from '@/components/UI/mtButton';

export default {
  name: "confirmationDialog",
  components: {MtButton, MtDialog},
  props: {
    modelValue: Boolean,
    title: {
      type: String,
      default: 'Подтвердить'
    },
    text: String,
    size: {
      type: String,
      default: 'sm'
    },
    submitText: {
      type: String,
      default: 'Подтвердить'
    },
    submitCb: Function
  },
  emits: ['update:modelValue', 'submit'],
  computed: {
    computedModelValue: {
      get() {
        return this.modelValue
      },
      set(newValue) {
        this.$emit('update:modelValue', newValue)
      }
    }
  },
  methods: {
    async submit() {
      await this.submitCb()
      this.close()
    },

    close() {
      this.computedModelValue = false
    }
  }
}
</script>

<style
    lang="scss"
    src="./confirmationDialog.scss"
/>