
.confirmation-dialog {
  display: flex;
  flex-direction: column;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: #C5C7CD;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 12px;
    margin: 0 auto 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.18px;
    color: #252733;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #9FA2B4;
    margin-bottom: 16px;
  }

  &__btns {
    display: flex;
    margin: -5px;

    .mt-button {
      width: calc(50% - 5px);
      margin: 5px;
    }
  }

  &__submit-btn.mt-button {
    background: #E6F2F4;
    color: #00788C;
  }
}
