.expander {
  &__item {
    position: relative;

    & + & {
      margin-top: 8px;
    }

    &__header {
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 10px 0 5px;
      cursor: pointer;
      user-select: none;
      transition: background-color .3s ease;
      position: relative;

      &:hover {
        color: #7734FC;
        .expander__item__plus {
          path {
            stroke: #7734FC;
          }
        }
      }
    }

    &_active {
      .expander__item__arrow-btn {
        transform: rotate(180deg);
      }
    }

    &__title {
      transition: color .2s;
      max-width: calc(100% - 25px);
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.4px;
      color: #252733;
    }

    &__arrow-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 18px;
      max-width: 18px;
      height: 18px;
      margin-left: 24px;
      --current-color: #000;
      transition: transform .3s;

      svg {
        width: 16px;
        transform: rotate(180deg);
        transition: transform .4s ease;

        path {
          transition: stroke .2s;
        }
      }
    }

    &__append {
      display: flex;
      margin-left: auto;
    }

    &__body {
      padding-top: 10px;
      border-radius: 0 0 10px 10px;

      @include max-sm {
        padding: 12px 0;
      }
    }
  }
}

@media all and (max-width: 992px) {
  .expander {
    &__item {
      &__append {
        flex-wrap: wrap;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .expander {
    &__header {
      padding: 12px 15px;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__plus {
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      margin-left: 25px;
    }

    &__item {
      &__arrow-btn {
        margin-left: auto;
        align-self: flex-start;
      }
    }

    &__body {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media all and (max-width: 575px) {
  .expander {
    &__item {
      &__header {
        flex-wrap: wrap;
        padding-right: 0;
      }
      &__append {
        width: 100%;
      }
    }
  }
}