<template>
  <div
      ref="item"
      :class="['expander__item', {
        'expander__item_active': isActive
      }]"
  >
    <div
        class="expander__item__header"
        v-show="hasHeaderSlot"
        @click="toggle()"
    >
      <div
          class="expander__item__title"
          ref="headerSlot"
      >
        <slot name="header"/>
      </div>
      <button
          class="expander__item__arrow-btn"
          v-show="!disabled"
      >
        <mtSvg name="arrowVector"/>
      </button>
      <div
          class="expander__item__append"
          v-if="isSlotExist('appendHeader')"
      >
        <slot name="appendHeader"/>
      </div>
    </div>
    <slide-in-out-animation v-model="isActive">
      <div class="expander__item__body">
        <slot name="content"/>
      </div>
    </slide-in-out-animation>
  </div>
</template>
<script>
import mtSvg from "@/components/UI/mtSvg";
import SlideInOutAnimation from '@/components/UI/mtSlideInOutAnimation';

export default {
  name: 'mtExpanderItem',
  components: {
    SlideInOutAnimation,
    mtSvg
  },
  data: () => ({
    isActive: true,
    hasHeaderSlot: true
  }),
  props: {
    disabled: {
      type: Boolean,
      default: false,
    }
  },
  methods: {
    toggle() {
      if (this.disabled) return;

      this.isActive = !this.isActive;
    },

    isSlotExist(item) {
      return this.$slots[item]
    },
  },
  mounted() {
    this.hasHeaderSlot = !!this.$refs.headerSlot?.innerText;
  }
}
</script>