<template>
  <mtCard
      :icon="assessmentPlan?.icon?.name"
      :class="['assessment-plans-card', 'assessment-plans-card--' + assessmentPlan?.icon?.className]"
  >
    <template #header>
      <h3 class="assessment-plans-card__title">{{ assessmentPlan.name }}</h3>
      <div
          v-if="assessmentPlan.notifications"
          class="assessment-plans-card__notification-icon"
      >
        <img
            src="/img/icons/notification.svg"

        >
      </div>
    </template>
    <template #content>
      <mtShowMoreText
          class="assessment-plans-card__desc"
          height="67px"
      >
        <p>{{ assessmentPlan.description }}</p>
      </mtShowMoreText>
      <div class="assessment-plans-card__statistics">
        <slot
            name="item-statistics"
            v-bind="assessmentPlan"
        />
        <div class="assessment-plans-card__progress assessment-plans-card__progress_wrap">
          <div class="assessment-plans-card__progress__text">
            <div class="assessment-plans-card__progress__title">Прогресс: {{ assessmentPlan.progress }}%</div>
          </div>
          <mtLinearProgress
              class="assessment-plans-card__progress__linear"
              :height="8"
              background-color="#fff"
              :progress="assessmentPlan.progress"
          />
        </div>
      </div>
      <plan-test-time :item="assessmentPlan"/>
      <mtButton
          class="assessment-plans-card__btn"
          :disabled="!assessmentPlan.isOpened"
          @click="goToPlanPage(assessmentPlan.uuid)"
      >
        {{ assessmentPlan.btn.label }}
      </mtButton>
    </template>
  </mtCard>
</template>

<script>
import mtLinearProgress from "@/components/UI/mtLinearProgress/mtLinearProgress.vue";
import mtCard from "@/components/UI/mtCard";
import mtButton from "@/components/UI/mtButton";
import mtShowMoreText from "@/components/UI/mtShowMoreText";
import PlanTestTime from '@/components/workspace/assessmentPlans/planTestTime';

export default {
  name: "assessmentPlanCard",
  components: {
    PlanTestTime,
    mtCard,
    mtButton,
    mtShowMoreText,
    mtLinearProgress
  },
  props: {
    assessmentPlan: {
      type: Object
    }
  },

  methods: {
    goToPlanPage(uuid) {
      const routeName = this.$route.name === 'AssessmentPlansArchive' ? 'AssessmentPlansArchiveSingle' : 'ExpRespAssessmentPlanSingle'
      this.$router.push({
        name: routeName,
        params: {
          planUuid: uuid
        }
      })
    }
  },
}
</script>

<style
    lang="scss"
    src="./style.scss"
/>