$margin: 7px;

@function calculateWidthWithMargin($width) {
  @return calc(#{$width} - (#{$margin} * 2));
}

.assessment-plans-card {
  width: calculateWidthWithMargin(25%);
  margin: $margin;

  &--completed {
    .mt-card__header__icon {
      background-color: $olive-green;
      svg{
        --current-color: #fff!important;
      }
    }
  }

  &--scheduled {
    .mt-card__header__icon {
      background-color: $yellow;
      svg{
        --current-color: #fff!important;
      }
    }
  }

  &--active {
    .mt-card__header__icon {
      svg{
        --current-color: $gray!important;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: $black;
    display: flex;
    align-items: center;
    padding-right: 10px;
    flex-grow: 1;
  }

  &__notification-icon {
    display: flex;
    min-width: 24px;
    max-width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: $gray;
    margin-bottom: 30px;
    white-space: pre-wrap;
    word-break: break-word;
  }

  &__statistics {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.5px 15px;
  }

  &__progress {
    width: calc(50% - 5px);
    margin: 2.5px;
    background: #F0F1F7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    &_wrap{
      flex-wrap: wrap;
    }
    &__value{
      line-height: 1;
    }
    &__icon{
      width: 31px;
      height: 31px;
    }
    &__text {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.2px;
      color: $black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      margin-bottom: 6px;
    }

    &__linear {
      width: 100%!important;
      margin-top: 4px;
    }
  }

  &__btn {
    position: relative;
    margin-top: auto;
    &:disabled {
      background: #F0F1F7;
      color: $gray;
      cursor: default;
    }
  }

  @include max-lg {
    width: calculateWidthWithMargin(33.333333%);
    max-width: unset;
  }

  @include max-md {
    width: calculateWidthWithMargin(50%);
  }

  @include max-xs {
    width: 100%;
    margin: $margin 0;
  }

}

@media all and (max-width: 575px) {
  .assessment-plans-card {
    &__progress {
      //width: 100%;
      margin: 2.5px;
    }
  }
}