<template lang="pug">
.tests-library--test-settings
  Testing.tests-library--test-settings__testing
  Report.tests-library--test-settings__report
  ExportToExcel.tests-library--test-settings__export-to-excel

</template>

<script>
import { mapActions, } from "vuex";
import { inputSettingsAdapter, } from '@/adapters/testLibrary/tests/testSettings.adapter';
import Testing from '@/components/workspace/testLibrary/tests/item/settings/Testing';
import Report from '@/components/workspace/testLibrary/tests/item/settings/Report';
import ExportToExcel from '@/components/workspace/testLibrary/tests/item/settings/ExportToExcel';

export default {
  components: {
    Testing,
    Report,
    ExportToExcel,
  },

  props: {},
  data: () => ({
    settings: null,
  }),
  computed: {
    testSettings() {
      return this.$store.getters['test/settings'];
    },
    titleActiveSection() {
      return `Настройки "${this.$route.query.testName}"`;
    },
  },

  watch: {},
  methods: {
    ...mapActions([
      'setTitlesPath',
      'setTitleActiveSection',
    ]),
    ...mapActions('test', [
      'fetchTestSettings',
      'setTestsSettingsStore',
    ]),

    /* GETTERS */
    async getSettings() {
      this.setTestsSettingsStore(
        inputSettingsAdapter(
          await this.fetchTestSettings({
            uuidTest: this.$route.params.uuid,
          })
        )
      );
    },

    /* SETTERS */
    /* HANDLERS */
    /* HELPERS */
    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: `Настройки "${this.$route.query.testName}"`,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  created() {
    this.initBreadcrumbs();
    this.getSettings();
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
}
</script>

<style lang="scss">
.tests-library--test-settings {
  max-width: 1121px;

  &__report,
  &__export-to-excel {
    margin-top: 20px;
  }
}
</style>