<template>
  <div
      class="dropdown"
      ref="root"
  >
    <div
        class="dropdown__header"
        @click.prevent="toggleDropdown()"
    >
      <slot name="header">
        <img
          class="dropdown__header__arrow"
          src="/img/icons/arrow.svg"

        />
      </slot>
    </div>
    <div :class="['dropdown__body', {'dropdown__body--active': dropdownIsActive}]">
      <slot name="body" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'mtDropdown',
  data: () => ({
    dropdownIsActive: false
  }),
  methods: {
    closeIfClickedOutside(e) {
      if (!this.$refs.root.contains(e.target) || e.target.classList.contains('dropdown__body__item')) {
        this.dropdownIsActive = false
      }
    },
    toggleDropdown() {
      this.dropdownIsActive = !this.dropdownIsActive
    }
  },
  mounted() {
    window.addEventListener('click', this.closeIfClickedOutside);
  },
  unmounted() {
    window.removeEventListener('click', this.closeIfClickedOutside);
  }
}
</script>

<style
    lang="scss"
    src="./mtDropdown.scss"
/>