.dropdown {
  position: relative;
  user-select: none;

  &__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #181515;
    height: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    transition: color .3s;

    &:hover {
      color: #000;
    }

    &__arrow {
      margin-left: 10px;
      width: 10px;
      height: 5px;
    }
  }

  &__body {
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    z-index: 5;
    overflow: hidden;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
    transform: translate(0, -10px);

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translate(0);
    }

    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 10px;
      cursor: pointer;
      color: #000000;
      font-size: 14px;
      border-radius: 0;

      &__icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }
  }

}