.mt-solid {
  position: relative;
  height: 56px;
  max-width: 100%;
  flex-grow: 1;
  cursor: pointer;
  &__remove {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: auto;
    background-color: red;
  }
  &__add {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    max-height: 32px;
    margin-right: 15px;
    padding: 0;
  }
  &__input {
    border: 0;
    background: transparent;
    flex-shrink: 1;
    min-width: 10px;
    color: #7C869D
  }
  &__wrapper {
    overflow: hidden;
    height: 56px;
    background: #f0f1f7;
    border-radius: 5px;
    position: relative;
  }
  &__selected {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #252733;
    padding: 0 15px;
  }
  &__history {
    &-item {
      height: 44px;
      display: flex;
      align-items: center;
      color: #7C869D;
      padding: 0 15px;
      &:hover {
        cursor: pointer;
        color: #677086;
        background-color: rgba(0,0,0,.03);
      }
      & > span {
        display: block;
        width: calc(100% - 24px);
      }
    }
  }
  &__list {
    z-index: 10000;
    width: 100%;
    &-item {
      height: 44px;
      display: flex;
      align-items: center;
      color: #7C869D;
      padding: 0 15px;
      &:hover {
        cursor: pointer;
        color: #677086;
        background-color: rgba(0,0,0,.03);
      }
      & > span {
        display: block;
        width: calc(100% - 24px);
      }

    }
  }
  & .mt-solid__arrow {
    transition: all ease-in-out .2s;
  }
  &_opened {
    z-index: 10000;
    position: relative;
    & > .mt-solid__wrapper {
      height: auto;
      position: static;
    }
    & .mt-solid__arrow {
      transform: rotate(-180deg);
    }
  }
  &_error {
    & > .mt-solid__wrapper {
      background-color: rgba(255, 0, 0, .3);
    }
  }
}