<template>
  <div
      :class="['mt-solid', {
        'mt-solid_opened': showList,
        'mt-solid_error': errorState
        }]"
      v-click-outside="vcoSettings"
  >
    <div class="mt-solid__wrapper">
      <div
          class="mt-solid__selected"
          @click="toggle"
      >
        <input
            class="mt-solid__input"
            v-model="query"
            ref="ipt"
        />
        <mtButton
            class="mt-solid__add"
            v-if="hasQuery &amp;&amp; !hasMatch"
        >
          <mtIcon
              name="plus"
              fill="#fff"
              :preloader="actionPreloader"
              @click="actionClick"
          />
        </mtButton>
        <mtIcon
            class="mt-solid__arrow"
            name="arrow-down"
            :fill="!errorState ? '#00788C' : 'rgba(220, 0, 0, .3)'"
            style="flex-shrink: 0;"
        />
      </div>
      <div class="mt-solid__list">
        <template v-if="filteredItems.length">
          <div
              class="mt-solid__list-item"
              v-for="(item, index) in filteredItems"
              :key="index"
              @click.self="selectItem(item.uuid)"
          >
            <span @click.self="selectItem(item.uuid)">{{ item.value || item.name || item }}</span>
            <mtIcon
                class="mt-solid__revome"
                name="basket"
                fill="#9FA2B4"
                @click="removeItem(item.uuid)"
                :preloader="item.preloader"
            />
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
import mtButton from '@/components/UI/mtButton'

export default {
  name: 'mtSelectExtend',
  props: {
    modelValue: {
      type: [String, Number, Object],
      default: null
    },
    items: {
      type: [Array, Object],
      default: () => []
    },
    hasError: {
      type: Boolean,
      default: false
    },
    hasFilter: {
      type: Boolean,
      default: true
    },
    planUuid: {
      type: String,
      default: null
    }
  },
  components: {
    mtIcon,
    mtButton
  },
  created() {
    try {
      this.historyItems = JSON.parse(localStorage.getItem(`history-${this.planUuid}`)) || []
    } catch (e) {

    }

  },
  data() {
    return {
      query: this.modelValue?.name || null,
      showList: false,
      errorState: this.hasError,
      actionPreloader: false,
      removePreloader: false,
      historyItems: [],
      vcoSettings: {
        handler: this.hide,
        events: ['mousedown'],
        isActive: true,
        detectIFrame: true,
        capture: false
      },
      focused: false
    }
  },

  computed: {
    hasQuery() {
      return this.query
    },
    hasMatch() {
      let match = false
      this.items.forEach(item => {
        if (item.name.toString().toLowerCase() === this.query.toString().toLowerCase()) match = true
      })
      return match
    },

    filteredItems() {
      if (this.hasQuery && this.hasFilter) {
        let items = this.items.filter(group => {
          return !!(group.name.toString().toLowerCase().indexOf(this.query.toString().toLowerCase()) + 1)
        })
        return items
      }
      return this.items
    },
    // TODO reverse and last 3
  },

  methods: {
    toggle() {
      this.focused = true;
      this.showList = true;
      this.errorState = false;
      this.$emit('focus');
      this.$refs.ipt.focus();
    },
    actionClick() {
      this.$emit('add', this.query);
      this.actionPreloader = true;
    },
    hide() {
      this.showList = false;

      if (this.focused) {
        this.focused = false
        this.$emit('blur')
        this.$refs.ipt.blur()
      }
    },
    selectItem(uuid) {
      let idx = this.items.findIndex(item => item.uuid === uuid)

      if (idx >= 0) {

        let items = JSON.parse(localStorage.getItem(`history-${this.planUuid}`)) || []
        this.$emit('update:modelValue', this.items[idx])
        this.$emit('change')
        this.hide()
      }
    },
    removeItem(uuid) {
      this.$emit('remove', uuid)
    },
  },
  watch: {
    items(newVal) {
      this.actionPreloader = false
      this.removePreloader = false
    },
    hasError(newV) {
      this.errorState = newV
    },
    modelValue(newV) {
      this.query = newV?.name || null
    }
  }
}
</script>

<style
    lang="scss"
    src="./mtSelectExtend.scss"
    scoped
/>
