<template lang="pug">

.auth-main-layout
  .left-background-picture
    img.left-background-picture__item( src="@/assets/img/svg/left-background-picture.svg" )
  .right-background-picture
    img.right-background-picture__item( src="@/assets/img/svg/right-background-picture.svg" )
  main
    slot

</template>

<script>

  export default {

    components: {},

    data ()
    {
      return {}
    },

    methods : {
      getters ()
      {
        return {}
      },

      setters ()
      {
        return {}
      },

      handlers ()
      {
        return {}
      },

      helpers ()
      {
        return {}
      },

      init (){},

      bindActions (){},
    }

  }

</script>

<style lang="scss" scoped>

.auth-main-layout
{
  /* OBJECT STYLES CSS START */
    .left-background-picture
    {
      position: fixed;
      bottom: 0;
      left: 0;
    }

    .right-background-picture
    {
      position: absolute;
      top: 0;
      right: 0;
    }
  /* OBJECT STYLES CSS END */
}

</style>
