<template>
  <div
    :class="['workspace', {
      'workspace_without-sidebar': !displaySidebarByUserRole
    }]"
  >
    <SideBar v-if="displaySidebarByUserRole"/>

    <div class="wrapper">
      <Header :class="{'header_sidebar-exist': displaySidebarByUserRole}" />

      <main class="main">
        <slot />
      </main>

      <Footer v-if="isFooterShow" />
    </div>
  </div>
</template>

<script>
import SideBar from "@/components/workspace/SideBar";
import Header from "@/components/workspace/Header";
import { mapGetters } from 'vuex';
import Footer from '@/components/workspace/Footer';

export default {
  components: {
    Footer,
    SideBar,
    Header,
  },

  data() {
    return {
      activeSection: "AssessmentPlans",
      activeSectionTitle: "Планы оценок",
      windowScreenWidth: null,

      key: 0,
    };
  },

  computed: {
    ...mapGetters(['USER']),
    displaySidebarByUserRole() {
      if(!this.USER) return
      return !(this.USER.role === 'respondent' || this.USER.role === 'expert' || this.USER.role === 'inspector')
    },

    isFooterShow () {
      if(!this.USER) return
      return this.USER.role === 'respondent' || this.USER.role === 'expert' || this.USER.role === 'inspector'
    }
  },

  methods: {
    calculateWindowScreen () {
      this.windowScreenWidth = window.screen.availWidth

    }
  },

  mounted () {
    setTimeout(() => this.calculateWindowScreen())
    window.addEventListener('resize', () => {
      this.calculateWindowScreen()
    })
  }
};
</script>

<style lang="scss" scoped>
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.workspace {
  display: flex;

  .sidebar.open ~ .wrapper {
    left: 278px;
    width: calc(100% - 279px);
  }

  .wrapper {
    overflow: hidden;
    position: absolute;
    width: calc(100% - 100px);
    left: 95px;
    transition: all 0.5s ease;

    .main {
      background: #ffffff;
      padding: 20px;
      margin-bottom: 30px;
      min-height: calc(100vh - 150px - 85px);

      @include min-lg {
        padding: 20px 40px;
      }
    }
    @include max-sm{
      width: 100%;
      left: 0;

      .main {
        padding: 20px 15px;
      }
    }
  }

  &_without-sidebar {
    .wrapper {
      width: 100%;
      left: 0;
    }
  }
}
</style>