<template>
  <div class="add-edit4__table">
    <div class="thead">
      <div class="row">
        <div class="cell" @click="sortieren('full_name')">
          <div class="cell__inner">
            <div class="cell__title">Имя</div>

            <div
              v-show="participantsSortConfig.field == 'full_name'"
              class="sort__logo"
            >
              <span
                v-show="participantsSortConfig.order == 'asc'"
                class="sort__acs"
              ></span>
              <span
                v-show="participantsSortConfig.order == 'desc'"
                class="sort__decs"
              ></span>
              <span
                v-show="!participantsSortConfig.order"
                class="sort__def"
              ></span>
            </div>
          </div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'role'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'role'])
                ].selected
              : true
          "
        >
          <div class="cell__title">Роль</div>
        </div>

        <div
          class="cell"
          @click="sortieren('status')"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'status'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'status'])
                ].selected
              : true
          "
        >
          <div class="cell__wrapper">
            <div class="cell__inner">
              <div class="cell__title">Статус</div>

              <div
                v-show="participantsSortConfig.field == 'status'"
                class="sort__logo"
              >
                <span
                  v-show="participantsSortConfig.order == 'asc'"
                  class="sort__acs"
                ></span>
                <span
                  v-show="participantsSortConfig.order == 'desc'"
                  class="sort__decs"
                ></span>
                <span
                  v-show="!participantsSortConfig.order"
                  class="sort__def"
                ></span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'progress'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'progress'])
                ].selected
              : true
          "
        >
          <div class="cell__title">Прогресс</div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'messages'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'messages'])
                ].selected
              : true
          "
        >
          <div class="cell__title">Сообщения</div>
        </div>

        <div class="cell"></div>
      </div>
    </div>

    <div class="tbody">
      <div
        class="row"
        v-for="participant in participants"
        :key="participant.uuid"
        :data-uuid="participant.uuid"
      >
        <div class="cell">
          <div class="cell__title">
            {{ participant.full_name }}
          </div>
          <div class="cell__sub-title">Участник</div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'role'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'role'])
                ].selected
              : true
          "
        >
          <div class="cell__title">
            {{ participant.role }}
          </div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'status'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'status'])
                ].selected
              : true
          "
        >
          <div class="cell__wrapper">
            <div class="cell__inner">
              <div class="status">
                <div
                  class="status__wrapper"
                  :class="{
                    active: Boolean(Number(participant.status)),
                    blocked: !Boolean(Number(participant.status)),
                  }"
                >
                  <div class="status__inner">
                    <div class="status__title">
                      {{ getStatus(participant.status) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'progress'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'progress'])
                ].selected
              : true
          "
        >
          <div class="progress">
            <div
              class="progress__item"
              :style="{ width: participant.progress_percent + '%' }"
              :class="{
                progress_red: participant.progress_percent < 30,
                progress_orange:
                  participant.progress_percent >= 30 &&
                  participant.progress_percent < 80,
                progress_green: participant.progress_percent >= 80,
              }"
            ></div>
          </div>

          <div class="cell__title">
            {{ participant.progress_current }}/{{ participant.progress_total }}
          </div>
        </div>

        <div
          class="cell"
          v-show="
            columnsParticipants[
              $lodash.findIndex(columnsParticipants, ['slug', 'messages'])
            ]
              ? columnsParticipants[
                  $lodash.findIndex(columnsParticipants, ['slug', 'messages'])
                ].selected
              : true
          "
        >
          <span class="row__settings">
            <img
              class="row__settings-logo"
              src="@/assets/img/png/assessment-plans/assessment-plans__edit4_message-logo.png"
              alt="Сообщения"
            />
          </span>
        </div>

        <div class="cell">
          <span class="row__settings">
            <img
              class="row__settings-logo"
              src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_settings.svg"
              alt="Настроить"
            />
          </span>

          <span class="row__delete">
            <img
              @click="delUserFromPlan(participant.uuid)"
              class="row__delete-logo"
              src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg"
              alt="Удалить"
            />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    data: {
      type: Array,
      required: true,
    },
  },

  computed: {
    ...mapGetters("assessmentPlans/plan", [
      "planEditdataExd",
      "participantsSortConfig",
      "participants",
      "columnsParticipants",
    ]),
  },

  methods: {
    getStatus(status) {
      let crtStatus = "";

      switch (Number(status)) {
        case 1:
          crtStatus = "активный";
          break;

        case 0:
          crtStatus = "Заблокирован";
          break;

        default:
          break;
      }

      return crtStatus;
    },

    getRole(role) {
      let crtRole = "";

      switch (role) {
        case "Expert":
          crtRole = "Эксперт";
          break;

        case "Respondent":
          crtRole = "Респондент";
          break;

        default:
          break;
      }

      return crtRole;
    },

    delUserFromPlan(uuidUser) {



      this.$workspaceApi.assessmentPlans.addEdit4
        .deleteUserToPlan(this.planEditdataExd.uuid, uuidUser)
        .then((response) => {
          this.$lodash.remove(this.planEditdataExd.participants, {
            uuid: uuidUser,
          });
          this.$lodash.remove(this.participants, { uuid: uuidUser });

          this.$emit("deluser");
        });
    },

    sortieren(field) {
      if (field != this.participantsSortConfig.field) {
        this.participantsSortConfig.order = "asc";
      } else {
        if (!this.participantsSortConfig.order) {
          this.participantsSortConfig.order = "asc";
        } else if (this.participantsSortConfig.order == "asc") {
          this.participantsSortConfig.order = "desc";
        } else {
          this.participantsSortConfig.order = null;
        }
      }

      this.participantsSortConfig.field = field;

      this.$emit("sortieren");
    },
  },

  data() {
    return {
      width: 50,
      width2: 10,
    };
  },

  mounted() {},
};
</script>

<style scoped lang="scss">
.add-edit4__table {
  display: table;
  border-collapse: collapse;

  width: 100%;

  .thead {
    display: table-header-group;

    .cell {
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #9fa2b4;
      text-align: center;
      padding: 12px 30px;
      cursor: pointer;

      .cell__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
      }
    }
  }

  .tbody {
    display: table-row-group;

    .cell {
      text-align: center;

      .cell__title {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #252733;
        padding-bottom: 4px;
      }

      .cell__sub-title {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #c5c7cd;
      }

      .row__delete {
        padding-left: 15px;
      }

      .switcher {
        padding-right: 50%;
      }
    }
  }

  .row {
    display: table-row;
    border-bottom: 1.5px solid #dfe0eb;

    &:hover {
      background: #f7f8ff;
    }

    .row__settings-logo,
    .row__delete-logo {
      cursor: pointer;
    }
  }

  .cell {
    display: table-cell;
    padding: 25px 30px;
    vertical-align: middle;

    .cell__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;

      .cell__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .cell:first-child {
    text-align: left;
  }

  .tfoot {
    display: table-footer-group;
  }
}

/* OBJECT STYLES CSS */
.progress {
  position: relative;
  margin-bottom: 10px;

  .progress__item {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 10px;
    z-index: 1;
  }

  .progress_orange {
    background: #fab56e;
  }

  .progress_red {
    background: #d17058;
  }

  .progress_green {
    background: #abbf6b;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #dfe0eb;
    border-radius: 8.5px;
  }
}

.switcher {
  .scwitcher__checkbox {
    display: none;
  }

  .switcher__label {
    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
    position: relative;

    &::after {
      content: "";
      width: 44px;
      height: 21px;
      background: #e9e9ea;
      border-radius: 99px;
      position: absolute;
      transition-duration: 330ms;
    }

    &::before {
      content: "";
      width: 21px;
      height: 21px;
      position: absolute;
      z-index: 1;
      background: #ffffff;
      border: 1px solid #9fa2b4;
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.2);
      transition-duration: 300ms;
    }
  }

  .scwitcher__checkbox:checked + .switcher__label::before {
    right: -43px;
  }

  .scwitcher__checkbox:checked + .switcher__label::after {
    background: #00788c;
  }
}

.status {
  .status__wrapper {
    border-radius: 100px;
    padding: 5px 12px;
    width: min-content;

    .status__inner {
      .status__title {
        font-weight: 800;
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }

    &.active {
      background: #8fa93a;
    }

    &.blocked {
      background: #c24020;
    }
  }
}

.button {
  .button__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 79px;
    height: 33px;
    background: #00788c;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    .button__txt {
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.title {
  .title__text {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
  }
}

.sort__logo {
  position: relative;

  .sort__acs {
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../../../../../../assets/img/svg/assessment-plans/sort_asc.svg)
      no-repeat left center;
    background-size: 18px 18px;
    top: 1px;
    left: 5px;

    &:hover {
      background: url(../../../../../../assets/img/svg/assessment-plans/sort_asc-active.svg)
        no-repeat left center;
      background-size: 18px 18px;
    }
  }
  .sort__decs {
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../../../../../../assets/img/svg/assessment-plans/sort_desc.svg)
      no-repeat left center;
    background-size: 18px 18px;
    top: 1px;
    left: 5px;

    &:hover {
      background: url(../../../../../../assets/img/svg/assessment-plans/sort_desc-active.svg)
        no-repeat left center;
      background-size: 18px 18px;
    }
  }
  .sort__def {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(../../../../../../assets/img/svg/assessment-plans/sort_default.svg)
      no-repeat left center;
    background-size: 15px 15px;
    top: 2px;
    left: 5px;

    &:hover {
      background: url(../../../../../../assets/img/svg/assessment-plans/sort_default-active.svg)
        no-repeat left center;
      background-size: 15px 15px;
    }
  }
}
/* OBJECT STYLES CSS */

.button-prev {
  .button__item {
    background: #e6f2f4;

    .button__txt {
      color: #00788c;
    }
  }
}
</style>