<template>
  <div class="all-participants-modal">
    <ModalWindow
        v-show="modalVisibility"
        @close="onCloseModalClicked"
    >
      <template #header>
        <h1>Пользователи</h1>
      </template>
      <template #body>
        <mtInput
            v-model="search"
            class="search__input"
            placeholder="Поиск"
            @submit="searchParticipant"
        />
        <mt-loading-animation-linear v-show="loading" />
        <div class="modal-users">
          <div class="modal-users__inner">
            <mtTable class="all-participants-modal-content">
              <template #header>
                <div
                    class="all-participants-modal-content__header-cell"
                    data-index="6"
                >
                  <mtCheckbox
                      v-model="all"
                      :multiple="multiple"
                      @click="selectAll"
                  />
                </div>
                <template
                    v-for="(col, index) in cols"
                    :key="index"
                >
                  <div
                      v-if="col.visible"
                      :data-index="index"
                      :class="['all-participants-modal-content__header-cell',{
                        'all-participants-modal-content__header-cell_first': col.stub === 'full_name'
                      }]"
                  >
                    <span>{{ col.title }}</span>
                    <span></span>
                  </div>
                </template>
              </template>
              <template #body>
                <template v-if="computedUsers.length">
                  <div
                      class="all-participants-modal-content__item"
                      v-for="(item, index) in computedUsers"
                      :key="index"
                      :class="[{'all-participants-modal-content__item_selected': item.selected}]"
                  >
                    <div>
                      <div data-index="6">
                        <mtCheckbox
                            v-model="item.selected"
                            @click="selectUser"
                        />
                      </div>
                    </div>
                    <div v-if="cols[0].visible">
                      <div data-index="0">
                        <div>{{ item.full_name }}</div>
                        <div style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;">
                          {{ item.role?.name }}
                        </div>
                      </div>
                    </div>
                    <div v-if="cols[1].visible">
                      <div data-index="1">
                        <div>{{ item.role?.name }}</div>
                      </div>
                    </div>
                    <div v-if="cols[2].visible">
                      <div data-index="2">
                        <mtUserStatus :status="item.status"/>
                      </div>
                    </div>
                  </div>
                </template>
              </template>
              <template #footer>
                <div class="all-participants-modal-content__actions">
                  <mtButton
                      :preloader="groupAddLoader"
                      :class="['all-participants-modal-content__actions_add', {
                        'all-participants-modal-content__actions-item_active': selectedParticipants?.length
                      }]"
                      @click="onGroupAddClicked"
                  >
                    <slot name="next">Добавить</slot>
                  </mtButton>
                </div>
                <mtPagination
                    v-model:page="page"
                    v-model:perpage="perpage"
                    :total="total"
                    style="margin-left: auto;"
                    @change="updateUserList"
                />
              </template>
              <template v-if="!users.length">
                <mtPreloader
                    class="preloader_margin"
                    v-for="preloader in 5"
                    :key="preloader"
                    :height="80"
                />
              </template>
            </mtTable>
          </div>
        </div>
      </template>
    </ModalWindow>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import ModalWindow from "@/components/workspace/ModalWindow";
import mtTable from "@/components/UI/mtTable/mtTable2.vue";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtButton from "@/components/UI/mtButton";
import mtInput from "@/components/UI/mtInput/mtInput.vue";
import mtCheckbox from "@/components/UI/mtCheckbox";
import MtUserStatus from "@/components/UI/mtUserStatus/mtUserStatus.vue";
import MtLoadingAnimationLinear from "@/components/UI/mtLoadingAnimationLinear/mtLoadingAnimationLinear.vue";

export default {
  components: {
    MtLoadingAnimationLinear,
    MtUserStatus,
    mtInput,
    ModalWindow,
    mtTable,
    mtPreloader,
    mtPagination,
    mtButton,
    mtCheckbox,
  },

  props: {
    modalVisibility: {
      type: Boolean,
      required: true,
    },
    users: {
      type: Array,
      required: true,
    },
    pageProp: {
      type: Number,
      required: true,
    },
    perpageProp: {
      type: Number,
      required: true,
    },
    totalProp: {
      type: Number,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      groupAddLoader: false,
      page: 1,
      perpage: 15,
      total: 0,
      all: false,
      multiple: false,
      cols: [
        {
          title: "Имя",
          stub: "full_name",
          visible: true,
          filter: "string",
        },
        {
          title: "Роль",
          stub: "active",
          visible: true,
          filter: "list",
        },
        {
          title: "Статус",
          stub: "participants",
          visible: true,
          filter: "string",
        },
      ],
      search: ''
    };
  },
  computed: {
    selectedParticipants() {
      return this.users.filter((participant) => {
        return participant.selected;
      });
    },

    computedUsers() {
      return this.users
          // .filter(user => {
          //   return user.full_name.toLowerCase().includes(this.search.toLowerCase())
          // })
    }
  },

  watch: {
    pageProp: {
      immediate: true,
      handler(newVal) {
        this.page = newVal;
      },
    },
    perpageProp: {
      immediate: true,
      handler(newVal) {


        this.perpage = newVal;
      },
    },
    totalProp: {
      immediate: true,
      handler(newVal) {


        this.total = newVal;
      },
    },
    all(newAll) {
      if (this.multiple) {
        return;
      }

      this.users.forEach(user => user.selected = newAll);
    },
  },
  methods: {
    ...mapActions('assessmentPlans/plan/participant', [
      'addParticipantToPlan',
    ]),

    /* HANDLERS */
    selectUser() {
      this.checkSelectedUsers();
    },
    selectAll() {
      if (this.multiple) {
        this.all = false;
        this.multiple = false;

        this.users.forEach(user => user.selected = false);

        return;
      }
    },
    onCloseModalClicked() {
      this.$emit('close');
    },
    async onGroupAddClicked() {
      if (this.groupAddLoader) return
      this.groupAddLoader = true;

      await this.uploadSelectedParticipants();

      this.groupAddLoader = false;

      this.$emit('add');
    },
    updateUserList() {


      this.$emit('update', {page: this.page,});
    },

    /* HELPERS */
    async uploadSelectedParticipants() {
      for (
          let iParticipant = 0;
          iParticipant < this.selectedParticipants.length;
          iParticipant++
      ) {
        await this.addParticipantToPlan({
          uuidPlan: this.$route.params.uuid,
          uuidParticipant: this.selectedParticipants[iParticipant].uuid,
        });
      }
    },
    checkSelectedUsers() {
      const TOTAL_COUNT = this.users.length;
      const SELECTED_COUNT = this.selectedParticipants.length;

      if (SELECTED_COUNT === TOTAL_COUNT) {
        this.all = true;
        this.multiple = false;
      }
      if (SELECTED_COUNT < TOTAL_COUNT && SELECTED_COUNT) {
        this.all = true;
        this.multiple = true;
      }
      if (!SELECTED_COUNT) {
        this.multiple = false;
        this.all = false;
      }
    },

    searchParticipant () {
      this.$emit('search', this.search)
    }
  },
};
</script>

<style lang="scss">
.all-participants-modal {
  &-content {
    &__title {
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
    }

    &__add {
      background-color: #00788c;
      color: #fff;
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 4px 12px;
      cursor: pointer;

      & span {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding-left: 10px;
      }
    }

    &-table {
      min-width: 970px;

      &__actions-header {
        width: 100%;
        padding: 30px 30px 0px 15px;
      }

      &__actions-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &__header {
      &-cell {
        padding: 10px;
        vertical-align: middle;
        text-align: center;

        &_first {
          text-align: left;
        }
      }
    }

    &__item {
      display: table-row;
      align-items: center;
      flex-grow: 1;
      min-height: 90px;
      border-bottom: solid #dfe0eb 1px;
      color: #252733;

      &:last-child {
        border-bottom: 0;
      }

      &:hover:not(.all-participants-modal-content__item_selected) {
        //background-color: #f7f8ff;
      }

      &_selected {
        //background: #e7e9ff;
      }

      & > div {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2px;
        color: #252733;

        & > [data-index="0"] {
          width: 100%;
          font-size: 14px;
        }

        & > [data-index="1"] {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        & > [data-index="2"] {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        & > [data-index="3"] {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        & > [data-index="4"] {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        & > [data-index="5"] {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        & > [data-index="6"] {
          width: 100%;
          display: flex;
        }
      }

      &-status {
        font-family: "Mulish";
        padding: 5px 12px;
        border-radius: 100px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 11px;
        line-height: 14px;
      }

      &-action {
        margin-right: 20px;
        cursor: pointer;

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      &-item {
        transition: all 0.2s ease;
        background: #f0f1f7 !important;
        border-radius: 8px !important;
        padding: 5px 12px;
        font-weight: 700;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        user-select: none;
        color: #9fa2b4 !important;
        margin-left: 10px;
        max-height: 24px !important;
        box-sizing: border-box;
        cursor: unset !important;

        &:first-child {
          margin-left: 0;
        }

        &_active {
          background: #00788c !important;
          color: #ffffff !important;
          cursor: pointer !important;

          &:active {
            background: #066a7e !important;
          }
        }
      }

      &_add {
        min-width: 91px;
      }
    }

    &__add-tag-btn {
      width: 45px;
      height: 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: #00788c;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
    }

    &__tags {
      &-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
      }

      &-body {
      }

      &-name {
      }

      &-delete {
      }

      &-add {
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: #00788c;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;

        &:active {
          background: #066a7e;
        }
      }

      &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        margin-top: 15px;

        &:first-child {
          margin-top: 20px;
        }
      }

      &-delete {
        cursor: pointer;
      }
    }

    // OBJECT STYLES START
    &-button {
      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: max-content;
        padding: 7px 15px 7px 7px;
        box-sizing: border-box;
        height: 33px;
        background: #00788c;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        user-select: none;

        &:active {
          background: #005361;
        }
      }

      &__logo {
        width: 17px;
        height: 17px;
      }

      &__txt {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #ffffff;
        margin-left: 15px;
      }
    }

    .edit-general-info-block {
      &__error-message {
        color: #C24020;
        height: 20px;
        display: flex;
        align-items: center;
        font-size: 12px !important;
        font-weight: normal !important;
      }

      &__label {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #7C869D;
        margin-bottom: 10px;

        &_required {
          max-width: max-content;
          position: relative;

          &::after {
            content: "*";
            color: red;
            right: -12px;
            top: -2px;
            position: absolute;
          }
        }
      }
    }

    // OBJECT STYLES END

    /* MIXINS STYLES CSS START */
    .preloader_margin {
      margin: 10px 10px 0px 10px;
      height: 40px !important;
    }

    .border-field {
      border-radius: 12px !important;
    }

    .font-field {
      input {
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2px;
        color: #252733;
      }

      &_bold {
        input {
          font-weight: bold;
        }
      }
    }

    /* MIXINS STYLES CSS END */
  }

  .modal-users {
    margin-top: 20px;
    .search {
      margin: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    .modal-users__inner {
      height: 500px;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        //background: #000;
      }

      &::-webkit-scrollbar-thumb {
        background: #c4c4c4;
        border: 1px solid #dfe0eb;
        box-sizing: border-box;
      }
    }
  }
}
</style>