.mt-linear-progress {
  position: relative;
  max-width: 100%;
  height: 6px;
  background: #dfe0eb;
  border-radius: 8.5px;

  &__item {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 3px;
    z-index: 1;
    max-width: 100%;

    &_orange {
      background: #fab56e;
    }

    &_red {
      background: #d17058;
    }

    &_green {
      background: #abbf6b;
    }
  }
}