.progress-circle {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;

  &__svg {
    transform: rotate(-90deg);
  }

  &__percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #000;
  }
}
