.mt-input {
  height: 56px;
  border: 1px solid #C2C8D0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: text;
  position: relative;
  transition: all .2s ease-in-out;

  &_center {
    & input {
      text-align: center;
    }
  }

  & input {
    border: 0;
    width: 100%;
    min-width: 10px;
    background-color: transparent;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__label {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    color: #858585;
    transition: all .2s ease-in-out;

    &_with-left {
      left: 40px;
    }

    &__star {
      color: $tomato;
    }
  }

  &_focused {
    border: 1px solid #00788C;
    box-shadow: inset 0px 0px 0px 1px #00788C;

    & > .mt-input__label {
      transform: translate(-3px, -29px);
      font-size: 12px;
      color: #00788C;
    }

    & .mt-input__label_with-left {
      left: 15px;
    }
  }

  &_invalid {
    border: 1px solid #C24020;
    box-shadow: inset 0px 0px 0px 1px #C24020;

    & > .mt-input__label {
      color: #C24020;
    }
  }

  &__switch {
    cursor: pointer;

    & img {
      width: 20px;
      height: 20px;
    }
  }

  &_theme-solid {
    background-color: #f0f1f7;
    border: 0px;

    &.mt-input {
      &_focused {
        border: 0px;
        box-shadow: inset 0px 0px 0px 0px #00788C;
      }
    }
  }

  &_error {
    background-color: rgba(255, 0, 0, .3);
  }

  &_disabled {
    opacity: .5;
  }

  &_theme-default {

    &.mt-input_error {
      background-color: transparent;
      border-color: rgba(255, 0, 0, .3);
      box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, .3);

      & > .mt-input__label {
        color: #C24020;
      }
    }
  }
}