<template lang="pug">
mtButton.additional-table-btn(:disabled="disabled")
  template( #default )
    .additional-table-btn__title {{ title }}
</template>

<script>
import mtButton from "@/components/UI/mtButton";

export default {
  components: {
    mtButton,
  },

  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: "",
    },
  },
  data: () => ({}),
  computed: {},

  watch: {},
  methods: {
    /* GETTERS */
    /* SETTERS */
    /* HANDLERS */
    /* HELPERS */
  },

  created() { },
  mounted() { },
}
</script>

<style lang="scss">
.additional-table-btn {
  height: 30px !important;
  width: 30px !important;
  background: #E6F2F4 !important;

  &.mt-button_active {
    &:active {
      background: #cde3e7 !important;
    }
  }

  &__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0.01em;
    color: #00788C;
    user-select: none;
    text-transform: uppercase;
  }
}
</style>