<template lang="pug">
.mt-block-or-active(@click="changeUserStatus")
  template(v-if="statusBuffer === 'active'")
    mtIcon(name="forbidden" :preloader="preloader" fill="#9FA2B4")
    .mt-block-or-active__text Заблокировать

  template(v-else)
    mtIcon(name="play" :preloader="preloader" fill="#9FA2B4")
    .mt-block-or-active__text Разблокировать

</template>

<script>
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue';
import { mapActions } from 'vuex'

export default {
  components: {
    mtIcon
  },
  props: {
    uuid: {
      type: String,
      default: null
    },
    status: {
      type: String,
      default: null
    }
  },
  created () {
    this.statusBuffer = this.status

  },
  data () {
    return {
      preloader: false,
      statusBuffer: null
    }
  },
  methods: {
    ...mapActions(['setUserStatus']),
    changeUserStatus () {

      this.preloader = true
      let tempStatus = this.statusBuffer === 'block' ? 'active' : 'block'
      this.setUserStatus({ uuid: this.uuid, status: tempStatus })
      .then(res => {
        this.statusBuffer = tempStatus
        this.preloader = false
      })
    },
  }
}

</script>

<style lang="scss" scoped>
.mt-block-or-active {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__text {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9FA2B4;
    margin-left: 15px;
  }
  &:active {
    transform: scale(.95);
  }
}

</style>