<template>
  <mtPopover
      v-model="computedVisibility"
      class="mt-datepicker-popover"
  >
    <Datepicker
        v-model="computedDate"
        :range="isRange"
        locale="ru-RU"
        autoApply
        inline="inline"
        format="dd-MM-yyyy"
        :enableTimePicker="false"
        :clearable="true"
    />
  </mtPopover>
</template>

<script>
import '@vuepic/vue-datepicker/dist/main.css';
import mtPopover from "@/components/UI/mtPopover/mtPopover.vue";
import Datepicker from '@vuepic/vue-datepicker';
import {format} from "date-fns";

export default {
  components: {
    mtPopover,
    Datepicker,
  },

  props: {
    visibility: {
      type: Boolean,
      default: false,
    },
    isRange: {
      type: Boolean,
      default: false,
    },
    date: {
      type: String,
      default: null
    }
  },
  data: () => ({}),
  computed: {
    computedVisibility: {
      get() {
        return this.visibility
      },
      set(newValue) {
        this.$emit('update:visibility', newValue)
        if(!newValue) this.closePicker();
      }
    },

    computedDate: {
      get() {
        return this.date
      },
      set(newValue) {
        this.closePicker();
        this.$emit('update-date', format(newValue, 'yyyy-MM-dd'));
      }
    }
  },

  methods: {
    /* GETTERS */
    /* SETTERS */
    /* HANDLERS */
    /* HELPERS */
    closePicker() {
      this.$emit('close');
    },
    filter10(value) {
      return Number(value) < 10 ? `0${value}` : value;
    },

    /* ACTIONS */
  },

  created() {
  },
  mounted() {
  },
};
</script>

<style lang="scss">
.mt-datepicker-popover.mt-popover {
  min-width: unset;
  padding: 0;
  width: fit-content;

  .dp__select {
    color: #00788C !important;
  }

  .dp__month_year_row {
    margin: 8px;
  }

  .dp__menu {
    border: none;
    background: transparent;
  }

  .mt-popover__body {
    padding: 0;
    max-height: unset!important;
  }
}
</style>
