<template>
  <div class="mt-files-field">
    <div
        class="mt-files-field--title"
        v-if="!!title"
    >
      {{ title }}
    </div>
    <div class="mt-files-field--container">
      <div class="mt-files-field__files">
        <mtFileView
            v-for="file in files"
            :key="file.name"
            :class="['mt-files-field__file']"
            :name="file.name"
            :description="'Описание'"
            @delete="deleteFile({file})"
        />
      </div>
      <div
          class="mt-files-field__actions"
          @click="addFile()"
      >
        <div
            class="mt-files-field__add"
        >
          <mtSvg
              name="upload"
              color="#00788C"
          />
        </div>
      </div>
    </div>
    <input
        type="file"
        style="display: none;"
        ref="mt_files_field"
        @change="upload"
    />
  </div>
</template>

<script>
import mtFileView from '@/components/UI/mtFileView';
import mtSvg from '@/components/UI/mtSvg';

export default {
  components: {
    mtFileView,
    mtSvg,
  },

  props: {
    title: {
      type: String,
      default: '',
    },
    files: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    addFile() {
      this.$refs.mt_files_field.value = null;

      this.$refs.mt_files_field.click();
    },
    deleteFile({file}) {

      this.$emit('delete', {file});
    },
    upload() {
      const FILE = this.$refs.mt_files_field.files[0];
      const FORM_DATA = new FormData();

      FORM_DATA.append("file", FILE);
      this.$emit('add', {
        file: {
          node: FILE,
          formData: FORM_DATA,
        },
      });
    },
  }
}
</script>

<style lang="scss">
.mt-files-field {
  min-width: 300px;
  font-family: 'Nunito';
  font-style: normal;

  &--title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }

  &--container {
    width: 100%;
    min-height: 136px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    background: #F0F1F7;
    border-radius: 12px;
  }

  &__files {
    width: 100%;
    overflow: auto;
    padding: 10px;
    border-right: 1px solid #CFCFD0;
    display: flex;
    flex-wrap: wrap;
  }

  &__file {
  }

  &__actions {
    width: 46px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  @include max-xs {
    min-width: unset;
  }
}
</style>