<template>
  <div class="mt-page-nav">
    <mtButton class="mt-page-nav__button mt-page-nav__button-back" @click="onBackClicked" :preloader="back_preloader">
      <div class="mt-page-nav__title mt-page-nav__title-back">
        <slot name="back">Назад</slot>
      </div>
    </mtButton>
    <mtButton class="mt-page-nav__button mt-page-nav__button-next" @click="onNextClicked" :preloader="next_preloader">
      <div class="mt-page-nav__title">
        <slot name="next">Далее</slot>
      </div>
    </mtButton>
  </div>
</template>

<script>
import mtButton from "@/components/UI/mtButton";

export default {
  components: {
    mtButton,
  },
  props: {
    next_preloader: {
      type: Boolean,
      default: false
    },

    back_preloader: {
      type: Boolean,
      default: false
    },
  },

  data() {
    return {};
  },

  methods: {
    /* HANDLERS */
    onBackClicked() {
      this.$emit('back');
    },
    onNextClicked() {
      this.$emit('next');
    },

    /**/
    /**/
    /**/

    /* ACTIONS */
    init() { },
    bindActions() { },
  },
};
</script>

<style lang="scss" scoped>
.mt-page-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    user-select: none;
    color: #ffffff;

    &-back {
      color: #00788c;
    }
  }

  &__button {
    width: max-content;
    height: 33px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 0 !important;

    &-next {
      background: #00788c;
      margin-left: 10px;

      &:active {
        background: #005361;
      }
    }

    &-back {
      background: #e6f2f4;

      &:active {
        background: #cde3e7;
      }
    }
  }
}
</style>