<template lang="pug">
.mt-reset-password(@click="resetPassword")
  mtIcon(name="email-settings" :preloader="preloader" fill="#9FA2B4")
  .mt-reset-password__text Сбросить пароль

</template>

<script>
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue';
import { mapActions } from 'vuex'

export default {
  components: {
    mtIcon
  },
  props: {
    email: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      preloader: false
    }
  },
  methods: {
    ...mapActions(['forgotPassword']),
    resetPassword () {
      // todo add errors and response logic
      this.preloader = true
      this.forgotPassword(this.email)
      .then(res => {
        this.preloader = false
      })
    }
  }
}

</script>

<style lang="scss" scoped>
.mt-reset-password {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__text {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9FA2B4;
    margin-left: 15px;
  }
  &:active {
    transform: scale(.95);
  }
}

</style>