<template>
  <div class="mt-time-interval-field">
    <div
        class="mt-time-interval-field--title"
        v-if="title"
    >
      {{ title }}
    </div>
    <div class="mt-time-interval-field--container">
      <div class="mt-time-interval-field--container__date">
        <div
            :class="['mt-time-interval-field--container__date__input', {
              'mt-time-interval-field--container__date__input_has-error': hasError.from
            }]"
            @click="showPicker('dateFrom')"
        >
          <div class="mt-time-interval-field--container__date-title">с</div>
          <div
              class="mt-time-interval-field--container__date-value date-from"
          >
            {{ getDateFrom }}
          </div>
          <button
              v-if="getDateFrom && clearable"
              class="mt-time-interval-field--container__date-close-icon"
              @click.stop="clearState('from')"
          >
            <mt-svg
                name="close"
                color="#7C869D"
            />
          </button>
          <div class="mt-time-interval-field--container__date-icon"/>
        </div>
        <div
            class="mt-time-interval-field--container__date__error-text edit-general-info-block__error-message"
            v-if="hasError.from"
        >
          Дата начала не должна быть позже даты окончания
        </div>
      </div>
      <div class="mt-time-interval-field--container__date">
        <div
            :class="['mt-time-interval-field--container__date__input', {
              'mt-time-interval-field--container__date__input_has-error': hasError.to
            }]"
            @click="showPicker('dateTo')"
        >
          <div class="mt-time-interval-field--container__date-title">по</div>
          <div class="mt-time-interval-field--container__date-value">
            {{ getDateTO }}
          </div>
          <button
              v-if="getDateTO && clearable"
              class="mt-time-interval-field--container__date-close-icon"
              @click.stop="clearState('to')"
          >
            <mt-svg
                name="close"
                color="#7C869D"
            />
          </button>
          <div class="mt-time-interval-field--container__date-icon"/>
        </div>
        <div
            class="mt-time-interval-field--container__date__error-text edit-general-info-block__error-message"
            v-if="hasError.to"
        >
          Дата окончания не должна быть раньше даты начала
        </div>
      </div>
    </div>
    <teleport to="body">
      <mtDatepickerPopover
          :visibility="datePopoverVisibility"
          @close="hidePicker"
          @update-date="setDates"
      />
    </teleport>
  </div>
</template>

<script>
import mtDatepickerPopover from "@/components/composite/mtDatepickerPopover";
import MtSvg from "@/components/UI/mtSvg/index.vue";
import { format } from 'date-fns'

export default {
  components: {
    MtSvg,
    mtDatepickerPopover,
  },
  props: {
    preloader: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: "",
    },
    dateFrom: {
      type: String,
      default: "",
    },
    dateTo: {
      type: String,
      default: "",
    },
    clearable: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    datePopoverVisibility: false,
    field: '',
    date: {
      from: '',
      to: ''
    },
    hasError: {
      from: false,
      to: false
    }
  }),
  computed: {
    getDateFrom() {
      return this.dateFrom ? format(new Date(this.dateFrom), 'dd.MM.yyyy') : '';
    },
    getDateTO() {
      return this.dateTo ? format(new Date(this.dateTo), 'dd.MM.yyyy') : ''
    }
  },
  methods: {
    setDates(payload = null) {
      if (!payload) return;
      this.hasError.from = false;
      this.hasError.to = false;

      if (this.field === 'dateFrom') {
        this.date.from = payload;
        if (this.checkDatesToValid()) {
          this.hasError.from = true;
        }
      } else {
        this.date.to = payload;
        if (this.checkDatesToValid()) {
          this.hasError.to = true;
        }
      }

      this.$emit("update-date", {dateFrom: this.date.from, dateTo: this.date.to});
    },

    checkDatesToValid() {
      if(this.date.from && this.date.to) {
        const dateFrom = new Date(this.date.from);
        const dateTo = new Date(this.date.to);

        return dateFrom.valueOf() > dateTo.valueOf()
      }

      return null;
    },

    clearState(entity) {
      if(entity === 'from') {
        this.date.from = ''
      }
      else if(entity === 'to') {
        this.date.to = ''
      }

      this.$emit("update-date", {dateFrom: this.date.from, dateTo: this.date.to});
    },

    /* HANDLERS */
    showPicker(field) {
      this.field = field;
      this.datePopoverVisibility = !this.datePopoverVisibility;
      setTimeout(() => {
        const popup = document.getElementsByClassName('mt-popover')[0];
        popup.scrollIntoView(true);
      });

    },
    hidePicker() {
      this.datePopoverVisibility = false;
    },

    /* HELPERS */
    /* ACTIONS */
  }
};
</script>

<style lang="scss">
.mt-time-interval-field {
  &--title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }

  &--container {
    display: flex;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin: 0 -5px;

    &__date {
      margin: 0 5px;
      flex: 0 1 100%;

      &__input {
        height: 56px;
        width: 100%;
        background-color: #f0f1f7;
        padding: 15px 15px 15px 20px;
        border-radius: 12px;
        display: flex;
        align-items: center;

        &_has-error {
          background-color: rgba(255, 0, 0, 0.3);
        }
      }

      &-title {
        color: #7c869d;
      }

      &-value {
        color: #2a4365;
        min-width: 75px;
        height: 22px;
        width: 100%;
        margin-left: 5px;
      }

      &-icon {
        background-size: cover;
        background: url('../../../src/assets/img/svg/assessment-plans/calendar.svg') no-repeat center;
        min-width: 16px;
        height: 16px;
        margin-left: 8px;
      }

      &-close-icon {
        margin-left: 8px;
      }

      &__error-text.edit-general-info-block__error-message {
        height: unset!important;
      }
    }

    @include max-xs {
      flex-wrap: wrap;
      height: unset;

      &__date {
        width: 100%;
        margin: 0;

        & + & {
          margin-top: 15px;
        }
      }
    }
  }
}

</style>