<template>
  <customAssessment :fn-on-mount="loadOnMount">
    <template #prepend-chat>
      <div class="custom-assessment__title">Оценка</div>
      <div class="custom-assessment__form">
        <div
            class="form__group"
            v-for="scale in scales"
            :key="scale.uuid"
        >
          <label class="form__label">{{ scale.name }}</label>
          <mtSelect
              class="mt-select_form-select"
              :items="scale.grades"
              v-model="scale.value"
          />
        </div>
        <div class="form__group">
          <mtButton
              class="form__btn custom-assessment__form__btn"
              @click="runSetMarkAction()"
              :preloader="setMarkRequestPending"
          >
            Сохранить
          </mtButton>
        </div>
      </div>
    </template>
  </customAssessment>
</template>

<script>
import mtButton from '@/components/UI/mtButton';
import mtSelect from '@/components/UI/mtSelect/mtSelect.vue';
import CustomAssessment from '@/components/workspace/assessmentPlans/plans/plan/customAssessment';
import { mapActions, mapMutations, mapState } from 'vuex';

export default {
  name: "expertCustomAssessment",
  components: {CustomAssessment, mtButton, mtSelect},
  data: () => {
    return {
      setMarkRequestPending: false,
    }
  },
  computed: {
    ...mapState('assessmentPlans/plan/task', ['scales', 'sessionUuid', 'mark', 'marksChanged']),

    planUuid() {
      return this.$route.params.planUuid;
    },
    taskUuid() {
      return this.$route.params.taskUuid;
    },
    respondentUuid() {
      return this.$route.params.respondentUuid;
    }
  },
  methods: {
    ...mapActions('assessmentPlans/plan/task', ['getScales', 'getMark', 'setMark', 'getUserSession']),
    ...mapMutations('assessmentPlans/plan/task', ['updateStore']),

    runSetMarkAction() {
      this.setMarkRequestPending = true;

      const payload = this.scales.map((item) => {
        return {
          uuid: item.uuid,
          grade: item.value
        }
      });

      this.setMark({
        planUuid: this.planUuid,
        taskUuid: this.taskUuid,
        sessionUuid: this.sessionUuid,
        payload,
        method: (!!this.mark) ? 'put' : 'post',
      })
          .then(() => {
            this.getMark({
              planUuid: this.planUuid,
              taskUuid: this.taskUuid,
              sessionUuid: this.sessionUuid
            });
            this.updateStore({ entity: 'marksChanged', payload: true })
          })
          .finally(() => {
            this.setMarkRequestPending = false;
          })
    },
    async loadOnMount() {
      await this.getUserSession({
        planUuid: this.planUuid,
        taskUuid: this.taskUuid,
        respondentUuid: this.respondentUuid
      });
      await this.getScales({
        planUuid: this.planUuid,
        taskUuid: this.taskUuid,
        sessionUuid: this.sessionUuid
      });
    }
  }
}
</script>

<style
    lang="scss"
    src="./style.scss"
/>