.custom-assessment {
  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 30px;
    position: relative;
    margin: 0 -6px;
    margin-bottom: 30px;
    &::after{
      content: "";
      position: absolute;
      left: -30px;
      width: calc(100% + 48px);
      bottom: 0;
      border-bottom: 2px solid #DFE0EB;
    }
    &__btn {
      height: 60px;
      width: 100%;
      border-radius: 12px;
    }

    .form {
      &__group {
        width: 33.33333333333%;
        height: 100%;
        padding: 6px;
        margin: 0;
        .mt-select {
          margin-top: auto;
        }

        @include max-xs {
          height: unset;
          width: 100%;
        }
      }
    }
  }
}

@include max-xs{
  .custom-assessment {
    &__form {
      &__btn {
        width: 100%;
        height: 50px;
      }
    }
  }

}