<template>
  <div
      :class="['switcher-ui-container', {
        'switcher-ui-container--disabled': disabled
      }]"
  >
    <div class="switcher-ui__wrapper">
      <div class="switcher">
        <div
            class="switcher__haupttitel"
            v-if="params.hauptTitel"
        >
          {{ params.hauptTitel }}
        </div>
        <input
            class="scwitcher__checkbox"
            type="checkbox"
            :id="id"
            :checked="stay"
            @change="handlers().onChange()"
        />
        <label
            class="switcher__label"
            :for="id"
        />
      </div>
      <div
          class="switcher-titel"
          v-if="label"
      >
        {{ label }}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'mtSwitcher',
  components: {},
  props: {
    id: {
      type: String,
      required: true
    },

    stay: {
      type: Boolean,
      required: true
    },

    disabled: {
      type: Boolean,
      default: false
    },

    label: {
      type: String,
      default: ""
    },

    /**
     * The following component parameters are passed to this object
     * {
     *    @param { string }  hauptTitel
     *    @param { string }  label
     *    @param { boolean } maintest_original
     * }
     */
    params: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },

  data () {
    return {}
  },

  computed: {},

  methods: {
    getters () {
      return {}
    },

    setters () {
      return {}
    },

    handlers () {
      return {
        onChange: () => {

        },
      }
    },

    helpers () {
      return {}
    },

    init () {
    },

    bindActions () {
    },
  }

}

</script>

<style lang="scss">

.switcher-ui-container {
  /* OBJECTS STYLES START */
  .switcher-ui__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
  }

  .switcher {
    height: 28px;
    width: 48px;

    .scwitcher__checkbox {
      display: none;
    }

    .switcher__label {
      cursor: pointer;
      font-size: 16px;
      line-height: 21px;
      position: relative;

      &::after {
        content: "";
        width: 44px;
        height: 21px;
        background: #E9E9EA;
        border-radius: 99px;
        border: 1px solid #E9E9EA;
        position: absolute;
        transition-duration: 330ms;
        left: 0px;
      }

      &::before {
        content: "";
        width: 21px;
        height: 21px;
        position: absolute;
        z-index: 1;
        background: #FFFFFF;
        border: 1px solid #9FA2B4;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
        transition-duration: 300ms;
        left: 0;
        top: 1px;
      }
    }

    .scwitcher__checkbox:checked + .switcher__label::before {
      left: 25px;
      border: 1px solid #00788C;
    }

    .scwitcher__checkbox:checked + .switcher__label::after {
      background: #00788C;
      border: 1px solid #00788C;
    }
  }

  .switcher__haupttitel {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    white-space: nowrap;
  }

  .switcher-titel {
    margin-left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #263043;
  }

  &--disabled {
    .switcher .switcher__label {
      &::before {
        cursor: not-allowed;
        pointer-events: none;
      }
      &::after {
        pointer-events: none;
        opacity: .4;
      }
    }
  }

  /* OBJECTS STYLES END */
}

</style>