.mt-solid {
  position: relative;
  height: 56px;
  flex-grow: 1;
  max-width: 100%;
  cursor: pointer;
  &__wrapper {
    overflow: hidden;
    height: 56px;
    background: #f0f1f7;
    border-radius: 5px;
    position: relative;
  }
  &__selected {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #252733;
    padding: 0 15px;

    &__placeholder {
      color: #858585;

      i{
        color: $tomato;
      }
    }
  }
  &__list {
    z-index: 10000;
    width: 100%;
    &-item {
      height: 44px;
      display: flex;
      align-items: center;
      color: #7C869D;
      padding: 0 15px;
      &:hover {
        cursor: pointer;
        color: #677086;
        background-color: rgba(0,0,0,.03);
      }
    }
  }
  & .mt-solid__arrow {
    transition: all ease-in-out .2s;
  }
  &_opened {
    z-index: 10000;
    position: relative;
    & > .mt-solid__wrapper {
      height: auto;
      position: static;
      box-shadow: 0px 6px 5px rgba(124, 124, 124, 0.25);
      overflow: visible !important;
    }
    & .mt-solid__arrow {
      transform: rotate(-180deg);
    }
  }
  &_error {
    & > .mt-solid__wrapper {
      background-color: rgba(255, 0, 0, .3);
      border-color: rgba(255, 0, 0, .3) !important;
      box-shadow: inset 0px 0px 0px 1px rgba(255, 0, 0, 0.3);
    }
  }
  &__theme {
    &-border {
      & .mt-solid__wrapper {
        background-color: #fff;
        border: solid 1px #C2C8D0;
      }
    }
  }
}