<template>
  <mt-dialog
      class="custom-assessment"
      @close="onClose()"
      size="md"
  >
    <mt-loading-animation-linear v-if="!loaded"/>
    <template v-else>
      <h3 class="custom-assessment__expander__title">{{ expRespTask.name }}</h3>
      <p
          class="custom-assessment__expander__text"
          v-show="expRespTask.description"
      >
        {{ expRespTask.description }}</p>
      <template v-if="expRespTask.materials.length">
        <h2 class="custom-assessment__expander__file-title">Файлы</h2>
        <div class="card mt-2">
          <fileDownloadCard :links="expRespTask.materials"/>
        </div>
      </template>
    </template>
  </mt-dialog>
</template>

<script>
import fileDownloadCard from '@/components/workspace/assessmentPlans/plans/fileDownloadCard';
import {mapActions, mapState} from 'vuex';
import MtDialog from '@/components/UI/mtDialog/mtDialog.vue';
import MtLoadingAnimationLinear from '@/components/UI/mtLoadingAnimationLinear/mtLoadingAnimationLinear.vue';

export default {
  name: "customAssessment",
  components: {MtLoadingAnimationLinear, MtDialog, fileDownloadCard},
  props: {
    fnOnMount: Function
  },
  data: () => {
    return {
      loaded: false,
      error: null,
      sendMessageRequestPending: false,
      chatLoading: false,
      chatObserver: null,
      newMessage: {
        message: '',
        files: []
      }
    }
  },
  computed: {
    ...mapState('assessmentPlans/plan/task', ['expRespTask', 'sessionUuid', 'mark']),
    ...mapState('assessmentPlans/plan/chat', ['chatMessages', 'meta'])
  },
  methods: {
    ...mapActions('assessmentPlans/plan/task', ['fetchExpRespTask', 'startCustomAssessmentSession', 'getMark', 'setMark']),
    ...mapActions('assessmentPlans/plan/chat', ['getMessages', 'sendMessage']),
    onClose() {
      this.$router.push({
        name: 'ExpRespAssessmentPlanSingle',
        params: {
          uuid: this.$route.params.uuid
        }
      })
    },
    uploadFiles(event) {
      let files = event.target.files;
      this.newMessage.files = [...this.newMessage.files, ...files];
    },
    deleteFile(index) {
      this.newMessage.files.splice(index, 1);
    },
    callSendMessageAction() {
      if (this.sendMessageRequestPending) return;

      if (this.newMessage.files.length === 0 && !this.newMessage.message) {
        return;
      }

      this.sendMessageRequestPending = true;
      this.sendMessage({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
        sessionUuid: this.sessionUuid,
        payload: this.newMessage
      })
          .then(() => {
            this.newMessage.message = '';
            this.newMessage.files = [];
            this.scrollToEndOfChat()
            setTimeout(() => {
              this.$refs.textarea.calculateHeight();
            })
          })
          .catch((error) => {
            if (error?.data?.message) {
              this.$toast.error(error?.data?.message)
            }
          })
          .finally(() => {
            this.sendMessageRequestPending = false;
          });
    },
    scrollToEndOfChat() {
      this.$nextTick(() => {
        const chat = this.$refs.chat;
        chat.scroll(0, chat.scrollHeight);
      });
    },
    chatObserve() {
      const chat = this.$refs.chat;
      const firstChild = chat.children[0]

      if (!firstChild) return;

      this.chatObserver = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            const isExistNextPage = this.meta.current_page < this.meta.last_page
            if (isExistNextPage && !this.chatLoading) {
              this.loadMessages(this.meta.current_page + 1)
              const topPosition = chat.children[0].offsetTop
              chat.scrollTop = topPosition
              this.chatObserver.unobserve(firstChild)
            }
          }
        })
      })
      this.chatObserver.observe(firstChild)
    },
    chatUnObserver() {
      this.chatObserver.unobserve()
    },
    startChatResizeObserver() {
      const chat = this.$refs.chat;
      const resizeObserver = new ResizeObserver(entries => {
        entries.forEach(({target}) => {
          const scrollHeight = target.scrollHeight;
          const clientHeight = target.clientHeight;
          chat.style.paddingRight = scrollHeight > clientHeight ? '10px' : 0;
        })
      })
      resizeObserver.observe(chat)
    },
    async loadMessages(page = 1) {
      this.chatLoading = true
      await this.getMessages({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
        sessionId: this.sessionUuid,
        queryParams: {
          page,
        },
      })
      if (page !== 1) this.chatObserve()
      this.chatLoading = false
    }
  },
  async mounted() {
    this.$store.state.assessmentPlans.plan.chat.chatMessages = [];

    Promise.all([
      await this.fnOnMount(),
      await this.fetchExpRespTask({
        uuidPlan: this.$route.params.planUuid,
        uuid: this.$route.params.taskUuid
      }),
      this.getMark({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
        sessionUuid: this.sessionUuid,
      }),
      this.loadMessages()
    ])
        .then(() => {
          this.loaded = true;
          this.$nextTick(() => {
            this.scrollToEndOfChat();
            this.startChatResizeObserver();
            this.chatObserve();

          })
        })
        .finally(() => {
          this.loaded = true;
        })
  }
}
</script>

<style
    lang="scss"
    src="./style.scss"
/>