.custom-assessment {
  .expander {
    &__item {
      &__arrow-btn {
        align-self: flex-start;
        margin-right: 30px;
      }
    }
    &__item__arrow-btn {
      margin-left: 8px;
    }
  }

  &__expander {
    margin-bottom: 20px;

    &__title {
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #252733;
      white-space: pre-wrap;
    }

    &__file-title {
      font-weight: 600;
      margin-top: 30px;
    }

    .expander {
      &__item {
        &__header {
          padding-top: 0;
          max-width: calc(100% - 50px);
          @include max-xs{
            flex-wrap: nowrap;
            max-width: 100%;
          }
        }
      }
    }
  }

  &__line {
    border: 1px solid #DFE0EB;
    margin: 0 -30px 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    margin-bottom: 15px;
  }

  &__chat {
    &__item {
      margin-bottom: 10px;
      padding: 15px;
      background: $light-gray;
      border-radius: 12px;

      &_mark {
        background-color: $light-green;
      }

      &__header {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 5px;
      }

      &__title {
        flex-grow: 1;
        color: #00788C;
      }

      &__date {
        white-space: nowrap;
        color: #9FA2B4;
      }

      &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #252733;
        margin-top: 5px;
        white-space: pre-wrap;
        word-break: break-word;
      }

      &__chips-row {
        display: flex;
        flex-wrap: wrap;
        margin: 10px -5px 0;

        & + & {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }

      &__chip {
        display: flex;
        margin: 5px;
        background-color: #fff;
        padding: 10px 15px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #00788C;

        span {
          margin-left: 15px;
        }
      }
    }
    &__list {
      max-height: 400px;
      overflow: auto;
      margin-bottom: 15px;
      padding-right: 10px;
    }
  }

  &__message-send-loading {
    margin-top: 0!important;
    opacity: 0;
    &_show {
      opacity: 1;
    }
  }

  &__input-box {
    display: flex;
    align-items: center;
    background: #F0F1F7;
    border-radius: 12px;
    min-height: 51px;
    position: relative;
    &_has-file {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &__files {
      margin: 15px 0;
      width: 100%;
      &__title{
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
        color: $gray;
      }
      &__item{
        &__delete{
          width: 12px;
          margin-left: 8px;
        }
      }
    }

    &__input {
      flex-grow: 1;
      min-height: 100%;
      border: none;
      box-sizing: border-box;
      background-color: transparent;
      padding: 10px 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-right: 15px;
      resize: none;
      align-self: flex-start;

      &::placeholder{
        color: #9FA2B4;
      }
    }

    &__btn {
      width: 24px;
      height: 24px;
      margin: 0 15px 0 0;

      svg {
        width: 100%;
        height: 100%;
        --current-color: #{$green}!important;
      }
    }
  }
}

@media all and (max-width: 575px) {
  .custom-assessment {
    border: none;

    .expander {
      &__item {
        &__arrow-btn {
          margin-right: unset;
        }
      }
    }

    &__line {
      margin: 0 -15px 30px;
    }

    &__close-btn {
      position: absolute;
      right: 0;
      top: -30px;
      width: 15px;
      height: 15px;
      display: flex;

      .mt-svg {
        width: 100%;
        height: 100%;
      }
    }

    &.mt-dialog {
      z-index: 3;

      .mt-dialog {
        &__window {
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          height: 100%;
          border-radius: 0;
          padding-top: 100px;

          &__wrapper {
            padding: 20px 15px;
          }
        }
      }

      .expander {
        &__item {
          &:after {
            width: calc(100% + 30px);
            left: -15px;
          }
        }
      }

      .custom-assessment__message-send-loading {
        margin-top: 15px;
      }
    }
  }
}