.file-download-card {
  width: fit-content;
  border-radius: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252733;
  padding: 15px;

  &__item {
    cursor: pointer;
    width: fit-content;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    word-break: break-all;
    a{
      color: $black;
      transition: .3s all;
      &:hover{
        color: $green;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &_disabled{
    .file-download-card__item a{
      text-decoration: none;
      pointer-events: none;
    }
  }
}