<template>
  <div
      class="chip"
      :class="`chip_${bgColor}`"
  >
    <slot/>
  </div>
</template>

<script>
export default {
  name: "mtChip",
  props: {
    bgColor: {
      type: String
    }
  }
}
</script>

<style
    lang="scss"
    scoped
>
.chip {
  height: 24px;
  border-radius: 100px;
  font-weight: 800;
  font-size: 11px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 11px;
  background-color: $brown;

  &_brown {
    background-color: $brown;
  }

  &_dark {
    background-color: $dark;
  }

  &_gray {
    background-color: $gray;
  }

  &_red {
    background-color: $red;
  }
}
</style>