<template>
  <mtCard
      :icon="dataTask.icon.name"
      :icon-color="dataTask.icon.color"
      :icon-bg-color="dataTask.icon.bgColor"
      :class="computedClasses"
  >
    <template #header>
      <div class="test-card__header-row">
        <mtChip class="test-card__type">{{ dataTask.type.label }}</mtChip>
        <button
            class="test-card__download-btn"
            v-if="dataTask.isAvailableForExport"
            @click="openDownloadReportPopover()"
        >
          <mtSvg
              class="test-card__download-btn__icon"
              name="download"
              width="10"
              height="14"
          />
        </button>
      </div>
    </template>
    <template #content>
      <div class="test-card__text">
        <h2 class="test-card__title">{{ dataTask.name }}</h2>
        <mtShowMoreText
            class="test-card__description"
            height="67px"
        >
          <p>{{ dataTask.description }}</p>
        </mtShowMoreText>
        <plan-test-time :item="dataTask"/>
        <div
            class="test-card__info"
            v-if="dataTask.group"
        >
          <mtSvg
              class="test-card__info__icon"
              name="group"
              color="#00788C"
              width="15"
          />
          <p>Группа: {{ dataTask.group }}</p>
        </div>
        <div class="test-card__info">
          <mtSvg
              class="test-card__info__icon"
              name="refresh-bg"
              color="#00788C"
              width="15"
          />
          <p v-if="dataTask.attemptsAmount === -1">Кол-во попыток: ∞</p>
          <p v-else>Использовано попыток: {{ dataTask.attempts }} из {{ dataTask.attemptsAmount }}</p>
        </div>
        <file-download-card :links="dataTask.materials"/>
      </div>
      <div class="test-card__footer">
        <div
            class="test-card__checkbox"
            v-if="dataTask.type.value === TASK_TYPE_CONFIRMATION && !dataTask.isConfirmed && dataTask.isOpened"
        >
          <mtCheckbox v-model="isConfirmed"/>
          <span class="test-card__checkbox__label">Подтверждаю</span>
        </div>
        <div
            class="test-card__points"
            v-if="test.balls && test.balls.current !== 0"
        >
          Баллы: {{ test.balls.current }} из {{ test.balls.total }}
        </div>
        <mtButton
            :class="[
                'test-card__button',
                'test-card__button_' + dataTask.btn.className
              ]"
            :disabled="!dataTask.isOpened && !dataTask.isFailed"
            :preloader="dataTask.btn.loading"
            @click="handler()"
        >
          <template
              #icon
              v-if="dataTask.btn.icon"
          >
            <mtSvg
                :name="dataTask.btn.icon"
                color="#9FA2B4"
            />
          </template>
          <template #default>
            {{ dataTask.btn.label }}
          </template>
        </mtButton>
      </div>
    </template>
  </mtCard>
  <teleport to="body">
    <DownloadReportPopover
        :visibility="showDownloadReportPopup"
        :reports="dataTask.reports"
        @close="closeDownloadReportPopover"
        @download="downloadReport"
    />
  </teleport>
</template>

<script>
import mtShowMoreText from "@/components/UI/mtShowMoreText";
import mtCard from "@/components/UI/mtCard";
import mtSvg from '@/components/UI/mtSvg';
import mtButton from '@/components/UI/mtButton';
import mtChip from '@/components/UI/mtChip';
import {TASK_TYPE_CONFIRMATION, TASK_TYPE_EXPERT, TASK_TYPE_TEST} from '@/constants/testTypes';
import {mapActions, mapGetters} from 'vuex';
import MtCheckbox from '@/components/UI/mtCheckbox';
import FileDownloadCard from '@/components/workspace/assessmentPlans/plans/fileDownloadCard';
import DownloadReportPopover from "@/components/workspace/testLibrary/results/DownloadReportPopover";
import PlanTestTime from '@/components/workspace/assessmentPlans/planTestTime';
import externalApi from '@/network/external';
import api from '@/network';

export default {
  name: "testCard",
  components: {
    DownloadReportPopover,
    PlanTestTime,
    FileDownloadCard,
    MtCheckbox,
    mtChip,
    mtButton,
    mtSvg,
    mtCard,
    mtShowMoreText
  },
  props: {
    test: {
      type: Object,
      default: () => ({
        icon: '',
        type: '',
        title: '',
        description: '',
        deadline: '',
        group: '',
        attempts: '',
        department: '',
        file: ''
      })
    }
  },
  data: () => {
    return {
      clipboardPlans: [],
      clipboardUuid: null,
      clipboardReports: [],

      clipboardUuidSession: null,
      clipboardUuidUser: null,

      TASK_TYPE_CONFIRMATION,
      isConfirmed: false,
      dataTask: {},
      showDownloadReportPopup: false,
    }
  },
  computed: {
    ...mapGetters(['USER']),

    computedClasses() {
      return [
        'test-card',
        'test-card-type--' + this.dataTask.type.value,
        'test-card-status--' + this.dataTask.icon.className
      ]
    }
  },
  methods: {
    ...mapActions('assessmentPlans/plan/task', ['startTaskSession', 'confirmTask']),
    openDownloadReportPopover() {
      this.showDownloadReportPopup = true;
    },
    async downloadReport({format, variants,}) {
      const payload = [
        {
          format,
          variants,
          uuid: this.dataTask.sessionUuid,
          user_uuid: this.USER.uuid,
        }
      ];
      const response = await api.post('export/results', payload);
      if (response.data?.url) {

        const reportLink = response.data.url;
        const type = format;
        const isGroup = variants.length > 1;

        try {
          if (isGroup) {
            window.open(reportLink, "_blank");
          } else {
            const response = await externalApi.get(`${reportLink}`, {
              responseType: 'blob',
            });

            if (response.data.size) {
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement('a');

              link.href = url;

              let fileName = `results__${new Date().toLocaleDateString()}-${new Date().toLocaleTimeString().replace(/:/g, '_')}.${type}`;

              link.setAttribute('download', fileName);
              document.body.appendChild(link);
              link.click();
            } else {
              this.$toast.error('Отчёт не найден');
            }
          }
        } catch (e) {
          return e;
        }
      }
    },
    closeDownloadReportPopover() {
      this.clipboardReports = [];

      this.clipboardUuidSession = null;
      this.clipboardUuidUser = null;
      // this.clipboardGender = null;
      // this.clipboardFullName = null;
      this.showDownloadReportPopup = false;
    },
    handler() {
      const planUuid = this.$route.params.planUuid;
      const taskUuid = this.dataTask.uuid;

      if (this.dataTask.type.value === TASK_TYPE_TEST) {
        this.dataTask.btn.loading = true;
        this.startTaskSession({planUuid, taskUuid})
            .then(response => {
              const url = response.data.url;
              window.open(url, '_blank').focus();
              if(this.dataTask.btn.label === 'Начать выполнение') {
                this.dataTask.btn.label = 'Продолжить выполнение';
              }
            })
            .finally(() => {
              this.dataTask.btn.loading = false;
            })
      } else if (this.dataTask.type.value === TASK_TYPE_EXPERT) {
        this.$router.push({
          name: 'RespondentTaskSingle',
          params: {
            planUuid: this.$route.params.planUuid,
            taskUuid: this.dataTask.uuid
          }
        })
      } else if (this.dataTask.type.value === TASK_TYPE_CONFIRMATION) {
        if (!this.isConfirmed) {
          this.$toast.error('Чтобы отправить, нужно ознакомиться с файлами подтверждения и отметить подтверждение')
          return
        }
        this.confirmTask({planUuid, test: this.dataTask});
      }
    }
  },
  created() {
    this.dataTask = this.test;
  }
}
</script>

<style
    lang="scss"
    src="./style.module.scss"
/>