.test-card {
  width: calc(25% - 15px);
  max-width: 320px;
  margin: 7.5px;
  &__header {
    &-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__repeat-btn {
    width: 100%;
    margin-bottom: 10px;
  }
  &__download-btn {
    height: 30px;
    width: 30px;
    background-color: $light-gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: .3s background-color;
    &:hover {
      background-color: #ececec;
    }
    &:active {
      background-color: #ccc;
    }
  }
  &__points {
    background-color: $light-gray;
    color: $gray;
    padding: 8px 16px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__footer {
    margin-top: auto;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
    &__label{
      display: block;
      margin-left: 12px;
      font-weight: bold;
      color: $gray;
    }
  }
  .mt-card__header__icon {
    margin-right: 5px;
  }

  &-status {

    &--completed {
      .mt-card__header__icon {
        background-color: $olive-green;
        svg{
          --current-color: #fff!important;
        }
      }
    }

    &--scheduled {
      .mt-card__header__icon {
        background-color: $yellow;
        svg{
          --current-color: #fff!important;
        }
      }
    }

    &--active {
      .mt-card__header__icon {
        svg{
          --current-color: $gray!important;
        }
      }
    }
    &--failed {
      .mt-card__header__icon {
        background-color: $tomato;
        svg{
          --current-color: #fff!important;
        }
      }
    }
  }

  &-type {
    &--confirmation {
      .test-card__type {
        background-color: $red;
      }
    }
    &--test {
      .test-card__type {
        background-color: $brown;
      }
    }
    &--expert {
      .test-card__type {
        background-color: $dark;
      }
    }
  }

  &__text {
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #252733;
    margin-bottom: 5px;
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #9FA2B4;
    margin-bottom: 20px;
    word-break: break-word;
    white-space: pre-wrap;
  }

  &__info {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #9FA2B4;
    margin-bottom: 10px;

    &__icon {
      margin-right: 11px;

      &_timer {
        --current-color: #FAB56E;
      }
    }
  }

  &__files {
    padding: 10px 15px;
    background: #F0F1F7;
    border-radius: 12px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-decoration-line: underline;
    color: #252733;
    a {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__button {
    width: 100%;
    &_opened {
      background-color: $green;
    }
    &_failed-disabled {
      cursor: not-allowed;
      user-select: none;
      pointer-events: none;
      color: #C24020;
      background-color: rgba(#C24020, 0.2);
    }
    &_failed {
      color: #fff;
      background-color: $red;
      &:hover {
        background-color: #8f4962;
      }
      &:active {
        background-color: #643244;
      }
    }
    :disabled {
      color: $gray;
      background-color: $light-gray;
    }
  }
}

@media all and (max-width: 1200px) {
  .test-card {
    max-width: unset;
    width: calc(33.33333% - 15px);
  }
}

@media all and (max-width: 767px) {
  .test-card {
    width: calc(50% - 15px);
  }
}

@media all and (max-width: 575px) {
  .test-card {
    width: 100%;
  }
}