$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
$breakpoint-xs: 575px;

@mixin min-lg {
  @media(min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin max-lg {
  @media(max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin max-md {
  @media(max-width: $breakpoint-md) {
    @content;
  }
}

@mixin min-md {
  @media(min-width: $breakpoint-md) {
    @content;
  }
}

@mixin max-sm {
  @media(max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin min-sm {
  @media(min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin max-xs {
  @media(max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin min-xs {
  @media(min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin max-xxs {
  @media(max-width: $breakpoint-xxs) {
    @content;
  }
}