$positions: ("l": "left", "r": "right", "t": "top", "b": "bottom");
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.text-no-wrap {
  white-space: nowrap;
}

.justify-center {
  justify-content: center;
  text-align: center;
}

@each $key, $position in $positions {
  .m#{$key}-auto {
    margin-#{$position}: auto;
  }
}
@each $size in 1, 2, 3, 4, 5, 6, 7, 8 {
  @each $key, $position in $positions {
    .p#{$key}-#{$size} {
      padding-#{$position}: #{$size * 8}px
    }
    .m#{$key}-#{$size} {
      margin-#{$position}: #{$size * 8}px
    }
  }

  .ma-#{$size} {
    margin: #{$size * 8}px
  }

  .pa-#{$size} {
    padding: #{$size * 8}px
  }
}