$black: #252733;
$brown: #C6AA9E;
$dark: #6D6F71;
$gray: #9FA2B4;
$light-gray: #F0F1F7;
$green: #00788C;
$dark-green: #005361;
$light-green: #E6F2F4;
$olive-green: #8FA93A;
$light-green: #E6F2F4;
$yellow: #FAB56E;
$red: #A55471;
$tomato: #C24020;
$dark-red: #C240203F;
$error: rgba(255, 0, 0, 0.3);