<template>
  <div class="mt-data-table">
    <div
        class="mt-data-table__wrapper"
        ref="table"
        @scroll.prevent="scrollHorizontal($event)"
    >
      <table>
        <thead>
        <tr>
          <template
              v-for="(head, index) in header"
              :key="index"
          >
            <th :class="{'mt-data-table__border-right': head.bordered}">
              <div class="d-flex align-center">
                <template v-if="head.preIcon">
                  <mt-svg
                      class="mt-data-table__header__icon mt-data-table__header__icon_pre"
                      :name="head.preIcon"
                      :color="head.color"
                  />
                </template>
                <span :style="{color: head.color ?? ''}">{{ head.name }}</span>
              </div>
            </th>
          </template>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="(item, index) in items"
            :key="index"
        >
          <template v-for="(column, columnIndex) in header">
            <template v-if="isSlotExist(column)">
              <td
                  :class="{'mt-data-table__border-right': column.bordered}"
                  :key="columnIndex"
              >
                {{ item[column.key] }}
              </td>
            </template>
            <td
                v-else
                :key="columnIndex"
                :class="{'mt-data-table__border-right': column.bordered}"
            >
              <slot
                  :name="`item.${column.key}`"
                  v-bind:item="item"
                  v-bind:index="index"
              />
            </td>
          </template>
        </tr>
        </tbody>
      </table>
    </div>
    <mt-pagination
        class="mt-data-table__pagination"
        :page="1"
        :total="30"
        :perpage="10"
    />
  </div>
</template>

<script>
import MtPagination from '@/components/UI/mtPagination/mtPagination.vue';
import MtSvg from '@/components/UI/mtSvg';

export default {
  name: "mtDataTable",
  components: {MtSvg, MtPagination},
  props: {
    header: {
      type: Array,
      default: () => ([
        {
          name: '',
          key: '',
          sortable: false,
          bordered: false
        }
      ])
    },
    items: {
      type: Array,
      default: () => ([
        {
          name: '',
          key: '',
        }
      ])
    }
  },
  data: () => ({
    showInfo: true,
    hasScroll: true
  }),
  methods: {
    scrollHorizontal() {
      if (this.$refs.table.scrollLeft > 0) {
        this.showInfo = false;
      }
    },
    isSlotExist(column) {
      return !this.$slots[`item.${column.key}`]
    }
  },
  mounted() {
    let app = this;
    let table = this.$refs.table;

    function verifyScroll() {
      app.hasScroll = table.scrollWidth - 20 > table.clientWidth;
    }

    verifyScroll();
    window.addEventListener('resize', verifyScroll);
  }
}
</script>

<style
    lang="scss"
    src="./mtDataTable.scss"
/>