<template>
  <customAssessment :fn-on-mount="runOnMount" />
</template>

<script>
import customAssessment from '@/components/workspace/assessmentPlans/plans/plan/customAssessment';
import { mapActions } from 'vuex';
import CustomVirtualVueScroller from 'custom_virtual_vue_scroller';

export default {
  name: "respondentCustomAssessment",
  components: {customAssessment},
  methods: {
    ...mapActions('assessmentPlans/plan/task', ['startCustomAssessmentSession']),
    async runOnMount() {

      await this.startCustomAssessmentSession({
        planUuid: this.$route.params.planUuid,
        taskUuid: this.$route.params.taskUuid,
      });
    }
  }
}
</script>

<style lang="scss" src="./style.scss" />