<template>
  <div>
    <expert-billing-table />

    <router-view />
  </div>
</template>

<script>

import ExpertBillingTable from "@/components/workspace/ExpertBillingTable.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "ResultsTable",
  components: { ExpertBillingTable },
  data: () => ({
    titleActiveSection: "Редактирование",
  }),
  computed: {
    ...mapState('assessmentPlans/plan', ['assessmentPlan'])
  },
  methods: {
    ...mapActions('assessmentPlans/plan', ['fetchPlan']),
    ...mapActions(["setTitleActiveSection"]),

    async initBreadcrumbs() {
      let breadcrumbs = this.$route.meta.breadcrumbs
      let breadcrumbIndexForItem = breadcrumbs.findIndex(item => item.isDynamic);
      breadcrumbs[breadcrumbIndexForItem].value = this.assessmentPlan.name;
      breadcrumbs[breadcrumbIndexForItem].params = {
        uuid: this.$route.params.planUuid
      };

      await this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: breadcrumbs,
        })
      });
    },


  },
  mounted() {
    this.fetchPlan({
      uuid: this.$route.params.planUuid,
    })
        .then(() => {
          this.initBreadcrumbs();
          this.setTitleActiveSection(this.titleActiveSection);
        })
  }
}
</script>

<style scoped>

</style>