.statistics-circle {
  background: #F0F1F7;
  border-radius: 12px;
  display: flex;
  padding: 10px;

  &__desc {
    margin-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
  }
}