.assessment-plans__add-step1 {
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  width: 100%;

  // HEADER STYLES START
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  // HEADER STYLES END

  // BODY STYLES START
  .body__inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 93px;

    @include max-xs {
      margin-bottom: 0;
    }
  }

  // BODY STYLES END

  // OBJECT STYLES START

  .field {
    .field__title {
      padding-bottom: 10px;
    }

    &:last-child .field__inner {
      margin-bottom: 0px;
    }

    .field__inner {
      width: 327px;
      height: 60px;
      background: #f0f1f7;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-bottom: 20px;
      box-sizing: border-box;

      .field__inner_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .field__content {
          background: transparent;
          width: 287px;
          border: 0px;
        }
      }

      .files {
        .files__wrapper {
          display: grid;
          grid-template-columns: 90% 10%;

          .files__list {
            border-right: 1px solid #cfcfd0;

            .files__inner {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              margin-left: 10px;
              margin-top: 10px;

              .file {
                width: 130px;
                height: max-content;
                background: #ffffff;
                border-radius: 6px;
                margin: 0px 10px 10px 0px;

                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;

                .file-inner {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: center;

                  .file__logo {
                    margin-right: 15px;
                    align-self: center;
                  }

                  .file__text {
                    .file__title {
                      word-break: break-word;
                      font-weight: normal;
                      font-size: 11px;
                      line-height: 14px;
                      //letter-spacing: 0.2px;
                      color: #252733;
                    }

                    .file__sub-title {
                      font-weight: normal;
                      font-size: 10px;
                      line-height: 16px;
                      letter-spacing: 0.1px;
                      color: #c5c7cd;
                    }
                  }
                }
              }
            }
          }

          .files__settings {
            align-self: center;
            justify-self: center;
          }
        }
      }
    }

    .field__inner-file {
      display: block;
      height: auto !important;
    }
  }

  // OBJECT STYLES END

  .field-inner {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7c869d;
  }

  .wrapper {
    padding-left: 46px;
    padding-right: 30px;

    @include max-xs {
      padding: 15px;
      flex-direction: column;
    }
  }

  .title__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: #252733;
    margin-bottom: 30px;
  }

  .description-textarea {
    display: block;
    min-height: 60px !important;
    height: auto !important;
    padding: 20px !important;
  }

  .button-status {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .button__item {
      width: 114px !important;
      height: 24px !important;
      background: #8fa93a;
      border-radius: 100px;
      text-align: center;
      cursor: default;
    }
  }

  /* MIXIN STYLES */
  &__back,
  &__save {
    margin: 7px 15px;
  }

  .mt-page-nav {
    &__button {
      &-next {
        width: 82px !important;
        height: 32px !important;
      }
    }
  }
}