<template>
  <steps-nav :activeStep="1"/>
  <div class="assessment-plans__add-step1">
    <div class="header">
      <div class="header__inner wrapper">
        <div class="title">
          <div class="title__text">Шаг 1. Структура плана оценки</div>
        </div>
        <mtPageNav
            :next_preloader="next_preloader"
            @back="onBackClicked()"
            @next="onNextClicked()"
        >
          <template #back>
            <div class="assessment-plans__add-step1__back">Назад</div>
          </template>
          <template #next>
            <div class="assessment-plans__add-step1__save">Далее</div>
          </template>
        </mtPageNav>
      </div>
    </div>
    <div class="body">
      <div class="body__inner wrapper">
        <Fields
            :errorsMessages="errorsMessages"
            @validate="validate($event.field, $event.rules)"
            @resetValidateStatus="resetValidateStatus"
        />
        <Tasks
            :addTaskLoader="addTaskLoader"
            :errorsMessages="errorsMessages"
            @onAddNewAttachment="onAddNewAttachment"
            @fix_test_order="fixTestOrder()"
        />
      </div>

    </div>

    <teleport to="body">
      <task
          v-model="isTaskModalOpen"
          :reorder="createdNewTask"
      />
    </teleport>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState, mapMutations } from "vuex";
import validation from '@/plugins/validation.js';
import mtPageNav from "@/components/composite/mtPageNav";
import Fields from "@/components/workspace/assessmentPlans/plans/plan/step1/Fields";
import Tasks from "@/components/workspace/assessmentPlans/plans/plan/step1/Tasks";
import Task from "@/views/workspace/assessmentPlans/pages/plans/plan/step1/task.vue";
import {isTwoObjEqual} from "@/services/utils";
import StepsNav from "@/components/workspace/assessmentPlans/plans/plan/stepsNav.vue";
import { onBeforeRouteLeave, onBeforeRouteUpdate } from "vue-router";

export default {
  components: {
    StepsNav,
    Task,
    Fields,
    mtPageNav,
    Tasks
  },
  data: () => ({
    dontSaved: true,
    accessToPage: false,
    next_preloader: false,
    errorsMessages: {},
    titleActiveSection: "Редактирование",
    addTaskLoader: false,
    isTaskModalOpen: false
  }),
  computed: {
    ...mapGetters(["assessmentPlanName",]),
    ...mapGetters('assessmentPlans/plan', ["planEditdataExd", "addEdit1Validation",]),
    ...mapState('assessmentPlans/plan', ['PlanEditdataExdForCompare', 'isNewPlan']),

    PLAN_FILES_TO_DELETE() {
      return this.$store.getters['assessmentPlans/plan/filesToDelete'];
    },
    PLAN_FILES_TO_ADD() {
      return this.$store.getters['assessmentPlans/plan/filesToAdd'];
    },
  },
  methods: {
    ...mapActions(["setTitleActiveSection",]),
    ...mapActions('assessmentPlans/plan', [
      'fetchPlan',
      'createTask',
      'updateTask',
      'updatePlan',
      'addFile',
      'deleteFile',
      'deletePlan'
    ]),
    ...mapMutations('assessmentPlans/plan', ['updateIsNewPlan']),

    getCurrentPlanData() {
      this.fetchPlan({uuid: this.$route.params.uuid})
          .then(() => {
            this.initBreadcrumbs();
            this.fixTestOrder();
          });
    },
    onBackClicked() {
      this.$router.push({
        name: "AssessmentPlansList",
        params: {},
      });
    },
    async onNextClicked(next = null) {
      if (!this.next_preloader && this.validateAll()) {
        this.$router.push({
          name: "AddEdit2",
          params: {
            uuid: this.$route.params.uuid,
          },
          query: {
            ...this.$route.query,
          },
        });
      }
    },
    async onAddNewAttachment() {
      // if (!this.addTaskLoader) {
      //   this.addTaskLoader = true;
      //
      //   await this.save()
      //       .then(() => this.createTask({uuid: this.$route.params.uuid}))
      //       .then((response) => {
      //         this.$router.push({
      //           name: "AddEdit1Attach",
      //           params: {
      //             uuid_plan: this.$route.params.uuid,
      //             uuid_task: response.data.uuid,
      //           },
      //           query: {
      //             ...this.$route.query,
      //             page: this.$route.name,
      //             testName: 'Новый тест',
      //           },
      //         });
      //       });
      //
      //   this.addTaskLoader = false;
      // }

      this.isTaskModalOpen = true
    },

    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(
          this.planEditdataExd[field],
          rules
      );

      return this.errorsMessages[field].length === 0;
    },
    resetValidateStatus(payload = {}) {
      this.errorsMessages[payload.field] = false
    },
    validateAll() {
      let valid = true;

      if (
          !this.validate("name", [
            {
              rule: "required",
              message: 'Заполните поле "Название"'
            },
          ])
      ) {
        valid = false;
      }
      if (
          !this.validate("description", [
            {
              rule: "required",
              message: 'Заполните поле "Описание"'
            },
          ])
      ) {
        valid = false;
      }
      if (
          !this.validate("structure", [
            {
              rule: "isNotEmpty",
              message: "Для продолжения работы добавьте задания в план оценки",
            },
          ])
      ) {
        valid = false;
      }

      return valid;
    },
    fixTestOrder() {
      let isChanged = false
      if (this.planEditdataExd.structure) {
        for (let order = 0; order < this.planEditdataExd.structure.length; order++) {
          if(this.planEditdataExd.structure[order].order !== order + 1) {
            this.planEditdataExd.structure[order].order = order + 1;
            isChanged = true
          }
        }
        if(isChanged) this.saveTasks()
      }
    },

    createdNewTask () {
      this.fixTestOrder()
    },

    async addFilesRecursive({files, index,}) {
      if (index < files.length) {
        await this.addFile({
          uuid: this.$route.params.uuid,
          file: files[index].formData,
        });
        this.addFilesRecursive({files, index: index + 1,});
        return Promise.resolve(true)
      }
    },
    async deleteFilesRecursive({files, index,}) {
      if (index < files.length) {
        await this.deleteFile({uuid: files[index],});
        this.deleteFilesRecursive({files, index: index + 1,});
      }
    },
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName ?? this.planEditdataExd.name,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
    async saveTasks() {
      if (!this.planEditdataExd.structure) return;

      for (let iTask = 0; iTask < this.planEditdataExd.structure.length; iTask++) {
        await this.updateTask({
          uuid: this.$route.params.uuid,
          task: this.planEditdataExd.structure[iTask],
        });
      }
    },
    async savePlan() {
      if (this.PLAN_FILES_TO_ADD.length) {
        const data = await this.addFilesRecursive({
          files: this.PLAN_FILES_TO_ADD,
          index: 0,
        });
        if (data) {
          this.PLAN_FILES_TO_ADD.length = 0
        }
      }
      if (this.PLAN_FILES_TO_DELETE.length) {
        await this.deleteFilesRecursive({
          files: this.PLAN_FILES_TO_DELETE,
          index: 0,
        });
      }

      await this.updatePlan({
        plan: this.planEditdataExd,
      });
    },
    async save() {
      // await this.saveTasks();

      this.next_preloader = true;
      const isChanged = !isTwoObjEqual(this.PlanEditdataExdForCompare, this.planEditdataExd)

      if (isChanged || this.PLAN_FILES_TO_ADD.length || this.PLAN_FILES_TO_DELETE.length) {
        await this.savePlan()
      }

      this.next_preloader = false;
    },
  },
  mounted() {
    this.getCurrentPlanData({uuid: this.$route.params.uuid,});
    this.setTitleActiveSection(this.titleActiveSection);

    onBeforeRouteLeave(async (to, from, next) => {
      const isRelationStep = to.name === 'AddEdit2' || to.name === 'AddEdit3' || to.name === 'AddEdit4';

      if(this.isNewPlan && !isRelationStep) {
        await this.deletePlan({uuid: this.planEditdataExd.uuid});
        this.updateIsNewPlan(false);
      }
      else {
        await this.save()
      }

      next()
    })
  }
};
</script>

<style
    lang="scss"
    src="./step1.scss"
/>