<template>
  <mt-dialog
      v-model="computedModelValue"
      size="large"
  >
    <div class="assessment-plans-task assessment-plans-task--create">
      <div class="assessment-plans-task__header">
        <div class="header__inner">
          <div class="title">
            <div class="title__text">{{
                task.uuid ? `Редактировать '${clonedTask.name}'` : "Назначить новое задание"
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="assessment-plans-task__body">
        <div class="assessment-plans-task__form">

          <div
              v-if="task.type === 'test' && !computedMainTests.length && !_object"
              class="field field--full"
          >
            <alert type="warning">
              Все возможные обьекты тестирования уже выбраны
            </alert>
          </div>

          <div class="field field--half">
            <div class="field__title">
              <div class="field-text field-gen_title">Тип</div>
            </div>
            <mtSelect
                v-model="_type"
                :items="types"
                :hasError="errorsMessages?.type?.length > 0"
                @focus="errorsMessages.type = false"
                @blur="validate('type', rType)"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.type?.length > 0"
            >
              {{ errorsMessages.type[0] }}
            </div>
          </div>
          <div
              :class="[
              'field',
              'field--half',
              {
                'field--disabled': task.type !== 'test' || !computedMainTests.length,
              }
            ]"
          >
            <div class="field__title">
              <div class="field-text field-gen_title">Объект</div>
            </div>
            <mtSelect
                v-model="_object"
                :items="computedMainTests"
                :hasError="errorsMessages?.mainTest?.length > 0"
                @focus="errorsMessages.mainTest = false"
                @blur="validate('mainTest', rObject)"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.mainTest?.length > 0"
            >
              {{ errorsMessages.mainTest[0] }}
            </div>
          </div>

          <div class="field field--full">
            <div class="field__title">
              <div class="field-text field-gen_title">Название</div>
            </div>
            <mtInput
                class="border-field"
                v-model="task.name"
                theme="solid"
                :hasError="errorsMessages?.name?.length > 0"
                @focus="resetValidateStatus({ field: 'name' })"
                @blur="validate('name', rName)"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.name?.length > 0"
            >
              {{ errorsMessages.name[0] }}
            </div>
          </div>

          <template v-if="_type?.slug === 'expert'">
            <div
                class="field field--full"
                data-type="description"
            >
              <div class="field__title">
                <div class="field-inner">
                  {{ _type?.slug === 'expert' ? 'Инструкция респондента' : 'Описание' }}
                </div>
              </div>
              <mtTextarea
                  class="border-field"
                  v-model="task.description"
                  theme="solid"
                  :hasError="errorsMessages?.description?.length > 0"
                  @focus="resetValidateStatus({ field: 'description' })"
              />
            </div>
            <div
                class="field field--full"
                data-type="description_expert"
            >
              <div class="field__title">
                <div class="field-inner">
                  Инструкция эксперта
                </div>
              </div>
              <mtTextarea
                  class="border-field"
                  v-model="task.description_expert"
                  theme="solid"
                  :hasError="errorsMessages?.description_expert?.length > 0"
                  @focus="resetValidateStatus({ field: 'description_expert' })"
              />
            </div>
          </template>

          <div class="field field--half">
            <div class="field__title">
              <div class="field-text">Группа</div>
            </div>
            <mtSelectExtend
                v-model="group"
                :items="groups"
                :has-filter="false"
                @add="createGroup"
                @remove="deleteGroup"
                :plan-uuid="$route.params.uuid_plan"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.group?.length > 0"
            >
              {{ errorsMessages.group[0] }}
            </div>
          </div>
          <div class="field field--half">
            <mtTimeIntervalField
                :class="'assmnt-plan-st1--fields__field'"
                :title="'Время доступа'"
                :dateFrom="task.date_from"
                :dateTo="task.date_to"
                clearable
                @update-date="setDates"
            />
          </div>

          <template v-if="_type?.slug === 'test'">
            <div class="field field--half">
              <div class="field__title">
                <div
                    :class="['field-text', {
                      'field-gen_title': task.type === 'test'
                    }]"
                >
                  Количество попыток
                </div>
              </div>
              <mtSelect
                  v-model="_attempt"
                  :items="attempts"
                  :hasError="errorsMessages?.number_attempt?.length > 0"
                  @focus="errorsMessages.number_attempt = false"
                  @blur="validate('number_attempt', rAttempts)"
              />
              <div
                  class="edit-general-info-block__error-message"
                  v-if="errorsMessages?.number_attempt?.length > 0"
              >
                {{ errorsMessages.number_attempt[0] }}
              </div>
            </div>
            <div
                :class="[
                  'field',
                  'field--half',
                  {
                    'field--disabled': !_attempt || _attempt < 2,
                  }]"
            >
              <div class="field__title">
                <div :class="['field-text', { 'field-gen_title': task.type === 'test' }]">
                  Учитывать попытку
                </div>
              </div>
              <mtSelect
                  v-model="_resultAttempt"
                  :items="resultAttempts"
                  :hasError="errorsMessages?.registration_attempts?.length > 0"
                  @focus="errorsMessages.registration_attempts = false"
                  @blur="validate('registration_attempts', rResultAttempts)"
              />
              <div
                  class="edit-general-info-block__error-message"
                  v-if="errorsMessages?.registration_attempts?.length > 0"
              >
                {{ errorsMessages.registration_attempts[0] }}
              </div>
            </div>

            <div class="field field--half">
              <div class="field__inner">
                <div class="field__inner_wrapper">
                  <div class="field__inner_item">
                    <div class="input-text-allow">
                      <div class="field__content field-text">Ввод текста</div>
                      <div class="checkbox">
                        <input
                            class="checkbox-item"
                            id="settingscheck3"
                            type="checkbox"
                            v-model="task.input_text"
                        />
                        <label
                            class="checkbox-item__label"
                            for="settingscheck3"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field field--half">
              <div class="field__inner">
                <div class="field__inner_wrapper">
                  <div class="field__inner_item">
                    <div class="upload-files-allow">
                      <div class="file ld__content field-text">Загрузка файлов</div>
                      <div class="checkbox">
                        <input
                            class="checkbox-item"
                            id="settingscheck31"
                            type="checkbox"
                            v-model="task.upload_files"
                        />
                        <label
                            class="checkbox-item__label"
                            for="settingscheck31"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <div
              :class="_type?.slug === 'expert' ? 'field field--half' : 'field field--full'"
          >
            <mt-files-field
                :class="'assmnt-plan-st1--fields__field'"
                :title="_type?.slug === 'expert' ? 'Прикрепленные файлы для респондента' : 'Прикрепленные файлы'"
                :files="taskFiles"
                @add="addFile({...$event})"
                @delete="deleteFile({...$event})"
            />
          </div>
          <div
              v-if="_type?.slug === 'expert'"
              class="field field--half"
          >
            <mt-files-field
                :class="'assmnt-plan-st1--fields__field'"
                :title="'Прикрепленные файлы для эксперта'"
                :files="taskFilesExpert"
                @add="addFileExpert({...$event})"
                @delete="deleteFileExpert({...$event})"
            />
          </div>

          <div
              v-if="_type?.slug !== 'expert'"
              class="field field--full"
              data-type="description"
          >
            <div class="field__title">
              <div class="field-inner">
                {{ _type?.slug === 'expert' ? 'Инструкция респондента' : 'Описание' }}
              </div>
            </div>
            <mtTextarea
                class="border-field"
                v-model="task.description"
                theme="solid"
                :hasError="errorsMessages?.description?.length > 0"
                @focus="resetValidateStatus({ field: 'description' })"
            />
          </div>
        </div>
      </div>
      <div class="assessment-plans-task__footer">
        <mt-button
            class="assessment-plans-task__form__button"
            :preloader="requestPending"
            @click="submitTask()"
        >
          Применить
        </mt-button>
      </div>
    </div>
  </mt-dialog>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from "vuex";
import validation from '@/plugins/validation.js';
import mtSelectExtend from "@/components/UI/mtSelectExtend/mtSelectExtend.vue";
import mtSelect from '@/components/UI/mtSelectSolid/mtSelectSolid.vue';
import mtInput from "@/components/UI/mtInput/mtInput.vue";
import mtTextarea from "@/components/UI/mtTextarea";
import mtTimeIntervalField from '@/components/composite/mtTimeIntervalField';
import mtFilesField from '@/components/composite/mtFilesField';
import MtDialog from "@/components/UI/mtDialog/mtDialog.vue";
import MtButton from "@/components/UI/mtButton/index.vue";
import Alert from "@/components/UI/Alert/Alert.vue";

export default {
  components: {
    Alert,
    MtButton,
    MtDialog,
    mtSelectExtend,
    mtInput,
    mtSelect,
    mtTextarea,
    mtTimeIntervalField,
    mtFilesField,
  },
  props: {
    modelValue: Boolean,
    reorder: Function
  },
  data: () => ({
    requestPending: false,
    /* LISTS */
    taskFiles: [],
    taskFilesExpert: [],
    groups: [],
    filters: [],
    errorsMessages: {},
    types: [
      {
        slug: 'test',
        name: 'Тест',
      },
      {
        slug: 'expert',
        name: 'Экспертная оценка',
      },
      {
        slug: 'confirmation',
        name: 'Подтверждение',
      },
    ],
    attempts: [
      {
        slug: '1',
        name: '1',
      },
      {
        slug: '2',
        name: '2',
      },
      {
        slug: '3',
        name: '3',
      },
      {
        slug: '4',
        name: '4',
      },
      {
        slug: '5',
        name: '5',
      },
      {
        slug: '-1',
        name: '∞',
      },
    ],
    resultAttempts: [
      {
        slug: 'first',
        name: 'Первую',
      },
      {
        slug: 'last',
        name: 'Последнюю',
      },
      {
        slug: 'best',
        name: 'Лучшую',
      },
    ],

    group: null,

    titleActiveSection: "Редактирование",
    editetTest: "",
    type: null,
    test: {},
    file: "",

    listType: false,
    listObject: false,
    listAttempts: false,
    listGroups: false,
    listRegAttempts: false,
    dateKey: 0,
    validationError: false,
    isTypeEmpty: false,
    isObjEmpty: false,
    isNameEmpty: false,
    isAttemptsEmpty: false,

    /* STATES */
    next_preloader: false,

    /* VALIDATION RULES */
    rType: [
      {
        rule: 'required',
        message: 'Выберите тип'
      },
    ],
    rObject: [
      {
        rule: 'required',
        message: 'Выберите объект'
      },
    ],
    rName: [
      {
        rule: 'required',
        message: 'Заполните название'
      },
    ],
    rAttempts: [
      {
        rule: 'required',
        message: 'Выберите количество'
      },
    ],
    rResultAttempts: [
      {
        rule: 'required',
        message: 'Выберите попытку'
      },
    ],

    /* DICTIONARY */
    mainTests: [],
    clonedTask: null
  }),
  computed: {
    ...mapGetters(['assessmentPlanName',]),
    ...mapGetters('assessmentPlans/plan', ['planEditdataExd', 'addEdit1Validation', 'testEditdataExd',]),
    ...mapGetters('assessmentPlans/plan/task', ['task']),
    computedModelValue: {
      get() {
        return this.modelValue
      },
      set(newVal) {
        this.$emit('update:modelValue', newVal)
        if (!newVal) {
          this.resetNewTask()
          this.clonedTask = null
        }
      }
    },
    TASK_FILES() {
      return this.$store.getters['assessmentPlans/plan/task/files'];
    },
    TASK_FILES_EXPERT() {
      return this.$store.getters['assessmentPlans/plan/task/filesExpert'];
    },
    TASK_FILES_TO_DELETE() {
      return this.$store.getters['assessmentPlans/plan/task/filesToDelete'];
    },
    TASK_FILES_TO_DELETE_EXPERT() {
      return this.$store.getters['assessmentPlans/plan/task/filesExpertToDelete'];
    },
    TASK_FILES_TO_ADD() {
      return this.$store.getters['assessmentPlans/plan/task/filesToAdd'];
    },
    TASK_FILES_TO_ADD_EXPERT() {
      return this.$store.getters['assessmentPlans/plan/task/filesToAddExpert'];
    },

    _type: {
      get() {
        return this.types.filter(type => type.slug === this.task.type)[0];
      },
      set(value) {
        this._object = '';

        switch (value.slug) {
          case "expert":
            this.setTaskStore({
              type: value.slug,
              number_attempt: 1,
              parameters: {
                ...this.task.parameters,
                param_type: "expert",
              },
            });
            break;

          case "confirmation":
            this.setTaskStore({
              type: value.slug,
              number_attempt: -1,
              parameters: {
                ...this.task.parameters,
                param_type: "confirmation",
              },
            });
            break;

          case "test":
            this.task.parameters.param_type = "auto";

            this.setTaskStore({
              type: value.slug,
              number_attempt: 1,
              parameters: {
                ...this.task.parameters,
                param_type: "auto",
              },
            });
            break;

          default:
            break;
        }
      }
    },
    _object: {
      get() {
        if(this.task.mainTest.TestTitle) return this.task.mainTest.TestTitle
        const foundTest = this.mainTests.find(test => {
          if(test.MaintestName === this.task.mainTest.MaintestName) return test
        });
        return foundTest ? foundTest.TestTitle : null
      },
      set(value) {
        this.task.mainTest = value;

        let isNameNotEmpty = Boolean(this.task.name?.replaceAll(" ", ""));

        if (!isNameNotEmpty) {
          this.task.name = value.name;
        }
      }
    },
    _attempt: {
      get() {
        return Number(this.task.number_attempt) === -1 ? '∞' : this.task.number_attempt;
      },
      set(value) {
        this.task.number_attempt = Number(value.slug);
        if(value.slug > 1) {
          this.task.registration_attempts = this.resultAttempts.find(item => item.slug === 'last').slug
        }
        else {
          this.task.registration_attempts = null
        }
      }
    },
    _resultAttempt: {
      get() {
        return this.resultAttempts.filter(attempt => attempt.slug === this.task.registration_attempts)[0]?.name;
      },
      set(value) {
        this.task.registration_attempts = value.slug;
      }
    },

    computedMainTests() {
      return this.mainTests.map((mainTest) => ({
        ...mainTest,
        name: mainTest.TestTitle,
      }))
          .filter((mainTest) => !this.planEditdataExd.structure.filter(
                  task => task.mainTest.MaintestName === mainTest.MaintestName
              ).length
          );
    }
  },
  methods: {
    ...mapActions([
      'fetchMainTests',
      'setTitleActiveSection',
      'setAssessmentPlanName',
    ]),
    ...mapActions('assessmentPlans/plan', {
      setTask: 'setTask',
      updateSingleTask: 'updateSingleTask',
      setTestEditdataExd: 'setTestEditdataExd',
      planGroupsList: 'planGroupsList',
      createPlanGroup: 'createPlanGroup',
      removeGroup: 'removeGroup',
      resetPlanStore: 'resetPlanStore',
      fetchPlan: 'fetchPlan',
      createTask: 'createTask'
    }),
    ...mapActions('assessmentPlans/plan/task', {
      fetchTask: 'fetchTask',
      updateTaskApi: 'updateTask',
      setTaskStore: 'setTaskStore',
      setFileToAdd: 'setFileToAdd',
      unsetFileToAdd: 'unsetFileToAdd',
      setFileToDelete: 'setFileToDelete',
      addFileVuex: 'addFile',
      deleteFileVuex: 'deleteFile',
      resetTaskStore: 'resetTaskStore',
    }),
    ...mapMutations('assessmentPlans/plan/task', ['resetNewTask']),

    setDates(payload = null) {


      if (!payload) return;

      this.setTaskStore({
        date_from: payload.dateFrom,
        date_to: payload.dateTo,
      });
    },

    /* HANDLERS */
    back() {
      this.resetPlanStore().then(() => {
        this.$router.push({
          name: "AddEdit1",
          params: {
            uuid: this.$route.params.uuid_plan,
          },
          query: {
            ...this.$route.query,
          },
        });
      });
    },
    async save(data, status = '') {
      if (!this.next_preloader && this.validateAll()) {
        this.next_preloader = true;
        this.task["audience"] = this.filters;

        if (this.TASK_FILES_TO_ADD.length) {
          await this.addFilesRecursive({
            files: this.TASK_FILES_TO_ADD,
            index: 0,
            uuid: data.uuid
          }).then(() => {
            const newFiles = this.TASK_FILES_TO_ADD.map(item => item.node)
            this.task.files = [...this.task.files, ...newFiles]
            this.TASK_FILES_TO_ADD.length = 0
          })
        }
        if (this.TASK_FILES_TO_ADD_EXPERT.length) {
          await this.addFilesRecursive({
            files: this.TASK_FILES_TO_ADD_EXPERT,
            index: 0,
            uuid: data.uuid,
            type: 'expert'
          }).then(() => {
            const newFiles = this.TASK_FILES_TO_ADD_EXPERT.map(item => item.node)
            this.task.files_expert = [...this.task.files_expert, ...newFiles]
            this.TASK_FILES_TO_ADD_EXPERT.length = 0
          })
        }
        if (this.TASK_FILES_TO_DELETE.length) {
          await this.deleteFilesRecursive({
            files: this.TASK_FILES_TO_DELETE,
            index: 0,
            uuid: data.uuid
          }).then(() => {
            this.TASK_FILES_TO_DELETE.map(file => {
              this.task.files = this.task.files.filter(item => item.uuid !== file)
            })
          })
        }
        if (this.TASK_FILES_TO_DELETE_EXPERT.length) {
          await this.deleteFilesRecursive({
            files: this.TASK_FILES_TO_DELETE_EXPERT,
            index: 0,
            uuid: data.uuid
          }).then(() => {
            this.TASK_FILES_TO_DELETE_EXPERT.map(file => {
              this.task.files_expert = this.task.files_expert.filter(item => item.uuid !== file)
            })
          })
        }

        if (status === 'new') {
          return await this.updateTask(data, 'new')
        }

        await this.updateTask(this.task)
      }
    },

    async submitTask() {
      if (!this.validateAll()) return

      this.requestPending = true;
      if (!this.task.uuid) {
        const {data} = await this.createTask({uuid: this.$route.params.uuid})
        await this.save(data, 'new')
      } else {
        await this.save(this.task)
      }

      this.reorder()
      this.requestPending = false;
    },

    async updateTask(data, status = '') {
      await this.updateTaskApi({
        uuidTest: data.uuid,
        uuidPlan: this.$route.params.uuid,
        data: this.task,
      }).then(() => {
        if (status === 'new') this.setTask({uuid: data.uuid, ...this.task})
        else {
          this.updateSingleTask(this.task)
        }
      })
          .finally(() => {
            this.next_preloader = false
            this.computedModelValue = false
          })
    },

    addFile({file}) {
      this.setFileToAdd({
        file,
        entity: 'filesToAdd'
      });
    },
    addFileExpert({file}) {
      this.setFileToAdd({
        file,
        entity: 'filesToAddExpert'
      });
    },

    activateConfirmationDialog({file}) {
      if (!file) return
      this.deletingFile = null
      this.deletingFile = file
    },

    deleteFile({file}) {
      if (file.uuid) {
        this.taskFiles = this.taskFiles.filter(
            taskFile => taskFile.uuid !== file.uuid
        );

        this.setFileToDelete({uuid: file.uuid});
      } else {
        this.taskFiles = this.taskFiles.filter(
            taskFile => taskFile.uuidLocal !== file.uuidLocal
        );

        this.unsetFileToAdd({file});
      }
    },
    deleteFileExpert({file}) {
      if (file.uuid) {
        this.taskFilesExpert = this.taskFilesExpert.filter(
            taskFile => taskFile.uuid !== file.uuid
        );

        this.setFileToDelete({uuid: file.uuid, entity: 'filesExpertToDelete'});
      } else {
        this.taskFilesExpert = this.taskFilesExpert.filter(
            taskFile => taskFile.uuidLocal !== file.uuidLocal
        );

        this.unsetFileToAdd({file});
      }
    },

    /* HELPERS */
    validate(field, rules = []) {


      this.errorsMessages[field] = validation.test(
          this.task[field],
          rules
      );

      return this.errorsMessages[field].length === 0;
    },
    resetValidateStatus(payload = {}) {
      this.errorsMessages[payload.field] = false;
    },
    validateAll() {
      let valid = true;

      if (!this.validate('type', this.rType)) {
        valid = false;
      }
      if (!this.validate('name', this.rName)) {
        valid = false;
      }
      if (
          this.task.type === 'test' &&
          !this.task.mainTest.uuid
          // !this.validate('mainTest', this.rObject)
      ) {
        valid = false;
        this.errorsMessages['mainTest'] = ['Выберите объект'];
      }
      if (
          // this.task.type === 'test' &&
          !this.validate('number_attempt', this.rAttempts)
      ) {
        valid = false;
      }
      if (
          // this.task.type === 'test' &&
          (Number(this.task.number_attempt) > 1 || Number(this.task.number_attempt) === -1) &&
          !this.validate('registration_attempts', this.rResultAttempts)
      ) {
        valid = false;
      }

      return valid;
    },
    deleteFilter(index) {
      this.filters.splice(index, 1);
    },
    getGroupsList() {
      this.planGroupsList(this.$route.params.uuid).then((res) => {
        let buffer = res.data.data;
        buffer.forEach((item) => {
          item["preloader"] = false;
        });
        this.groups = buffer;
      });
    },
    createGroup(name) {
      this.createPlanGroup({
        planUuid: this.$route.params.uuid_plan,
        groupData: {name},
      }).then((res) => {
        this.getGroupsList();
        this.group = {
          name,
          uuid: res.data.uuid,
        };
      });
    },
    deleteGroup(uuid) {
      let idx = this.groups.findIndex((item) => item.uuid === uuid);
      let item = this.groups[idx];
      item["preloader"] = true;
      this.groups.splice(idx, item);

      this.removeGroup({
        planUuid: this.$route.params.uuid_plan,
        groupUuid: uuid,
      }).then((res) => {
        this.getGroupsList();
      });
    },
    openList(event) {
      // НЕ КАНОН VUE
      event.path[5].classList.toggle("active");
    },
    isRegAttemptsShowed(numberAttempts) {
      if (numberAttempts) {
        if (Number(numberAttempts) > 1 || Number(numberAttempts) === -1) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    async addFilesRecursive({files, index, uuid, type = null}) {
      if (index < files.length) {
        await this.addFileVuex({
          uuidPlan: this.$route.params.uuid,
          uuidTask: uuid,
          file: files[index].formData,
          type
        });
        await this.addFilesRecursive({files, index: index + 1, uuid});
      }
    },
    async deleteFilesRecursive({files, index, uuid}) {
      if (index < files.length) {
        await this.deleteFileVuex({uuid: files[index],});
        this.deleteFilesRecursive({files, index: index + 1, uuid});
      }
    },
  },
  async mounted() {
    await this.resetTaskStore();
    this.setTitleActiveSection(this.titleActiveSection);
    // this.fetchTask({
    //   uuid: this.$route.params.uuid_task,
    //   uuidPlan: this.$route.params.uuid_plan,
    // }).then((response) => {
    //       this.setTestEditdataExd(response.data);
    //       this.group = response.data.data.group;
    //       this.editetTest = this.task.name;
    //     });


    this.getGroupsList();
    // await this.fetchPlan({uuid: this.$route.params.uuid});

  },
  watch: {
    group(newVal, oldVal) {
      if (newVal !== oldVal) this.task["group"] = newVal;

    },
    task(newVal) {
      this.filters = newVal.audience || [];
      if (newVal.name && !this.clonedTask) this.clonedTask = JSON.parse(JSON.stringify(this.task))
    },
    TASK_FILES(newValue) {
      this.taskFiles = newValue;
    },
    TASK_FILES_EXPERT(newValue) {
      this.taskFilesExpert = newValue;
    },
    planEditdataExd(newVal) {
      this.fetchMainTests()
          .then(({data}) => {
            this.mainTests = data
          });
    }
  },
};
</script>

<style lang="scss">
.mt-filters__filters-item {
  background: #00788c;
  height: 44px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 0 16px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.mt-filters__filters-list {
  padding-bottom: 20px;
}

.assessment-plans-task {

  &__header {
    .header__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      gap: 20px;
      padding-top: 0;

      .page-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .button {
          padding-right: 10px;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      .title .title__text {
        margin-bottom: 15px;
      }
    }
  }

  &__body {
    padding-bottom: 70px;
    .content {
      .respondents {
        .respondents__inner {
          margin-left: 70px;
        }
      }
    }
  }

  &__footer {
    width: calc(100% - 10px);
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    background-color: #fff;
  }

  /* OBJECT STYLES */
  .edit-general-info-block {
    &__error-message {
      color: #C24020;
      height: 20px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    &__label {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #7C869D;
      margin-bottom: 10px;

      &_required {
        max-width: max-content;
        position: relative;

        &::after {
          content: "*";
          color: red;
          right: -12px;
          top: -2px;
          position: absolute;
        }
      }
    }
  }

  .button {
    .button__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      height: 33px;
      background: #00788c;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      .button__txt {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;

        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .title__text {
      font-weight: bold;
      font-size: 24px;
      line-height: 1.4;
      letter-spacing: 0.4px;
      color: #252733;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 30px;
    }
  }

  .checkbox {
    .checkbox-item {
      display: none;

      & + label {
        width: 20px;
        height: 20px;
      }

      & + label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        background: #ffffff;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        cursor: pointer;
      }

      &:checked + label::before {
        border-color: #00788c;
        background: #00788c;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
        background-image: url("../../../../../../../assets/img/svg/assessment-plans/assessment-plans__table_row_settings_checkbox.svg");
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: stretch;
    max-width: 1000px;

    margin-bottom: 30px;
  }

  .title {
    .title__inner {
      margin-bottom: 20px;

      .title__inner-h3 {
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #252733;
      }
    }
  }

  .field {
    margin-right: 30px;
    margin-bottom: 20px;

    @include max-xs {
      margin-right: 0;
    }

    &-audience {
      cursor: pointer;
    }

    .field__title {
      padding-bottom: 10px;
    }

    .field__inner {
      width: 100%;
      min-height: 60px;
      background: #f0f1f7;
      border-radius: 12px;
      box-sizing: border-box;
      margin-bottom: 0;

      &.list {
        padding-top: 15px;
      }

      &:not(.list, .access-time) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }

      .field__inner_wrapper {
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        .field__inner--icon {
          transition: all ease-in-out 0.2s;

          &_active {
            svg {
              transform: rotate(-180deg);
            }
          }
        }

        .field__content {
          background: transparent;
          width: 287px;
          border: 0px;
        }

        .group_input {
          max-height: 250px !important;
          background: transparent;
          border: 0px;
        }
      }

      .files {
        .files__wrapper {
          display: grid;
          grid-template-columns: 90% 10%;

          .files__list {
            border-right: 1px solid #cfcfd0;

            .files__inner {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              margin-left: 10px;
              margin-top: 10px;

              .file {
                width: 130px;
                background: #ffffff;
                border-radius: 6px;
                margin: 0px 10px 10px 0px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;

                .file__delete {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  justify-content: flex-end;
                  align-items: center;
                  cursor: pointer;
                  margin: 5px;

                  .button_action-logo {
                    width: 17px;
                    height: 17px;
                    border: 1px solid #d07058;
                    margin: 2px;
                    background: #ffffff;
                    border-radius: 13px;
                    cursor: pointer;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;

                    .button_action-logo_cnt {
                      width: 10px;
                      height: 15px;
                    }
                  }
                }

                .file-inner {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  flex-grow: 1;
                  margin-top: 5px;
                  margin-bottom: 5px;

                  .file__logo {
                    margin-right: 15px;
                    margin-left: 10px;
                    align-self: center;
                    min-width: 24px;
                    min-height: 24px;

                    &.pdf {
                      background: url(../../../../../../../assets/img/png/assessment-plans/assessment-plans__edit1_file-logo_pdf.png) no-repeat left center;
                    }

                    &.png {
                      background: url(../../../../../../../assets/img/png/assessment-plans/assessment-plans__edit1_file-logo_png.png) no-repeat left center;
                    }

                    &.def {
                      background: url(../../../../../../../assets/img/png/assessment-plans/default_file.png) no-repeat left center;
                    }
                  }

                  .file__text {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;

                    .file__title {
                      word-break: break-word;
                      font-weight: normal;
                      font-size: 11px;
                      line-height: 14px;
                      letter-spacing: 0.2px;
                      color: #252733;
                    }

                    .file__sub-title {
                      font-weight: normal;
                      font-size: 10px;
                      line-height: 16px;
                      letter-spacing: 0.1px;
                      color: #c5c7cd;
                    }
                  }
                }
              }
            }
          }

          .files__settings {
            align-self: center;
            justify-self: center;

            .files___settings-item {
              cursor: pointer;
            }
          }
        }
      }
    }

    .field__inner-file {
      display: block;
      height: auto !important;
    }

    .field__inner_item {
      width: 100%;
    }
  }

  .list {
    .list__wrapper {
      background: #f0f1f7;
      border-radius: 8px;
      padding: 5px 10px 5px 0px;

      .list__inner {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #9fa2b4;
        transition: max-height 0.3s;
        max-height: 0;

        .list__head {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: space-between;
          align-items: center;

          .list__vector {
            cursor: pointer;

            .list__vector_logo {
              transition-duration: 0.3s;
            }
          }
        }

        .list__body {
          opacity: 0;
          margin-top: 10px;
          height: 0;
          overflow: hidden;
        }
      }
    }

    &.active {
      .list__wrapper {
        .list__inner {
          max-height: 300px; // FIXME

          .list__head {
            .list__vector {
              .list__vector_logo {
                transform: rotate(180deg);
              }
            }
          }

          .list__body {
            opacity: 1;
            height: max-content;
            transition-duration: 1s;

            .list__body_item {
              cursor: pointer;
              margin-bottom: 5px;

              &.selected {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .respondent {
    border: 1.5px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 579px;
    margin-bottom: 5px;

    &:last-child {
      margin: 0;
    }

    .respondent__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 15px;

      .respondent__full-name {
        margin-left: 12px;
      }
    }
  }

  .input-text-allow,
  .upload-files-allow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

  }

  .access-time {
    .access-time_date {
      display: inline-block;
      border-bottom: 1.5px solid #00788c;
      min-width: 91px;
      min-height: 21px;
      cursor: text;
      color: #2a4365;

      &.invalid {
        border-bottom: 1.5px solid red;
      }
    }

    display: flex;

    .access-time__field {
      &.to {
        .calendar {
          left: 200px;
        }
      }

      .access-time__field_content {
        display: flex;

        .access-time__field__calendar {
          .access-time__field__calendar-item {
            background: url(../../../../../../../assets/img/svg/assessment-plans/calendar.svg) no-repeat left center;
            padding-left: 17px;
            cursor: pointer;

            &:hover {
              background: url(../../../../../../../assets/img/svg/assessment-plans/calendar__active.svg) no-repeat left center;
            }

            &.clicked {
              background: url(../../../../../../../assets/img/svg/assessment-plans/calendar__active.svg) no-repeat left center;
            }
          }
        }
      }
    }
  }

  /* MIXIN STYLES */
  &__back,
  &__save {
    margin: 7px 15px;
  }

  .border-field,
  .mt-solid__wrapper,
  .stub-field {
    border-radius: 12px !important;
  }

  .stub-field {
    width: 100% !important;
    background: #f0f1f7 !important;

    &__title {
      width: 300px !important;
      height: 24px !important;
      border-radius: 8px !important;
    }

    &_input {
      height: 56px !important;
    }

    &_textarea {
      height: 180px !important;
    }
  }

  .mt-page-nav {
    &__button {
      &-next {
        width: 123px !important;
        height: 32px !important;
      }
    }
  }

  .button-prev {
    .button__item {
      background: #e6f2f4;
      width: 100px;

      .button__txt {
        color: #00788c;
      }
    }
  }

  .field-text {
    width: fit-content;
    font-family: Nunito !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #7c869d !important;
  }

  .description-textarea {
    display: block;
    min-height: 60px !important;
    height: auto !important;
    padding: 20px !important;
  }

  .field-inner {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7c869d;
  }

  .hidden {
    display: none;
  }

  .top-space_date {
    padding-top: 18px;
  }

  .left-space_date {
    padding-left: 5px;
  }

  .calendar-open {
    min-height: 225px !important;
  }

  .field-gen_title {
    display: flex;
    position: relative;

    &::after {
      content: "*";
      color: red;
      right: -15px;
      top: -5px;
      position: absolute;
    }
  }

  .invalid {
    border: 1px solid red;
  }

  .group_list {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    //height      : 150px   !important;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border: 1px solid #dfe0eb;
      box-sizing: border-box;
    }
  }

  &--create {
    .assessment-plans-task__form {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;

      &__button {
        width: 250px;
        height: 60px;
      }
    }

    .field {
      &--disabled {
        opacity: .5;
        pointer-events: none;
      }

      &--full {
        width: 100%;
      }

      &--half {
        width: calc(50% - 30px);
        @include max-md {
          width: 100%;
        }
      }

      &--third {
        width: calc(33.33333% - 30px);
        @include max-md {
          width: 100%;
        }
      }
    }
  }
}
</style>