<template>
  <div class="mt-treelist">
    <div class="mt-treelist__header">
      <div
          class="mt-treelist__header-back"
          v-if="backTitle !== null"
          @click="back"
      >
        <mtIcon
            name="shevron-left"
            style="transform: rotate(180deg); margin-right: 10px;"
        />
        <span>{{ backTitle }}</span>
      </div>
      <div
          class="mt-treelist__header-slot"
          v-if="!showChild"
      >
        <slot name="header"/>
      </div>
    </div>
    <div
        class="mt-treelist__list"
        v-if="!showChild"
    >
      <div class="mt-treelist__selected-item"/>
    </div>
    <div class="mt-treelist__list">
      <template v-if="!showChild">
        <div
            class="mt-treelist__item"
            v-for="(col, index) in cols"
            :key="index"
            @click="setColFilter(index)"
        >
          <span>{{ col.title }}</span>
          <mtIcon
              name="shevron-left"
              style="margin-left: auto;"
          />
        </div>
      </template>
    </div>
    <div
        class="mt-treelist__filters"
        v-if="showChild"
    >
      <template v-if="cols[currentIndex].filter === 'datetime'">
        <Datepicker
            v-model="date"
            range="range"
            locale="ru-RU"
            inline="inline"
            selectText="Применить"
            :enableTimePicker="false"
            :monthChangeOnScroll="false"
            @update:modelValue="setDates"
            format="yyyy-MM-dd"
        />
        <mtInput
            v-model="dateFrom"
            placeholder="дата от"
            style="display: none;"
        />
        <mtInput
            v-model="dateTo"
            placeholder="дата до"
            style="display: none;"
        />
      </template>
      <template v-if="cols[currentIndex].filter === 'range' || cols[currentIndex].filter === 'integer'">
        <mtInput
            v-model="rangeFrom"
            placeholder="от"
        />
        <mtInput
            v-model="rangeTo"
            placeholder="до"
            style="margin-top: 20px;"
        />
        <p
            class="mt-treelist__button"
            @click="addFilter(cols[currentIndex].filter)"
        >
          Применить
        </p>
      </template>
      <template v-if="cols[currentIndex].filter === 'list'">
        <div
            class="mt-treelist__option"
            v-for="(option, index) in cols[currentIndex].options"
            :key="index"
            @click.self="option.value = !option.value"
        >
          <span @click.self="option.value = !option.value">{{ option.name || option.title }}</span>
          <mtCheckbox v-model="option.value"/>
        </div>
        <p
            class="mt-treelist__button"
            @click="addFilter(cols[currentIndex].filter)"
        >
          Применить
        </p>
      </template>
      <template v-if="cols[currentIndex].filter === 'string'">
        <mtInput
            v-model="currentText"
            autofocus="autofocus"
        />
        <p
            class="mt-treelist__button"
            @click="addFilter(cols[currentIndex].filter)"
        >
          Применить
        </p>
      </template>
      <template v-if="cols[currentIndex].filter === 'time'">
        <mtInput
            v-model="timeFrom"
            placeholder="от"
            :error="inputTimeFromError"
            :mask="{ mask: 'hh:Mm:Ss', tokens: { 'h': { pattern: /[0-9]/ }, 'M': { pattern: /[0-5]/ }, 'm': { pattern: /[0-9]/ }, 'S': { pattern: /[0-5]/ }, 's': { pattern: /[0-9]/ },}}"
            @input="inputTime({event: $event, timeFrom: true})"
        />
        <mtInput
            v-model="timeTo"
            placeholder="до"
            style="margin-top: 20px;"
            :error="inputTimeToError"
            :mask="{ mask: 'hh:Mm:Ss', tokens: { 'h': { pattern: /[0-9]/ }, 'M': { pattern: /[0-5]/ }, 'm': { pattern: /[0-9]/ }, 'S': { pattern: /[0-5]/ }, 's': { pattern: /[0-9]/ },}}"
            @input="inputTime({event: $event, timeTo: true})"
        />
        <p
            class="mt-treelist__button"
            @click="addFilter(cols[currentIndex].filter)"
        >
          Применить
        </p>
      </template>
    </div>
  </div>
</template>

<script>
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtCheckbox from '@/components/UI/mtCheckbox';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
  name: 'mtFiltersView',
  components: {
    mtIcon,
    mtInput,
    mtCheckbox,
    Datepicker
  },
  props: {
    cols: {
      type: [Array, Object],
      default: () => []
    },
    filters: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      datepickerRefs: [],
      backTitle: null,
      currentIndex: null,
      showChild: false,
      date: {},
      dateFrom: null,
      dateTo: null,
      rangeFrom: null,
      rangeTo: null,
      currentText: null,
      timeFrom: null,
      inputTimeFromError: false,
      timeTo: null,
      inputTimeToError: false,
    }
  },
  computed: {},

  watch: {},
  methods: {
    setDates(event) {

      if (!!event[0]) {
        let date = new Date(event[0]);
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();

        this.dateFrom = `${year}-${month}-${day}`;
      }
      if (!!event[1]) {
        let date = new Date(event[1]);
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();

        this.dateTo = `${year}-${month}-${day}`;
      }

      this.addFilter(this.cols[this.currentIndex].filter);
    },
    back() {
      this.showChild = false;
      this.backTitle = null;
      this.currentText = null;
      this.dateFrom = null;
      this.dateTo = null;
      this.date = null;
      this.rangeFrom = null;
      this.rangeTo = null;
    },
    setColFilter(index) {
      this.backTitle = this.cols[index].title;
      this.currentIndex = index;
      this.showChild = true;

      this.setColFilterData();
    },
    addFilter(type) {
      if (type === 'datetime') {
        if (
            this.dateFrom !== null &&
            this.dateTo !== null
        ) {
          let filter = {
            type: "datetime",
            field: this.cols[this.currentIndex].stub,
            title: this.cols[this.currentIndex].title,
            value: {
              from: this.dateFrom,
              to: this.dateTo
            }
          };
          let hasFilter = this.filters.findIndex(item => item.field === filter.field) + 1;
          let filtersBuffer = this.filters;

          if (hasFilter) {
            filtersBuffer[hasFilter - 1].value = filter.value;
          } else {
            filtersBuffer.push(filter);
          }

          this.$emit("update:filters", filtersBuffer);

          this.$emit('changeFilter');

          this.dateFrom = null;
          this.dateTo = null;
          this.date = null;
        }
      }
      if (type === 'range' || type === 'integer') {
        if (!this.rangeFrom && !this.rangeTo) { //FIXME add validation
          this.$toast.warning('Чтобы применить фильтр, необходимо ввести данные')

          return;
        }

        let filter = {
          type: "range",
          field: this.cols[this.currentIndex].stub,
          title: this.cols[this.currentIndex].title,
          value: {},
        };

        if (this.rangeFrom !== null) {
          filter.value['from'] = this.rangeFrom;
        }
        if (this.rangeTo !== null) {
          filter.value['to'] = this.rangeTo;
        }

        let hasFilter = this.filters.findIndex(item => item.field === filter.field) + 1;
        let filtersBuffer = this.filters;

        if (hasFilter) {
          filtersBuffer[hasFilter - 1].value = filter.value;
        } else {
          filtersBuffer.push(filter);
        }

        this.$emit("update:filters", filtersBuffer);
        this.$emit('changeFilter');

        this.rangeFrom = null;
        this.rangeTo = null;
      }
      if (type === 'list') {

        if (
            !this.cols[this.currentIndex].options.filter(option => option.value).length
        ) {
          this.$toast.warning('Чтобы применить фильтр, необходимо ввести данные')

          return;
        }

        let filter = {
          type: "list",
          field: this.cols[this.currentIndex].stub,
          title: this.cols[this.currentIndex].title,
          value: [],
          list: []
        }

        if (this.cols[this.currentIndex].additional) { // FIXME
          filter.additional = true;
        }

        this.cols[this.currentIndex].options.forEach(option => {
          if (option.value) {
            filter.value.push(option.stub)
            filter.list.push(option.name)
            // option.value = false
          }
        })

        let hasFilter = this.filters.findIndex(item => item.field === filter.field) + 1
        let filtersBuffer = this.filters

        if (hasFilter) {
          filtersBuffer[hasFilter - 1] = filter
        } else {
          filtersBuffer.push(filter)
        }

        this.$emit("update:filters", filtersBuffer)
        this.$emit('changeFilter')
      }
      if (type === 'string') {
        if (!this.currentText) { //FIXME add validation
          this.$toast.warning('Чтобы применить фильтр, необходимо ввести данные')

          return;
        }

        let filter = {
          type: "string",
          field: this.cols[this.currentIndex].stub,
          title: this.cols[this.currentIndex].title,
          value: this.currentText
        };
        let hasFilter = this.filters.findIndex(item => item.field === filter.field) + 1;
        let filtersBuffer = this.filters;

        if (hasFilter) {
          filtersBuffer[hasFilter - 1] = filter
        } else {
          filtersBuffer.push(filter)
        }

        this.$emit("update:filters", filtersBuffer);
        this.$emit('changeFilter');
      }
      if (type === 'time') {
        if (!this.inputTimeFromError && !this.inputTimeToError) {
          let filter = {
            type: "time",
            field: this.cols[this.currentIndex].stub,
            title: this.cols[this.currentIndex].title,
            value: {},
          };

          if (this.timeFrom !== null) {
            let splitedTimeFrom = this.timeFrom.split(':');

            if (splitedTimeFrom[2].length === 0) {
              splitedTimeFrom[2] = '00';
            } else if (splitedTimeFrom[2].length === 1) {
              splitedTimeFrom[2] = `0${splitedTimeFrom[2]}`;
            }

            filter.value['from'] = splitedTimeFrom.join(':');
          }
          if (this.timeTo !== null) {
            let splitedTimeTo = this.timeTo.split(':');

            if (splitedTimeTo[2].length === 0) {
              splitedTimeTo[2] = '00';
            } else if (splitedTimeTo[2].length === 1) {
              splitedTimeTo[2] = `0${splitedTimeTo[2]}`;
            }

            filter.value['to'] = splitedTimeTo.join(':');
          }

          let hasFilter = this.filters.findIndex(item => item.field === filter.field) + 1;
          let filtersBuffer = this.filters;

          if (hasFilter) {
            filtersBuffer[hasFilter - 1].value = filter.value;
          } else {
            filtersBuffer.push(filter);
          }

          this.$emit("update:filters", filtersBuffer);
          this.$emit('changeFilter');

          this.timeFrom = null;
          this.timeTo = null;
        }
      }

      this.back();
    },

    /* SETTERS */
    setColFilterData() {
      console.debug(
          "setColFilterData",
          this.currentIndex,
          this.cols[this.currentIndex],
          this.filters
      ); //DELETE

      let FOUND_FILTER = this.filters.find(
          filter => filter.field === this.cols[this.currentIndex].stub
      );

      if (!FOUND_FILTER) return;

      switch (this.cols[this.currentIndex].filter) {
        case 'string':
          this.currentText = FOUND_FILTER.value;

          break;

        case 'range':
        case 'integer':
          this.rangeFrom = FOUND_FILTER.value?.from;
          this.rangeTo = FOUND_FILTER.value?.to;

          break;

        case 'list':
          FOUND_FILTER.list.forEach(
              item => this.cols[this.currentIndex].options.forEach(
                  option => {
                    console.debug("FOUND_FILTER[list]", item, option.name); //DELETE

                    if (option.name === item) {
                      option.value = true;
                    }
                  }
              )
          );

          break;

        case 'datetime':// DELETE

          this.date = [
            new Date(FOUND_FILTER.value?.from),
            new Date(FOUND_FILTER.value?.to),
          ];

          break;

        default:
          break;
      }
    },

    /* HANDLERS */
    inputTime({event, timeFrom, timeTo,}) {
      if (timeFrom) {
        if (event.target.value.split(':').length < 3) {
          this.inputTimeFromError = true;
        } else {
          this.inputTimeFromError = false;
        }
      }
      if (timeTo) {
        if (event.target.value.split(':').length < 3) {
          this.inputTimeToError = true;
        } else {
          this.inputTimeToError = false;
        }
      }
    },

    /* HELPERS */
    validation() {
    }
  },
}

</script>

<style lang="scss" src="./mtFiltersView.scss" />