.dp__select {
  color: #00788C !important;
}

.mt-treelist {
  max-width: 408px;

  &__option {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 16px;
    border: 1.5px solid #DFE0EB;
    border-radius: 4px;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__header {
    &-back {
      display: flex;
      align-items: center;
      color: #252733;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #00788C;
    color: #fff;
    height: 44px;
    justify-content: center;
    border-radius: 4px;
    margin-top: 10px;
  }

  &__item {
    border: 1px solid #DFE0EB;
    height: 45px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;

    &:hover {
    }

    & svg {
      fill: #00788C;
    }
  }

  &__filters {
    & .mt-input {
      height: 44px;
    }

    & input {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.mt-filters {
  &__filters {
    &-body {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}