<template>
  <div class="table__edit-step-3">
    <div class="thead">
      <div class="row">
        <div class="cell">
          <div class="cell__title">
            №
          </div>
        </div>

        <div class="cell">
          <div class="cell__title">
						<span class="cell__content-head cell__content-center">
							До, %
						</span>
					</div>
        </div>

				<div class="cell">
          <div class="cell__title">
						<span class="cell__content-head cell__content-center">
							До, баллы
						</span>
					</div>
        </div>

        <div class="cell">
          <div class="cell__title" data-type="eval">
            Оценка
          </div>
        </div>

        <div class="cell">
          <div class="cell__title" data-type="eval">
            Интерпретация
          </div>
        </div>

        <div class="cell">
          <div class="cell__title"></div>
        </div>
      </div>
    </div>

    <div class="tbody">
      <div class="row" v-for="( row, index ) in this.planEditdataExd.interpritation" :key=row.result>
        <div class="cell">
          <div class="cell__title">
            {{ index + 1 }}
          </div>
        </div>

        <div class="cell">
          <div class="cell__title">
            <span class="cell__content cell__content-center" contenteditable="true" @blur="inputTo( index, $event )">
							{{ row.to }}
						</span>
          </div>
        </div>

				<div class="cell">
          <div class="cell__title">
            <span class="cell__content cell__content-center mix-point" :data-id="index">
							{{ toScoresLocal( row.to, index ) }}
						</span>
          </div>
        </div>

        <div class="cell">
          <div class="cell__title" data-type="eval">
            <span class="cell__content cell__content-center" contenteditable="true" @blur="inputResult( index, $event )">
							{{ row.result }}
						</span>
          </div>
        </div>

        <div class="cell">
          <div class="cell__title" data-type="eval">
						<span class="cell__content cell__content-center" contenteditable="true" @blur="inputInterpritation( index, $event )">
							{{ row.interpritation }}
						</span>
          </div>
        </div>

        <div class="cell">
          <span class="row__delete">
            <img class="row__delete-logo" src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg" alt="Удалить" @click="del( row.result )">
          </span>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
	import { mapGetters, /*mapActions*/ } from 'vuex';

	export default {
		props: {
			data : {
        type     : Array,
        required : true
      },

			max : {
				type 			: Number,
				required	: true,
			},
		},

		data () {
			return {}
		},

		computed : {
      ...mapGetters( [ 'planEditdataExd' ] ),
    },

		methods : {
			del ( result )
			{


				this.$lodash.remove( this.planEditdataExd.interpritation, { result } );

				this.$workspaceApi.assessmentPlans.planListTable.updatePlan( this.planEditdataExd.uuid, this.planEditdataExd ).then(
          response => {
            // FIXME logs muss später entfernt werden


          }
        );
			},

			inputTo ( index, event )
			{
				this.planEditdataExd.interpritation[ index ].to = event.target.textContent;
			},

			inputResult ( index, event )
			{
				this.planEditdataExd.interpritation[ index ].result = event.target.textContent;
			},

			inputInterpritation ( index, event )
			{
				this.planEditdataExd.interpritation[ index ].interpritation = event.target.textContent;
			},

			toScoresLocal ( to, index )
			{








				let val = ( Number( to ) / 100 ) * Number( this.max );

				let tmpVal = val.toString().split( '.' );



				if ( tmpVal.length === 2 )
				{
					return Number( val ).toFixed( 2 );
				}
				else
				{
					return Number( val );
				}
			},
		},

		mounted ()
		{


		},
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
	// HEADER STYLES START
	// HEADER STYLES END

	// BODY STYLES START
	// BODY STYLES END

	// OBJECT STYLES START
		.settings__checkbox {
			position : relative;

			.settings__checkbox-item {
				display : none;

				& + label {
					position : absolute;
					width		 : 20px;
					height	 : 20px;
				}

				& + label::before {
					content							: '';
					display							: inline-block;
					width								: 20px;
					height							: 20px;
					flex-shrink					: 0;
					flex-grow						: 0;
					border							: 1px solid #adb5bd;
					margin-right				: 0.5em;
					background					: #FFFFFF;
					border-radius				: 4px;
					background-repeat		: no-repeat;
					background-position : center center;
					background-size			: 50% 50%;
					cursor							: pointer;
				}

				&:checked + label::before {
						border-color				: #00788C;
						background					: #00788C;
						background-repeat		: no-repeat;
						background-position : center center;
						background-size			: 70% 70%;
						background-image		: url("../../../../../../assets/img/svg/assessment-plans/assessment-plans__table_row_settings_checkbox.svg");
				}
			}
		}

		.table__edit-step-3 {
			display         : table;
			width           : 100%;
			border-collapse : collapse;

			.thead {
				display : table-header-group;

				.row {
					.cell {
						.cell__title {
							font-weight : bold;
							line-height : 18px;
							color       : #9FA2B4;

							.cell__content-head {
								display				: inline-block;
								min-width			: 70px;
							}
						}

						[data-type="eval"] {
							/*display				  : flex;
							flex-direction  : row;
							flex-wrap			  : nowrap;
							justify-content : center;*/

							text-align: center;
						}
					}
				}
			}

			.tbody {
				display : table-row-group;

				.row {
					&:last-child {
						border-bottom : 0;
					}
				}
			}

			.row {
				display       : table-row;
				border-bottom : 1.5px solid #DFE0EB;
			}

			.cell {
				display : table-cell;

				.cell__title {
					padding : 35px;

					font-style     : normal;
					font-weight    : 600;
					font-size      : 14px;
					line-height    : 20px;
					letter-spacing : 0.2px;
					color          : #252733;

					.cell__content {
						display				: inline-block;
						min-width			: 70px;
						min-width			: 60px;
						background		: #F0F1F7;
						display				: inline-block;
						height				: 25px;
						padding				: 7px;
						padding-top		: 11px;
						border-radius	: 8px;
					}
				}

				[data-type="eval"] {
					/*display					: flex;
					flex-direction	: row;
					flex-wrap				: nowrap;
					justify-content : center;*/
					font-weight	: bold;
					text-align	: center;
				}

				.row__delete {
					.row__delete-logo {
						cursor : pointer;
					}
				}
			}
		}
	// OBJECT STYLES END

	// MIXIN STYLES START
		.cell__content-center {
			text-align: center;
		}

		.mix-point {
			background: none !important;
		}
	// MIXIN STYLES END
</style>