<template>
  <div
      class="input__container"
      :class="{ 'maintest-original__input' : params.maintest_original, }"
  >
    <div class="input__wrapper">
      <div
          class="header"
          v-if="params.hauptTitel"
      >
        <div class="header__wrapper">
          <div class="input-ui__haupt-titel">{{ params.hauptTitel }}</div>
        </div>
      </div>
      <div class="body">
        <div
            :class="['body__wrapper', {
              outlined : params.outlined,
              object_focused : object_focused,
              'body__wrapper--error': computedError
            }]"
        >
          <div class="object__wrapper">
            <input
                class="object"
                :id="params.id"
                :type="getters().getType( { params } )"
                :name="params.name"
                @focus="handlers().onObjectFocus()"
                @blur="handlers().onObjectBlur( { event : $event } )"
                :value="params.value"
            />
            <div
                class="object__append-icon"
                v-if="params.append_icon"
            >
              <img
                  class="append-icon__item"
                  :src="getAppendIconByType"
                  @click="handlers().onAppendIconClicked()"

              />
            </div>
          </div>
          <label
              class="input__label"
              v-if="params.label"
              :for="params.id"
          >
            {{ params.label }}
          </label>
        </div>
      </div>
      <div
          v-if="computedError"
          class="input__wrapper__error-text"
      >
        {{ errorText }}
      </div>
    </div>
  </div>
</template>

<script>

export default {

  components: {},

  props: {
    /**
     * The following component parameters are passed to this object
     * {
     *    @param { string-enum }  type : [ 'text', 'password', 'number', ]
     *    @param { string }       hauptTitel
     *    @param { string }       label
     *    @param { boolean }      outlined
     * }
     */
    params: {
      type: Object,
      required: true
    },
    error: {
      type: Array,
      default: () => []
    },
    errorKey: {
      type: String,
      default: null
    },
    errorText: {
      type: String,
      default: 'Заполните поле'
    }
  },

  data() {
    return {
      show: false,
      object_focused: false,
      password: '',
      type: {
        pass: 'password',
        text: 'text',
      },
    }
  },

  computed: {
    getAppendIconByType() {
      switch (this.params.type) {
        case this.type.pass :
          return require(`@/${this.show ? this.params.icons.second : this.params.icons.main}`);

        default :
          return '#';
      }
    },

    computedError: {
      get() {
        return this.error.includes(this.errorKey)
      },
      set(newValue) {
        if(!newValue) {
          const keyIndex = this.error.findIndex(item => item === this.errorKey);
          this.error.splice(keyIndex, 1);

          this.$emit('update:error', this.error)
        }
      }
    },
  },

  methods: {
    getters() {
      return {
        getType: (payload = {}) => {


          switch (payload.params.type) {
            case this.type.pass :
              return this.show ? 'text' : 'password';

            case this.type.text :
              return 'text';

            default :
              return 'text';
          }
        },
      }
    },

    setters() {
      return {}
    },

    handlers() {
      return {
        onObjectFocus: () => {
          this.object_focused = true;
        },

        onObjectBlur: (payload = {}) => {
          if (!payload.event.target.value) {
            this.object_focused = false;
          }
          else if(payload.event.target.value.trim()) {
            this.computedError = false
          }
        },

        onAppendIconClicked: () => {
          this.show = !this.show;
        },
      }
    },

    helpers() {
      return {}
    },

    init() {


      if (this.params.value) {

        this.object_focused = true;
      }
    },

    bindActions() {
    },
  },

  mounted() {
    this.init();
  },
}

</script>

<style
    lang="scss"
    scoped
>

.input__container {
  /* OBJECT STYLES CSS START */
  &.maintest-original__input {
    .input-ui__haupt-titel {
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #7C869D;
      margin-bottom: 10px;
    }

    .body__wrapper {
      background: #F0F1F7;
      border-radius: 12px;
      width: 100%;
      padding: 20px 15px 20px 20px;
      box-sizing: border-box;

      &--error {
        background: $error
      }

      .object__wrapper {
        .object {
          border: none;
          outline: none;
          background: transparent;
          width: 100%;
        }
      }
    }
  }

  .outlined {
    position: relative;
    padding: 15px;
    border: 1px solid #C2C8D0;
    border-radius: 4px;

    .object__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;

      .object {
        width: 100%;
        border: none;
      }
    }

    .input__label {
      position: absolute;
      left: 15px;
      top: 15px;
      transition: top 200ms ease-in,
      left 200ms ease-in,
      font-size 200ms ease-in;
    }

    &.object_focused {
      border: 2px solid #00788C;

      .input__label {
        top: -9px;
        left: 5px;
        z-index: 10;
        background: #FFFFFF;
        padding: 0px 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #00788C;
      }
    }
  }

  .object__append-icon {
    cursor: pointer;

    .append-icon__item {
      width: 20px;
      height: 20px;
    }
  }

  /* OBJECT STYLES CSS END */
}

.input__wrapper {
  position: relative;

  &__error-text {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    color: $tomato;
  }
}

</style>