.mt-filters {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    svg {
      min-width: 18px;
      max-width: 18px;
      height: 18px;
      margin-bottom: -5px;
    }

    & > span {
      font-weight: 800;
      font-size: 14px;
      line-height: 20px;
      color: #4b506d;
      font-family: "Mulish";
      margin-left: 9px;
    }
  }

  &__list-item {
    border: 1px solid #dfe0eb;
    box-shadow: 0px 0px 1px rgba(223, 224, 235, 0.8);
    box-sizing: border-box;
    border-radius: 4px;
    height: 45px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0px;
    }

    &--title {
      user-select: none;
    }

    cursor: pointer;

    &_active {
    }

    &_desc {
      transform: rotate(180deg);
    }
  }

  &__filters {
    &-list {
      padding-bottom: 20px;
    }

    &-body {
      max-width: calc(100% - 24px);
      display: flex;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-item {
      background: #00788c;
      height: 44px;
      color: #fff;
      display: flex;
      align-items: center;
      font-size: 14px;
      border-radius: 4px;
      margin-bottom: 5px;
      padding: 0 16px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}