<template>
  <div class="mt-filters">
    <div
        class="mt-filters__item"
        v-if="searchVisibility"
        @click="toggleSearch()"
    >
      <mtIcon
          name="search"
          :fill="search?.value ? '#4B506D' : '#C5C7CD'"
      />
      <span>Поиск</span>
    </div>
    <div
        class="mt-filters__item"
        v-if="sort !== null && sortVisibility"
        @click="toggleSort()"
    >
      <mtIcon
          name="sort"
          :fill="sort?.field ? '#4B506D' : '#C5C7CD'"
      />
      <span>Сортировать</span>
    </div>
    <div
        class="mt-filters__item"
        v-if="filterVisibility"
        @click="toggleFilters()"
    >
      <mtIcon
          name="filters"
          :fill="filters?.length ? '#4B506D' : '#C5C7CD'"
      />
      <span :class="{ 'mt-filters__item_has': filters?.length }">
        Фильтры
      </span>
    </div>
    <div
        class="mt-filters__item"
        v-if="colsVisibility"
        @click="toggleCols()"
    >
      <mtIcon
          name="cols"
          :fill="isColsActive() ? '#4B506D' : '#C5C7CD'"
      />
      <span>Столбцы</span>
    </div>
    <teleport to="body">
      <mtPopover v-model="showPopup">
        <template v-if="popupType === 'search'">
          <mtInput
              placeholder="Поиск"
              v-model="searchQuery"
              @input="throttledSearch"
          >
            <template #left>
              <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M18.031 16.617L22.314 20.899L20.899 22.314L16.617 18.031C15.0237 19.3082 13.042 20.0029 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20.0029 13.042 19.3082 15.0237 18.031 16.617ZM16.025 15.875C17.2941 14.5699 18.0029 12.8204 18 11C18 7.132 14.867 4 11 4C7.132 4 4 7.132 4 11C4 14.867 7.132 18 11 18C12.8204 18.0029 14.5699 17.2941 15.875 16.025L16.025 15.875V15.875ZM12.178 7.176C11.8831 7.3092 11.625 7.51195 11.4257 7.76686C11.2264 8.02176 11.0919 8.32121 11.0338 8.63951C10.9757 8.95781 10.9957 9.28546 11.0921 9.59433C11.1885 9.90321 11.3583 10.1841 11.5871 10.4129C11.8159 10.6417 12.0968 10.8115 12.4057 10.9079C12.7145 11.0043 13.0422 11.0243 13.3605 10.9662C13.6788 10.9081 13.9782 10.7736 14.2331 10.5743C14.4881 10.375 14.6908 10.1169 14.824 9.822C15.0868 10.6756 15.0563 11.5926 14.7375 12.427C14.4186 13.2613 13.8297 13.9648 13.0646 14.4256C12.2994 14.8864 11.4021 15.0778 10.5155 14.9694C9.62896 14.8609 8.8042 14.4589 8.17264 13.8274C7.54108 13.1958 7.13906 12.371 7.03064 11.4845C6.92223 10.5979 7.11365 9.70058 7.5744 8.93544C8.03516 8.1703 8.73875 7.58138 9.57305 7.26252C10.4074 6.94366 11.3244 6.9132 12.178 7.176V7.176Z"
                    fill="#C5C7CD"
                ></path>
              </svg>
            </template>
          </mtInput>
        </template>
        <template v-if="popupType === 'filters'">
          <mtTreeList
              :cols="filterCols"
              :filters="filters"
              @changeFilter="changeFilter"
          >
            <template #header>
              <div
                  class="mt-filters__filters-list"
                  v-if="filters?.length"
              >
                <div
                    class="mt-filters__filters-item"
                    v-for="(filter, index) in filters"
                    :key="index"
                >
                  <template v-if="filter.type === 'range'">
                    <span style="margin-right: 5px">
                      {{ `${filter.title}: ` }}
                    </span>
                    <span v-if="!!filter.value.from && !!filter.value.to">
                      {{ `от ${filter.value.from} до ${filter.value.to}` }}
                    </span>
                    <span v-if="!!filter.value.from && !filter.value.to">
                      {{ `от ${filter.value.from}` }}
                    </span>
                    <span v-if="!filter.value.from && !!filter.value.to">
                      {{ `до ${filter.value.to}` }}
                    </span>
                  </template>
                  <template v-if="filter.type === 'time'">
                    <span style="margin-right: 5px">
                      {{ `${filter.title}: ` }}
                    </span>
                    <span v-if="!!filter.value.from && !!filter.value.to">
                      <span>
                        {{ `от ${filter.value.from}` }}
                      </span>
                      <br/>
                      <span>{{ `до ${filter.value.to}` }}
                      </span>
                    </span>
                    <span v-if="!!filter.value.from && !filter.value.to">
                      {{ `от ${filter.value.from}` }}
                    </span>
                    <span v-if="!filter.value.from && !!filter.value.to">
                      {{ `до ${filter.value.to}` }}
                    </span>
                  </template>
                  <div
                      class="mt-filters__filters-body"
                      v-if="filter.type === 'list'"
                  >
                    {{ `${filter.title}: ` }}
                    {{ filter.list.join(', ') }}
                  </div>
                  <div
                      class="mt-filters__filters-body"
                      v-if="filter.type === 'string'"
                  >
                    {{ `${filter.title}: ` }}
                    "{{ filter.value }}"
                  </div>
                  <div
                      class="mt-filters__filters-body"
                      v-if="filter.type === 'datetime'"
                  >
                    <span
                        style="margin-right: 5px"
                    >{{ `${filter.title || filter.field}: ` }}</span><span
                      v-if="!!filter.value.from && !!filter.value.to"
                  >{{
                      `от ${filter.value.from} до ${filter.value.to}`
                    }}</span><span v-if="!!filter.value.from && !filter.value.to">{{
                      `от ${filter.value.from}`
                    }}</span><span v-if="!filter.value.from && !!filter.value.to">{{
                      `до ${filter.value.to}`
                    }}</span></div>
                  <mtIcon
                      name="cross"
                      fill="#fff"
                      style="margin-left: auto; cursor: pointer"
                      @click="deleteFilter(index)"
                  />
                </div>
              </div>
            </template>
          </mtTreeList>
        </template>
        <template v-if="popupType === 'sort'">
          <div
              class="mt-filters__list-item"
              v-for="(col, index) in cols"
              :key="index"
              v-show="col.sortable"
              :class="[{ 'mt-filters__list-item_active': col.stub === sort.field }]"
              @click="$emit('update:sort', { field: col.stub, order: sort.order === 'asc' ? 'desc' : 'asc' }); $emit('change')"
          >
            <span class="mt-filters__list-item--title">{{ col.title }}</span>
            <svg
                v-if="col.stub === sort.field"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                :class="[{ 'mt-filters__list-item_desc': sort.order === 'asc' }]"
            >
              <path
                  d="M17.1667 17.1667V8.66666H19.2917L16.4583 5.12499L13.625 8.66666H15.75V17.1667H17.1667ZM11.5 7.24999V5.83332H5.125V7.24999H11.5ZM12.9167 12.2083V10.7917H5.125V12.2083H12.9167ZM12.9167 17.1667V15.75H5.125V17.1667H12.9167Z"
                  fill="#00788C"
              />
            </svg>
          </div>
        </template>
        <template v-if="popupType === 'cols'">
          <div
              class="mt-filters__list-item"
              v-for="(col, index) in cols"
              :key="index"
              v-show="col.showable"
          >
            <span>{{col.title }}</span>
            <mtCheckbox
                v-model="col.visible"
                :disabled="!hasSeveral && col.visible"
            />
          </div>
        </template>
      </mtPopover>
    </teleport>
  </div>
</template>

<script>
import mtIcon from "@/components/UI/mtIcon/mtIcon.vue";
import mtCheckbox from "@/components/UI/mtCheckbox";
import mtInput from "@/components/UI/mtInput/mtInput.vue";
import mtPopover from "@/components/UI/mtPopover/mtPopover.vue";
import mtTreeList from "@/components/UI/mtFiltersView/mtFiltersView.vue";

export default {
  name: 'mtFilters',
  components: {
    mtIcon,
    mtCheckbox,
    mtInput,
    mtPopover,
    mtTreeList,
  },
  props: {
    cols: {
      type: Array,
      default: () => [],
    },
    sort: {
      type: Object,
      default: null,
    },
    filters: {
      type: [Object, Array],
      default: () => [],
    },
    search: {
      type: Object,
      default: () => ({}),
    },
    filtersSettings: {
      type: [Array, Object],
      default: () => [],
    },
    searchVisibility: {
      type: Boolean,
      default: true,
    },
    sortVisibility: {
      type: Boolean,
      default: true,
    },
    filterVisibility: {
      type: Boolean,
      default: true,
    },
    colsVisibility: {
      type: Boolean,
      default: true,
    },
  },
  created() {
  },

  data() {
    return {
      popupType: "search",
      showPopup: false,
      searchQuery: null,
    };
  },

  computed: {
    filterCols() {
      let filters = [];

      if (this.filtersSettings.length > 0) {
        this.cols.forEach((col) => {
          let hasCol = false;

          this.filtersSettings.forEach((fs) => {
            if (col.stub === fs.field) {
              hasCol = true;

              if (!!fs.options) {
                fs.options.forEach((option) => {
                  option["value"] = false;
                });
              }

              filters.push({
                ...fs,
                ...col,
              });
            }
          });

          if (!hasCol) {
            filters.push({
              ...col,
            });
          }
        });
      } else {
        filters = this.cols;
      }


      return filters.filter((filter) => filter.filterable);
    },
    hasSeveral() {
      let lastCount = 0;

      this.cols.forEach((col) => {
        if (col.visible) lastCount++;
      });

      return lastCount > 1;
    },
    throttledSearch() {
      let DELAY = 1000;

      return this.throttle(this.updateSearch, DELAY);
    },
  },

  methods: {
    hide() {
      this.showPopup = false;
    },
    deleteFilter(index) {
      let filters = [];
      this.filters.forEach((item, idx) => {
        if (idx !== index) filters.push(item);
      });

      this.$emit("update:filters", filters);
      this.$emit("change");
    },
    toggleSearch(e) {
      if (this.popupType === "search") {
        this.showPopup = !this.showPopup;
      } else {
        this.popupType = "search";
        this.showPopup = true;
      }
    },
    toggleSort(e) {
      if (this.popupType === "sort") {
        this.showPopup = !this.showPopup;
      } else {
        this.popupType = "sort";
        this.showPopup = true;
      }
    },
    toggleFilters(e) {
      if (this.popupType === "filters") {
        this.showPopup = !this.showPopup;
      } else {
        this.popupType = "filters";
        this.showPopup = true;
      }
    },
    toggleCols(e) {
      if (this.popupType === "cols") {
        this.showPopup = !this.showPopup;
      } else {
        this.popupType = "cols";
        this.showPopup = true;
      }
    },
    updateSearch() {
      this.$emit("update:search", {value: this.searchQuery});
      this.$emit("change");
    },
    throttle(callback, limit) {
      var wait = false; // FIXME

      return function () {
        if (!wait) {
          wait = true;

          setTimeout(function () {
            callback.call();

            wait = false;
          }, limit);
        }
      };
    },
    isColsActive() {
      return !!this.cols.filter((col) => !col.visible).length;
    },
    changeFilter() {
      this.$emit('change');
    },
  },
  mounted() {
    this.searchQuery = this.search.value
  }
};
</script>

<style lang="scss" src="./mtFilters.scss"/>