<template>
  <div class="adm-branch-avbl-tst">
    <div class="adm-branch-avbl-tst__title">Выберите доступные для филиала тесты</div>
    <div class="adm-branch-avbl-tst__tests">
      <div
          class="adm-branch-avbl-tst__test"
          v-for="test in tests"
          :key="test.uuid"
      >
        <div class="adm-branch-avbl-tst__test-title">{{ test.TestTitle }}</div>
        <mtCheckbox
            v-model="test.status"
            :class="['adm-branch-avbl-tst__test-status']"
        />
      </div>
    </div>
  </div>
</template>

<script>
import mtCheckbox from '@/components/UI/mtCheckbox'

export default {
  components: {
    mtCheckbox,
  },
  props: {
    tests: {
      type: Array,
      default: () => ([]),
    },
  },
  computed: {},
  watch: {},
  methods: {
    /* GETTERS */
    /* SETTERS */
    /* HANDLERS */
    /* HELPERS */
  },

  data() {
    return {}
  },
  created() {
  },
  mounted() {
  },
}
</script>

<style lang="scss">
.adm-branch-avbl-tst {
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px 15px 32px 32px;

  &__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
  }

  &__tests {
    margin-top: 25px;
  }

  &__test {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    border: 1.5px solid #DFE0EB;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 11px 15px 7px 15px;
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }

    &-title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
    }

    &-status {
    }
  }

  .button {
    .button__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      height: 33px;
      background: #00788C;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      &:active {
        background: #005361;
      }

      .button__txt {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }

  .page-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button {
      padding-right: 10px;

      &:last-child {
        padding-right: 0px;
      }
    }
  }

  .button-prev {
    .button__item {
      width: 82px;
      background: #E6F2F4;

      &:active {
        background: #CDE3E7 !important;
      }

      .button__txt {
        color: #00788C;
      }
    }
  }

  .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #DFE0EB;
  }

  .admin-action {
    margin-top: 25px;

    &.reset-password {
      margin-top: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      .icon {
      }

      .title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #9FA2B4;
        margin-left: 15px;
      }
    }
  }

  .edit-branch-info-block__fields {
    width: 100%;
  }

  .edit-general-info-block__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  .branch-status {
    margin-left: 30px;

    .switcher__haupttitel {
      margin-bottom: 32px;
    }
  }

  .branch-description__container {
    max-width: 670px;
  }

  .edit-field {
    max-width: 327px;
  }

  /* MIXINS STYLES CSS START */
  .min-default-width {
    width: 327px;
  }
}
</style>