<template>
  <div class="test-library-tests-list">
    <mtTable class="test-library-tests-list__table">
      <template #actions>
        <div style="width: 100%;">
          <div style="display: flex; align-items: center; width: 100%; height: 60px; padding-bottom: 10px;">
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                :filtersSettings="filtersSettings"
                v-model:sort="sort"
                v-model:search="search"
                @change="updatePlansList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template v-for="(col, index) in cols">
          <div
              class="test-library-tests-list__header-cell"
              v-if="col.visible"
              :key="index"
              :data-index="index"
              :class="[{ 'test-library-tests-list__header-cell_first': col.stub === '__name' }]"
          >
            <span class="test-library-tests-list__header-cell__title">{{ col.title }}</span>
            <span/>
          </div>
        </template>
      </template>
      <template #body>
        <template v-if="assessmentPlans.length">
          <div
              class="test-library-tests-list__item"
              v-for="(item, index) in assessmentPlans"
              :key="index"
              :class="[{ 'test-library-tests-list__item_selected': item.selected }]"
              v-on:click.ctrl="onRowGroupSelected({ index })"
              v-on:click.meta="onRowGroupSelected({ index })"
              @click.exact="onRowSingleSelected({ index })"
          >
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ item.TestTitle }}</div>
                <div class="test-library-tests-list__body-tags">
                  <div
                      class="test-library-tests-list__body-tag"
                      v-for="tag in item.tags"
                      :key="tag"
                      style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;"
                  >
                    {{ tag }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">{{ item.price }}</div>
            </div>
            <div v-if="cols[2].visible">
              <div data-index="2">
                <mtSwitch
                    theme="solid"
                    v-model="item.status"
                    @click.stop="onTestStatusClicked({ item })"
                />
              </div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">
                <div class="test-library-tests-list-documents">
                  <div
                      class="test-library-tests-list-documents__item"
                      @click.stop="onDocumentClicked({ item, stub: 'p' })"
                  >
                    п
                  </div>
                  <div
                      class="test-library-tests-list-documents__item"
                      @click.stop="onDocumentClicked({ item, stub: 'm' })"
                  >
                    м
                  </div>
                  <div
                      class="test-library-tests-list-documents__item"
                      @click.stop="onDocumentClicked({ item, stub: 'a' })"
                  >
                    а
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[4].visible">
              <div
                  data-index="4"
                  @click.stop="openSessionsWithTest({ test: item })"
              >
                {{ item.sessions }}
              </div>
            </div>
            <div v-if="cols[5].visible">
              <div
                  data-index="5"
                  @click.stop="openResultsWithTest({ test: item })"
              >
                {{ item.results }}
              </div>
            </div>
            <div v-if="cols[6].visible">
              <div
                  data-index="6"
                  @click.stop="openPlansWithTest({ test: item })"
              >
                {{ item.plans }}
              </div>
            </div>
            <div>
              <div data-index="7">
                <div class="test-library-tests-list__item-action">
                  <mtIcon
                      name="play"
                      :preloader="item.playLoader"
                      fill="#09121F"
                      @click.stop="onRunTestClicked({ item })"
                  />
                </div>
              </div>
            </div>
            <div>
              <div data-index="8">
                <div class="test-library-tests-list__item-action">
                  <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      @click.stop="openTestSettings({ item })"
                  >
                    <rect
                        width="24"
                        height="24"
                    ></rect>
                    <path
                        d="M12.0002 14.7275C13.5065 14.7275 14.7275 13.5065 14.7275 12.0002C14.7275 10.494 13.5065 9.27295 12.0002 9.27295C10.494 9.27295 9.27295 10.494 9.27295 12.0002C9.27295 13.5065 10.494 14.7275 12.0002 14.7275Z"
                        stroke="#09121F"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    <path
                        d="M18.7273 14.7273C18.6063 15.0015 18.5702 15.3056 18.6236 15.6005C18.6771 15.8954 18.8177 16.1676 19.0273 16.3818L19.0818 16.4364C19.2509 16.6052 19.385 16.8057 19.4765 17.0265C19.568 17.2472 19.6151 17.4838 19.6151 17.7227C19.6151 17.9617 19.568 18.1983 19.4765 18.419C19.385 18.6397 19.2509 18.8402 19.0818 19.0091C18.913 19.1781 18.7124 19.3122 18.4917 19.4037C18.271 19.4952 18.0344 19.5423 17.7955 19.5423C17.5565 19.5423 17.3199 19.4952 17.0992 19.4037C16.8785 19.3122 16.678 19.1781 16.5091 19.0091L16.4545 18.9545C16.2403 18.745 15.9682 18.6044 15.6733 18.5509C15.3784 18.4974 15.0742 18.5335 14.8 18.6545C14.5311 18.7698 14.3018 18.9611 14.1403 19.205C13.9788 19.4489 13.8921 19.7347 13.8909 20.0273V20.1818C13.8909 20.664 13.6994 21.1265 13.3584 21.4675C13.0174 21.8084 12.5549 22 12.0727 22C11.5905 22 11.1281 21.8084 10.7871 21.4675C10.4461 21.1265 10.2545 20.664 10.2545 20.1818V20.1C10.2475 19.7991 10.1501 19.5073 9.97501 19.2625C9.79991 19.0176 9.55521 18.8312 9.27273 18.7273C8.99853 18.6063 8.69437 18.5702 8.39947 18.6236C8.10456 18.6771 7.83244 18.8177 7.61818 19.0273L7.56364 19.0818C7.39478 19.2509 7.19425 19.385 6.97353 19.4765C6.7528 19.568 6.51621 19.6151 6.27727 19.6151C6.03834 19.6151 5.80174 19.568 5.58102 19.4765C5.36029 19.385 5.15977 19.2509 4.99091 19.0818C4.82186 18.913 4.68775 18.7124 4.59626 18.4917C4.50476 18.271 4.45766 18.0344 4.45766 17.7955C4.45766 17.5565 4.50476 17.3199 4.59626 17.0992C4.68775 16.8785 4.82186 16.678 4.99091 16.5091L5.04545 16.4545C5.25503 16.2403 5.39562 15.9682 5.4491 15.6733C5.50257 15.3784 5.46647 15.0742 5.34545 14.8C5.23022 14.5311 5.03887 14.3018 4.79497 14.1403C4.55107 13.9788 4.26526 13.8921 3.97273 13.8909H3.81818C3.33597 13.8909 2.87351 13.6994 2.53253 13.3584C2.19156 13.0174 2 12.5549 2 12.0727C2 11.5905 2.19156 11.1281 2.53253 10.7871C2.87351 10.4461 3.33597 10.2545 3.81818 10.2545H3.9C4.2009 10.2475 4.49273 10.1501 4.73754 9.97501C4.98236 9.79991 5.16883 9.55521 5.27273 9.27273C5.39374 8.99853 5.42984 8.69437 5.37637 8.39947C5.3229 8.10456 5.18231 7.83244 4.97273 7.61818L4.91818 7.56364C4.74913 7.39478 4.61503 7.19425 4.52353 6.97353C4.43203 6.7528 4.38493 6.51621 4.38493 6.27727C4.38493 6.03834 4.43203 5.80174 4.52353 5.58102C4.61503 5.36029 4.74913 5.15977 4.91818 4.99091C5.08704 4.82186 5.28757 4.68775 5.50829 4.59626C5.72901 4.50476 5.96561 4.45766 6.20455 4.45766C6.44348 4.45766 6.68008 4.50476 6.9008 4.59626C7.12152 4.68775 7.32205 4.82186 7.49091 4.99091L7.54545 5.04545C7.75971 5.25503 8.03183 5.39562 8.32674 5.4491C8.62164 5.50257 8.9258 5.46647 9.2 5.34545H9.27273C9.54161 5.23022 9.77092 5.03887 9.93245 4.79497C10.094 4.55107 10.1807 4.26526 10.1818 3.97273V3.81818C10.1818 3.33597 10.3734 2.87351 10.7144 2.53253C11.0553 2.19156 11.5178 2 12 2C12.4822 2 12.9447 2.19156 13.2856 2.53253C13.6266 2.87351 13.8182 3.33597 13.8182 3.81818V3.9C13.8193 4.19253 13.906 4.47834 14.0676 4.72224C14.2291 4.96614 14.4584 5.15749 14.7273 5.27273C15.0015 5.39374 15.3056 5.42984 15.6005 5.37637C15.8954 5.3229 16.1676 5.18231 16.3818 4.97273L16.4364 4.91818C16.6052 4.74913 16.8057 4.61503 17.0265 4.52353C17.2472 4.43203 17.4838 4.38493 17.7227 4.38493C17.9617 4.38493 18.1983 4.43203 18.419 4.52353C18.6397 4.61503 18.8402 4.74913 19.0091 4.91818C19.1781 5.08704 19.3122 5.28757 19.4037 5.50829C19.4952 5.72901 19.5423 5.96561 19.5423 6.20455C19.5423 6.44348 19.4952 6.68008 19.4037 6.9008C19.3122 7.12152 19.1781 7.32205 19.0091 7.49091L18.9545 7.54545C18.745 7.75971 18.6044 8.03183 18.5509 8.32674C18.4974 8.62164 18.5335 8.9258 18.6545 9.2V9.27273C18.7698 9.54161 18.9611 9.77092 19.205 9.93245C19.4489 10.094 19.7347 10.1807 20.0273 10.1818H20.1818C20.664 10.1818 21.1265 10.3734 21.4675 10.7144C21.8084 11.0553 22 11.5178 22 12C22 12.4822 21.8084 12.9447 21.4675 13.2856C21.1265 13.6266 20.664 13.8182 20.1818 13.8182H20.1C19.8075 13.8193 19.5217 13.906 19.2778 14.0676C19.0339 14.2291 18.8425 14.4584 18.7273 14.7273V14.7273Z"
                        stroke="#09121F"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                  </svg>
                  <mtIcon
                      v-show="false"
                      name="preloader"
                      :preloader="item.delLoader"
                      fill="#C5C7CD"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template v-if="!assessmentPlans.length">
        <mtPreloader
            class="preloader_margin"
            v-for="preloader in perpage"
            :key="preloader"
            :height="57"
        />
      </template>
      <template #footer>
        <div class="test-library-tests-list__actions">
          <mtButton
              class="test-library-tests-list__actions-item"
              :preloader="assignTestsToNewPlanLoader"
              :class="['test-library-tests-list__actions_send-msg', { 'test-library-tests-list__actions-item_active': selectedPlans?.length }]"
              @click="activateNewPlanConfirmationDialog"
          >
            План оценки
          </mtButton>
          <mtButton
              class="test-library-tests-list__actions-item"
              :preloader="groupAddTagLoader"
              :class="['test-library-tests-list__actions_switch', { 'test-library-tests-list__actions-item_active': selectedPlans?.length }]"
              @click="onAddTagClicked"
          >
            Присвоить тэг
          </mtButton>
          <mtButton
              class="test-library-tests-list__actions-item"
              :preloader="groupSwitchLoader"
              :class="['test-library-tests-list__actions_delete', { 'test-library-tests-list__actions-item_active': selectedPlans?.length }]"
              @click="onTestStatusGroupClicked"
          >
            Вкл/выкл
          </mtButton>
        </div>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updatePlansList"
        />
      </template>
    </mtTable>
    <mtTagsPopover
        :visibility="showTagsPopup"
        :addLoader="addNewTagLoader"
        :tags="tags"
        :foundTags="foundTags"
        @close="closeTagsPopover"
        @search="searchTags"
        @select="selectTag"
        @add="addTag"
        @delete="deleteTag"
    />

    <teleport to="body">
      <confirmation-dialog
          v-model="isDeleteConfirmationDialogOpen"
          :title="`Удалить план ${deletingTest?.item?.name}?`"
          :submit-cb="onDeletePlanClicked"
      />

      <confirmation-dialog
          v-model="isNewPlanConfirmationDialogOpen"
          :title="`Создать новый план и назначить выбранные тесты? Количество: ${selectedPlans.length}`"
          :submit-cb="onAssignTestsToNewPlanClicked"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions,} from "vuex";
import mtTable from "@/components/UI/mtTable/mtTable2";
import mtIcon from "@/components/UI/mtIcon/mtIcon.vue";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import mtSwitch from "@/components/UI/mtSwitch";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtButton from "@/components/UI/mtButton";
import mtTagsPopover from "@/components/composite/mtTagsPopover";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  props: {},
  components: {
    ConfirmationDialog,
    mtIcon,
    mtTable,
    mtPagination,
    mtFilters,
    mtSwitch,
    mtTagsPopover,
    mtPreloader,
    mtButton,
  },
  data() {
    return {
      titleActiveSection: "Тесты",
      titlesPath: [
        {
          isLink: true,
          title: "Библиотека тестов",
          routeName: "",
          query: {},
        },

        {
          isLink: true,
          title: "Тесты",
          routeName: "",
          query: {},
        },
      ],
      showTagsPopup: false,
      cols: [
        {
          title: "Название теста",
          stub: "TestTitle",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Стоимость",
          stub: "price",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Включить",
          stub: "status",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Документация",
          stub: "documentations",
          visible: true,
          filter: "list",
          filterable: false,
          sortable: false,
          showable: true,
        },
        {
          title: "Сеансы",
          stub: "sessions",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Результаты",
          stub: "results",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Планы оценки",
          stub: "plans",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Запуск",
          stub: "start",
          visible: true,
          filter: "string",
          filterable: false,
          sortable: false,
          showable: false,
        },
        {
          title: "Настройка",
          stub: "settings",
          visible: true,
          filter: "string",
          filterable: false,
          sortable: false,
          showable: false,
        },
      ],
      filtersSettings: [],
      page: 1,
      perpage: 15,
      total: 1,
      assessmentPlans: [],
      filters: [],
      search: {},
      sort: {},
      searchAddTag: "",
      assignTestsToNewPlanLoader: false,
      groupAddTagLoader: false,
      groupSwitchLoader: false,
      tags: [],
      searchTag: null,
      foundTags: [],
      addNewTagLoader: false,
      isDeleteConfirmationDialogOpen: false,
      deletingTest: null,
      isNewPlanConfirmationDialogOpen: false
    };
  },
  computed: {
    selectedPlans() {
      return this.assessmentPlans.filter((plan) => {
        return plan.selected;
      });
    }
  },
  watch: {
    showTagsPopup(newValue) {
      if (!newValue) {
        this.assessmentPlans.forEach((assessmentPlan) => {
          assessmentPlan.selected = false;
        });
      }
    }
  },
  methods: {
    ...mapActions([
      "setTitlesPath",
      "setTitleActiveSection",
      "setAssessmentPlanName",
      "fetchTags",
    ]),
    ...mapActions("assessmentPlans/plan", [
      /* LIST */

      /* ITEM */
      "resetPlanStore",
    ]),
    ...mapActions("testLibrary/tests", [
      "addTags",

      /* LIST */
      "fetchTests",
      "resetPlans",
      "runTest",
      "updateTests",
      "assignTestsToNewPlan",
    ]),

    /* GETTERS */
    async getTestsList() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      await this.fetchTests(params).then((res) => {
        this.total = res?.data?.meta?.total;
        this.filtersSettings = res.data.meta.filters;

        return (this.assessmentPlans = res.data.data.map((plan) => {
          return {
            ...plan,
            selected: false,
            delLoader: false,
            playLoader: false,
          };
        }));
      })
          .then((plans) => {


            this.assessmentPlans = plans;
          });
    },

    /* HANDLERS */
    onNewPlanClicked(payload = {}) {
      this.resetPlanStore()
          .then(() => {
            return this.createPlan();
          })
          .then((response) => {
            this.setAssessmentPlanName("Новый план");
            this.$router.push({
              name: "AddEdit1",
              params: {
                uuid: response.data.uuid,
              },
            });
          });
    },

    activateDeleteConfirmationDialog(payload = {}) {
      this.deletingTest = null
      this.deletingTest = payload
      this.isDeleteConfirmationDialogOpen = true
    },

    onDeletePlanClicked() {
      this.deletingTest.item.delLoader = true;

      this.deletePlan({uuid: this.deletingTest.item.uuid}).then(() => {
        this.getTestsList();
      });
    },

    activateNewPlanConfirmationDialog() {
      this.isNewPlanConfirmationDialogOpen = true
    },

    onAssignTestsToNewPlanClicked() {
      if (!this.selectedPlans.length) return
      this.assignTestsToNewPlanLoader = true;

      this.assignTestsToNewPlan({
        data: this.selectedPlans.map((test) => test.uuid),
      }).then((response) => {


        this.resetPlanStore().then(() => {
          this.assignTestsToNewPlanLoader = false;
          this.$router.push({
            name: "AddEdit1",
            params: {
              uuid: response.data.uuid,
            },
          });
        });
      });
    },
    onEditClicked(payload = {}) {
      this.resetPlanStore().then(() => {
        this.$router.push({
          name: "AddEdit1",
          params: {
            uuid: payload.uuid,
          },
        });
      });
    },
    onRowGroupSelected(payload = {}) {
      this.assessmentPlans[payload.index].selected =
          !this.assessmentPlans[payload.index].selected;
    },
    onRowSingleSelected(payload = {}) {
      this.assessmentPlans.forEach((plan, index) => {
        if (index === payload.index) {
          this.assessmentPlans[payload.index].selected =
              !this.assessmentPlans[payload.index].selected;
        } else {
          plan.selected = false;
        }
      });
    },
    async onAddTagClicked() {
      this.foundTags = [];

      if (this.selectedPlans.length) {
        this.showTagsPopup = !this.showTagsPopup;

        if (this.showTagsPopup) {
          await this.parseTags();
        }
      }
    },

    closeTagsPopover() {
      this.showTagsPopup = false;
    },
    async searchTags({tag,}) {


      if (tag) {
        this.foundTags = await this.fetchTags({search: tag}).then((response) => response.data.data);
      } else {
        this.foundTags = [];
      }
    },
    selectTag({tag,}) {


      this.searchTag = tag;
      this.foundTags = [];
    },
    async addTag({tag,}) {


      if (!this.addNewTagLoader) {
        this.addNewTagLoader = true;

        if (!!tag.replaceAll(" ", "")) {
          const tags = this.selectedPlans.map((plan) => {
            return {
              uuid: plan.uuid,
              tags: [...new Set([tag, ...plan.tags.map((tag) => tag)])],
            };
          });

          await this.addTags({tags});
          await this.selectedPlans.forEach((selectedPlan) => {
            selectedPlan.tags = [...new Set([tag, ...selectedPlan.tags])];
          });
          await this.parseTags();
        }

        this.addNewTagLoader = false;
      }
    },
    async deleteTag({tag,}) {


      if (!!tag.replaceAll(" ", "")) {
        const tags = this.selectedPlans.map((plan) => {
          return {
            uuid: plan.uuid,
            tags: plan.tags.filter((_tag) => _tag !== tag),
          };
        });

        await this.addTags({tags});
        await this.selectedPlans.forEach((selectedPlan) => {
          selectedPlan.tags = selectedPlan.tags.filter((_tag) => _tag !== tag);
        });
        await this.parseTags();
      }
    },

    onTestStatusClicked(payload = {}) {
      this.updateTests({
        tests: [payload.item.uuid],
        status: payload.item.status,
      });
    },
    onTestStatusGroupClicked(payload = {}) {
      if (this.selectedPlans.length) {
        this.groupSwitchLoader = true;

        this.updateTests({
          tests: this.selectedPlans.map((test) => test.uuid),
          status: true && !this.selectedPlans.filter((plan) => plan.status).length,
        })
            .then(() => {
              return this.getTestsList();
            })
            .then(() => {
              this.groupSwitchLoader = false;
            });
      }
    },
    onRunTestClicked(payload = {}) {
      if (payload.item.status) {
        payload.item.playLoader = true;

        this.runTest({uuid: payload.item.uuid}).then((response) => {


          payload.item.playLoader = false;

          if (!!response.data.url) {
            window.open(response.data.url, "_blank");
          }
        });
      } else {
        this.$toast.error("Невозможно запустить отключенный тест");
      }
    },
    onDocumentClicked(payload = {}) {


      window.open(payload.item.documentations.annotation, "_blank");
    },
    openPlansWithTest({test}) {


      const filters = [{
        "type": "list",
        "field": "MaintestName",
        "additional": true,
        "title": "Тесты",
        "list": [
          test.TestTitle
        ],
        "value": [
          test.MaintestName,
        ],
      }]


      this.$router.push({
        name: 'AssessmentPlansList',
        params: {
          filters: JSON.stringify(filters),
        }
      });
    },
    openResultsWithTest({test}) {


      const filters = [{
        "type": "list",
        "field": "MaintestName",
        //"additional":true,
        "title": "Тесты",
        "list": [
          test.TestTitle
        ],
        "value": [
          test.MaintestName,
        ],
      }]


      this.$router.push({
        name: 'TestLibraryResults',
        params: {
          filters: JSON.stringify(filters),
        }
      });
    },
    openSessionsWithTest({test}) {


      const filters = [{
        "type": "list",
        "field": "MaintestName",
        //"additional":true,
        "title": "Тесты",
        "list": [
          test.TestTitle
        ],
        "value": [
          test.MaintestName,
        ],
      }]


      this.$router.push({
        name: 'TestLibrarySessions',
        params: {
          filters: JSON.stringify(filters),
        }
      });
    },
    openTestSettings({item,}) {


      this.$router.push({
        name: 'TestLibraryTestsItemSettings',
        params: {
          uuid: item.uuid,
        },
        query: {
          ...this.$route.query,
          testName: item.TestTitle,
        },
      });
    },

    /* HELPERS */
    updatePlansList(payload = {}) {
      this.assessmentPlans = [];
      this.getTestsList();
    },
    async parseTags() {
      let tags = [];

      await this.selectedPlans.forEach((plan) => {
        tags.push(...plan.tags);
      });

      this.tags = [...new Set(tags)].map(tag => ({
        name: tag,
      }));
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  created() {
    this.initBreadcrumbs();
    this.getTestsList();
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
};
</script>

<style lang="scss">
.test-library-tests-list {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__table {
    // min-width: 1146px;
  }

  &__header {
    &-cell {
      padding: 12px 30px;
      vertical-align: middle;
      text-align: center;
      background: #00788c;

      &__title {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
      }

      &_first {
        text-align: left;
      }
    }
  }

  &__body {
    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &-tag {
      margin-right: 5px;
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover:not(.test-library-tests-list__item_selected) {
      background-color: #f7f8ff;
    }

    &_selected {
      background: #e7e9ff;
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 8px 16px;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 115%;
      letter-spacing: 0.01em;
      color: #00788C;


      & > [data-index="0"] {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        flex-direction: column;
        color: #05111A;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #05111A;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      & > [data-index="6"] {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      & > [data-index="7"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="8"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-item {
      transition: all 0.2s ease;
      background: #f0f1f7 !important;
      border-radius: 8px !important;
      padding: 5px 12px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      user-select: none;
      color: #9fa2b4 !important;
      margin-left: 10px;
      max-height: 24px !important;
      box-sizing: border-box;
      cursor: unset !important;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        background: #00788c !important;
        color: #ffffff !important;
        cursor: pointer !important;

        &:active {
          background: #066a7e !important;
        }
      }
    }

    &_delete {
      min-width: 83px;
    }

    &_switch {
      min-width: 89px;
    }

    &_send-msg {
      min-width: 120px;
    }
  }

  &__add-tag-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #00788c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  &__tags {
    &-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    &-body {
    }

    &-name {
      padding-left: 3px;
    }

    &-delete {
    }

    &-add {
      width: 45px;
      height: 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: #00788c;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      margin-left: 10px;

      &:active {
        background: #066a7e;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      margin-top: 15px;

      &:first-child {
        margin-top: 20px;
      }
    }

    &-delete {
      cursor: pointer;
    }
  }

  &-documents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    min-width: 110px;

    &__item {
      display: flex;
      width: 30px;
      height: 30px;
      background: #e6f2f4;
      border-radius: 4px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 115%;
      letter-spacing: 0.01em;
      color: #00788c;
      text-transform: uppercase;
      margin-left: 10px;
      cursor: pointer;
      user-select: none;

      &:first-child {
        margin-left: 0;
      }

      &:active {
        background: #cde3e7;
      }
    }
  }
}

/* MIXINS STYLES CSS START */
.preloader_margin {
  margin: 10px 10px 0px 10px;
}

.mt-table {
  &__footer {
    padding: 30px 30px 0 30px;
  }
}

.participants {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #0073e5;
  }
}

/* MIXINS STYLES CSS END */
</style>