<template>
  <div class="assessment-plans__wrapper assessment-plans__home">
    <mtTable class="assessment-plans__table">
      <template #actions>
        <div style="width: 100%;">
          <div class="assessment-plans__title">Управление планами оценки</div>
          <div class="assessment-plans__nav">
            <div
                class="assessment-plans__add"
                @click="onNewPlanClicked"
            >
              <mtIcon
                  name="plus"
                  fill="#fff"
              />
              <span>Добавить план</span>
            </div>
            <mtFilters
                class="assessment-plans__mt-filters"
                v-model:cols="cols"
                v-model:filters="filters"
                v-model:sort="sort"
                v-model:search="search"
                :filtersSettings="filtersSettings"
                @change="updatePlansList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <div class="assessment-plans__header-cell">
          <mtCheckbox
              v-model="allSelected"
              @click="onRowGroupSelected({}, true)"
          />
        </div>
        <template v-for="(col, index) in cols">
          <div
              class="assessment-plans__header-cell"
              v-if="col.visible && col.stub !== 'MaintestName'"
              :key="index"
              :data-index="index"
              :class="[{ 'assessment-plans__header-cell_first': col.stub === 'name' }]"
          >
            <span>
              {{ col.title }}

              <mt-svg
                  v-if="col.stub === sort?.field"
                  name="alignbottom"
                  :class="['assessment-plans__header-cell__sort-icon', {
                          'assessment-plans__header-cell__sort-icon--active': col.stub === sort?.field,
                          'assessment-plans__header-cell__sort-icon--rotate': col.stub === sort?.field && sort?.order === 'desc'
                        }]"
                  @click="sortBy(col.stub)"
              />
            </span>
            <span />
          </div>
        </template>
        <div
            class="assessment-plans__header-cell"
            data-index="6"
        />
      </template>
      <template #body>
        <template v-if="assessmentPlans.length">
          <div
              class="assessment-plans__item"
              v-for="(item, index) in assessmentPlans"
              :key="index"
              :class="[{ 'assessment-plans__item_selected': item.selected }]"
              @click.ctrl="onRowGroupSelected({ index })"
              @click.meta="onRowGroupSelected({ index })"
              @click.exact="onRowSingleSelected({ index })"
          >
            <div>
              <mtCheckbox v-model="item.selected"/>
            </div>
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ item.name }}</div>
                <div class="assessment-plans__body-tags">
                  <div
                      class="assessment-plans__body-tag"
                      v-for="tag in item.tags"
                      :key="tag"
                      style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;"
                  >
                    {{ tag }}
                  </div>
                </div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">
                <mtSwitch
                    theme="solid"
                    v-model="item.active"
                    @click.stop="onChangePlanStatus({ index })"
                />
              </div>
            </div>
            <div v-if="cols[2].visible">
              <div
                  @click="goToStep3($event, item)"
                  :class="['participants__text',]"
                  data-index="2"
              >
                {{ item.respondents }} / {{ item.experts }}
              </div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">
                <mtLinearProgress
                    class="assessment-plans-card__progress__linear"
                    :height="6"
                    background-color="#DFE0EB"
                    :progress="item.progress.current_percent"
                />
                <span class="progress_value">{{ item.progress.current_percent + '%' }}</span>
              </div>
            </div>
            <div v-if="cols[4].visible">
              <div data-index="4">
                <router-link :to="{
                  name: 'AssessmentPlanSingleResults',
                  params: {
                    planUuid: item.uuid
                  }
                }">
                  {{ item.results }}
                </router-link>
<!--                <mtPreloader-->
<!--                    class="preloader_margin"-->
<!--                    :height="30"-->
<!--                />-->
              </div>
            </div>
            <div v-if="cols[5].visible">
              <div data-index="5">{{ item.branch?.name }}</div>
            </div>
            <div v-if="cols[6].visible">
              <div data-index="6">{{ item.archive ? 'Да' : 'Нет' }}</div>
            </div>
            <div>
              <div data-index="7">
                <div
                    class="assessment-plans__item-action"
                    @click.stop="onEditClicked({ plan: item })"
                >
                  <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                        d="M6.414 16L16.556 5.85796L15.142 4.44396L5 14.586V16H6.414ZM7.243 18H3V13.757L14.435 2.32196C14.6225 2.13449 14.8768 2.02917 15.142 2.02917C15.4072 2.02917 15.6615 2.13449 15.849 2.32196L18.678 5.15096C18.8655 5.33849 18.9708 5.5928 18.9708 5.85796C18.9708 6.12313 18.8655 6.37743 18.678 6.56496L7.243 18ZM3 20H21V22H3V20Z"
                        fill="#C5C7CD"
                    />
                  </svg>
                </div>
                <div class="assessment-plans__item-action">
                  <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      @click.stop="openSettings({ plan: item })"
                  >
                    <rect
                        width="24"
                        height="24"
                    />
                    <path
                        d="M12.0002 14.7275C13.5065 14.7275 14.7275 13.5065 14.7275 12.0002C14.7275 10.494 13.5065 9.27295 12.0002 9.27295C10.494 9.27295 9.27295 10.494 9.27295 12.0002C9.27295 13.5065 10.494 14.7275 12.0002 14.7275Z"
                        stroke="#C7C7C7"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M18.7273 14.7273C18.6063 15.0015 18.5702 15.3056 18.6236 15.6005C18.6771 15.8954 18.8177 16.1676 19.0273 16.3818L19.0818 16.4364C19.2509 16.6052 19.385 16.8057 19.4765 17.0265C19.568 17.2472 19.6151 17.4838 19.6151 17.7227C19.6151 17.9617 19.568 18.1983 19.4765 18.419C19.385 18.6397 19.2509 18.8402 19.0818 19.0091C18.913 19.1781 18.7124 19.3122 18.4917 19.4037C18.271 19.4952 18.0344 19.5423 17.7955 19.5423C17.5565 19.5423 17.3199 19.4952 17.0992 19.4037C16.8785 19.3122 16.678 19.1781 16.5091 19.0091L16.4545 18.9545C16.2403 18.745 15.9682 18.6044 15.6733 18.5509C15.3784 18.4974 15.0742 18.5335 14.8 18.6545C14.5311 18.7698 14.3018 18.9611 14.1403 19.205C13.9788 19.4489 13.8921 19.7347 13.8909 20.0273V20.1818C13.8909 20.664 13.6994 21.1265 13.3584 21.4675C13.0174 21.8084 12.5549 22 12.0727 22C11.5905 22 11.1281 21.8084 10.7871 21.4675C10.4461 21.1265 10.2545 20.664 10.2545 20.1818V20.1C10.2475 19.7991 10.1501 19.5073 9.97501 19.2625C9.79991 19.0176 9.55521 18.8312 9.27273 18.7273C8.99853 18.6063 8.69437 18.5702 8.39947 18.6236C8.10456 18.6771 7.83244 18.8177 7.61818 19.0273L7.56364 19.0818C7.39478 19.2509 7.19425 19.385 6.97353 19.4765C6.7528 19.568 6.51621 19.6151 6.27727 19.6151C6.03834 19.6151 5.80174 19.568 5.58102 19.4765C5.36029 19.385 5.15977 19.2509 4.99091 19.0818C4.82186 18.913 4.68775 18.7124 4.59626 18.4917C4.50476 18.271 4.45766 18.0344 4.45766 17.7955C4.45766 17.5565 4.50476 17.3199 4.59626 17.0992C4.68775 16.8785 4.82186 16.678 4.99091 16.5091L5.04545 16.4545C5.25503 16.2403 5.39562 15.9682 5.4491 15.6733C5.50257 15.3784 5.46647 15.0742 5.34545 14.8C5.23022 14.5311 5.03887 14.3018 4.79497 14.1403C4.55107 13.9788 4.26526 13.8921 3.97273 13.8909H3.81818C3.33597 13.8909 2.87351 13.6994 2.53253 13.3584C2.19156 13.0174 2 12.5549 2 12.0727C2 11.5905 2.19156 11.1281 2.53253 10.7871C2.87351 10.4461 3.33597 10.2545 3.81818 10.2545H3.9C4.2009 10.2475 4.49273 10.1501 4.73754 9.97501C4.98236 9.79991 5.16883 9.55521 5.27273 9.27273C5.39374 8.99853 5.42984 8.69437 5.37637 8.39947C5.3229 8.10456 5.18231 7.83244 4.97273 7.61818L4.91818 7.56364C4.74913 7.39478 4.61503 7.19425 4.52353 6.97353C4.43203 6.7528 4.38493 6.51621 4.38493 6.27727C4.38493 6.03834 4.43203 5.80174 4.52353 5.58102C4.61503 5.36029 4.74913 5.15977 4.91818 4.99091C5.08704 4.82186 5.28757 4.68775 5.50829 4.59626C5.72901 4.50476 5.96561 4.45766 6.20455 4.45766C6.44348 4.45766 6.68008 4.50476 6.9008 4.59626C7.12152 4.68775 7.32205 4.82186 7.49091 4.99091L7.54545 5.04545C7.75971 5.25503 8.03183 5.39562 8.32674 5.4491C8.62164 5.50257 8.9258 5.46647 9.2 5.34545H9.27273C9.54161 5.23022 9.77092 5.03887 9.93245 4.79497C10.094 4.55107 10.1807 4.26526 10.1818 3.97273V3.81818C10.1818 3.33597 10.3734 2.87351 10.7144 2.53253C11.0553 2.19156 11.5178 2 12 2C12.4822 2 12.9447 2.19156 13.2856 2.53253C13.6266 2.87351 13.8182 3.33597 13.8182 3.81818V3.9C13.8193 4.19253 13.906 4.47834 14.0676 4.72224C14.2291 4.96614 14.4584 5.15749 14.7273 5.27273C15.0015 5.39374 15.3056 5.42984 15.6005 5.37637C15.8954 5.3229 16.1676 5.18231 16.3818 4.97273L16.4364 4.91818C16.6052 4.74913 16.8057 4.61503 17.0265 4.52353C17.2472 4.43203 17.4838 4.38493 17.7227 4.38493C17.9617 4.38493 18.1983 4.43203 18.419 4.52353C18.6397 4.61503 18.8402 4.74913 19.0091 4.91818C19.1781 5.08704 19.3122 5.28757 19.4037 5.50829C19.4952 5.72901 19.5423 5.96561 19.5423 6.20455C19.5423 6.44348 19.4952 6.68008 19.4037 6.9008C19.3122 7.12152 19.1781 7.32205 19.0091 7.49091L18.9545 7.54545C18.745 7.75971 18.6044 8.03183 18.5509 8.32674C18.4974 8.62164 18.5335 8.9258 18.6545 9.2V9.27273C18.7698 9.54161 18.9611 9.77092 19.205 9.93245C19.4489 10.094 19.7347 10.1807 20.0273 10.1818H20.1818C20.664 10.1818 21.1265 10.3734 21.4675 10.7144C21.8084 11.0553 22 11.5178 22 12C22 12.4822 21.8084 12.9447 21.4675 13.2856C21.1265 13.6266 20.664 13.8182 20.1818 13.8182H20.1C19.8075 13.8193 19.5217 13.906 19.2778 14.0676C19.0339 14.2291 18.8425 14.4584 18.7273 14.7273V14.7273Z"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div
                    class="assessment-plans__item-action"
                    @click.stop="activateDeletePlanConfirmationDialog({ item })"
                >
                  <svg
                      v-if="!item.delLoader"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                        d="M3 6H5H21"
                        stroke="#9FA2B4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 11V17"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M10 11V17"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                  </svg>
                  <mtIcon
                      v-else
                      name="preloader"
                      :preloader="item.delLoader"
                      fill="#C5C7CD"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template v-if="!assessmentPlans.length">
        <mtPreloader
            class="preloader_margin"
            v-for="(preloader, index) in perpage"
            :key="index"
            :height="80"
        />
      </template>
      <template #footer>
        <div class="assessment-plans__actions">
          <div
              class="assessment-plans__actions-item"
              :class="[{ 'assessment-plans__actions-item_active': selectedPlans.length }]"
              @click="onAddTagClicked"
          >
            Присвоить тэг
          </div>
          <div
              class="assessment-plans__actions-item"
              :class="[{ 'assessment-plans__actions-item_active': selectedPlans.length }]"
              @click="onSelChangePlanStatus"
          >
            Вкл/выкл
          </div>
          <div
              class="assessment-plans__actions-item"
              :class="[{ 'assessment-plans__actions-item_active': selectedPlans.length }]"
              @click="activateDeletePlansConfirmationDialog"
          >
            Удалить
          </div>
          <div
              class="assessment-plans__actions-item"
              :class="[{ 'assessment-plans__actions-item_active': selectedPlans.length }]"
              @click="activateArchiveConfirmationDialog"
          >
            Архивировать
          </div>
        </div>
        <mtPagination
            class="assessment-plans__mt-pagination"
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updatePlansList"
        />
      </template>
    </mtTable>

    <teleport to="body">
      <mtTagsPopover
          v-model:visibility="showTagsPopup"
          :addLoader="addNewTagLoader"
          :tags="tags"
          :foundTags="foundTags"
          @close="closeTagsPopover"
          @search="searchTags"
          @select="selectTag"
          @add="addTag"
          @delete="deleteTag"
      />

      <confirmation-dialog
          v-model="isDeletePlanConfirmationDialogOpen"
          :title="`Удалить план ${plan?.item?.name}?`"
          :submit-cb="onDeletePlanClicked"
      />

      <confirmation-dialog
          v-model="isDeletePlansConfirmationDialogOpen"
          :title="`Удалить планы? Количество: ${this.selectedPlans?.length}`"
          :submit-cb="onDelSelectedPlansClicked"
      />

      <confirmation-dialog
          v-model="isArchiveConfirmationDialogOpen"
          :title="`Переместить планы в архив? Количество: ${this.selectedPlans?.length}`"
          :submit-cb="onAddToArchive"
      />
    </teleport>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import mtTable from "@/components/UI/mtTable/mtTable2.vue";
import mtIcon from "@/components/UI/mtIcon/mtIcon.vue";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import mtSwitch from "@/components/UI/mtSwitch";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtLinearProgress from "@/components/UI/mtLinearProgress/mtLinearProgress.vue";
import mtTagsPopover from "@/components/composite/mtTagsPopover";
import mtCheckbox from "@/components/UI/mtCheckbox";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";
import MtSvg from "@/components/UI/mtSvg/index.vue";

export default {
  props: {},
  components: {
    MtSvg,
    ConfirmationDialog,
    mtIcon,
    mtTable,
    mtPagination,
    mtFilters,
    mtSwitch,
    mtCheckbox,
    mtPreloader,
    mtLinearProgress,
    mtTagsPopover,
  },
  data() {
    return {
      titleActiveSection: "Список планов оценки",
      showTagsPopup: false,
      cols: [
        {
          title: "Название плана",
          stub: "name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Включить",
          stub: "active",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Участники",
          stub: "participants",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Прогресс",
          stub: "progress",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Результаты",
          stub: "results",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Филиал",
          stub: "branch",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Архив",
          stub: "archive",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Тесты",
          stub: "MaintestName",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: false,
        },
      ],
      filtersSettings: [],
      page: 1,
      perpage: 5,
      total: 1,
      assessmentPlans: [],
      filters: [],
      search: {},
      sort: {},
      searchAddTag: "",
      filterByResult: null,
      addNewTagLoader: false,
      tags: [],
      foundTags: [],
      plan: null,
      isDeletePlanConfirmationDialogOpen: false,
      isDeletePlansConfirmationDialogOpen: false,
      isArchiveConfirmationDialogOpen: false
    };
  },
  computed: {
    ...mapState('assessmentPlans/plan', ['isNewPlan']),
    selectedPlans() {
      return this.assessmentPlans.filter((plan) => {
        return plan.selected;
      });
    },
    allSelected() {
      return this.assessmentPlans.every(x => x.selected);
    }
  },
  methods: {
    ...mapActions([
      "setTitleActiveSection",
      "setAssessmentPlanName",
      "fetchTags",
    ]),
    ...mapActions('assessmentPlans/plan', [
      /* LIST */
      "fetchPlans",
      "resetPlans",
      "addTags",
      "deletePlans",
      "switchPlans",
      "addToArchive",

      /* ITEM */
      "createPlan",
      "deletePlan",
      "updatePlan",
      "resetPlanStore",
    ]),
    ...mapMutations('assessmentPlans/plan', ['updateIsNewPlan']),

    /* GETTERS */
    getPlansList() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        };
      }

      if (this.filterByResult) {
        params = {
          ...params,
          result: this.filterByResult,
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      this.fetchPlans(params)
          .then((res) => {
            this.total = res?.data?.meta?.total;
            this.filtersSettings = res.data.meta.filters;

            return (this.assessmentPlans = res.data.data.map((plan) => {
              return {
                ...plan,
                selected: false,
                delLoader: false,
              };
            }));
          })
          .then((plans) => {
            this.assessmentPlans = plans.filter((plan) => plan.name);
            return plans.filter((plan) => !plan.name);
          })
          .then((plansToDelete) => {


            if (plansToDelete.length) {
              this.deletePlans({
                data: plansToDelete.map(plan => plan.uuid),
              });
            }
          });
    },

    /* SETTERS */

    /* HANDLERS */
    onNewPlanClicked(payload = {}) {
      this.resetPlanStore()
          .then(() => {
            return this.createPlan();
          })
          .then((response) => {
            this.setAssessmentPlanName("Новый план");
            this.updateIsNewPlan(true)
            this.$router.push({
              name: "AddEdit1",
              params: {
                uuid: response.data.uuid
              },
            });
          });
    },

    activateDeletePlanConfirmationDialog (payload = {}) {
      this.plan = null
      this.plan = payload
      this.isDeletePlanConfirmationDialogOpen = true
    },

    onDeletePlanClicked() {
      this.plan.item.delLoader = true;

      this.deletePlan({uuid: this.plan.item.uuid}).then(() => {
        this.getPlansList();
      });
    },

    activateDeletePlansConfirmationDialog () {
      this.isDeletePlansConfirmationDialogOpen = true
    },

    onDelSelectedPlansClicked() {
      if (!this.selectedPlans.length) return

      this.deletePlans({
        data: this.selectedPlans.map(plan => plan.uuid),
      }).then(() => {
        this.getPlansList();
      });
    },

    activateArchiveConfirmationDialog () {
      this.isArchiveConfirmationDialogOpen = true
    },

    onAddToArchive() {
      if (!this.selectedPlans.length) return

      this.addToArchive({
        body: this.selectedPlans.map(plan => plan.uuid),
      }).then(() => {
        this.getPlansList();
      });
    },
    onEditClicked({plan,}) {
      this.resetPlanStore().then(() => {
        this.$router.push({
          name: "AddEdit1",
          params: {
            uuid: plan.uuid,
          },
          query: {
            planName: plan.name
          },
        });
      });
    },
    onRowGroupSelected(payload = {}, selectAll = false) {
      if (selectAll) {
        const allSelected = this.assessmentPlans.every(x => x.selected);
        return this.assessmentPlans.forEach(x => x.selected = !allSelected);
      }
      this.assessmentPlans[payload.index].selected = !this.assessmentPlans[payload.index].selected;
    },
    onRowSingleSelected(payload = {}) {
      this.assessmentPlans.forEach((plan, index) => {
        if (index === payload.index) {
          this.assessmentPlans[payload.index].selected = !this.assessmentPlans[payload.index].selected;
        } else {
          plan.selected = false;
        }
      });
    },

    goToStep3(event, plan) {
      this.$router.push({
        name: "AddEdit4",
        params: {
          uuid: plan.uuid,
        },
        query: {
          planName: plan.name
        },
      });
    },

    closeTagsPopover() {
      this.showTagsPopup = false;
    },
    async searchTags({tag,}) {


      if (tag) {
        this.foundTags = await this.fetchTags({search: tag}).then((response) => response.data.data);
      } else {
        this.foundTags = [];
      }
    },
    selectTag({tag,}) {


      this.searchTag = tag;
      this.foundTags = [];
    },
    async addTag({ tag }) {
      if (!this.addNewTagLoader) {
        this.addNewTagLoader = true;

        if (!!tag.replaceAll(" ", "")) {
          const tags = this.selectedPlans.map((plan) => {
            return {
              uuid: plan.uuid,
              tags: [...new Set([tag, ...plan.tags.map((tag) => tag)])],
            };
          });

          await this.addTags({tags});
          await this.selectedPlans.forEach((selectedPlan) => {
            selectedPlan.tags = [...new Set([tag, ...selectedPlan.tags])];
          });
          await this.parseTags();
        }

        this.addNewTagLoader = false;
      }
    },
    async deleteTag({tag,}) {
      if (!!tag.replaceAll(" ", "")) {
        const tags = this.selectedPlans.map((plan) => {
          return {
            uuid: plan.uuid,
            tags: plan.tags.filter((_tag) => _tag !== tag),
          };
        });

        await this.addTags({tags});
        await this.selectedPlans.forEach((selectedPlan) => {
          selectedPlan.tags = selectedPlan.tags.filter((_tag) => _tag !== tag);
        });
        await this.parseTags();
      }
    },
    async onAddTagClicked(payload = {}) {
      this.foundTags = [];

      if (this.selectedPlans.length) {
        this.showTagsPopup = !this.showTagsPopup;

        if (this.showTagsPopup) {
          await this.parseTags();
        }
      }
    },

    onAddNewTagClicked(payload = {}) {


      const tagContent = Boolean(payload.tag.replaceAll(" ", ""));

      if (tagContent) {
        const tags = this.selectedPlans.map((plan) => {
          return {
            uuid: plan.uuid,
            tags: [payload.tag, ...plan.tags.map((tag) => tag)],
          };
        });

        this.addTags({tags}).then(() => {
          this.getPlansList();
        });


      }
    },
    onDeleteTagClicked(payload = {}) {


      const tagContent = Boolean(payload.tag.replaceAll(" ", ""));

      if (tagContent) {
        const tags = this.selectedPlans.map((plan) => {
          return {
            uuid: plan.uuid,
            tags: plan.tags.filter((tag) => tag !== payload.tag),
          };
        });


        this.addTags({tags}).then(() => {
          this.getPlansList();
        });
      }
    },

    onChangePlanStatus(payload = {}) {
      this.updatePlan({plan: this.assessmentPlans[payload.index]}).then(
          () => {
            this.getPlansList();
          }
      );
    },
    onSelChangePlanStatus(payload = {}) {
      if (this.selectedPlans.length) {
        const plans = {
          plans: this.selectedPlans,
          active:
              true && !this.selectedPlans.filter((plan) => plan.active).length,
        };

        this.switchPlans({plans}).then(() => {
          this.getPlansList();
        });
      }
    },
    openSettings({plan,}) {
      this.$router.push({
        name: "PlanSettings",
        params: {
          uuid: plan.uuid,
        },
        query: {
          planName: plan.name
        },
      });
    },

    /* HELPERS */
    updatePlansList(payload = {}) {
      this.assessmentPlans = [];
      this.getPlansList();
    },
    async parseTags() {
      let tags = [];

      await this.selectedPlans.forEach((plan) => {
        tags.push(...plan.tags);
      });

      this.tags = [...new Set(tags)].map(tag => ({
        name: tag,
      }));
    },

    /* ACTIONS */
    initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: this.$route.meta.breadcrumbs,
      });
    },

    sortBy(key) {
      this.sort.field = key;

      if(this.sort.order === 'asc') this.sort.order = 'desc';
      else this.sort.order = 'asc';

      this.updatePlansList();
    }
  },

  created() {
    const activeCols = this.$route.query?.cols?.split(',');
    if (activeCols) {
      this.cols.forEach(item => item.visible = false);
      activeCols.map(item => {
        const foundCol = this.cols.find(col => col.stub === item);
        foundCol.visible = true;
      })
    }

    if (this.$route.query?.filters) {
      const parsedFilters = JSON.parse(this.$route.query.filters)
      this.filters = parsedFilters;

      const searchFilter = parsedFilters.find(item => item.field === 'name');
      if(searchFilter) this.search.value = searchFilter.value;
    }

    if (this.$route.query?.sort) {
      this.sort = JSON.parse(this.$route.query.sort)
    }

    this.initBreadcrumbs();

    if (this.$route.params.filters) {
      this.filters = [
        ...this.filters,
        ...JSON.parse(this.$route.params.filters),
      ];
    }

    if (this.$route.params.result) {
      this.filterByResult = this.$route.params.result;
    }

    this.getPlansList();
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
  },
  watch: {
    cols: {
      handler(newValue) {
        const activeCols = newValue
            .filter(col => col.visible)
            .map(item => item.stub)
            .join(',')

        this.$router.push({
          query: {
            ...this.$route.query,
            cols: activeCols
          }
        })
      },
      deep: true
    },
    filters: {
      handler(newValue) {
        const modifiedFilters = newValue.filter(item => item.value);
        const query = { ...this.$route.query };
        if(modifiedFilters.length) query.filters = JSON.stringify(modifiedFilters);
        else delete query.filters;

        this.$router.push({ query: { ...query } })
      },
      deep: true
    },
    sort: {
      handler(newValue) {
        this.$router.push({
          query: {
            ...this.$route.query,
            sort: JSON.stringify(newValue)
          }
        })
      },
      deep: true
    },
    search: {
      handler(newValue) {
        const nameFilter = this.filters.find(item => item.field === 'name');
        if(nameFilter) nameFilter.value = newValue.value;
        else {
          this.filters.push({
            field: "name",
            title: "Название плана",
            type: "string",
            value: newValue.value,
          })
        }

        this.$router.push({
          query: {
            ...this.$route.query,
            filters: JSON.stringify(this.filters)
          }
        })
      },
      deep: true
    }
  }
};
</script>

<style lang="scss">
.assessment-plans {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__table {
    // min-width: 970px;
  }

  &__header {
    &-cell {
      padding: 12px 30px;
      vertical-align: middle;
      text-align: center;

      &_first {
        text-align: left;
      }

      span {
        white-space: nowrap;
        display: flex;
        align-items: center;
      }

      &__sort-icon {
        margin-left: 5px;
        cursor: pointer;
        transition: transform .3s;

        &--active {
          path {
            fill: $green
          }
        }

        &--rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__body {
    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &-tag {
      margin-right: 5px;
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px;
    min-height: 90px;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover:not(.assessment-plans__item_selected) {
      background-color: #f7f8ff;
    }

    &_selected {
      background: #e7e9ff;
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 25px 30px;

      &:first-child {
        width: 80px;
        padding-right: 0;
      }

      & > [data-index="0"] {
        width: 100%;
        font-size: 14px;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;

        .progress_value {
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #252733;
          margin-top: 10px;
        }

      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="6"] {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & > [data-index="7"] {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-item {
      transition: all 0.2s ease;
      background: #f0f1f7;
      border-radius: 8px;
      padding: 5px 12px;

      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      user-select: none;

      color: #9fa2b4;

      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        background: #00788c;
        color: #ffffff;
        cursor: pointer;

        &:active {
          background: #066a7e;
        }
      }
    }
  }

  &__add-tag-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #00788c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  &__tags {
    &-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    &-body {
    }

    &-name {
    }

    &-delete {
    }

    &-add {
      width: 45px;
      height: 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: #00788c;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      margin-left: 10px;

      &:active {
        background: #066a7e;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      margin-top: 15px;

      &:first-child {
        margin-top: 20px;
      }
    }

    &-delete {
      cursor: pointer;
    }
  }
}

/* MIXINS STYLES CSS START */
.preloader_margin {
  margin: 10px 10px 0px 10px;
}

.participants__text {
  cursor: pointer;
}

.participants {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #0073E5;
  }
}

/* MIXINS STYLES CSS END */
</style>