<template>
  <assessmentPlansRows :rows="rows">
    <template #item-statistics="assessmentPlan">
      <statisticsAmount
          class="assessment-plans-card__amount"
          :amount="assessmentPlan.participantsAmount"
      />
    </template>
  </assessmentPlansRows>
</template>

<script>
import assessmentPlansRows from '@/components/workspace/assessmentPlans/plans/rows';
import statisticsAmount from '@/components/workspace/assessmentPlans/plans/statisticsAmount';

export default {
  components: {statisticsAmount, assessmentPlansRows},
  props: {
    rows: {
      type: Array,
      default: () => []
    }
  },
  data: () => {
    return {
      assessmentPlans: []
    }
  },
}
</script>


<style lang="scss">

</style>