<template>
  <div class="assessment-plan--notifications-settings">
    <div class="assessment-plan--notifications-settings__header">
      <div class="assessment-plan--notifications-settings__title">{{ title }}</div>
      <div class="assessment-plan--notifications-settings__header-actions">
        <mtFilters
            v-model:search="search"
            class="assessment-plan--notifications-settings__search"
            style="margin-left: auto;"
            :sortVisibility="false"
            :filterVisibility="false"
            :colsVisibility="false"
        />
        <mtButton
            class="assessment-plan--notifications-settings__save"
            :preloader="saveLoader"
            @click="save"
        >
          сохранить
        </mtButton>
      </div>
    </div>
    <div class="assessment-plan--notifications-settings__body">
      <div class="assessment-plan--notifications-settings__notifications">
        <div
            class="assessment-plan--notifications-settings__notification"
            v-for="user in notificationSettings"
            :key="user.uuid"
        >
          <div class="assessment-plan--notifications-settings__notification-info">
            <div class="assessment-plan--notifications-settings__notification-title">{{ user.fullName }}</div>
            <div class="assessment-plan--notifications-settings__notification-role">{{ user.role }}</div>
          </div>
          <div class="assessment-plan--notifications-settings__notification-actions">
            <mtCheckbox
                class="assessment-plan--notifications-settings__notification-status"
                v-model="user.status"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions,} from "vuex";
import {
  inputPlanGeneralSettings,
  inputPlanSettings,
  inputPlanUserNotificationSettings,
} from '@/adapters/assessmentPlans/planSettings.adapter';
import mtCheckbox from '@/components/UI/mtCheckbox';
import mtButton from "@/components/UI/mtButton";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";

export default {
  components: {
    mtCheckbox,
    mtButton,
    mtFilters,
  },

  props: {},
  data: () => ({
    title: 'Выберите пользователей',
    titleActiveSection: 'Уведомление пользователей',
    search: {},
    saveLoader: false,
  }),
  computed: {
    notificationSettings() {
      return this.$store.getters['assessmentPlans/plan/settings']?.notificationSettings;
    },
  },

  watch: {
    search(newSearch) {


      this.getSettings(newSearch.value);
    },
  },
  methods: {
    ...mapActions([
      "setTitlesPath",
      "setTitleActiveSection",
    ]),
    ...mapActions('assessmentPlans/plan', [
      'updatePlanSettingsNotifications',
      'setPlanSettingsStore',
      'fetchPlanSettings',
      'fetchPlanSettingsNotifications',
    ]),

    /* GETTERS */
    async getSettings(search = null) { //FIXME make as service
      const PLAN_SETTINGS_NOTIFICATIONS = await this.fetchPlanSettingsNotifications({
        uuid: this.$route.params.uuid,
        search: search || null,
      });

      this.setPlanSettingsStore(
          inputPlanGeneralSettings({
            ...inputPlanUserNotificationSettings(PLAN_SETTINGS_NOTIFICATIONS),
          })
      );
    },

    /* SETTERS */
    /* HANDLERS */
    async save() {
      this.saveLoader = true;

      await this.updatePlanSettingsNotifications({
        uuid: this.$route.params.uuid,
      });

      this.saveLoader = false;
    },

    /* HELPERS */
    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setQuerySettings({
          value: 'Настройки',
          breadcrumbs: await this.$breadcrumbs.setValue({
            page: this.$route.query.page,
            value: this.$route.query.planName,
            breadcrumbs: this.$route.meta.breadcrumbs,
          }),
          query: this.$route.query,
          params: this.$route.params,
        })
      });
    },
  },

  created() {


    this.initBreadcrumbs();
    this.setTitleActiveSection(this.titleActiveSection);
    this.getSettings();
  },
  mounted() {
  },
}
</script>

<style lang="scss">
.assessment-plan--notifications-settings {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E7E8F0;
  border-radius: 8px;
  font-family: 'Mulish';
  font-style: normal;

  &__header,
  &__body {
    padding: 20px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__body {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: scroll;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
  }

  &__search {
  }

  &__save {
    margin-left: 35px;
    width: 120px;
    height: 33px !important;
    border-radius: 8px;
    user-select: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: right;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__notifications {
  }

  &__notification {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 12px;
    border: 1.5px solid #E7E8F0;
    border-radius: 4px;
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }

    &-info {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
    }

    &-title {
      color: #000000;
    }

    &-role {
      color: #7C869D;
      margin-left: 15px;
    }

    &-status {
      cursor: pointer;
    }
  }
}
</style>