<template>
  <div class="assessment-plan-settings">
    <SelfRegistration class="assessment-plan-settings--self-registration"/>
    <Other
        class="assessment-plan-settings--notifications"
        :planSettings="planSettings"
    />
  </div>
</template>

<script>
import {mapActions,} from "vuex";
import {
  inputPlanGeneralSettings,
  inputPlanSettings,
  inputPlanUserNotificationSettings,
} from '@/adapters/assessmentPlans/planSettings.adapter';
import Other from '@/components/workspace/assessmentPlans/plans/plan/settings/other';
import SelfRegistration from '@/components/workspace/assessmentPlans/plans/plan/settings/SelfRegistration';

export default {
  components: {
    Other,
    SelfRegistration,
  },

  props: {},
  data: () => ({
    titleActiveSection: 'Настройки',
    planSettings: {}
  }),
  methods: {
    ...mapActions([
      "setTitlesPath",
      "setTitleActiveSection",
    ]),
    ...mapActions('assessmentPlans/plan', [
      'setPlanSettingsStore',
      'fetchPlanSettings',
      'fetchPlan',
      'fetchPlanSettingsNotifications',
      'addToArchive',
      'restorePlan',
    ]),
    ...mapActions('breadcrumbs', [
      'setBreadcrumbs',
    ]),

    getCurrentPlanData(payload = {}) {
      this.fetchPlan({uuid: payload.uuid})
    },

    /* GETTERS */
    async getSettings() { //FIXME make as service
      this.planSettings = await this.fetchPlanSettings({
        uuid: this.$route.params.uuid,
      });
      const PLAN_SETTINGS_NOTIFICATIONS = await this.fetchPlanSettingsNotifications({
        uuid: this.$route.params.uuid,
      });

      this.setPlanSettingsStore(
          inputPlanGeneralSettings({
            ...inputPlanSettings(this.planSettings),
            ...inputPlanUserNotificationSettings(PLAN_SETTINGS_NOTIFICATIONS),
          })
      );
    },
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  created() {
    this.initBreadcrumbs();
    this.setTitleActiveSection(this.titleActiveSection);
    this.getSettings();
  },
  mounted() {
    this.getCurrentPlanData({
      uuid: this.$route.params.uuid,
    });
  },
}
</script>

<style lang="scss">
.assessment-plan-settings {
  &--notifications {
    margin-top: 20px;
  }

  &--self-registration {
  }
}

.settings_row {
  display: flex;
  gap: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgb(124 134 157);
  margin: 10px 0;
}
</style>