<template lang="pug">
.mt-switch(@click="toggle" :class="[{'mt-switch__circle_checked': switched }]")
  .mt-switch__circle

</template>

<script>
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
export default {

  props: {
    modelValue: {
      type: Boolean,
      default: false
    },
  },

  components: {
    mtIcon
  },

  created () {
  },

  data () {
    return {
      switched: this.modelValue
    }
  },

  computed : {
  },

  methods : {
    toggle () {
      this.switched = !this.switched
      this.$emit('update:modelValue', this.switched)
      this.$emit('change')
    }
  },

  watch: {
    modelValue (newV) {
      this.switched = newV
    }
  }
}

</script>

<style lang="scss" scoped>
.mt-switch {
  width: 44px;
  height: 22px;
  display: inline-flex;
  background: #E9E9EA;
  border-radius: 100px;
  position: relative;
  transition: all ease-in-out .3s;
  &__circle {
    width: 20px;
    cursor: pointer;
    height: 20px;
    background-color: #fff;
    border: 1px solid #9FA2B4;
    border-radius: 100px;
    position: absolute;
    transition: all ease-in-out .2s;
    left: 0;
    top: 1px;
    &_checked {
      background-color: #00788C;
      & > .mt-switch__circle {
        left: 22px;
        top: 1px;
        border: 1px solid #00788C;
      }
    }
  }
}

</style>
