<template>
  <steps-nav :activeStep="2"/>
  <div class="assessment-plans-step2">
    <div class="assessment-plans-step2--header">
      <div class="assessment-plans-step2--header__title">{{ title }}</div>
      <mtPageNav
          :class="['assessment-plans-step2--header__actions',]"
          :next_preloader="next_preloader"
          @back="back"
          @next="next"
      >
        <template #back>
          <div class="assessment-plans-step2--header__actions-back">Назад</div>
        </template>
        <template #next>
          <div class="assessment-plans-step2--header__actions-save">Далее</div>
        </template>
      </mtPageNav>
    </div>
    <div class="assessment-plans-step2--body">
      <div class="assessment-plans-step2--body__actions">
        <mtFilters
            v-model:cols="cols"
            v-model:search="search"
            :searchVisibility="false"
            :filterVisibility="false"
            @change="updatePlansList"
        />
      </div>
      <div class="assessment-plans-step2--body__table">
        <Table/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex';
import Table from '@/components/workspace/assessmentPlans/plans/plan/step2/Table';
import mtPageNav from '@/components/composite/mtPageNav';
import mtFilters from '@/components/UI/mtFilters/mtFilters.vue';
import { isTwoObjEqual } from "@/services/utils";
import StepsNav from "@/components/workspace/assessmentPlans/plans/plan/stepsNav.vue";
import { onBeforeRouteLeave } from "vue-router";

export default {
  components: {
    StepsNav,
    Table,
    mtPageNav,
    mtFilters,
  },

  data() {
    return {
      titleActiveSection: 'Редактирование',
      searchTestName: '',
      searchColumnName: '',
      searchPopUp: false,
      columnPopUp: false,
      next_preloader: false,
      title: 'Шаг 2. Настройка параметров оценки',
      cols: [],
      search: {},
      assessmentPlanToCompare: null,
      isDataChanged: false
    };
  },
  computed: {
    ...mapGetters(['assessmentPlanName',]),
    ...mapGetters('assessmentPlans/plan', ['planEditdataExd', 'addEdit2Validation']),
    ...mapState('assessmentPlans/plan', ['isNewPlan']),

    titlesPath() {
      return [
        {
          isLink: true,
          title: 'Планы оценок',
          to: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Список',
          to: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: this.assessmentPlanName,
          to: 'AddEdit1',
          query: {
            plan: this.planEditdataExd.uuid,
          },
        },

        {
          isLink: true,
          title: 'Шаг 2',
          to: 'AddEdit2',
          query: {
            plan: this.planEditdataExd.uuid,
          },
        },
      ];
    },
  },

  watch: {
    cols: {
      handler(newVal) {
        newVal.forEach(val => this.setPlanStore({
          [val.stub]: val.visible,
        }));
      },
      deep: true
    }
  },
  methods: {
    ...mapActions(['setAssessmentPlanName', 'setTitlesPath', 'setTitleActiveSection',]),
    ...mapActions('assessmentPlans/plan', ['setPlanEditdataExd', 'setPlanStore', 'deletePlan']),
    ...mapActions('assessmentPlans/plan/task', ['updateTask']),
    ...mapMutations('assessmentPlans/plan', ['updateIsNewPlan']),

    validator() {
      /* Min-Max-Limit-Validation BEGIN */
      let minMaxError = false;
      let errorLimit = false;

      for (
          let taskIndex = 0;
          taskIndex < this.planEditdataExd.structure.length;
          taskIndex++
      ) {
        outer_block: {

          for (
              let criterionIndex = 0;
              criterionIndex <
              this.planEditdataExd.structure[taskIndex].parameters.criteria
                  .length;
              criterionIndex++
          ) {
            let tmpLimit = Number(
                this.planEditdataExd.structure[taskIndex].parameters.criteria[
                    criterionIndex
                    ].limit
            );
            let tmpStep = Number(
                this.planEditdataExd.structure[taskIndex].parameters.criteria[
                    criterionIndex
                    ].step
            );
            let tmpMax = Number(
                this.planEditdataExd.structure[taskIndex].parameters.criteria[
                    criterionIndex
                    ].max
            );
            let tmpMin =
                Number(
                    this.planEditdataExd.structure[taskIndex].parameters.criteria[
                        criterionIndex
                        ].min
                ) == 1
                    ? Number(
                    this.planEditdataExd.structure[taskIndex].parameters
                        .criteria[criterionIndex].min
                ) - 1
                    : Number(
                        this.planEditdataExd.structure[taskIndex].parameters
                            .criteria[criterionIndex].min
                    );

            if (tmpMax - tmpMin < 0 || tmpMax - tmpMin > 10) {
              minMaxError = true;

              break outer_block;
            }

            if (
                !(
                    (tmpLimit >= tmpMin &&
                        tmpLimit <= tmpMax &&
                        !(
                            parseFloat((tmpLimit / tmpStep).toFixed(2)) -
                            parseInt((tmpLimit / tmpStep).toFixed(2)) >
                            0
                        )) ||
                    tmpLimit === 0
                )
            ) {
              errorLimit = true;
            }
          }
        }
      }

      if (minMaxError) {

        return {
          status: false,
          body: 'Расстояние между минимумом и максимумом превышает 10',
        };
      }

      if (errorLimit) {

        return {
          status: false,
          body: 'Порог заполнен неверно',
        };
      }
      /* Min-Max-Limit-Validation END */

      /* Weight-Validation BEGIN */
      if (this.addEdit2Validation.errorWeight) {

        return {
          status: false,
          body: 'Шаг заполнен неверно',
        };
      }
      /* Weight-Validation END */

      /* duplicated_Name_Criterion-Validation BEGIN */
      let duplicatedNameCriterion = false;

      for (
          let taskIndex = 0;
          taskIndex < this.planEditdataExd.structure.length;
          taskIndex++
      ) {
        outer_block: {

          for (
              let criterionIndex = 0;
              criterionIndex <
              this.planEditdataExd.structure[taskIndex].parameters.criteria
                  .length;
              criterionIndex++
          ) {

            let criterionTitle =
                this.planEditdataExd.structure[taskIndex].parameters.criteria[
                    criterionIndex
                    ].scale?.title;

            for (
                let criterionIndexSub = 0;
                criterionIndexSub <
                this.planEditdataExd.structure[taskIndex].parameters.criteria
                    .length;
                criterionIndexSub++
            ) {

              let subCriterionTitle =
                  this.planEditdataExd.structure[taskIndex].parameters.criteria[
                      criterionIndexSub
                      ].scale?.title;

              if (
                  criterionTitle === subCriterionTitle &&
                  criterionIndexSub !== criterionIndex
              ) {
                duplicatedNameCriterion = true;

                break outer_block;
              }
            }
          }
        }
      }

      if (duplicatedNameCriterion) {

        return {
          status: false,
          body: 'Критерия с одинаковыми именами недопустимы',
        };
      }

      return {
        status: true,
      };
    },

    back() {
      this.$router.push({
        name: 'AddEdit1',
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
        },
      });
    },
    next() {
      if (!this.next_preloader) {
        this.$router.push({
          name: 'AddEdit3',
          params: {
            uuid: this.$route.params.uuid,
          },
          query: {
            ...this.$route.query,
          },
        });
      }
    },

    async save () {
      this.next_preloader = true;
      const length = this.planEditdataExd.structure.length;
      const validation = this.validator();

      if (validation.status) {
        const isChanged = !isTwoObjEqual(this.assessmentPlanToCompare, this.planEditdataExd)

        if (isChanged) {
          for (let i = 0; i < length; i++) {
            updateTaskFn.bind(this)(i)
          }

          function updateTaskFn(index) {
            this.updateTask({
              uuidTest: this.planEditdataExd.structure[index].uuid,
              uuidPlan: this.$route.params.uuid,
              data: this.planEditdataExd.structure[index],
            })
          }

          this.$workspaceApi.assessmentPlans.planListTable.updatePlan(this.planEditdataExd.uuid, this.planEditdataExd)
        }
      } else {
        return this.$toast.warning(validation.body)
      }
    },

    async getTestScales(index = 0) {
      return new Promise(resolve => {
        if (Number(index) < this.planEditdataExd.structure?.length) {
          // FIXME logs muss später entfernt werden

          if (this.planEditdataExd.structure[index].type === 'test') {
            this.$workspaceApi.assessmentPlans.addEdit2
                .getTestScales(this.planEditdataExd.structure[index].uuid, this.$route.params.uuid)
                .then((response) => {
                  this.planEditdataExd.structure[index].scales = response.data.data;

                  this.getTestScales(++index);
                })
                .catch((e) => {

                });
          }
          else if (this.planEditdataExd.structure[index].type === 'expert') {

            this.planEditdataExd.structure[index].scales = [
              {
                number: 0,
                object: '',
                poles: 0,
                title: 'Критерий оценки',
                type: 'expert',
                uuid: '',
              },
            ];

            this.getTestScales(++index);
          }
          else if (this.planEditdataExd.structure[index].type === 'confirmation') {
            this.planEditdataExd.structure[index].scales = [
              {
                number: 0,
                object: '',
                poles: 0,
                title: 'Подтверждение',
                type: 'confirmation',
                uuid: '',
              },
            ];

            this.getTestScales(++index);
          }

        }

        // this.initNormalizePopUpVsblt();
        return resolve()
      })
    },

    parseColumnsTest() {

      return [
        {
          title: 'Ед. шкалы',
          stub: 'show_unit',
          showable: true,
          visible: this.planEditdataExd.show_unit,
        },
        {
          title: 'Порог',
          stub: 'show_limit',
          showable: true,
          visible: this.planEditdataExd.show_limit,
        },
        {
          title: 'Минимум',
          stub: 'show_min',
          showable: true,
          visible: this.planEditdataExd.show_min,
        },
        {
          title: 'Максимум',
          stub: 'show_max',
          showable: true,
          visible: this.planEditdataExd.show_max,
        },
        {
          title: 'Шаг',
          stub: 'show_step',
          showable: true,
          visible: this.planEditdataExd.show_step,
        },
        {
          title: 'Вес, множитель',
          stub: 'show_weight',
          showable: true,
          visible: this.planEditdataExd.show_weight,
        },
        {
          title: 'Нормирование',
          stub: 'show_normalize',
          showable: true,
          visible: this.planEditdataExd.show_normalize,
        },
      ];
    },

    getCurrentPlanData(uuid, callback = false) {
      this.$workspaceApi.assessmentPlans.planListTable
          .getPlanEditdataExd(uuid)
          .then((response) => {
            let data = response.data.data;

            this.setAssessmentPlanName(data.name ?? 'Без имени');
            this.setPlanEditdataExd(data);
            this.setTitlesPath(this.titlesPath);

            this.cols = this.parseColumnsTest();

            if (callback) {
              if (callback.params) {
                callback.exec(callback.params);
              } else {
                callback.exec(callback.params);
              }
            }
          });
    },

    init() {
      this.setTitleActiveSection(this.titleActiveSection);
      this.setTitlesPath(this.titlesPath);

      this.$lodash.forEach(
          this.planEditdataExd.structure,

          function (value) {
            value.isHidden = false;
          }
      );

      this.getTestScales();
      this.initNormalizePopUpVsblt();
    },

    initNormalizePopUpVsblt() {
      return new Promise(resolve => {
        for (let i = 0; i < this.planEditdataExd.structure?.length; i++) {
          for (let j = 0; j < this.planEditdataExd.structure[i].parameters.criteria.length; j++) {
            this.planEditdataExd.structure[i].parameters.criteria[j].normalize_visibility = false;
          }
        }

        this.assessmentPlanToCompare = JSON.parse(JSON.stringify(this.planEditdataExd))
        return resolve()
      })
    },

    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },

    updatePlansList() {
    }
  },

  mounted() {
    this.initBreadcrumbs();
    this.getCurrentPlanData(this.$route.params.uuid, { exec: this.init });

    onBeforeRouteLeave(async (to, from, next) => {
      const isRelationStep = to.name === 'AddEdit1' || to.name === 'AddEdit3' || to.name === 'AddEdit4';

      if (this.isNewPlan && !isRelationStep) {
        await this.deletePlan({ uuid: this.planEditdataExd.uuid });
        this.updateIsNewPlan(false);
      } else {
        await this.save();
      }

      next()
    })
  }
};
</script>

<style
    lang="scss"
    src="./step2.scss"
/>