.assessment-plans-step2 {
  border: 1px solid #dfe0eb;
  border-radius: 8px;

  &--header {
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
    }

    &__actions {
      &-back,
      &-save {
        margin: 7px 15px;
      }

      .mt-page-nav {
        &__button {
          &-next {
            width: 82px !important;
            height: 32px !important;
          }
        }
      }
    }
  }

  &--body {
    &__actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-end;
      align-items: center;
      padding: 0 32px;
    }

    &__table {
      overflow-x: scroll;
      margin-top: 32px;
    }
  }
}