<template>
  <button
      class="mt-button"
      :class="[{ 'mt-button_preload': preloader }, color ? `mt-button_${color}` : '']"
      :disabled="disabled || preloader"
  >
    <span
        class="mt-button__icon"
        v-if="hasSlot('icon')"
    >
      <slot name="icon" />
    </span>
    <template v-if="preloader">
      <mtIcon
          name="preloader"
          fill="#fff"
          preloader="preloader"
      />
    </template>
    <template v-else>
      <slot/>
    </template>
  </button>
</template>

<script>
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue';

export default {
  name: 'mtButton',
  components: {
    mtIcon
  },
  props: {
    preloader: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: 'green'
    }
  },
  methods: {
    hasSlot(name) {
      return !!this.$slots[name]
    }
  }
}

</script>

<style
    lang="scss"
    src="./style.scss"
/>