.mt-button {
  color: #fff;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 18px;
  transition: 0.2s;
  text-transform: uppercase;

  &:disabled:not(.mt-button_preload) {
    pointer-events: none;
    color: $gray;
    background-color: $light-gray;
  }

  &_color {
    background-color: $green;
    &:hover {
      background-color: $dark-green;
    }
    &:active {
      background-color: rgba($green, 70%);
    }
  }

  &_green {
    background-color: $green;
    &:hover {
      background-color: $dark-green;
    }
    &:active {
      background-color: rgba($green, 70%);
    }
  }

  &_light-green {
    background-color: $light-green;
    color: $green;
    &:hover {
      background-color: $green;
      color: $light-green;
    }
    &:active {
      background-color: rgba($green, 70%);
    }
  }

  &_light-red {
    background-color: $dark-red;
    color: #C24020;
    &:hover {
      background-color: #C24020;
      color: #fff;
    }
    &:active {
      background-color: rgba($dark-red, 70%);
    }
  }

  &_light-gray {
    background-color: $light-gray;
    color: $gray;

    &:not(.mt-button_icon) {
      &:hover {
        background-color: $gray;
        color: $light-gray;
      }
      &:active {
        background-color: rgba($gray, 70%);
      }
    }
  }

  &_icon {
    padding: 0;

    svg {
      path {
        transition: all .3s;
      }
    }

    &:hover {
      svg {
        path {
          fill: $green;
        }
      }
    }
  }

  &__icon {
    margin-right: 15px;
  }

  @include max-sm{
    font-size: 14px;
    line-height: 18px;
  }
}