.statistics-amount {
  min-width: 229px;
  margin: 7.5px;
  background: #F0F1F7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 8px 10px;

  &__icon {
    width: 31px;
    height: 31px;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: $black;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;

    @include max-sm {
      margin-left: 5px;
      flex-wrap: nowrap;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include max-sm {
      margin-right: 5px;
    }
  }
}

.assessment-plans-card__amount {
  min-width: unset;
  width: calc(50% - 5px);
  margin: 2.5px;
}

@media all and (max-width: 992px) {
  .statistics-amount {
    min-width: unset;
  }
}

@media all and (max-width: 575px) {
  .statistics-amount {
    //width: 100%;
    margin: 2.5px;
  }
}