<template>
  <div class="assessment-plan-notifications__notifications">
    <div
        class="assessment-plan-notifications__notification"
        v-for="notification in planSettings.notifications"
        :key="notification.uuid"
    >
      <div class="assessment-plan-notifications__notification--title">{{ notification.title }}</div>
      <div class="assessment-plan-notifications__notification--actions">
        <div class="assessment-plan-notifications__notification--settings">
          <mtSvg
              name="settings"
              color="#9FA2B4"
              @svg-click="openSettings"
          />
        </div>
        <mtSwitch
            class="assessment-plan-notifications__notification--status"
            v-model="notification.status"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions,} from "vuex";
import {outputPlanNotifications,} from '@/adapters/assessmentPlans/planSettings.adapter';
import mtButton from "@/components/UI/mtButton";
import mtSwitch from "@/components/UI/mtSwitch";
import mtSvg from '@/components/UI/mtSvg';

export default {
  components: {
    mtSwitch,
    mtSvg,
  },

  props: {},
  data: () => ({
    title: 'Прочие',
    saveLoader: false,
  }),
  computed: {
    planSettings() {
      return this.$store.getters['assessmentPlans/plan/settings'];
    },
  },

  watch: {},
  methods: {
    ...mapActions('assessmentPlans/plan', [
      'updatePlanSettings',
    ]),

    /* GETTERS */
    /* SETTERS */
    /* HANDLERS */
    openSettings() {
      this.$router.push({
        name: "PlanSettingsNotifications",
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
          page: this.$route.name,
        },
      });
    },
    async save() {
      this.saveLoader = true;

      if (
          !this.planSettings
              .notifications[0]
              .status ||
          this.planSettings
              .notificationSettings
              .filter(user => user.status)
              .length
      ) {
        await this.updatePlanSettings({
          uuid: this.$route.params.uuid,
          payload: outputPlanNotifications({
            notifications: this.planSettings.notifications[0].status,
          })
        });
      } else {
        this.$toast.warning('Необходимо выбрать хотя бы одного пользователя');
      }

      this.saveLoader = false;
    },

    /* HELPERS */
  },

  created() {
  },
  mounted() {
  },
}
</script>

<style lang="scss">
.assessment-plan-notifications {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E7E8F0;
  border-radius: 8px;
  padding: 24px 20px;

  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    user-select: none;
  }

  &__apply {
    border-radius: 8px !important;
    width: 125px;
    height: 33px !important;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    user-select: none;

  }

  &__notifications {
    margin-top: 20px;
  }

  &__notification {
    box-sizing: border-box;
    border: 1.5px solid #DFE0EB;
    border-radius: 4px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    &:first-child {
      margin-top: 0;
    }

    &--actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-end;
      align-items: center;
    }

    &--title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      user-select: none;
    }

    &--status {
      margin-left: 15px;
    }

    &--settings {
      cursor: pointer;
      width: max-content;
    }
  }
}
</style>
