<template>
  <div class="other-container">
    <h3 class="other-title">Прочие</h3>
    <Notifications/>

    <div
        class="other-row"
        v-if="planSettings"
    >
      <span>Переместить в архив</span>
      <mtSwitch
          v-model="settings.archive"
          @click="onChange($event)"
      />
    </div>
  </div>
</template>

<script>
import Notifications from '@/components/workspace/assessmentPlans/plans/plan/settings/Notifications';
import mtSwitch from "@/components/UI/mtSwitch";
import {mapActions} from "vuex";

export default {
  name: "other",
  components: {
    Notifications,
    mtSwitch
  },
  props: {
    planSettings: {
      type: [Object],
      default: null,
    }
  },
  methods: {
    ...mapActions('assessmentPlans/plan', [
      'addToArchive',
      'restorePlan',
    ]),

    onChange(event) {

      if (this.planSettings.archive) {
        this.addToArchive({
          body: [this.$route.params.uuid],
        }).then(() => {
        });
      } else {
        this.restorePlan({
          body: [this.$route.params.uuid],
        }).then(() => {
        });
      }
    },
  },
  computed: {
    settings() {
      return this.planSettings;
    }
  }
}
</script>

<style
    scoped
    lang="scss"
>
.other {

  &-container {
    width: 100%;
    box-sizing: border-box;
    background: rgb(255 255 255);
    border: 1px solid rgb(231 232 240);
    border-radius: 8px;
    padding: 24px 20px;

  }

  &-title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: rgb(37 39 51);
    user-select: none;
    margin-bottom: 15px;
  }

  &-row {
    box-sizing: border-box;
    border: 1.5px solid rgb(223 224 235);
    border-radius: 4px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgb(0 0 0);
  }

}
</style>