<template>
  <div class="assessment-plan-self-registration">
    <div class="assessment-plan-self-registration__title">{{ title }}</div>
    <div class="assessment-plan-self-registration--entities">
      <div
          class="assessment-plan-self-registration--entity"
          v-for="(entity, key) in planSettings.selfRegistration"
          :key="entity.uuid"
      >
        <div class="assessment-plan-self-registration--entity-title">
          {{ `${ rolesTranslation(key) }:` }}

          <mtCheckbox
              class="assessment-plan-self-registration--entity-status"
              v-model="entity.active"
              @change="toggleActivation(entity)"
          />
        </div>
        <div class="assessment-plan-self-registration--entity-content">
          <div class="assessment-plan-self-registration--entity-link">
            <div class="assessment-plan-self-registration--entity-link__title">{{ entity.url }}</div>
          </div>
          <mtButton
              class="assessment-plan-self-registration--entity-btn"
              @click="copyLinkToClipboard(entity.url)"
          >
            Скопировать
          </mtButton>
          <mtButton
              class="assessment-plan-self-registration--entity-btn assessment-plan-self-registration--entity-btn--refresh"
              @click="updateLink(entity.uuid)"
              :preloader="urlLoadingItemUuid === entity.uuid"
          >
            Обновить
          </mtButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mtCheckbox from '@/components/UI/mtCheckbox';
import mtButton from "@/components/UI/mtButton";
import { mapActions } from "vuex";
import useToast from "@/components/UI/AppToast/useToast";

export default {
  components: {
    mtCheckbox,
    mtButton,
  },

  props: {},
  data: () => ({
    title: 'Разрешить саморегистрацию',
    entities: [],
    urlLoadingItemUuid: ''
  }),
  computed: {
    planSettings() {
      return this.$store.getters['assessmentPlans/plan/settings'];
    },
  },
  methods: {
    ...mapActions('assessmentPlans/plan', ['updateSelfRegistrationLink', 'enableSelfRegistrationLink', 'disableSelfRegistrationLink']),

    async updateLink(uuid) {
      this.urlLoadingItemUuid = uuid;
      await this.updateSelfRegistrationLink({ uuid });
      this.urlLoadingItemUuid = '';
    },

    async toggleActivation(item) {
      const uuid = item.uuid;

      if (item.active) {
        await this.enableSelfRegistrationLink({ uuid })
      } else {
        await this.disableSelfRegistrationLink({ uuid })
      }
    },

    unsecuredCopyToClipboard(text) {
      const textArea = document.createElement("textarea");
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
        document.execCommand('copy');
        toast.success('Ссылка скопирована')
      } catch (err) {
        console.error('Unable to copy to clipboard', err)
      }

      document.body.removeChild(textArea)
    },

    copyLinkToClipboard(link) {
      const { toast } = useToast();

      if (window.isSecureContext && navigator.clipboard) {
        navigator.clipboard.writeText(link);
        toast.success('Ссылка скопирована')
      } else {
        this.unsecuredCopyToClipboard(link);
      }
    },

    rolesTranslation(key) {
      switch (key) {
        case 'expert':
          return 'Эксперт'
        case 'respondent':
          return 'Респондент'
        case 'inspector':
          return 'Проверяющий'
      }
    },
  }
}
</script>

<style lang="scss">
.assessment-plan-self-registration {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E7E8F0;
  border-radius: 8px;
  padding: 24px 20px;

  &__title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    user-select: none;
  }

  &--entities {
    margin-top: 30px;
  }

  &--entity {
    display: grid;
    grid-template-columns: 18% 82%;
    align-items: center;
    margin-top: 12px;

    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
    }

    &-title {
      display: flex;
      align-items: center;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #7C869D;
      user-select: none;
    }

    &-status {
      cursor: pointer;
      margin-left: auto;
    }

    &-link {
      box-sizing: border-box;
      padding: 5px 12px;
      width: 400px;
      overflow: hidden;
      background: #E7E8ED;
      border-radius: 8px;
      margin-left: 10px;

      &__title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 14px;
        color: #7C869D;
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    @media all and (max-width: 575px) {
      display: flex;
      flex-direction: column;
      align-items: unset;

      &-title {
        margin-bottom: 5px;
      }

      &-content {
        display: flex;
        flex-wrap: wrap;
      }

      &-link {
        width: 100%;
        margin: 0 0 10px;
      }

      &-btn {
        margin-left: unset !important;
        margin-right: 10px;
      }
    }

    &-btn {
      user-select: none;
      border-radius: 8px !important;
      height: 24px !important;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-left: 10px;
      padding: 0 8px;

      &--refresh {
        min-width: 85px;
      }
    }
  }
}
</style>