<template>
  <component :is="getResultsPage({role,})" />
</template>

<script>
import resultsDefault from "@/components/workspace/assessmentPlans/results/resultsDefault";
import resultsExpert from "@/components/workspace/assessmentPlans/results/resultsExpert";
import resultsRespondent from "@/components/workspace/assessmentPlans/results/resultsRespondent";

export default {
  components: {
    resultsDefault,
    resultsExpert,
    resultsRespondent,
  },

  props: {},
  data: () => ({}),
  computed: {
    role() {
      return this.$store.getters['USER']?.role || '';
    },
  },

  watch: {},
  methods: {
    /* GETTERS */
    getResultsPage({ role, }) {
      switch (role.toLowerCase()) {
        case 'admin':
        case 'metodolog':
        case 'operator':
          return 'resultsDefault';

        case 'expert':
        case 'inspector':
          return 'resultsExpert';

        case 'respondent':
          return 'resultsRespondent';

        default:
          return null;
      }
    },

    /* SETTERS */
    /* HANDLERS */
    /* HELPERS */
    /* ACTIONS */
  },

  created() {},
  mounted() {},
}
</script>

<style lang="scss">
</style>