.mt-popover {
  max-width: calc(100vw - 30px)!important;
  min-width: 300px;
  z-index: 10000;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #00788C;
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(124, 124, 124, 0.25);
  border-radius: 10px;

  &__arrow {
    position: absolute;
    top: -11px;
    width: 26px;
    height: 15px;
  }

  &__body {
    padding: 20px;
    overflow-y: auto;
  }
}