<template>
  <div class="administration__add-edit-field__container">
    <div class="administration__add-edit-field__wrapper">
      <div class="administration__add-edit-field__first-section">
        <div class="edit-field-info-block__fields">
          <div class="edit-field-info-block__row">
            <Input
                class="edit-field fullname-filed"
                :params="{ ...fieldsConfig.fieldName, value: field.name }"
                :class="['min-default-width',]"
                v-model:error="inputErrors"
                error-key="name"
                @change="setters().setFieldName({ event: $event })"
            />
            <Switcher
                class="field-switcher mix-display-switcher"
                :id="`display_${field.uuid}`"
                :stay="field.status"
                :params="fieldsConfig.fieldDisplay"
                @change="setters().setFieldDisplay({ event: $event })"
            />
            <Switcher
                class="field-switcher"
                :id="`required_${field.uuid}`"
                :stay="field.required"
                :params="fieldsConfig.fieldRequired"
                :disabled="!field.status"
                @change="setters().setFieldRequired({ event: $event })"
            />
          </div>
          <div class="edit-field-info-block__row">
            <Select
                class="edit-field role-filed"
                :params="{ ...fieldsConfig.fieldType, selectedOption: getters().getFieldType({ type: field.type }) }"
                :class="['min-default-width',]"
                @change="setters().setFieldType({ option: $event })"
            />
          </div>
        </div>
        <div class="edit-field-info-block__actions">
          <div class="page-nav">
            <div
                class="button button-prev"
                @click="handlers().onPrevBtnClicked()"
            >
              <div class="button__item"><span class="button__txt">Назад</span></div>
            </div>
            <div class="button">
              <div class="button__item">
                <span
                    class="button__txt"
                    @click="handlers().onSaveBtnClicked()"
                >
                Сохранить
              </span>
              </div>
            </div>
          </div>
          <hr
              class="divider"
              v-if="$route.params.id"
          />
          <div
              class="admin-action delete"
              v-if="$route.params.id"
          >
            <div
                class="wrapper"
                @click="activateConfirmationDialog({ uuid: field.uuid })"
            >
              <div class="icon">
                <img
                    src="@/assets/img/svg/delete-icon.svg"

                />
              </div>
              <div class="title">удалить</div>
            </div>
          </div>
        </div>
      </div>
      <hr
          class="divider"
          v-if="field.type === 'list'"
      />
      <div
          class="administration__add-edit-field__second-section"
          v-if="field.type === 'list'"
      >
        <div class="edit-field-info-block__field-type_list-options">
          <div class="field-type_list-options__header">
            <div class="field-type_list-options__header_wrapper">
              <div class="field-type_list-options__haupt-titel">Варианты ответов (Список)</div>
            </div>
          </div>
          <div class="field-type_list-options__main">
            <div class="field-type_list-options__main_wrapper">
              <div class="field-type_list-options__actions">
                <div class="field-type_list-options__action">
                  <mtButton
                      class="add-new-filed-option__btn"
                      @click="handlers().onAddNewOptionClick()"
                  >
                    <svg :data-src="require( '@/assets/img/svg/assessment-plans/assessment-plans__header-add_new_plan.svg' )"/>
                    Добавить вариант
                  </mtButton>
                </div>
              </div>
              <div class="field-type_list-options__list">
                <div
                    class="field-type_list-options__list-item"
                    v-for="( option, index ) in field.variants"
                    :key="option.uuid"
                >
                  <div class="field-type_list-options__list_info">
                    <div class="number">{{ index + 1 }}</div>
                    <Input
                        class="name"
                        :params="{ ...fieldsConfig.default, value: option.name }"
                        :error="inputErrors"
                        :error-key="`variant${index}`"
                        @change="setters().setFieldOptionName({ event: $event, uuid: option.uuid })"
                    />
                  </div>
                  <div class="field-type_list-options__list_actions">
                    <div class="field-type_list-options__list_action">
                      <div class="delete"><img
                          class="delete-icon__logo"
                          src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_delete.svg"
                          alt="Удалить"
                          @click="handlers().onDeleteOptionClick({ uuid: option.uuid })"
                      /></div>
                    </div>
                    <div class="field-type_list-options__list_action">
                      <div class="drag">
                        <img
                            class="drag-icon__logo"
                            src="@/assets/img/svg/assessment-plans/assessment-plans__table_row_menu-burger.svg"
                            alt="Перетащить"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Вы уверены, что хотите удалить поле ${field?.name}?`"
          :submit-cb="onDeleteFieldClick"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import Input from '@/components/UI/input';
import Select from '@/components/UI/select';
import Switcher from '@/components/UI/mtSwitcher';
import mtButton from '@/components/UI/mtButton';
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";
import useToast from "@/components/UI/AppToast/useToast";

export default {
  components: {
    ConfirmationDialog,
    Input,
    Select,
    Switcher,
    mtButton,
  },

  data() {
    return {
      fieldsConfig: {
        fieldName: {
          hauptTitel: 'Название поля',
          maintest_original: true,
        },

        fieldDisplay: {
          hauptTitel: 'Отображать',
        },

        fieldRequired: {
          hauptTitel: 'Обязательное поле',
        },

        branchDescription: {
          hauptTitel: 'Описание',
          maintest_original: true,
        },

        fieldType: {
          hauptTitel: 'Тип поля',
          maintest_original: true,
          items: [
            {
              name: 'текст',
              slug: 'string',
            },

            {
              name: 'число',
              slug: 'integer',
            },

            {
              name: 'список',
              slug: 'list',
            },
          ]
        },

        default: {
          hauptTitel: '',
          maintest_original: true,
        },
      },

      deletingField: null,
      isConfirmationDialogOpen: false,
      inputErrors: []
    }
  },

  computed: {
    ...mapGetters(
        [
          'field',
        ]
    ),

    titleActiveSection() {
      return this.$route.params.id ? 'Редактировать поле' : 'Добавить поле';
    },

    titlesPath() {
      return [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Настройка',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Анкета респондента',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: false,
          title: this.$route.params.id ? this.field.name : 'Добавить поле',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ];
    },
  },

  methods: {
    ...mapActions(
        [
          'setTitlesPath',
          'setTitleActiveSection',
          'fetchField',
          'uploadField',
          'createField',
          'setFieldStore',
          'deleteFieldsById',
        ]
    ),

    getters() {
      return {
        getFieldType: (payload = {}) => {
          switch (payload.type) {
            case 'string':
              return 'текст';

            case 'integer':
              return 'число';

            case 'list':
              return 'список';

            default:
              return '';
          }
        },
      }
    },

    setters() {
      return {
        setFieldName: (payload = {}) => {


          this.setFieldStore({name: payload.event.target.value});
        },

        setFieldDisplay: (payload = {}) => {

          if(!payload.event.target.checked) {
            this.setFieldStore({required: false});
          }

          this.setFieldStore({status: payload.event.target.checked});
        },

        setFieldRequired: (payload = {}) => {
          this.setFieldStore({required: payload.event.target.checked});
        },

        setFieldType: (payload = {}) => {


          this.setFieldStore({type: payload.option.slug});
        },

        setFieldOptionName: (payload = {}) => {


          this.setFieldStore(
              {
                variants: [
                  ...this.field.variants.map(
                      (variant) => {
                        if (variant.uuid == payload.uuid) {
                          return {
                            ...variant,

                            name: payload.event.target.value,
                          }
                        } else {
                          return variant;
                        }
                      }
                  ),
                ],
              }
          );
        },
      }
    },

    handlers() {
      return {
        onPrevBtnClicked: () => {
          this.$router.push(
              {
                name: 'Settings',
              }
          );
        },

        onSaveBtnClicked: async () => {
          if(!this.field.name) this.inputErrors.push('name');
          if(this.field.type === 'list') {
            const {toast} = useToast();

            if(this.field.variants.length < 2) {
              return toast.error('Выберите более двух вариантов')
            }

            this.field.variants.map((variant, index) => {
              if(!variant.name) this.inputErrors.push('variant' + index)
            })
          }

          if(this.inputErrors.length) return;

          if (this.$route.params.id) {
            await this.uploadField({uuid: this.$route.params.id});
          } else {
            await this.createField();
          }

          this.$router.push(
              {
                name: 'Settings',
              }
          );
        },

        onDeleteOptionClick: (payload = {}) => {


          this.setFieldStore(
              {
                variants: this.field.variants.filter(
                    (variant) => {
                      return variant.uuid !== payload.uuid;
                    }
                ),
              }
          );
        },

        onAddNewOptionClick: () => {


          this.setFieldStore(
              {
                variants: [
                  ...this.field.variants,

                  {
                    uuid: new Date().getTime(),
                    name: '',
                  }
                ],
              }
          );
        }
      }
    },

    activateConfirmationDialog (payload = {}) {
      this.deletingField = null
      this.deletingField = payload
      this.isConfirmationDialogOpen = true
    },

    async onDeleteFieldClick () {
      await this.deleteFieldsById({uuid: this.deletingField.uuid});

      this.$router.push({name: 'Settings',});
    },

    helpers() {
      return {}
    },

    async init() {
      this.setTitleActiveSection(this.titleActiveSection);

      if (this.$route.params.id) {
        await this.fetchField({uuid: this.$route.params.id});
      }

      this.setTitlesPath(this.titlesPath);
    },

    bindActions() {
    },

    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.fieldName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  mounted() {
    this.init();
  },
  created() {
    this.initBreadcrumbs();
  },
}

</script>

<style lang="scss">
.administration__add-edit-field__container {
  .administration__add-edit-field__wrapper {
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;

    .administration__add-edit-field__first-section {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;

      padding: 32px 15px 32px 32px;
    }

    .administration__add-edit-field__second-section {
    }
  }

  /* OBJECT STYLES CSS START */

  .button {
    .button__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      height: 33px;
      background: #00788C;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;

      &:active {
        background: #005361;
      }

      .button__txt {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }
  }

  .page-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .button {
      padding-right: 10px;

      &:last-child {
        padding-right: 0px;
      }
    }
  }

  .button-prev {
    .button__item {
      width: 82px;
      background: #E6F2F4;

      &:active {
        background: #CDE3E7 !important;
      }

      .button__txt {
        color: #00788C;
      }
    }
  }

  .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #DFE0EB;
  }

  .admin-action {
    margin-top: 25px;

    &.reset-password {
      margin-top: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      .icon {
      }

      .title {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #9FA2B4;
        margin-left: 15px;
      }
    }
  }

  .edit-field {
    max-width: 327px;
  }

  .edit-field-info-block__fields {
    width: 100%;
  }

  .edit-field-info-block__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  .field-switcher {
    margin-left: 30px;

    .switcher__haupttitel {
      margin-bottom: 32px;
    }
  }

  .field-description__container {
    max-width: 670px;
  }

  .edit-field-info-block__field-type_list-options {
    .field-type_list-options__header {
      .field-type_list-options__header_wrapper {
      }
    }

    .field-type_list-options__main {
      .field-type_list-options__main_wrapper {
      }
    }
  }

  .field-type_list-options__haupt-titel {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;

    padding: 0px 0px 32px 32px;
  }

  .field-type_list-options__action {
    margin-top: 24px;
    padding: 0px 15px 32px 32px;
  }

  .add-new-filed-option__btn {
    svg {
      margin-right: 10px;
    }
  }

  .field-type_list-options__list {
    .field-type_list-options__list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      padding: 30px 20px 30px 45px;
      border-bottom: 1px solid #DFE0EB;

      .field-type_list-options__list_info,
      .field-type_list-options__list_actions {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
      }

      .field-type_list-options__list_info {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;

        .number {
          color: #C7C7C7;
        }

        .name {
          color: #252733;
          margin-left: 24px;
          width: 200px;

          .body {
            .body__wrapper {
              padding: 15px 10px;
            }
          }
        }
      }

      .field-type_list-options__list_actions {
        .field-type_list-options__list_action {
          .delete {
            cursor: pointer;
          }

          .drag {
            margin-left: 20px;
          }
        }
      }
    }
  }

  /* OBJECT STYLES CSS END */

  /* MIXINS STYLES CSS START */
  .mix-display-switcher {
    width: 100px;
  }

  .min-default-width {
    width: 327px;
  }

  /* MIXINS STYLES CSS END */
}
</style>