<template>
  <div class="administration-settings__container">
    <div class="administration-settings__wrapper">
      <div class="administration-settings__main">
        <div class="administration-settings__main_wrapper">
          <div class="tabs-window">
            <div class="tabs">
              <div
                  class="tab"
                  :class="{ active: activeComponent === 'RespondentQuestionnaire' }"
                  @click="setters().setTab({ tab: 'RespondentQuestionnaire' })"
              >
                <div class="tab-title respondent-questionnaire">Анкета респондента</div>
              </div>
              <div
                  class="tab"
                  :class="{ active: activeComponent === 'Security' }"
                  @click="setters().setTab({ tab: 'Security' })"
              >
                <div class="tab-title security">Безопасность</div>
              </div>
            </div>
            <div class="tab-items">
              <Transition
                  name="fade"
                  mode="out-in"
              >
                <component :is="activeComponent" />
              </Transition>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex';
import RespondentQuestionnaire from '@/components/workspace/administration/settings/RespondentQuestionnaire';
import Security from '@/components/workspace/administration/settings/Security';

export default {
  components: {
    RespondentQuestionnaire,
    Security,
  },

  props: {},

  data() {
    return {
      activeComponent: 'RespondentQuestionnaire',
      titleActiveSection: 'Настройка',
      titlesPath: [
        {
          isLink: true,
          title: 'Администрирование',
          routeName: 'AssessmentPlansList',
          query: {},
        },

        {
          isLink: true,
          title: 'Настройка',
          routeName: 'AssessmentPlansList',
          query: {},
        },
      ],
    }
  },

  methods: {
    ...mapActions(
        [
          'setTitlesPath',
          'resetBranchStore',
          'setTitleActiveSection',
        ]
    ),

    setters() {
      return {
        setTab: (payload = {}) => {
          this.activeComponent = payload.tab;
        },
      }
    },

    init() {
      this.setTitleActiveSection(this.titleActiveSection);
      this.setTitlesPath(this.titlesPath);
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },

  mounted() {
    this.init();
  },
  created() {
    this.initBreadcrumbs();
  },
}
</script>

<style
    lang="scss"
    scoped
>
.administration-settings__container {

  /* OBJECT STYLES CSS START */
  .administration-settings__wrapper {
    .administration-settings__main {
      .administration-settings__main_wrapper {
      }
    }
  }

  .tabs-window {
    .tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;

      .tab {
        padding: 5px 0px;
        cursor: pointer;
        box-sizing: border-box;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }

        .tab-title {
          font-family: Mulish;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #C7C7C7;
        }

        &.active {
          border-bottom: 2px solid #00788C;

          .tab-title {
            color: #00788C;
          }
        }
      }
    }

    .tab-items {
    }
  }

  /* OBJECT STYLES CSS END */

  /* MIXINS STYLES CSS START */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .2s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  /* MIXINS STYLES CSS END */
}
</style>