<template>
  <planDefault>
    <template #headerStatistics>
      <statisticsCircle
          class="assessment-plan__expander__statistics-circle"
          :max="assessmentPlan.totalScore"
          v-model="assessmentPlan.score"
      />
    </template>
    <template #default>
      <Alert
        class="mb-4"
        v-if="assessmentPlan.isCompleted"
        type="warning"
      >
        План оценок завершен
      </Alert>
      <testPlanRows>
        <testPlanRow
            v-for="(row, index) in rows"
            :key="index"
            :tests="row.items"
            :title="row.title"
        />
      </testPlanRows>
    </template>
  </planDefault>
  <router-view/>
</template>

<script>
import planDefault from '@/components/workspace/assessmentPlans/plans/plan/default';
import testPlanRow from '@/components/workspace/assessmentPlans/plans/plan/test/row';
import testPlanRows from '@/components/workspace/assessmentPlans/plans/plan/test/rows';
import mtExpanderItem from '@/components/UI/mtExpander/mtExpanderItem';
import statisticsCircle from '@/components/workspace/assessmentPlans/plans/statisticsCircle';
import {mapGetters, mapState} from 'vuex';
import useToast from "@/components/UI/AppToast/useToast";
import Alert from '@/components/UI/Alert/Alert.vue';

export default {
  name: 'planRespondent',
  computed: {
    ...mapGetters('assessmentPlans/plan', ['rows']),
    ...mapState('assessmentPlans/plan', ['assessmentPlan'])
  },
  components: { Alert, testPlanRows, testPlanRow, planDefault, statisticsCircle},
  watch: {
    assessmentPlan() {
      if(this.assessmentPlan.isCompleted) {
        const {toast} = useToast()
        toast.error('План оценок остановлен')
        this.$router.push({name: 'AssessmentPlansList'})
      }
    }
  }
}
</script>

<style
    lang="scss"
    src="./style.scss"
/>