.assessment-plan {
  &__expander {
    &__statistics-circle {
      min-width: 148px;
      margin: 7.5px;
    }
  }

  @media all and (max-width: 767px) {
    .mt-data-table {
      &__header {
        padding: 0 10px;

        > button {
          width: fit-content;
          height: fit-content;
          background-color: transparent;
        }
      }

      .mt-filters {
        flex-grow: 1;

        &__item {
          margin-left: 17px;
          margin-right: 0;

          &:first-child {
            margin-right: auto;
          }

          svg {
            width: 24px;
            height: 24px;

            path {
              fill: #00788C;
            }
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}