<template>
  <mtPopover
      v-model="computedVisibility"
      style="max-width: none;"
  >
    <div class="mt-replication-popover">
      <mtLiveSearchInput
          class="mt-replication-popover__search"
          v-model="searchPlan"
          :disabled="!plans.length"
          :items="foundPlans"
          @input="searchPlans"
          @selectItem="selectSearchPlan({ plan: $event })"
      />
      <div class="mt-replication-popover__plans">
        <div
            class="mt-replication-popover__plans--item"
            v-for="plan in plans"
            :key="plan.uuid"
            :class="[{ 'mt-replication-popover__plans--item_active': plan.success }]"
            @click="selectPlan({ plan, })"
        >
          <div
              class="mt-replication-popover__plans--title"
              :class="[{ 'mt-replication-popover__plans--title_active': plan.success }]"
          >
            {{ plan.name }}
          </div>
          <svg
              class="mt-replication-popover__plans--close"
              v-show="plan.success"
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              @click.stop="unSelectPlan({ plan, })"
          >
            <path
                d="M6.99999 5.58599L11.95 0.635986L13.364 2.04999L8.41399 6.99999L13.364 11.95L11.95 13.364L6.99999 8.41399L2.04999 13.364L0.635986 11.95L5.58599 6.99999L0.635986 2.04999L2.04999 0.635986L6.99999 5.58599Z"
                fill="white"
            ></path>
          </svg>
        </div>
        <div
            class="mt-replication-popover__plans--stub"
            v-if="!plans.length"
        >
          <mtSvg
              class="mt-replication-popover__plans--stub_loader"
              name="loader"
              color="#C5C7CD"
          />
        </div>
      </div>
      <mtButton
          class="mt-replication-popover__apply"
          :class="[{'mt-replication-popover__apply_disabled': !plans.length}]"
          :preloader="applyLoader"
          @click="apply"
      >
        Применить
      </mtButton>
    </div>
  </mtPopover>
</template>

<script>
import mtPopover from "@/components/UI/mtPopover/mtPopover.vue";
import mtLiveSearchInput from "@/components/composite/mtLiveSearchInput";
import mtButton from "@/components/UI/mtButton";
import mtSvg from '@/components/UI/mtSvg';

export default {
  components: {
    mtPopover,
    mtLiveSearchInput,
    mtButton,
    mtSvg,
  },

  props: {
    modelValue: {
      type: Boolean,
      default: false,
    },
    plans: {
      type: Array,
      default: () => ([]),
    },
    applyLoader: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    searchPlan: null,
    foundPlans: [],
  }),
  computed: {
    computedVisibility: {
      get() {
        return this.modelValue
      },
      set(newVal) {
        this.$emit('update:modelValue', newVal)
      }
    }
  },

  watch: {
    visibility(newVisibility) {
      if (!newVisibility) {
        this.$emit('close');

        this.step = this.FIRSTSTEP;
      }
    },
    step(newStep) {
      if (newStep === this.THIRDSTEP) {

      }
    },
  },
  methods: {
    selectPlan({plan,}) {
      plan.success = true;
    },
    unSelectPlan({plan,}) {
      plan.success = false;
    },
    searchPlans: _.debounce(function () {
      this.foundPlans = this.plans.filter(
          plan => plan.name
              .toLowerCase()
              .includes(this.searchPlan.toLowerCase())
      ).map(plan => plan.name
      );
    }, 400),
    selectSearchPlan({plan,}) {
      this.plans.forEach((_plan) => {
        if (_plan.name === plan) {
          _plan.success = true;
        }
      });
      this.searchPlan = null;
      this.foundPlans = [];
    },
    apply() {
      if (this.plans.length) {
        this.$emit(
            'apply',
            this.plans.filter(plan => plan.success)
        );
      }
    },
  },
}
</script>

<style lang="scss">
.mt-replication-popover {
  width: 408px;

  &__search {
    .mt-livesearch__input {
      width: 100%;
    }

    .mt-livesearch__found-items {
      width: 408px;
    }
  }

  &__plans {
    font-family: 'Mulish';
    font-style: normal;
    margin-top: 15px;
    height: 250px;
    overflow: scroll;

    &--item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 10px 16px;
      border-radius: 4px;
      border: 1.5px solid #DFE0EB;
      margin-top: 5px;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }

      &_active {
        background: #00788C;
        border: 1.5px solid #00788C;
      }
    }

    &--title {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #000000;
      user-select: none;

      &_active {
        color: #FFFFFF;
      }
    }

    &--close {
      cursor: pointer;
      user-select: none;
    }

    &--stub {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .mt-svg__icon {
        width: 50px;
        height: 500px;

        animation: spin infinite linear 1s;

        @keyframes spin {
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  &__apply {
    margin-top: 15px;

    &_disabled {
      background: #C5C7CD !important;
      user-select: none;
    }
  }
}
</style>