<template>
  <steps-nav :activeStep="4"/>
  <div class="assessment-plans-step4">
    <mtTable class="assessment-plans-step4-table">
      <template #actions>
        <div :class="['assessment-plans-step4-table__actions-header']">
          <div :class="['assessment-plans-step4-table__actions-row']">
            <div class="assessment-plans-step4__title">Шаг 4. Участники плана оценки</div>
            <mtPageNav
                :next_preloader="next_preloader"
                @back="onBackClicked"
                @next="onNextClicked"
            >
              <template #back>
                <div class="assessment-plans-step4__back">Назад</div>
              </template>
              <template #next>
                <div class="assessment-plans-step4__save">Сохранить</div>
              </template>
            </mtPageNav>
          </div>
          <div :class="['assessment-plans-step4-table__actions-row']">
            <div
                class="assessment-plans-step4__add"
                @click="onAddNewParticipantClicked"
            >
              <mtIcon
                  name="plus"
                  fill="#fff"
              />
              <span>Добавить участника</span>
            </div>
            <div class="assessment-plans-step4__export">
              <mtSvg
                  name="export"
                  color="#9FA2B4"
              />
            </div>
            <div
                class="assessment-plans-step4__exp-resp"
                @click="toExpResp"
            >
              <mtSvg
                  name="users"
                  color="#9FA2B4"
              />
            </div>
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                :filtersSettings="filtersSettings"
                v-model:sort="sort"
                v-model:search="search"
                @change="updatePlansList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template
            v-for="(col, index) in cols"
            :key="index"
        >
          <div
              class="assessment-plans-step4__header-cell"
              v-if="col.visible"
              :data-index="index"
              :class="[{ 'assessment-plans-step4__header-cell_first': col.stub === 'full_name' }]"
          >
            <span>{{ col.title }}</span>
            <span></span>
          </div>
        </template>
        <div
            class="assessment-plans-step4__header-cell"
            data-index="6"
        ></div>
      </template>
      <template #body>
        <template v-if="participants.length">
          <div
              class="assessment-plans-step4__item"
              v-for="(item, index) in participants"
              :key="index"
              :class="[{ 'assessment-plans-step4__item_selected': item.selected }]"
              v-on:click.ctrl="onRowsSelected({ index })"
              v-on:click.meta="onRowsSelected({ index })"
              @click.exact="onRowSelected({ index })"
          >
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ item.full_name }}</div>
                <div style="font-size: 12px; color: #C5C7CD; font-weight: 400; padding-top: 5px;">
                  {{ item.role?.name }}
                </div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">
                <div>{{ item.role?.name }}</div>
              </div>
            </div>
            <div v-if="cols[2].visible">
              <div data-index="2">
                <mtUserStatus :status="item.status"/>
              </div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">
                <mtLinearProgress :progress="item.progress.current_percent"/>
              </div>
            </div>
            <div v-if="cols[4].visible">
              <div data-index="4">
                <div>
                  <img
                      src="@/assets/img/png/assessment-plans/assessment-plans__edit4_message-logo.png"

                  />
                </div>
              </div>
            </div>
            <div>
              <div data-index="5">
                <div
                    class="assessment-plans-step4__item-action"
                    @click.stop="activateDeleteUserConfirmationDialog({ item })"
                >
                  <svg
                      v-if="!item.delLoader"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                        d="M3 6H5H21"
                        stroke="#9FA2B4"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 11V17"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M10 11V17"
                        stroke="#C5C7CD"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                  </svg>
                  <mtIcon
                      v-else
                      name="preloader"
                      :preloader="item.delLoader"
                      fill="#C5C7CD"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </template>
      <template #footer>
        <div class="assessment-plans-step4__actions">
          <mtButton
              class="assessment-plans-step4__actions-item"
              :preloader="groupSendMsgLoader"
              :class="['assessment-plans-step4__actions_send-msg', { 'assessment-plans-step4__actions-item_active': selectedParticipants?.length }]"
              @click="onGroupSendMsgClicked"
          >
            <template #default>
              <slot name="next">отправка сообщения</slot>
            </template>
          </mtButton>
          <mtButton
              class="assessment-plans-step4__actions-item"
              :preloader="groupSwitchLoader"
              :class="['assessment-plans-step4__actions_switch', { 'assessment-plans-step4__actions-item_active': selectedParticipants?.length }]"
              @click="onGroupSwitchUserClicked"
          >
            <template #default>
              <slot name="next">Вкл/выкл</slot>
            </template>
          </mtButton>
          <mtButton
              class="assessment-plans-step4__actions-item"
              :preloader="groupDelLoader"
              :class="['assessment-plans-step4__actions_delete', { 'assessment-plans-step4__actions-item_active': selectedParticipants?.length }]"
              @click="activateDeleteUsersConfirmationDialog"
          >
            <template #default>
              <slot name="next">Удалить</slot>
            </template>
          </mtButton>
        </div>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updatePlansList"
        />
      </template>
      <template v-if="!participants.length">
        <mtPreloader
            class="preloader_margin"
            v-for="preloader in 5"
            :key="preloader"
            :height="80"
        />
      </template>
    </mtTable>
    <allParticipantsModal
        class="allParticipantsModal"
        :modalVisibility="allParticipantsModal"
        :users="allParticipants"
        :pageProp="pageModal"
        :perpageProp="perpageModal"
        :totalProp="totalModal"
        :loading="searching"
        @search="searchParticipant"
        @close="onCloseModalClicked"
        @add="onAllParticipantsModalUpdated"
        @update="updateAllParticipants({...$event,})"
    />

    <teleport to="body">
      <confirmation-dialog
          v-model="isUserDeletingConfirmationDialogOpen"
          :title="`Удалить участника ${deletingUser?.item?.full_name} из данного плана?`"
          :submit-cb="onDelUserClicked"
      />

      <confirmation-dialog
          v-model="isUsersDeletingConfirmationDialogOpen"
          :title="`Удалить участников из данного плана? Количество: ${selectedParticipants?.length}`"
          :submit-cb="onGroupDelUserClicked"
      />
    </teleport>

  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations, mapState } from "vuex";
import validation from '@/plugins/_validation.js';
import mtPageNav from "@/components/composite/mtPageNav";
import mtTable from "@/components/UI/mtTable/mtTable2";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import mtLinearProgress from "@/components/UI/mtLinearProgress/mtLinearProgress.vue";
import mtUserStatus from "@/components/UI/mtUserStatus/mtUserStatus.vue";
import mtIcon from "@/components/UI/mtIcon/mtIcon.vue";
import mtButton from "@/components/UI/mtButton";
import allParticipantsModal from "@/components/workspace/assessmentPlans/plans/plan/step4/allParticipantsModal";
import mtSvg from '@/components/UI/mtSvg';
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";
import StepsNav from "@/components/workspace/assessmentPlans/plans/plan/stepsNav.vue";

export default {
  components: {
    StepsNav,
    ConfirmationDialog,
    mtPageNav,
    mtTable,
    mtPreloader,
    mtPagination,
    mtFilters,
    mtLinearProgress,
    mtUserStatus,
    mtIcon,
    mtButton,
    allParticipantsModal,
    mtSvg,
  },

  props: {},
  data() {
    return {
      titleActiveSection: "Редактирование",
      max: 0,
      maxPercent: 100,
      unitlist: false,
      currentUnit: "percent",
      next_preloader: false,
      errorsMessages: {},
      cols: [
        {
          title: "Имя",
          stub: "full_name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },

        {
          title: "Роль",
          stub: "role",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },

        {
          title: "Статус",
          stub: "status",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },

        {
          title: "Прогресс",
          stub: "progress",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },

        {
          title: "Сообщения",
          stub: "results",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        },
      ],

      participants: [],
      allParticipants: [],

      /* STATES */
      groupSendMsgLoader: false,
      groupSwitchLoader: false,
      groupDelLoader: false,
      allParticipantsModal: false,

      /* VALIDATION PARAMS */
      percentField: {
        field: 'to',
        rules: [
          {rule: 'required', message: 'Заполните поле \"Название\"',},
          {rule: 'checkStep3PercentVal', message: 'Нарушена граница',},
          {rule: 'checkStep3PercentMax', message: 'Отсутствует максимум (100)',},
        ],
      },
      resultField: {field: 'result', rules: [{rule: 'required', message: 'Заполните поле \"Название\"'}]},
      interpritationField: {
        field: 'interpritation',
        rules: [{rule: 'required', message: 'Заполните поле \"Название\"'}]
      },

      /* REQUEST PARAMS */
      filtersSettings: [],
      page: 1,
      perpage: 15,
      total: 1,
      pageModal: 1,
      perpageModal: 45,
      totalModal: 1,
      filters: [],
      search: {},
      searching: false,

      sort: {
        field: "full_name",
        order: "asc",
      },
      deletingUser: null,
      isUserDeletingConfirmationDialogOpen: false,
      isUsersDeletingConfirmationDialogOpen: false
    };
  },
  computed: {
    ...mapGetters(["assessmentPlanName",]),
    ...mapGetters('assessmentPlans/plan', [
      "interpritation",
      "planEditdataExd"
    ]),
    ...mapState('assessmentPlans/plan', ['isNewPlan']),

    selectedParticipants() {
      return this.participants.filter((participant) => {
        return participant.selected;
      });
    },
    titlesPath() {
      return [
        {
          isLink: true,
          title: "Планы оценок",
          to: "AssessmentPlansList",
          query: {},
        },

        {
          isLink: true,
          title: "Список",
          to: "AssessmentPlansList",
          query: {},
        },

        {
          isLink: true,
          title: this.assessmentPlanName,
          to: "AddEdit1",
          query: {
            plan: this.planEditdataExd.uuid,
          },
        },

        {
          isLink: true,
          title: "Шаг 3",
          to: "AddEdit3",
          query: {
            plan: this.planEditdataExd.uuid,
          },
        },
      ];
    },
  },

  watch: {},
  methods: {
    ...mapActions([
      'setAssessmentPlanName',
      'setTitlesPath',
      'setTitleActiveSection',
    ]),
    ...mapActions('assessmentPlans/plan/participant', [
      'fetchParticipants',
      'fetchAllParticipants',
      'deleteParticipants',
    ]),
    ...mapActions('assessmentPlans/plan', ['deletePlan']),
    ...mapMutations('assessmentPlans/plan', ['updateIsNewPlan']),

    searchParticipant(value) {
      this.searching = true
      this.search.value = value
      this.pageModal = 1
      this.getAllParticipants()
    },

    /* GETTERS */
    getParticipantsList() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            filters: this.filters,
          },
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      this.fetchParticipants({uuid: this.$route.params.uuid, params})
          .then((res) => {


            this.total = res?.data?.meta?.total;
            this.filtersSettings = res.data.meta.filters;

            return (this.participants = res.data.data.map((participant) => {
              return {
                ...participant,
                selected: false,
                delLoader: false,
              };
            }));
          });
    },
    getAllParticipants() {
      let params = {
        page: this.pageModal,
        perpage: this.perpageModal,
        settings: {}
      };

      params = { ...params, settings: { ...this.sort } };

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            filters: this.filters,
          },
        };
      }

      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }
      this.fetchAllParticipants({
        params,
        uuid: this.$route.params.uuid,
      })
          .then((response) => {
            this.totalModal = response.data.meta.total;
            this.allParticipants = response.data?.data.map((participant) => {
              return {
                ...participant,
                selected: false,
              };
            });
            this.searching = false
          });
    },

    /* HANDLERS */
    onAddNewParticipantClicked() {
      this.allParticipantsModal = true;
      this.getAllParticipants();
    },
    onBackClicked() {
      this.$router.push({
        name: "AddEdit3",
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
        },
      });
    },
    onNextClicked() {
      if (!this.next_preloader) {
        this.updateIsNewPlan(false)
        this.$router.push({ name: "AssessmentPlansList" });
      }
    },

    activateDeleteUserConfirmationDialog(payload = {}) {
      this.deletingUser = null
      this.deletingUser = payload
      this.isUserDeletingConfirmationDialogOpen = true
    },

    onDelUserClicked() {
      if (this.deletingUser.item.delLoader) return

      this.deletingUser.item.delLoader = true;

      this.deleteParticipants({
        uuidPlan: this.$route.params.uuid,
        data: [
          this.deletingUser.item.uuid,
        ],
      }).then(() => {
        this.getParticipantsList();
      });
    },
    onRowSelected(payload = {}) {
      this.participants.forEach((plan, index) => {
        if (index === payload.index) {
          this.participants[payload.index].selected = !this.participants[payload.index].selected;
        } else {
          plan.selected = false;
        }
      });
    },
    onRowsSelected(payload = {}) {
      this.participants[payload.index].selected = !this.participants[payload.index].selected;
    },
    onGroupSendMsgClicked(payload = {}) {


      if (
          !this.groupSendMsgLoader
          &&
          this.selectedParticipants.length
      ) {
        this.groupSendMsgLoader = !this.groupSendMsgLoader;
      }
    },
    onGroupSwitchUserClicked(payload = {}) {


      if (
          !this.groupSwitchLoader
          &&
          this.selectedParticipants.length
      ) {
        this.groupSwitchLoader = !this.groupSwitchLoader;
      }
    },

    activateDeleteUsersConfirmationDialog() {
      this.isUsersDeletingConfirmationDialogOpen = true
    },

    onGroupDelUserClicked() {
      if (this.groupDelLoader && !this.selectedParticipants.length) return

      this.groupDelLoader = true;

      this.deleteParticipants({
        uuidPlan: this.$route.params.uuid,
        data: [
          ...this.selectedParticipants.map(participant => participant.uuid),
        ],
      }).then(() => {
        this.resetStateGroupActions();
        this.getParticipantsList();
      });
    },
    onCloseModalClicked() {
      this.search.value = ''
      this.pageModal = 1
      this.getAllParticipants()
      this.allParticipantsModal = false;
      this.allParticipants = [];
    },
    onAllParticipantsModalUpdated() {
      this.search.value = ''
      this.pageModal = 1
      this.getAllParticipants()
      this.allParticipantsModal = false;
      this.getParticipantsList();
    },
    updateAllParticipants({page,}) {
      this.pageModal = page;
      this.allParticipants = [];
      this.getAllParticipants();
    },
    toExpResp() {
      this.$router.push({
        name: 'ExpRespCorrespondence',
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
        },
        // query: {
        //   ...this.$route.query,
        //   plan: this.$route.params.uuid,
        // },
      });
    },

    /* HELPERS */
    updatePlansList(payload = {}) {
      this.participants = [];
      this.getParticipantsList();
    },
    validate(payload = {}) {
      this.errorsMessages[payload.index] = {
        ...this.errorsMessages[payload.index],
        [payload.field]: validation.test({
          rules: payload.rules,
          data: {
            value: this.planEditdataExd.interpritation[payload.index][payload.field],
            index: payload.index,
            max: this.maxPercent,
            store: {
              planEditdataExd: this.planEditdataExd,
            }
          }
        }),
      };

      return this.errorsMessages[payload.index][payload.field].length === 0;
    },
    resetValidateStatus(payload = {}) {
      this.errorsMessages[payload.index] = {
        ...this.errorsMessages[payload.index],
        [payload.field]: [],
      };


    },
    hasError(payload = {}) {
      return this.errorsMessages[payload.index] &&
          this.errorsMessages[payload.index][payload.field] &&
          this.errorsMessages[payload.index][payload.field].length;
    },
    resetStateGroupActions() {
      this.participants.forEach(participant => participant.selected = false);
      this.groupSendMsgLoader = false;
      this.groupSwitchLoader = false;
      this.groupDelLoader = false;
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },
  mounted() {
    this.initBreadcrumbs();
    if(!this.participants.length) this.getParticipantsList();
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
  async unmounted() {
    const isRelationStep = this.$route.name === 'AddEdit1' || this.$route.name === 'AddEdit2' || this.$route.name === 'AddEdit3'
    if(this.isNewPlan && !isRelationStep) {
      await this.deletePlan({uuid: this.planEditdataExd.uuid})
      this.updateIsNewPlan(false)
    }
  }
};
</script>

<style lang="scss">
.assessment-plans-step4 {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__export,
  &__exp-resp {
    padding: 8px;
    margin-left: 10px;
    background: #F0F1F7;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:active {
      background: #D7D7DD;
    }
  }

  &-table {
    //min-width: 970px;
    width: 100%;

    &__actions-header {
      width: 100%;
      padding: 30px 30px 0px 15px;
    }

    &__actions-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__header {
    &-cell {
      padding: 12px 30px;
      vertical-align: middle;
      text-align: center;

      &_first {
        text-align: left;
      }
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px;
    min-height: 90px;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover:not(.assessment-plans-step4__item_selected) {
      background-color: #f7f8ff;
    }

    &_selected {
      background: #e7e9ff;
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 35px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .2px;
      color: #252733;

      & > [data-index="0"] {
        width: 100%;
        font-size: 14px;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-item {
      transition: all 0.2s ease;
      background: #f0f1f7 !important;
      border-radius: 8px !important;
      padding: 5px 12px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      user-select: none;
      color: #9fa2b4 !important;
      margin-left: 10px;
      max-height: 24px !important;
      box-sizing: border-box;
      cursor: unset !important;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        background: #00788c !important;
        color: #ffffff !important;
        cursor: pointer !important;

        &:active {
          background: #066a7e !important;
        }
      }
    }

    &_delete {
      min-width: 83px;
    }

    &_switch {
      min-width: 89px;
    }

    &_send-msg {
      min-width: 174px;
    }
  }

  &__add-tag-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #00788c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  &__tags {
    &-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    &-body {
    }

    &-name {
    }

    &-delete {
    }

    &-add {
      width: 45px;
      height: 45px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background: #00788c;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      margin-left: 10px;

      &:active {
        background: #066a7e;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      margin-top: 15px;

      &:first-child {
        margin-top: 20px;
      }
    }

    &-delete {
      cursor: pointer;
    }
  }

  // OBJECT STYLES START
  &-button {
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: max-content;
      padding: 7px 15px 7px 7px;
      box-sizing: border-box;
      height: 33px;
      background: #00788c;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
      user-select: none;

      &:active {
        background: #005361;
      }
    }

    &__logo {
      width: 17px;
      height: 17px;
    }

    &__txt {
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 15px;
    }
  }

  .edit-general-info-block {
    &__error-message {
      color: #C24020;
      height: 20px;
      display: flex;
      align-items: center;
      font-size: 12px !important;
      font-weight: normal !important;
    }

    &__label {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #7C869D;
      margin-bottom: 10px;

      &_required {
        max-width: max-content;
        position: relative;

        &::after {
          content: "*";
          color: red;
          right: -12px;
          top: -2px;
          position: absolute;
        }
      }
    }
  }

  // OBJECT STYLES END

  /* MIXINS STYLES CSS START */
  .preloader_margin {
    margin: 10px 10px 0px 10px;
  }

  .mt-table {
    padding: 0 !important;

    &__actions {
      padding: 0 !important;
    }

    &__footer {
      padding: 30px !important;
    }
  }

  .border-field {
    border-radius: 12px !important;
  }

  .font-field {
    input {
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .2px;
      color: #252733;
    }

    &_bold {
      input {
        font-weight: bold;
      }
    }
  }

  .allParticipantsModal {
    .mt-table {
      padding: 0 !important;

      &__actions {
        padding: 0 !important;
        display: none !important;
      }

      &__footer {
        padding: 20px 10px !important;

        .mt-pagination {
          margin-left: 20px !important;
        }
      }
    }
  }

  &__back,
  &__save {
    margin: 7px 15px;
  }

  .mt-page-nav {
    &__button {
      &-next {
        width: 123px !important;
        height: 32px !important;
      }
    }
  }

  /* MIXINS STYLES CSS END */
}
</style>