<template>
  <div class="assessment-plans__exp-resp-correspondence">
    <div class="header">
      <div class="header__inner">
        <div class="page-nav">
          <div
              class="button button-prev"
              @click="prevPage"
          >
            <div class="button__item">
              <span class="button__txt">Назад</span>
            </div>
          </div>

          <div
              class="button"
              @click="save"
          >
            <div class="button__item">
              <span class="button__txt">Сохранить</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="content">
        <div class="experts">
          <div class="experts__header">
            <div class="title">
              <div class="title__inner">
                <h3 class="title__inner-h3">Эксперты</h3>
              </div>
            </div>

            <div class="settings">
              <span
                  class="settings__item settings__item-txt settings__item-search_logo">
                Поиск
              </span
              >
              <span class="settings__item settings__item-txt settings__item-filtet_logo">
                Фильтры
              </span
              >
            </div>
          </div>

          <div class="experts__inner">
            <div class="experts__content">
              <div class="experts__list">
                <div
                    class="expert"
                    v-for="expert in experts"
                    :key="expert.uuid"
                    :data-uuid="expert.uuid"
                    @click="showRespondents(expert.uuid)"
                >
                  <div class="expert__inner">
                    <div class="expert__full-name">
                      <span class="expert__full-name_title">
                        {{ expert.name }}
                      </span>
                    </div>

                    <div class="expert__resp-count">
                      {{
                        expert.users.filter(function (user) {
                          return user.active;
                        }).length
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="respondents">
          <div class="respondents__header">
            <div class="title">
              <div class="title__inner">
                <h3 class="title__inner-h3">Респонденты</h3>
              </div>
            </div>

            <div class="settings">
              <span class="settings__item settings__item-txt settings__item-search_logo">
                Поиск
              </span
              >
              <span class="settings__item settings__item-txt settings__item-filtet_logo">
                Фильтры
              </span
              >
            </div>
          </div>

          <div class="respondents__inner">
            <div class="respondents__content">
              <div class="respondents__list">
                <div
                    class="respondent"
                    v-for="respondent in respondents"
                    :key="respondent.uuid"
                >
                  <div class="respondent__inner">
                    <div class="checkbox">
                      <input
                          :id="respondent.uuid"
                          type="checkbox"
                          class="checkbox-item"
                          v-model="respondent.active"
                      />
                      <label
                          :for="respondent.uuid"
                          class="checkbox-item__label"
                      />
                    </div>

                    <div class="respondent__full-name">
                      <span class="respondent__full-name_title">
                        {{ respondent.name }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
  props: {},

  data() {
    return {
      titleActiveSection: "Соответствие экспертов и респондентов",
      experts: [],
      selExpIndex: 0,
    };
  },

  computed: {
    ...mapGetters(["assessmentPlanName"]),

    respondents() {
      return this.experts[this.selExpIndex]
          ? this.experts[this.selExpIndex].users
          : [];
    },
  },

  methods: {
    ...mapActions(["setAssessmentPlanName", "setTitleActiveSection"]),

    prevPage() {
      this.$router.push({
        name: "AddEdit4",
        params: {
          uuid: this.$route.params.uuid,
        },
        query: {
          ...this.$route.query,
        },
      });
    },

    showRespondents(uuid) {


      this.selExpIndex = this.$lodash.findIndex(this.experts, {uuid});
      this.$lodash.forEach(
          document.querySelectorAll(`.expert`),

          function (value) {
            value.classList.remove("selected");
          }
      );

      document
          .querySelector(`.expert[data-uuid="${uuid}"]`)
          .classList.add("selected");
    },

    save() {


      let experts = [];

      for (let expIndex = 0; expIndex < this.experts.length; expIndex++) {
        let users = [];

        for (
            let usrIndex = 0;
            usrIndex < this.experts[expIndex].users.length;
            usrIndex++
        ) {
          if (this.experts[expIndex].users[usrIndex].active) {
            users.push(this.experts[expIndex].users[usrIndex]);
          }
        }

        if (users.length) {
          experts.push({
            uuid: this.experts[expIndex].uuid,
            users: users,
          });
        }
      }


      if (experts.length) {
        this.$workspaceApi.assessmentPlans.expResp
            .setExpResp(this.$route.params.uuid, experts)
            .then((response) => {
              // FIXME logs muss später entfernt werden


              //this.experts = response.data;
              this.prevPage();
            });
      }
    },

    getPlan(uuid) {
      this.$workspaceApi.assessmentPlans.planListTable
          .getPlanEditdataExd(uuid)
          .then((response) => {
            let data = response.data;
            this.setAssessmentPlanName(data.name ?? "Без имени");
          });
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      // this.$breadcrumbs.init({
      //   breadcrumbs: await this.$breadcrumbs.setValue({
      //     page: this.$route.name,
      //     value: this.$route.query.planName,
      //     breadcrumbs: this.$route.meta.breadcrumbs,
      //   })
      // });

      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setQuerySettings({
          value: "Шаг 4",
          breadcrumbs: await this.$breadcrumbs.setValue({
            page: this.$route.name,
            value: this.$route.query.planName,
            breadcrumbs: this.$route.meta.breadcrumbs,
          }),
          query: this.$route.query,
          params: {
            uuid: this.$route.params.uuid,
          },
        }),
      });
    },
  },

  created() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.initBreadcrumbs();
    this.getPlan(this.$route.params.uuid);

    this.$workspaceApi.assessmentPlans.expResp
        .getExpResp(this.$route.params.uuid)
        .then((response) => {


          this.experts = response.data.data;
        });
  },
  mounted() {
  },
};
</script>

<style
    scoped
    lang="scss"
>
.assessment-plans__exp-resp-correspondence {
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.header {
  padding: 30px 25px 30px 25px;

  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;

    .page-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .button {
        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }
  }
}

.body {
  height: 100%;

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0px 18px 64px 18px;

    .experts {
      width: 100%;
      border: 1px solid #e7e8f0;
      border-radius: 8px;

      .experts__header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        padding: 24px 25px 25px 20px;

        .settings {
          margin: auto 0;

          .settings__item {
            padding-right: 35px;
            cursor: pointer;

            &:last-child {
              padding-right: 0;
            }
          }

          .settings__item-txt {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #4b506d;

            &:hover {
              color: #00788c;
            }
          }

          .settings__item-search_logo {
            background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-search.svg) no-repeat left center;
            padding-left: 24px;

            &:hover {
              background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-search_hover.svg) no-repeat left center;
            }
          }

          .settings__item-filtet_logo {
            background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-filter.svg) no-repeat left center;
            padding-left: 24px;

            &:hover {
              background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-filter_hover.svg) no-repeat left center;
            }
          }
        }
      }

      .experts__inner {
        overflow-y: scroll;
        height: 580px;
        padding-left: 20px;
        padding-right: 20px;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          //background: #000;
        }

        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border: 1px solid #dfe0eb;
          box-sizing: border-box;
        }
      }
    }

    .respondents {
      width: 100%;
      border: 1px solid #e7e8f0;
      border-radius: 8px;
      margin-left: 6px;

      .respondents__header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        padding: 24px 25px 25px 20px;

        .settings {
          margin: auto 0;

          .settings__item {
            padding-right: 35px;
            cursor: pointer;

            &:last-child {
              padding-right: 0;
            }
          }

          .settings__item-txt {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #4b506d;

            &:hover {
              color: #00788c;
            }
          }

          .settings__item-search_logo {
            background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-search.svg) no-repeat left center;
            padding-left: 24px;

            &:hover {
              background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-search_hover.svg) no-repeat left center;
            }
          }

          .settings__item-filtet_logo {
            background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-filter.svg) no-repeat left center;
            padding-left: 24px;

            &:hover {
              background: url(../../../../../assets/img/svg/assessment-plans/assessment-plans__header-filter_hover.svg) no-repeat left center;
            }
          }
        }
      }

      .respondents__inner {
        overflow-y: scroll;
        height: 580px;
        padding-left: 20px;
        padding-right: 20px;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          //background: #000;
        }

        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border: 1px solid #dfe0eb;
          box-sizing: border-box;
        }
      }
    }
  }
}

/* OBJECT STYLES CSS */
.button {
  .button__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 33px;
    background: #00788c;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;

    &:active {
      background: #005361;
    }

    .button__txt {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.checkbox {
  .checkbox-item {
    display: none;

    & + label {
      width: 20px;
      height: 20px;
    }

    & + label::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      background: #ffffff;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      cursor: pointer;
    }

    &:checked + label::before {
      border-color: #00788c;
      background: #00788c;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70% 70%;
      background-image: url("../../../../../assets/img/svg/assessment-plans/assessment-plans__table_row_settings_checkbox.svg");
    }
  }
}

.button-prev {
  .button__item {
    width: 100px;
    background: #e6f2f4;

    &:active {
      background: #cde3e7 !important;
    }

    .button__txt {
      color: #00788c;
    }
  }
}

.title {
  .title__inner {
    .title__inner-h3 {
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
    }
  }
}

.field {
  margin-bottom: 30px;

  .field__title {
    padding-bottom: 10px;
  }

  &:last-child .field__inner {
    margin-bottom: 0px;
  }

  .field__inner {
    width: 327px;
    height: 60px;
    background: #f0f1f7;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    box-sizing: border-box;

    .field__inner_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .field__content {
        background: transparent;
        width: 287px;
        border: 0px;
      }
    }
  }

  .field-text {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7c869d;
  }
}

.expert {
  border: 1.5px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;
  height: 45px;
  cursor: pointer;

  /*&:last-child {
        margin: 0;
      }*/

  .expert__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    .expert__full-name {
      margin-left: 12px;
    }

    .expert__resp-count {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #7c869d;
    }
  }
}

.respondent {
  border: 1.5px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;

  height: 45px;

  /*&:last-child {
        margin: 0;
      }*/

  .respondent__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;

    .respondent__full-name {
      margin-left: 12px;
    }
  }
}

/* OBJECT STYLES CSS */

.selected {
  background: #f7f8ff;
}
</style>