<template>
  <component :is="layout">
    <router-view />
    <app-toast />
  </component>
</template>

<script>
import "external-svg-loader";
import WorkspaceMainLayout from "@/components/layouts/WorkspaceMainLayout";
import AuthMainLayout from "@/components/layouts/AuthMainLayout";
import AppToast from "./components/UI/AppToast/AppToast.vue";

export default {
  components: {
    AppToast,
    WorkspaceMainLayout,
    AuthMainLayout,
  },

  computed: {
    layout() {
      return this.$route.meta.layout;
    },
  },

  mounted() {

  },
};
</script>


<style lang="scss">
@import "./assets/scss/reset";
@import "./assets/scss/partials/_utils";
@import "./assets/scss/app";
</style>
