<template>
  <div>
    <mtLoadingAnimationLinear v-if="!loaded"/>
    <div
        class="assessment-plan"
        v-else
    >
      <mtExpander class="assessment-plan__expander">
        <mtExpanderItem>
          <template #header>
            <h3 class="assessment-plan__expander__title">{{ assessmentPlan.name }}</h3>
            <div
                class="assessment-plan__expander__alarm"
                v-if="assessmentPlan.dateTo || assessmentPlan.dateFrom"
            >
              <mtSvg
                  class="assessment-plan__expander__alarm__icon"
                  name="timerfilled"
                  color="#fff"
              />
              Выполнить
              <template v-if="assessmentPlan.dateFrom">&nbsp;с {{ assessmentPlan.dateFrom }}</template>
              <template v-if="assessmentPlan.dateTo">&nbsp;до {{ assessmentPlan.dateTo }}</template>
            </div>
          </template>
          <template #appendHeader>
            <div class="assessment-plan__expander__statistics">
              <statisticsLine
                  :height="8"
                  :progress="assessmentPlan.progress"
                  background-color="#fff"
              />
              <slot
                  name="headerStatistics"
                  v-bind:item="assessmentPlan"
              />
            </div>
          </template>
          <template #content>
            <div class="assessment-plan__expander__text">{{ assessmentPlan.description }}</div>
          </template>
        </mtExpanderItem>
        <mtExpanderItem v-if="assessmentPlan.files?.length">
          <template #header>
            <h3 class="assessment-plan__expander__title">Прикрепленные файлы</h3>
          </template>
          <template #content>
            <fileDownloadCard
                :links="assessmentPlan.files"
                linkValue="originalUrl"
                linkLabel="fileName"
            />
          </template>
        </mtExpanderItem>
      </mtExpander>
      <slot v-bind="assessmentPlan"/>
    </div>
  </div>
</template>

<script>
import assessmentPlanRows from '@/components/workspace/assessmentPlans/plans/plan/test/rows';
import statisticsLine from '@/components/workspace/assessmentPlans/plans/statisticsLine';
import mtLoadingAnimationLinear from '@/components/UI/mtLoadingAnimationLinear/mtLoadingAnimationLinear.vue';
import mtSvg from '@/components/UI/mtSvg';
import mtExpanderItem from '@/components/UI/mtExpander/mtExpanderItem';
import mtExpander from '@/components/UI/mtExpander/mtExpander';
import {mapActions, mapGetters, mapState} from 'vuex';
import FileDownloadCard from '@/components/workspace/assessmentPlans/plans/fileDownloadCard';


export default {
  name: 'planDefault',
  components: {FileDownloadCard, mtExpander, mtExpanderItem, statisticsLine, mtSvg, mtLoadingAnimationLinear},
  data: () => ({
    loaded: false,
  }),
  computed: {
    ...mapState('assessmentPlans/plan', ['assessmentPlan']),
  },
  methods: {
    ...mapActions('assessmentPlans/plan', ['fetchPlan']),
    async initBreadcrumbs() {
      let breadcrumbs = this.$route.meta.breadcrumbs
      let breadcrumbIndexForItem = breadcrumbs.findIndex(item => item.isDynamic);
      breadcrumbs[breadcrumbIndexForItem].value = this.assessmentPlan.name;
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: breadcrumbs
        })
      });
    },

    getPlan(params) {
      let data = {};
      if (params) {
        data = {settings: {...params.sort}}
        if (Object.keys(params.filters).length) {
          data = {
            ...data,
            settings: {
              ...data.settings,
              filters: params.filters,
            },
          };
        }
        if (!!params?.search?.value) {
          data.settings['value'] = params.search.value
          if (!!params?.search?.search) data.settings['search'] = params.search.search

        }
      }
      this.fetchPlan({
        uuid: this.$route.params.planUuid,
        params: data,
      })
          .finally(() => {
            this.loaded = true;
            this.initBreadcrumbs();
          });
    }

  },
  created() {
    this.getPlan()
  },

}
</script>

<style
    lang="scss"
    src="./style.scss"
/>