.assessment-plan {
  .statistics-circle__desc {
    &__desc {
      @include max-sm {
        display: flex;
        align-items: center;
      }
    }
    &__subtitle {
      @include max-sm {
        margin-left: 6px;
      }
    }
  }
  &__expander {
    margin-bottom: 20px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.4px;
      color: #252733;
    }

    &__alarm {
      width: fit-content;
      background: #FAB56E;
      border-radius: 100px;
      padding: 5px 12px;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin-top: 8px;

      &__icon {
        display: flex;
        margin-right: 10px;
      }
    }

    &__statistics {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;

      @media screen and (max-width: 992px){
        position: unset;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9FA2B4;

      ul {
        list-style-type: disc;
        padding-left: 20px;
      }
    }
  }

  &-cards-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    @include max-sm {
      //margin: 0;
    }
  }

  &__submit-btn {
    margin-top: 20px;
  }
}

@media all and (max-width: 767px) {
  .assessment-plan {
    &__expander {
      .expander {
        &__item {
          &__title {
            align-self: flex-start;
          }
        }
      }

      &__statistics {
        flex-direction: column;
      }
    }
  }
}

@media all and (max-width: 575px) {
  .assessment-plan {
    &__expander {
      &__statistics {
        flex-grow: 1;
        margin: 16px 0 0;

        &-circle {
          margin: 7.5px 0!important;
        }
      }
    }

    &__submit-btn {
      width: 100%;
    }
  }
}