<template>
  <mtExpanderItem>
    <template #header>
      <h3 class="assessment-plan__expander__title">{{ title }}</h3>
    </template>
    <template #content>
      <div class="assessment-plan-cards-row">
        <testCard
            v-for="test in tests"
            :key="test.uuid"
            :test="test"
        />
      </div>
    </template>
  </mtExpanderItem>
</template>

<script>
import mtExpanderItem from '@/components/UI/mtExpander/mtExpanderItem';
import testCard from '@/components/workspace/assessmentPlans/plans/plan/test/card';

export default {
  name: "testPlanRow",
  components: {mtExpanderItem, testCard},
  props: {
    title: String,
    tests: Array
  }
}
</script>

<style scoped>

</style>