<template lang="pug">
div(
  ref='showMoreText'
  :class=[
    'show-more-text'
  ]
)
  .show-more-text__content(
    :style="computedStyleForContent"
    ref="content"
  )
    slot

  .show-more-text-full(
    v-if="contentNotShowingFully"
  )
    slot
</template>
<script>
export default {
  name: "mtShowMoreTextDesktop",
  props: {
    height: {
      type: String,
      default: ''
    }
  },
  data: () => {
    return {
      dataHeight: 0,
      scrollHeight: 0,
      contentNotShowingFully: false,
    }
  },
  computed: {
    computedStyleForContent() {
      return {
        height: this.height
      }
    }
  },
  mounted () {
    const content = this.$refs.content;
    const dataHeight = content.clientHeight;
    const scrollHeight = content.scrollHeight;

    if(scrollHeight > dataHeight) {
      this.$refs.showMoreText.classList.add('show-more-text_hoverable');
      this.contentNotShowingFully = true;
    }
  }
}
</script>

<style lang="scss" src="./style.scss"/>