.show-more-text {
  position: relative;

  &__content {
    overflow: hidden;
  }

  &_hoverable {
    cursor: help;

    &:hover {
      .show-more-text-full {
        display: block;
        white-space: pre-wrap;
      }
    }

    .show-more-text__content {
      &:after {
        content: '...';
        position: absolute;
        bottom: -3px;
        right: 0;
        background: #fff;
        padding: 3px;
      }
    }
  }
}

.show-more-text-full {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 24px;
  border: 1px solid $green;
  border-radius: 12px;
  background: #fff;
  z-index: 5;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 6px 10px rgba(124, 124, 124, 0.25);
}