<template>
  <div class="test-library-sessions__wrapper test-library-sessions__home">
    <mtTable class="test-library-sessions__table">
      <template #actions>
        <div style="width: 100%;">
          <div style="display: flex; align-items: center; width: 100%; height: 60px; padding-bottom: 10px;">
            <svg
                class="test-library-sessions__export"
                width="36"
                height="33"
                viewBox="0 0 36 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                @click="exportSessionsHandler"
            >
              <rect
                  class="test-library-sessions__export-rect"
                  width="36"
                  height="33"
                  rx="8"
                  fill="#F0F1F7"
              />
              <path
                  d="M24.2754 11.4064H20.955V13.3767H24.2754C25.2632 13.3767 26.0293 13.8808 26.0293 14.3149V23.0524C26.0293 23.4862 25.2632 23.991 24.2754 23.991H11.724C10.7365 23.991 9.97035 23.4862 9.97035 23.0524V14.3159C9.97035 13.8818 10.7365 13.3774 11.724 13.3774H15.044V11.407H11.724C9.63572 11.407 8 12.6848 8 14.3159V23.0528C8 24.6842 9.63572 25.9613 11.724 25.9613H24.276C26.3636 25.9613 28 24.6836 28 23.0528V14.3159C27.9997 12.6841 26.364 11.4064 24.2754 11.4064Z"
                  fill="#9FA2B4"
              />
              <path
                  d="M20.9807 15.5246C20.7285 15.5246 20.4766 15.6211 20.2842 15.8135L19.0508 17.0467V12.7687V10.7984V7.0235C19.0508 6.47969 18.6097 6.03833 18.0656 6.03833C17.5215 6.03833 17.0804 6.47969 17.0804 7.0235V10.798V12.7684V17.113L15.7803 15.8132C15.5879 15.6208 15.3357 15.5242 15.0838 15.5242C14.8319 15.5242 14.5797 15.6208 14.3873 15.8132C14.0024 16.1974 14.0024 16.8214 14.3873 17.2059L17.3287 20.1473C17.5211 20.3398 17.7733 20.4353 18.0249 20.4353C18.0275 20.4353 18.0301 20.4353 18.0324 20.4353C18.0347 20.4353 18.0374 20.4353 18.0397 20.4353C18.2919 20.4353 18.5434 20.3398 18.7358 20.1473L21.6772 17.2059C22.0621 16.8214 22.0621 16.1974 21.6772 15.8132C21.4848 15.6211 21.2333 15.5246 20.9807 15.5246Z"
                  fill="#9FA2B4"
              />
            </svg>
            <mtFilters
                style="margin-left: auto;"
                v-model:cols="cols"
                v-model:filters="filters"
                v-model:sort="sort"
                v-model:search="search"
                :filtersSettings="filtersSettings"
                @change="updatePlansList"
            />
          </div>
        </div>
      </template>
      <template #header>
        <template
            v-for="(col, index) in cols"
            :key="index"
        >
          <div
              class="test-library-sessions__header-cell"
              v-if="col.visible && col.stub !== 'MaintestName'"
              :data-index="index"
              :class="[{ 'test-library-sessions__header-cell_first': col.stub === '__name' }]"
          >
            <span class="test-library-sessions__header-cell__title">{{ col.title }}</span>
            <span></span>
          </div>
        </template>
      </template>
      <template #body>
        <template v-if="sessions.length">
          <div
              v-for="(item, index) in sessions"
              :key="index"
              :class="['test-library-sessions__item', { 'test-library-sessions__item_selected': item.selected }]"
              @click.ctrl="onRowGroupSelected({ index })"
              @click.meta="onRowGroupSelected({ index })"
              @click.exact="onRowSingleSelected({ index })"
          >
            <div v-if="cols[0].visible">
              <div data-index="0">
                <div>{{ item.TestTitle }}</div>
              </div>
            </div>
            <div v-if="cols[1].visible">
              <div data-index="1">
                <div>{{ item.plan }}</div>
              </div>
            </div>
            <div v-if="cols[2].visible">
              <div data-index="2">{{ item.full_name }}</div>
            </div>
            <div v-if="cols[3].visible">
              <div data-index="3">{{ item.branch }}</div>
            </div>
            <div v-if="cols[4].visible">
              <div
                  data-index="4"
                  :class="['test-library-sessions__status', getSessionStatusClass({ slug: item.status })]"
              >
                {{ getSessionStatusTitle({slug: item.status}) }}
              </div>
            </div>
            <div v-if="cols[5].visible">
              <div data-index="5">{{ item.progress ? `${item.progress} %` : '0 %' }}</div>
            </div>
            <div v-if="cols[6].visible">
              <div data-index="6">{{ item.duration }}</div>
            </div>
            <div v-if="cols[7].visible">
              <div data-index="7">{{ item.start_date }}</div>
            </div>
            <div v-if="cols[8].visible">
              <div data-index="8">{{ item.end_date }}</div>
            </div>
          </div>
        </template>
      </template>
      <template v-if="!sessions.length">
        <mtPreloader
            v-for="preloader in perpage"
            :key="preloader"
            class="preloader_margin"
            :height="80"
        />
      </template>
      <template #footer>
        <div class="test-library-sessions__actions">
          <mtButton
              class="test-library-sessions__actions-item"
              :preloader="cancelSessionsLoader"
              :class="['test-library-sessions__actions_send-msg', { 'test-library-sessions__actions-item_active': selectedPlans?.length }]"
              @click="activateCancelSessionConfirmationDialog"
          >
            Аннулировать
          </mtButton>
          <mtButton
              class="test-library-sessions__actions-item"
              :preloader="completeSessionsLoader"
              :class="['test-library-sessions__actions_switch', { 'test-library-sessions__actions-item_active': selectedPlans?.length }]"
              @click="activateCompleteSessionConfirmationDialog"
          >
            Дозавершить
          </mtButton>
          <mtButton
              class="test-library-sessions__actions-item"
              :preloader="deleteSessionsLoader"
              :class="['test-library-sessions__actions_delete', { 'test-library-sessions__actions-item_active': selectedPlans?.length }]"
              @click="activateDeleteSessionConfirmationDialog"
          >
            Удалить
          </mtButton>
        </div>
        <mtPagination
            v-model:page="page"
            v-model:perpage="perpage"
            :total="total"
            style="margin-left: auto;"
            @change="updatePlansList"
        />
      </template>
    </mtTable>

    <teleport to="body">
      <confirmation-dialog
          v-model="isCancelSessionConfirmationDialogOpen"
          :title="`Аннулировать сеансы? Количество: ${selectedPlans?.length}`"
          :submit-cb="cancelSessions"
      />

      <confirmation-dialog
          v-model="isCompleteSessionConfirmationDialogOpen"
          :title="`Дозавершить сеансы? Количество: ${this.selectedPlans?.length}`"
          :submit-cb="completeSessions"
      />

      <confirmation-dialog
          v-model="isDeleteSessionConfirmationDialogOpen"
          :title="`Удалить сеансы? Количество: ${this.selectedPlans?.length}`"
          :submit-cb="deleteSessionsGroup"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import mtTable from "@/components/UI/mtTable/mtTable2";
import mtPagination from "@/components/UI/mtPagination/mtPagination.vue";
import mtFilters from "@/components/UI/mtFilters/mtFilters.vue";
import mtPreloader from "@/components/UI/mtPreloader/mtPreloader.vue";
import mtButton from "@/components/UI/mtButton";
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  props: {},
  components: {
    ConfirmationDialog,
    mtTable,
    mtPagination,
    mtFilters,
    mtPreloader,
    mtButton,
  },
  data() {
    return {
      titleActiveSection: "Сеансы",
      titlesPath: [
        {
          isLink: true,
          title: "Планы оценок",
          routeName: "AssessmentPlansList",
          query: {},
        },
        {
          isLink: true,
          title: "Список",
          routeName: "AssessmentPlansList",
          query: {},
        },
      ],
      showTagsPopup: false,
      cols: [
        {
          title: "Название теста",
          stub: "TestTitle",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "План оценки",
          stub: "plan",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "ФИО",
          stub: "full_name",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Филиал",
          stub: "branch",
          visible: true,
          filter: "string",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Статус",
          stub: "status",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Прогресс",
          stub: "progress",
          visible: true,
          filter: "range",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Длительность",
          stub: "duration",
          visible: true,
          filter: "time",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Время начала",
          stub: "start_date",
          visible: true,
          filter: "datetime",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Время завершения",
          stub: "end_date",
          visible: true,
          filter: "datetime",
          filterable: true,
          sortable: true,
          showable: true,
        },
        {
          title: "Тесты",
          stub: "MaintestName",
          visible: true,
          filter: "list",
          filterable: true,
          sortable: false,
          showable: false,
        },
      ],
      filtersSettings: [],
      page: 1,
      perpage: 15,
      total: 1,
      sessions: [],
      filters: [],
      search: {},
      sort: {},
      searchAddTag: "",
      cancelSessionsLoader: false,
      completeSessionsLoader: false,
      deleteSessionsLoader: false,
      sessionStatusTitles: {
        prepared: 'зарезервированный',
        active: 'активный',
        passive: 'пассивный',
        suspended: 'приостановленный',
        leaved: 'прерванный',
        outdated: 'просроченный',
        cancelled: 'аннулированный',
        completed: 'завершенный',
        acomplished: 'дозавершенный',
        refused: 'отклоненный',
        imported: 'импортированный',
        processing: 'в обработке',
      },
      isCancelSessionConfirmationDialogOpen: false,
      isCompleteSessionConfirmationDialogOpen: false,
      isDeleteSessionConfirmationDialogOpen: false
    };
  },
  computed: {
    selectedPlans() {
      return this.sessions.filter((plan) => {
        return plan.selected;
      });
    },
  },
  methods: {
    ...mapActions([
      "setTitlesPath",
      "setTitleActiveSection",
      "setAssessmentPlanName",
    ]),
    ...mapActions('testLibrary/sessions', [
      'fetchSessions',
      'setSessionsStatus',
      'deleteSessions',
      'exportSessions',
    ]),

    /* GETTERS */
    getSessions() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            ...params.settings,
            filters: this.filters,
          },
        };
      }
      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      this.fetchSessions(params)
          .then((res) => {
            this.total = res?.data?.meta?.total;
            this.filtersSettings = res.data.meta.filters;

            return (this.sessions = res.data.data.map((plan) => {
              return {
                ...plan,
                selected: false,
                delLoader: false,
              };
            }));
          })
          .then((plans) => {


            this.sessions = plans;

            // this.sessions = plans.filter((plan) => plan.name);

            // return plans.filter((plan) => !plan.name);
          });
      // .then((plansToDelete) => {


      //   if (plansToDelete.length) {
      //     this.deletePlans({
      //       data: {
      //         plans: plansToDelete,
      //       },
      //     });
      //   }
      // });
    },
    getSessionStatusTitle({slug,}) {
      return this.sessionStatusTitles[slug] ? this.sessionStatusTitles[slug] : slug;
    },
    getSessionStatusClass({slug,}) {
      return {
        'test-library-sessions__status-prepared': slug === 'prepared',
        'test-library-sessions__status-active': slug === 'active',
        'test-library-sessions__status-passive': slug === 'passive',
        'test-library-sessions__status-suspended': slug === 'suspended',
        'test-library-sessions__status-leaved': slug === 'leaved',
        'test-library-sessions__status-outdated': slug === 'outdated',
        'test-library-sessions__status-cancelled': slug === 'cancelled',
        'test-library-sessions__status-completed': slug === 'completed',
        'test-library-sessions__status-acomplished': slug === 'acomplished',
        'test-library-sessions__status-refused': slug === 'refused',
        'test-library-sessions__status-imported': slug === 'imported',
        'test-library-sessions__status-processing': slug === 'processing',
      };
    },

    /* SETTERS */

    /* HANDLERS */
    onRowGroupSelected(payload = {}) {
      this.sessions[payload.index].selected = !this.sessions[payload.index].selected;
    },
    onRowSingleSelected(payload = {}) {
      this.sessions.forEach((plan, index) => {
        if (index === payload.index) {
          this.sessions[payload.index].selected = !this.sessions[payload.index].selected;
        } else {
          plan.selected = false;
        }
      });
    },

    activateCancelSessionConfirmationDialog () {
      this.isCancelSessionConfirmationDialogOpen = true
    },

    async cancelSessions() {
      if (this.cancelSessionsLoader && !this.selectedPlans.length) return

      this.cancelSessionsLoader = true;

      await this.setSessionsStatus({
        status: 'cancel',
        sessions: this.selectedPlans.map(session => session.uuid),
      });
      await this.getSessions(); // FIXME

      this.cancelSessionsLoader = false;
    },

    activateCompleteSessionConfirmationDialog () {
      this.isCompleteSessionConfirmationDialogOpen = true
    },

    async completeSessions() {
      if (this.completeSessionsLoader && !this.selectedPlans.length) return

      this.completeSessionsLoader = true;

      await this.setSessionsStatus({
        status: 'acomplish',
        sessions: this.selectedPlans.map(session => session.uuid),
      });
      await this.getSessions(); // FIXME

      this.completeSessionsLoader = false;
    },

    activateDeleteSessionConfirmationDialog () {
      this.isDeleteSessionConfirmationDialogOpen = true
    },

    async deleteSessionsGroup() {
      if (this.deleteSessionsLoader && !this.selectedPlans.length) return

      this.deleteSessionsLoader = true;

      await this.deleteSessions({sessions: this.selectedPlans.map(session => session.uuid),});
      await this.getSessions(); // FIXME

      this.deleteSessionsLoader = false;
    },
    exportSessionsHandler() {
      let params = {
        page: this.page,
        perpage: this.perpage,
      };

      params = {...params, settings: {...this.sort}};

      if (this.filters.length) {
        params = {
          ...params,
          settings: {
            filters: this.filters,
          },
        };
      }
      if (!!this.search.value) {
        params.settings["value"] = this.search.value;

        if (!!this.search.search) {
          params.settings["search"] = this.search.search;
        }
      }

      this.exportSessions(params).then(response => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');

        link.href = url;

        let fileName = `sessions__${new Date().toLocaleDateString()}-${new Date().toLocaleTimeString().replace(/:/g, '_')}.xlsx`;

        link.setAttribute('download', fileName); //or any other extension
        document.body.appendChild(link);
        link.click();
      });
    },

    /* HELPERS */
    updatePlansList(payload = {}) {
      this.sessions = [];
      this.getSessions();
    },

    /* ACTIONS */
    async initBreadcrumbs() {
      this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: this.$route.meta.breadcrumbs,
        })
      });
    },
  },
  created() {
    this.initBreadcrumbs();

    if (this.$route.params.filters) {
      this.filters = [
        ...this.filters,
        ...JSON.parse(this.$route.params.filters),
      ];
    }

    this.getSessions();
  },
  mounted() {
    this.setTitleActiveSection(this.titleActiveSection);
    this.setTitlesPath(this.titlesPath);
  },
};
</script>

<style lang="scss">
.test-library-sessions {
  &__title {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
    padding-bottom: 10px;
  }

  &__add {
    background-color: #00788c;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;

    & span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }

  &__table {
    // min-width: 1146px;
  }

  &__header {
    &-cell {
      padding: 12px 30px;
      vertical-align: middle;
      text-align: center;
      background: #00788c;

      &__title {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
      }

      &_first {
        text-align: left;
      }
    }
  }

  &__body {
    &-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &-tag {
      margin-right: 5px;
    }
  }

  &__item {
    display: table-row;
    align-items: center;
    flex-grow: 1;
    //padding: 0 30px;
    //min-height: 90px;
    border-bottom: solid #dfe0eb 1px;
    color: #252733;

    &:last-child {
      border-bottom: 0;
    }

    &:hover:not(.test-library-sessions__item_selected) {
      background-color: #f7f8ff;
    }

    &_selected {
      background: #e7e9ff;
    }

    & > div {
      display: table-cell;
      vertical-align: middle;
      padding: 16px 26px;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 115%;
      letter-spacing: 0.01em;


      & > [data-index="0"] {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        flex-direction: column;
        color: #05111A;
      }

      & > [data-index="1"] {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #05111A;
      }

      & > [data-index="2"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="3"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="4"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="5"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="6"] {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      & > [data-index="7"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      & > [data-index="8"] {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-status {
      font-family: "Mulish";
      padding: 5px 12px;
      border-radius: 100px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      line-height: 14px;
    }

    &-action {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
    }

    &-filials {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &-item {
      transition: all 0.2s ease;
      background: #f0f1f7 !important;
      border-radius: 8px !important;
      padding: 5px 12px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      user-select: none;
      color: #9fa2b4 !important;
      margin-left: 10px;
      max-height: 24px !important;
      box-sizing: border-box;
      cursor: unset !important;

      &:first-child {
        margin-left: 0;
      }

      &_active {
        background: #00788c !important;
        color: #ffffff !important;
        cursor: pointer !important;

        &:active {
          background: #066a7e !important;
        }
      }
    }

    &_delete {
      min-width: 83px;
    }

    &_switch {
      min-width: 89px;
    }

    &_send-msg {
      min-width: 120px;
    }
  }

  &__add-tag-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #00788c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  &__status {
    font-weight: 600;

    &-prepared {
      color: #9B59B6;
    }

    &-active {
      color: #2ECC71;
    }

    &-passive {
      color: #F1C40F;
    }

    &-suspended {
      color: #E67E22;
    }

    &-leaved {
      color: #9B59B6;
    }

    &-outdated {
      color: #E74C3C;
    }

    &-cancelled {
      color: #95A5A6;
    }

    &-completed {
      color: #2980B9;
    }

    &-acomplished {
      color: #16A085;
    }

    &-refused {
      color: #2C3E50;
    }

    &-imported {
      color: #3498DB;
    }

    &-processing {
      color: #2C3E50;
    }
  }

  &__export {
    cursor: pointer;

    &-rect {
      &:active {
        fill: #D7D7DD;
      }
    }
  }
}

/* MIXINS STYLES CSS START */
.preloader_margin {
  margin: 10px 10px 0px 10px;
}

.mt-table {
  &__footer {
    padding: 30px 30px 0 30px;
  }
}

.participants {
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #0073E5;
  }
}

/* MIXINS STYLES CSS END */
</style>