<template>
  <div v-if="loaded">

    <alert
        v-if="isAlertShow"
        type="warning"
        class="mb-2"
    >
      Доступ к приложению заблокирован. Пожалуйста , заполните все обязательные поля.
    </alert>

    <div class="add-edit-respondent__fields">
      <div class="add-edit-respondent__form-settings">
        <div>
          <div class="respondent__label">ФИО</div>
          <mtInput
              theme="solid"
              v-model="user.full_name"
          />
          <div
              class="respondent__error-message"
              v-if="errorsMessages?.fullName?.length > 0"
          >
            {{ errorsMessages.fullName[0] }}
          </div>
        </div>
        <div>
          <div class="respondent__label">Email</div>
          <mtInput
              theme="solid"
              disabled
              v-model="user.email"
              :hasError="errorsMessages?.email?.length > 0"
              @focus="errorsMessages.email = false"
              @blur="validate('email', [{ rule: 'required', message: 'Заполните поле Email' }, { rule: 'isEmail', message: 'Введите корректный Email' }])"
          />
          <div
              class="respondent__error-message"
              v-if="errorsMessages?.email?.length > 0"
          >
            {{ errorsMessages.email[0] }}
          </div>
        </div>
      </div>

      <div class="add-edit-respondent__form-settings">
        <div>
          <div class="respondent__label">Пол</div>
          <mtSelect
              v-model="computedGender"
              :items="genderList"
          />
          <div
              class="respondent__error-message"
              v-if="errorsMessages?.gender?.length > 0"
          >
            {{ errorsMessages.gender[0] }}
          </div>
        </div>
        <div>
          <div
              class="respondent__label"
          >
            Дата рождения
          </div>
          <mtInput
              theme="solid"
              v-model="user.birthday"
              type="date"
              :hasError="errorsMessages?.birthday?.length > 0"
              @focus="errorsMessages.birthday = false"
              @blur="validate('birthday', [{ rule: 'required', message: 'Заполните поле Дата рождения' }])"
          />
          <div
              class="respondent__error-message"
              v-if="errorsMessages?.birthday?.length > 0"
          >
            {{ errorsMessages.birthday[0] }}
          </div>
        </div>
      </div>

      <div class="add-edit-respondent__form-settings">
        <div>
          <div class="respondent__label">Роль</div>
          <mtInput
              v-model="user.role.name"
              theme="solid"
              disabled
          />
        </div>
        <div>
          <div class="respondent__label">Статус</div>
          <mtInput
              v-model="user.status"
              theme="solid"
              disabled
          />
        </div>
      </div>

      <div class="add-edit-respondent__form-settings">
        <div
            v-for="field in user.formSettings"
            :key="field.uuid"
        >
          <div class="respondent__label">
            {{ field.name }}<span v-if="field.required">*</span>
          </div>
          <mtSelect
              v-if="field.type === 'list'"
              v-model="field.value"
              :items="field.variants"
          />
          <mtInput
              v-else
              theme="solid"
              v-model="field.value"
              :hasError="!!additionalFieldsErrorMessages[field.name]"
              @focus="additionalFieldsErrorMessages[field.name] = false"
          />
          <div
              class="respondent__error-message"
              v-if="errorsMessages[field.name]?.length > 0"
          >
            {{ errorsMessages[field.name][0] }}
          </div>
        </div>
      </div>
    </div>

    <mt-button
        class="ml-auto"
        :preloader="saveLoader"
        @click="save"
    >
      Сохранить
    </mt-button>
  </div>
</template>

<script>
import MtInput from "@/components/UI/mtInput/mtInput.vue";
import MtSelect from "@/components/UI/mtSelectSolid/mtSelectSolid.vue";
import AuthApi from "@/api/auth";
import MtButton from "@/components/UI/mtButton/index.vue";
import validation from "@/plugins/validation";
import Alert from "@/components/UI/Alert/Alert.vue";

export default {
  name: "Cabinet",
  components: { Alert, MtButton, MtSelect, MtInput },
  data: () => ({
    user: {
      full_name: '',
      email: '',
      birthday: '',
      role: {
        name: ''
      },
      gender: '',
      status: '',
      formSettings: []
    },
    loaded: false,
    saveLoader: false,
    isAlertShow: false,

    additionalFields: [],
    genderList: [
      {
        slug: 'male',
        name: 'Мужской'
      },
      {
        slug: 'female',
        name: 'Женский'
      }
    ],
    errorsMessages: {},
    additionalFieldsErrorMessages: {},
  }),
  computed: {
    computedGender: {
      get() {
        if (!this.user.gender) return '';

        return this.genderList.find(item => item.slug === this.user.gender)
      },
      set(newValue) {
        this.user.gender = newValue.slug;
      }
    },
  },
  methods: {
    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this.user[field], rules)

      return this.errorsMessages[field].length === 0
    },

    validateAdditionalFields() {
      this.additionalFieldsErrorMessages = {}
      this.user.formSettings.forEach(field => {
        if (field.required) {
          if (field.value === null || field.value.toString().length === 0) {
            this.additionalFieldsErrorMessages[field.name] = "Необходимо заполнить поле"
          }
        }
      })

      return Object.keys(this.additionalFieldsErrorMessages).length === 0
    },

    async initBreadcrumbs() {
      let breadcrumbs = this.$route.meta.breadcrumbs;

      await this.$breadcrumbs.init({
        breadcrumbs: await this.$breadcrumbs.setValue({
          page: this.$route.name,
          value: this.$route.query.planName,
          breadcrumbs: breadcrumbs,
        })
      });
    },

    async getUserInfo() {
      const { data } = await AuthApi.getUserInfo()
      this.user = data.data;

      const dateAsArr = this.user.birthday.split('.');

      let ye = dateAsArr[2];
      let mo = dateAsArr[1];
      let da = dateAsArr[0];

      this.user.birthday = `${ ye }-${ mo }-${ da }`
    },

    async getAdditionalForms() {
      const {data} = await AuthApi.getUserAdditionalForm();
      this.additionalFields = data.data;
    },

    mergeAdditionalForms() {
      this.user.formSettings = this.additionalFields.map(field => {
        const foundItem = this.user.formSettings.find(item => item.uuid === field.uuid);

        return {
          ...field,
          value: foundItem ? foundItem.value : ''
        };
      })
    },

    async save() {
      if(!this.errorsMessages || !this.validateAdditionalFields()) return;

      this.saveLoader = true;

      await AuthApi.updateUserInfo(this.user)
          .catch((error) => {
            this.$toast.error('Непредвиденная ошибка сервера, пожалуйста повторите позже')
          })
          .finally(() => {
            this.saveLoader = false;
          });

      if(this.isAlertShow) {
        this.$router.push({
          name: 'AssessmentPlansList'
        })
      }

      this.$toast.success('Данные успешно обновлены')
    },

    isAlertDisplayed() {
      return this.isAlertShow = Object.values(this.additionalFieldsErrorMessages).length
    }
  },
  mounted() {
    Promise.all([
      this.getUserInfo(),
      this.getAdditionalForms(),
      this.initBreadcrumbs()
    ])
        .then(() => {
          this.mergeAdditionalForms()
          this.validateAdditionalFields();
          this.isAlertDisplayed();
        })
    this.loaded = true;
  }
}
</script>

<style
    scoped
    lang="scss"
>
.add-edit-respondent__fields {
  min-width: 600px;
}

.add-edit-respondent__form-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 30px;

  .add-edit-respondent__form-setting {
    max-width: 327px;
  }
}

.respondent {
  &__error-message {
    color: #C24020;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 600px) {
  .add-edit-respondent__fields {
    min-width: unset;
    width: 100%;
  }

  .add-edit-respondent__form-settings {
    grid-template-columns: 1fr;
  }
}

</style>