<template>
  <auth-wrapper>
    <template #title>Забыли пароль?</template>
    <template #body>
      <div
          class="forgot__second-step"
          v-if="sent"
      >
        <span>Письмо с инструкцией отправлено на Email.</span>
      </div>
      <div
          class="auth__fields"
          v-else
      >
        <div class="auth__field">
          <mtInput
              class="auth__field__item"
              v-model="email"
              placeholder="Email"
              :hasError="errorsMessages?.email?.length > 0"
              @focus="errorsMessages.email = false"
              @blur="validate('email', [{rule: 'required', message: 'Заполните поле Email'}, { rule: 'isEmail', message: 'Введите корректный Email'}])"
          />
          <div
              class="auth__error-message"
              :class="{'auth__error-message--show': errorsMessages?.email?.length > 0}"
          >
            {{ errorsMessages.email[0] }}
          </div>
        </div>
      </div>
      <mtButton
          class="auth__actions__btn"
          :preloader="preloader"
          @click="send()"
      >
        Продолжить
      </mtButton>
      <div class="auth__actions__link">
        <router-link
            class="auth__actions__link__value"
            to="/auth/signup"
        >
          Регистрация
        </router-link>
      </div>
    </template>
  </auth-wrapper>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtButton from '@/components/UI/mtButton';
import validation from '@/plugins/validation.js';
import AuthWrapper from '@/components/workspace/auth/AuthWrapper';
export default {
  components: {
    AuthWrapper,
    mtInput,
    mtButton
  },

  data() {
    return {
      email: null,
      preloader: false,
      errorsMessages: {
        email: []
      },
      sent: false
    }
  },

  computed: {
    ...mapGetters(['USER_DATA',]),
  },
  methods: {
    ...mapActions(['forgotPassword']),
    validateAll() {
      let valid = true
      if (!this.validate('email', [{rule: 'required', message: 'Заполните поле Email'}, {
        rule: 'isEmail',
        message: 'Введите корректный Email'
      }])) valid = false
      return valid
    },
    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)
      return this.errorsMessages[field].length === 0
    },
    send() {
      if(this.sent) {
        return this.$router.push({name: 'Signin'})
      }
      if (!this.validateAll()) return
      this.preloader = true
      this.forgotPassword(this.email)
          .then(res => {
            this.preloader = false
            if (res?.data?.code === '404') {
              this.errorsMessages['email'].push('Email не найден')
            } else {
              this.sent = true
            }
          })

    }
  }
}

</script>

<style lang="scss">
.forgot__second-step {
  margin-bottom: 15px;
}
</style>