<template>
  <auth-wrapper v-if="successStep">
    <template #title>
      Приглашение успешно отправлено!
    </template>
    <template #body>
      <div class="subtitle">На вашу почту отправлено письмо со сгенерированной паролью.</div>
      <mt-button
          @click="$router.push({name: 'Signup'})"
          class="auth__actions__btn"
      >
        Перейти на регистрацию
      </mt-button>
    </template>
  </auth-wrapper>
  <auth-wrapper v-else>
    <template #title>Регистрация</template>
    <template #body>
      <div class="auth__fields">
        <div class="auth__field">
          <mtInput
              class="auth__field__input"
              v-model="email"
              placeholder="Email"
              :hasError="errorsMessages?.email?.length > 0"
              @focus="errorsMessages.email = false"
              @blur="validate('email', [{rule: 'required', message: 'Заполните поле Email'}, { rule: 'isEmail', message: 'Введите корректный Email'}])"
              @keyup.enter="send()"
          />
          <div
              class="auth__error-message"
              :class="{'auth__error-message--show': errorsMessages?.email?.length > 0}"
          >
            {{ errorsMessages.email[0] }}
          </div>
        </div>
      </div>
      <div class="auth__actions">
        <mtButton
            class="auth__actions__btn"
            :preloader="requestPending"
            @click="send"
        >
          Продолжить
        </mtButton>
      </div>
    </template>
  </auth-wrapper>
</template>

<script>
import AuthWrapper from "@/components/workspace/auth/AuthWrapper/index.vue";
import MtInput from "@/components/UI/mtInput/mtInput.vue";
import MtButton from "@/components/UI/mtButton/index.vue";
import validation from "@/plugins/validation";
import AuthApi from "@/api/auth";

export default {
  name: "SelfRegistration",
  components: { MtButton, MtInput, AuthWrapper },
  data() {
    return {
      email: null,
      errorsMessages: {
        email: [],
        password: []
      },
      requestPending: false,
      successStep: false
    }
  },
  methods: {
    validateAll() {
      let valid = true
      if (!this.validate('email', [{rule: 'required', message: 'Заполните поле Email'}, {
        rule: 'isEmail',
        message: 'Введите корректный Email'
      }])) valid = false;

      return valid;
    },

    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)
      return this.errorsMessages[field].length === 0
    },

    send() {
      if (!this.validateAll()) return;
      this.requestPending = true;

      const registerToken = this.$route.query.self_registration;

      AuthApi.selfRegister({
        email: this.email,
        self_registration: registerToken
      })
          .then(() => {
              this.successStep = true;
          })
          .catch(error => {
            if (error.data.code === 404) {
              this.errorsMessages['email'].push('Неверный email')
            }
            else if (error.data.code === 422) {
              this.errorsMessages['email'].push(error.data.message.original[0])
            }
          }).finally(() => {
        this.requestPending = false
      });
    }
  }
}
</script>

<style scoped lang="scss">
.subtitle {
  text-align: center;
}

.mt-button {
  margin: 20px auto 0;
}
</style>