<template>
  <auth-wrapper>
    <template #title>Войти в кабинет</template>
    <template #body>
      <form
          @submit.prevent
          autocomplete="off"
      >
        <div class="auth__fields">
          <div class="auth__field">
            <mtInput
                class="auth__field__input"
                v-model="email"
                placeholder="Email"
                :hasError="errorsMessages?.email?.length > 0"
                @focus="errorsMessages.email = false"
                @blur="validate('email', [{rule: 'required', message: 'Заполните поле Email'}, { rule: 'isEmail', message: 'Введите корректный Email'}])"
                @keyup.enter="send()"
            />
            <div
                class="auth__error-message"
                :class="{'auth__error-message--show': errorsMessages?.email?.length > 0}"
            >
              {{ errorsMessages.email[0] }}
            </div>
          </div>
          <div class="auth__field">
            <mtInput
                class="auth__field__input"
                type="password"
                placeholder="Пароль"
                v-model="password"
                :hasError="errorsMessages?.password?.length > 0"
                @focus="errorsMessages.password = false"
                @blur="validate('password', [{rule: 'required', message: 'Необходимо заполнить пароль'}])"
                @keyup.enter="send()"
            />
            <div
                class="auth__error-message"
                :class="{'auth__error-message--show': errorsMessages?.email?.length > 0}"
            >
              {{ errorsMessages?.password[0] }}
            </div>
          </div>
        </div>
      </form>
      <div class="auth__actions">
        <mtButton
            class="auth__actions__btn"
            :requestPending="requestPending"
            @click="send()"
        >
          Продолжить
        </mtButton>
        <div class="auth__actions__link">
          <router-link
              class="auth__actions__link__value"
              :to="{name: 'Signup'}"
          >
            Регистрация
          </router-link>
        </div>
        <div class="auth__actions__link">
          <router-link
              class="auth__actions__link__value"
              :to="{name: 'Forgot'}"
          >
            Забыли пароль?
          </router-link>
        </div>
      </div>
    </template>
  </auth-wrapper>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtButton from '@/components/UI/mtButton';
import validation from '@/plugins/validation.js';
import AuthWrapper from '@/components/workspace/auth/AuthWrapper';
export default {
  components: {
    AuthWrapper,
    mtInput,
    mtButton
  },

  data() {
    return {
      email: null,
      password: null,
      errorsMessages: {
        email: [],
        password: []
      },
      requestPending: false
    }
  },

  computed: {
    ...mapGetters(['USER_DATA']),
  },

  methods: {
    ...mapActions(['signin']),

    validateAll() {
      let valid = true
      if (!this.validate('email', [{rule: 'required', message: 'Заполните поле Email'}, {
        rule: 'isEmail',
        message: 'Введите корректный Email'
      }])) valid = false
      if (!this.validate('password', [{rule: 'required', message: 'Заполните поле Пароль'}])) valid = false
      return valid
    },
    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)
      return this.errorsMessages[field].length === 0
    },

    send() {
      if (!this.validateAll()) return
      this.requestPending = true

      this.signin({
        'email': this.email,
        'password': this.password
      })
          .then(() => {
            this.$router.push('/');
          })
          .catch(error => {
            if (error.data.code === 404) {
              this.errorsMessages['email'].push('Неверный email или пароль')
              this.errorsMessages['password'].push('Неверный email или пароль')
            }
          }).finally(() => {
        this.requestPending = false
      });
    }
  },
}

</script>