<template>
  <auth-wrapper>
    <template #title>Регистрация</template>
    <template #body>
      <div
          class="auth-fields"
          v-show="step === AUTH_WITH_TEMPORARY_PASSWORD"
      >
        <h4 class="signup__subtitle">Для завершения процедуры регистрации необходимо ввести учетные данные</h4>
        <div class="auth__field">
          <mtInput
              class="auth__field__input"
              v-model="email"
              placeholder="Email"
              :hasError="errorsMessages?.email?.length > 0"
              @focus="errorsMessages.email = false"
              @blur="validate('email', [{rule: 'required', message: 'Заполните поле Email'}, { rule: 'isEmail', message: 'Введите корректный Email'}])"
              @keyup.enter="send()"
          />
          <div
              class="auth__error-message"
              :class="{'auth__error-message--show': errorsMessages?.email?.length > 0}"
          >
            {{ errorsMessages.email[0] }}
          </div>
        </div>
        <div class="auth__field">
          <mtInput
              class="auth__field__input"
              type="password"
              placeholder="Пароль"
              v-model="password"
              :hasError="errorsMessages?.password?.length > 0"
              @focus="errorsMessages.password = false"
              @blur="validate('password', [{rule: 'required', message: 'Необходимо заполнить пароль'}])"
              @keyup.enter="send()"
          />
          <div
              class="auth__error-message"
              :class="{'auth__error-message--show': errorsMessages?.password?.length > 0}"
          >
            {{ errorsMessages?.password[0] }}
          </div>
        </div>
      </div>

      <div
          class="auth__fields"
          v-show="step === SET_NEW_PASSWORD"
      >
        <div class="signup__email-view">{{ email }}</div>
        <mtInput
            class="auth__field password-filed"
            v-model="newPassword"
            type="password"
            placeholder="Пароль"
            :hasError="newPasswordValidationError.length > 0"
            @input="validateNewPassword(newPassword)"
        />
        <div class="signup__password-settings">
          <div class="signup__password-settings-header">Ваш пароль должен содержать:</div>
          <template
              v-for="(criterion, index) in passwordSecurity"
              :key="index"
          >
            <div
                :class="['signup__password-settings-item', {
                  'signup__password-settings-item_error': hasError(newPasswordValidationError, criterion.slug),
                  'signup__password-settings-item_correct': !hasError(newPasswordValidationError, criterion.slug)
                }]"
            >
              <div class="signup__password-settings-item-status"/>
              <div class="signup__password-settings-item-title">
                <span>{{criterion.name }}</span>
                <span
                  v-if="criterion.slug === 'min'"
                  style="margin-left: 5px;"
              >
                  {{ criterion.rule.split(':')[1] }}
                </span>
              </div>
            </div>
          </template>
        </div>
      </div>

      <div
          class="signup__additional-fields"
          v-if="step === ADDITIONAL_FIELDS"
      >
        <h3 class="signup__additional-fields__title">
          Шаг {{ additionalPage + 1 }} из {{ maxAdditianalFieldsPages + 1 }}
        </h3>
        <div
            class="auth__field"
            v-for="(field, index) in fields"
            :key="index"
        >
          <template v-if="field.type === 'integer'">
            <mtInput
                :required="field.required"
                :placeholder="field.name"
                type="number"
                v-model="field.value"
                :hasError="!!additionalFieldsErrorMessages[field.name]"
                @focus="additionalFieldsErrorMessages[field.name] = false"
            />
          </template>
          <template v-if="field.type === 'string'">
            <mtInput
                :required="field.required"
                :placeholder="field.name"
                v-model="field.value"
                :hasError="!!additionalFieldsErrorMessages[field.name]"
                @focus="additionalFieldsErrorMessages[field.name] = false"
            />
          </template>
          <template v-if="field.type === 'list'">
            <mtSelectSolid
                :required="field.required"
                :placeholder="field.name"
                v-model="field.value"
                :items="field.variants"
                theme="border"
                :hasError="!!additionalFieldsErrorMessages[field.name]"
                @focus="additionalFieldsErrorMessages[field.name] = false"
            />
          </template>

          <div
              class="auth__error-message"
              :class="{'auth__error-message--show': !!additionalFieldsErrorMessages[field.name]}"
          >
            {{ additionalFieldsErrorMessages[field.name] }}
          </div>
        </div>
      </div>

      <div class="auth__actions">

        <div
            class="actions__back"
            v-if="step === ADDITIONAL_FIELDS && additionalPage > 0"
            @click="additionalPage = additionalPage - 1 || 0;"
        >
          Вернуться назад
        </div>

        <mtButton
            class="auth__actions__btn"
            @click="send"
            :preloader="preloader"
        >
          <span>Продолжить</span>
        </mtButton>

        <div
            class="auth__actions__link"
            v-show="step === AUTH_WITH_TEMPORARY_PASSWORD"
        >
          Уже зарегистрированы?

          <router-link
              class="auth__actions__link__value"
              to="/auth/signin"
          >
            Войти
          </router-link>
        </div>
      </div>
    </template>
  </auth-wrapper>
</template>

<script>
import { mapActions } from 'vuex';
import mtButton from '@/components/UI/mtButton';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtSelectSolid from '@/components/UI/mtSelectSolid/mtSelectSolid.vue';
import validation from '@/plugins/validation.js';
import AuthWrapper from '@/components/workspace/auth/AuthWrapper';

export default {
  components: {
    AuthWrapper,
    mtInput,
    mtButton,
    mtSelectSolid
  },
  data() {
    return {
      AUTH_WITH_TEMPORARY_PASSWORD: 1,
      SET_NEW_PASSWORD: 2,
      ADDITIONAL_FIELDS: 3,

      email: null,
      password: null,
      newPassword: null,

      newPasswordValidationError: [],
      errorsMessages: {
        email: [],
        password: []
      },
      uuid: null,
      token: null,

      preloader: false,

      mainFields: [
        {
          name: "ФИО",
          type: "string",
          uuid: 'fiouuidslug',
          required: true,
          value: null
        },
        {
          name: "Пол",
          type: "list",
          uuid: 'genderuuidslug',
          value: null,
          variants: [
            {
              name: "Мужской",
              order: null,
              uuid: null
            },
            {
              name: "Женский",
              order: null,
              uuid: null
            }
          ]
        }
      ],
      role: null,
      additionalFields: [],
      additionalPage: 0,
      step: 1,
      itemsPerSection: 5,
      passwordSecurity: [],
      criteriaKey: 1,

      // additional fields validation
      additionalFieldsErrorMessages: {},
    }
  },

  computed: {
    maxAdditianalFieldsPages() {
      const fieldsLength = [...this.mainFields, ...this.additionalFields].length;

      return Math.ceil(fieldsLength / this.itemsPerSection - 1) || 1
    },

    fields() {
      let allFields = [...this.mainFields, ...this.additionalFields];
      let itemsPerSection = this.itemsPerSection;

      if(allFields.length > 7 && (allFields.length / 4) === 0) itemsPerSection = 4;

      if (allFields.length > itemsPerSection) {
        return allFields.slice(this.additionalPage * itemsPerSection, this.additionalPage * itemsPerSection + itemsPerSection);
      }

      return allFields;
    }
  },

  methods: {
    ...mapActions([
          'signup',
          'confirmPassword',
          'uploadUserSettings',
        ]),

    hasError(pool, slug) {
      if (pool.length === 0 || !Array.isArray(pool)) return false
      const index = pool.findIndex(item => item.type === slug);
      return index > -1
    },

    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)
      return this.errorsMessages[field].length === 0
    },

    validationFirstStep() {
      let valid = true
      if (!this.validate('email', [{rule: 'required', message: 'Заполните поле Email'}, {
        rule: 'isEmail',
        message: 'Введите корректный Email'
      }])) {
        valid = false
      }
      if (!this.validate('password', [{rule: 'required', message: 'Необходимо заполнить пароль'}])) {
        valid = false
      }
      return valid
    },

    validateNewPassword(password) {
      let valid = true
      let errors = []
      if (password === null || password.length === 0) {
        errors.push({
          type: 'required',
          message: 'Поле обязательно для заполнения'
        })
        valid = false
      }
      if (this.getRuleStatus('min')) {
        let minLength = this.passwordSecurity[this.passwordSecurity.findIndex(item => item.slug === 'min')].rule.split(':')[1];
        if (password === null || password.length < minLength) {
          errors.push({
            type: 'min',
            message: `Поле должно содержать ${minLength} или больше символов`
          })
          valid = false
        }
      }
      if (this.getRuleStatus('0_9')) {
        var re = /(.*\d.*)/
        if (!re.test(password)) {

          errors.push({
            type: '0_9',
            message: ''
          })
          valid = false
        }
      }

      if (this.getRuleStatus('a_z')) {
        var re = /(?=.*[a-z])/
        if (password === null || !re.test(password)) {
          errors.push({
            type: 'a_z',
            message: ''
          })
          valid = false
        }
      }

      if (this.getRuleStatus('A_Z')) {
        var re = /(?=.*[A-Z])/
        if (!re.test(password)) {
          errors.push({
            type: 'A_Z',
            message: ''
          })
          valid = false
        }
      }
      if (this.getRuleStatus('spec')) {
        var re = /(.*\W.*)/
        if (!re.test(password)) {
          errors.push({
            type: 'spec',
            message: ''
          })
          valid = false
        }
      }
      this.newPasswordValidationError = errors
      this.criteriaKey++
      return errors.length > 0 ? errors : valid
    },

    validateAdditionalFields() {
      this.additionalFieldsErrorMessages = {}
      this.fields.forEach(field => {
        if (field.required) {
          if (field.value === null || field.value.toString().length === 0) {
            this.additionalFieldsErrorMessages[field.name] = "Необходимо заполнить поле"
          }
        }
      })
      return Object.keys(this.additionalFieldsErrorMessages).length === 0
    },

    async send(e) {

      this.preloader = true;

      if (this.step === this.AUTH_WITH_TEMPORARY_PASSWORD) {
        if (!this.validationFirstStep()) {
          return this.preloader = false
        }

        await this.signup({
          email: this.email,
          password: this.password
        })
            .then(res => {
              if (!!res.data?.data?.uuid) {
                this.mainFields[0].value = res.data.data.full_name;
                this.mainFields[1].value = res.data.data.gender === 'male' ? 'Мужской' : 'Женский'; // FIXME

                this.additionalFields = res.data.data.formSettings
                this.passwordSecurity = res.data.data.security
                this.role = res.data.data.role.type

                this.uuid = res.data.data.uuid;
                this.token = res.data.data.token;

                this.step = this.SET_NEW_PASSWORD;
              }
            })
            .catch(({ data }) => {

              if(data?.code === 422) {
                Object.keys(data.message).forEach(key => {
                  this.errorsMessages[key].push(data.message[key][0])
                })
              }
              else if(data?.code === 403) {
                this.$toast.error(data.message)
              }
            })
            .finally(() => {
              this.preloader = false;
            })
      }

      if (this.step === this.SET_NEW_PASSWORD) {
        this.newPasswordValidationError = this.validateNewPassword(this.newPassword);

        if (this.newPasswordValidationError.length > 0) {
          return this.preloader = false;
        }

        this.confirmPassword(this.newPassword)
            .then(res => {
              if (this.role === 'admin') {
                return this.$router.push('/');
              }

              this.preloader = false;
              return this.step = this.ADDITIONAL_FIELDS;
            })
      }

      if (this.step === this.ADDITIONAL_FIELDS) {
        if (!this.validateAdditionalFields()) {
          return this.preloader = false;
        }

        if (this.step === this.ADDITIONAL_FIELDS && this.additionalPage < this.maxAdditianalFieldsPages) {
          this.additionalPage++;
          return this.preloader = false;
        }

        if (this.additionalPage === this.maxAdditianalFieldsPages) {
          this.uploadUserSettings({
            full_name: this.mainFields[0].value,
            gender: this.mainFields[1].value,
            formSettings: this.additionalFields,
          }).then(res => {
            this.$router.push('/');
          });
        }
      }
    },

    getRuleStatus(ruleSlug) {
      let itemIndex = this.passwordSecurity.findIndex(item => {
        if (
            item.slug === ruleSlug &&
            item.active
        ) {
          return true;
        }
      });

      return itemIndex >= 0;
    },
  },

  mounted() {
    this.step = this.AUTH_WITH_TEMPORARY_PASSWORD;
  }
}
</script>

<style
    lang="scss"
    scoped
>
.signup {
  &__additional-fields {
    &__title {
      margin: -15px auto 15px;
    }

    &_required {
      color: red;
      margin-right: 5px;
    }

    &[data-grid=true] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  &__error-message {
    color: #C24020;
    margin-top: 5px;
    font-size: 14px;
  }

  &__subtitle {
    text-align: center;
    margin: -15px 0 25px;
  }

  &__email-view {
    border: 1px solid #C2C8D0;
    background: #eee;
    box-sizing: border-box;
    border-radius: 4px;
    height: 56px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  &__password-settings {
    border: 1px solid #C2C8D0;
    padding: 15px;
    border-radius: 2px;
    margin: 20px 0;

    &-item {
      display: flex;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.25px;
      color: #858585;
      align-items: center;
      margin-top: 15px;
      min-height: 16px;

      &-status {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        color: #fff;
        margin-right: 5px;
        text-align: center;
        font-size: 8px;
        line-height: 18px;
      }

      &_error {
        color: $red;

        .signup__password-settings-item-status {
          background-color: $red;

          &::after {
            content: '✖'
          }
        }
      }

      &_correct {
        color: $green;

        .signup__password-settings-item-status {
          background-color: $green;

          &::after {
            content: "✓";
          }
        }
      }
    }
  }
}


.signin__container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  .signin__wrapper {
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding: 48px;

    .header {
      .logo {
        margin-bottom: 30px;
      }

      .title {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.18px;

        color: #000000;

        margin-bottom: 24px;
      }
    }
  }

  .forgot__second-step {
    margin-bottom: 15px;
  }

  .auth__fields {
    .auth__field {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    margin-bottom: 24px;
  }

  .actions {
    margin-bottom: 24px;

    .action {

      &.action-next__btn,
      &.action-finish__btn,
      &.action-back__btn {
        width: 306px;
        height: 50px;

        background: #00788C;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 2px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
        }
      }

      &.action-back__btn {
        background: #E6F2F4;

        .title {
          color: #00788C;
        }
      }

      &.action__pass-forgot {
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.15px;
          color: #00788C;
        }
      }

      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .validation-info-block__container {
    .validation-info-block__wrapper {
      padding: 16px;
      width: 306px;
      background: #FFFFFF;
      border: 1px solid #C2C8D0;
      box-sizing: border-box;
      border-radius: 2px;

      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;

      .validation-info-block__header {
        .validation-info-block__header_wrapper {
          .validation-info-block__title {
            color: #2D333A;
          }
        }
      }

      .validation-info-block__main {
        .validation-info-block__main_wrapper {
          .validation-info-block__validation-list {
            .validation-info-block__validation-item {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-content: center;
              justify-content: flex-start;
              align-items: center;
              margin-top: 12px;


              .validation-item__status {
              }

              .validation-item__title {
                color: #858585;
                margin-left: 9px;
                font-size: 12px;
              }

              &_invalid {
                .validation-item__title {
                  color: #C24020;
                }
              }
            }
          }
        }
      }
    }
  }

  .action.action__pass-forgot {
    .title {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
</style>