.mt-user-status {
  &__item {
    font-family: 'Mulish';
    padding: 5px 12px;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    line-height: 14px;
    user-select: none;
  }

  &_active {
    background: #8FA93A
  }

  &_wait {
    background: #F0F1F7;
    color: #9FA2B4;
  }

  &_block {
    background: #C24020
  }
}