<template>
  <div :class="['mt-user-status']">
    <div :class="classObject">
      <span>
        {{ computedText }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'mtUserStatus',
  components: {},
  props: {
    status: {
      type: String,
      validate(val) {
        return ['active', 'wait', 'block'].includes(val)
      }
    }
  },
  computed: {
    classObject() {
      return [
        'mt-user-status__item',
        `mt-user-status_${this.status}`
      ];
    },
    computedText () {
      switch (this.status) {
        case 'active':
          return 'активный'
        case 'wait':
          return 'ожидает'
        case 'block':
          return 'блокирован'
        default:
          return ''
      }
    }
  }
};
</script>

<style lang="scss" src="./mtUserStatus.scss"/>