<template>
  <div class="edit-branches-info-block__container">
    <div class="edit-branches-info-block__wrapper">
      <div class="edit-branches-info-block__header">
        <div class="hauptTitel">Филиалы</div>
        <div class="add-branch__button">
          <div
              class="button"
              @click="handlers().onAddBranchclick()"
          >
            <div class="button__item"><span class="button__txt">Добавить филиал</span></div>
          </div>
          <teleport to="body">
            <mt-popover
                v-model="isAddBranchesPopUpShown"
                class="add-branches-popup"
            >
              <div class="add-branches-popup__body_wrapper">
                <div class="search">
                  <div class="search__inner">
                    <img
                        class="search__logo"
                        src="@/assets/img/svg/assessment-plans/search-icon__line.svg"
                    />
                    <input
                        class="search__input"
                        type="text"
                        placeholder="Поиск по филиалам"
                        v-model="searchBranchName"
                    />
                  </div>
                </div>
                <div class="modal-users__inner">
                  <div
                      class="respondent"
                      v-for="branch in mapedBranches"
                      :key="branch.uuid"
                  >
                    <div class="respondent__inner">
                      <div class="respondent__full-name">
                        <span class="respondent__full-name_title">{{ branch.name }}</span>
                      </div>
                      <div class="checkbox">
                        <input
                            class="checkbox-item"
                            :id="branch.uuid"
                            type="checkbox"
                            :data-name="branch.uuid"
                            v-model="branch.selected"
                            @change="handlers().onSelectBranchChange( { branch } )"
                        />
                        <label
                            class="checkbox-item__label"
                            :for="branch.uuid"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mt-popover>
            <!--            <AddBranchesPopUp-->
            <!--                class="add-branches-popup"-->
            <!--                :modal_heigth="'403px'"-->
            <!--                :spitzer__recht="true"-->
            <!--                v-show="isAddBranchesPopUpShown"-->
            <!--                @close="isAddBranchesPopUpShown = false"-->
            <!--            >-->
            <!--              <template #body>-->
            <!--                -->
            <!--              </template>-->
            <!--            </AddBranchesPopUp>-->
          </teleport>
        </div>
      </div>
      <div
          class="edit-branches-info-block__main"
          v-if="administratorBranches.length"
      >
        <div class="add-edit4__table">
          <div class="thead">
            <div class="row">
              <div class="cell branch">
                <div class="cell__title">Название</div>
              </div>
              <div class="cell role">
                <div class="cell__title">Роль</div>
              </div>
              <div class="cell" />
            </div>
          </div>
          <div class="tbody">
            <div
                class="row"
                v-for="branch in administratorBranches"
                :key="branch.uuid"
            >
              <div class="cell">
                <div class="cell__title">{{ branch.branch.name }}</div>
              </div>
              <div class="cell">
                <div class="cell__title mix-select">
                  <Select
                      :auto-select-first="false"
                      :params="{ items : roles, selectedOption : branch.role.name }"
                      @change="setters().setRole( { option : $event, branch } )"
                  />
                </div>
              </div>
              <div class="cell delete">
                <span class="row__delete">
                <mtIcon
                    name="basket"
                    fill="#C5C7CD"
                    style="cursor: pointer; margin-left: auto; margin-right: 20px;"
                    @click="handlers().onSelectBranchChange( { branch } )"
                />
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';
import Select from '@/components/UI/select';
// import AddBranchesPopUp from '@/components/workspace/PopUp';
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue'
import MtPopover from "@/components/UI/mtPopover/mtPopover.vue";

export default {
  components: {
    MtPopover,
    Select,
    // AddBranchesPopUp,
    mtIcon
  },

  data() {
    return {
      isAddBranchesPopUpShown: false,
      searchBranchName: null,

    }
  },

  computed: {
    ...mapGetters(
        [
          'administratorBranches',
          'roles',
          'branches',
          'USER'
        ]
    ),


    canRemove() {
      return this.administratorBranches.length > 1
    },

    mapedBranches() {

      let branches = this.branches.map(
          (branch) => {
            return {
              ...branch,

              selected: !!this.administratorBranches.filter(
                  (administratorBranch) => {
                    return administratorBranch.branch.name === branch.name;
                  }
              ).length,
            }
          }
      );
      if (this.searchBranchName !== null && this.searchBranchName.toString().length > 0) {
        return branches.filter(branch => branch.name.toString().toLowerCase().indexOf(this.searchBranchName.toString().toLowerCase()) + 1)
      }
      return branches
    },
  },

  methods: {
    ...mapActions(
        [
          'fetchRoles',
          'fetchBranches',
          'addAdministratorBranchStore',
          'deleteAdministratorBranchStore',
          'setRoleOfAdministratorBranchStore',
        ]
    ),

    getters() {
      return {}
    },

    setters() {
      return {
        setRole: (payload = {}) => {


          this.setRoleOfAdministratorBranchStore({role: payload.option, branch: payload.branch.branch});
        },
      }
    },

    handlers() {
      return {
        onAddBranchclick: () => {


          this.isAddBranchesPopUpShown = !this.isAddBranchesPopUpShown;
        },

        onSelectBranchChange: (payload = {}) => {


          let branch = {
            branch: payload.branch,
            role: {},
          };

          if (payload.branch.selected) {


            this.addAdministratorBranchStore(branch);
          } else {


            this.deleteAdministratorBranchStore(branch);
          }
        },
      }
    },

    helpers() {
      return {}
    },

    init() {
      this.fetchRoles({type: 'admin'});
      this.fetchBranches();
    },

    bindActions() {
    },
  },

  mounted() {
    this.init();
  },

}

</script>

<style lang="scss">

.edit-branches-info-block__container {
  .edit-branches-info-block__wrapper {
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;

    /* OBJECT STYLES CSS START */
    .edit-branches-info-block__header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding: 32px 15px 40px 20px;
    }

    .hauptTitel {
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #252733;
    }

    .button {
      .button__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        height: 33px;
        background: #00788C;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        padding: 0px 15px;

        &:active {
          background: #005361;
        }

        .button__txt {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }

    .add-edit4__table {
      display: table;
      border-collapse: collapse;

      width: 100%;

      .thead {
        display: table-header-group;

        .cell {
          font-family: Mulish;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: #9FA2B4;
          text-align: center;
          padding: 12px 30px;
          cursor: pointer;

          &.branch, &.role {
            width: 200px;
          }

          .cell__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
          }
        }
      }

      .tbody {
        display: table-row-group;

        .cell {
          text-align: center;

          .cell__title {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #252733;
            padding-bottom: 4px;
          }

          .cell__sub-title {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #C5C7CD;
          }

          .row__forbidden {
            padding: 0 15px;
          }

          .switcher {
            padding-right: 50%;
          }

          &.delete {
            text-align: end !important;
          }
        }
      }

      .row {
        display: table-row;
        border-bottom: 1.5px solid #DFE0EB;

        &:hover {
          background: #F7F8FF;
        }

        .row__edit-logo, .row__forbidden-logo, .row__delete-logo {
          cursor: pointer;
        }
      }

      .cell {
        display: table-cell;
        padding: 25px 30px;
        vertical-align: middle;

        .cell__wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;

          .cell__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .cell:first-child {
        text-align: left;
      }

      .tfoot {
        display: table-footer-group;
      }
    }

    .add-branch__button {
      position: relative;
    }

    /* OBJECT STYLES CSS END */

    /* MIXINS STYLES CSS START */
    .mix-select {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    /* MIXINS STYLES CSS END */
  }
}

.add-branches-popup {

  .search {
    display: table;
    width: 368px;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid #00788C;
    box-sizing: border-box;
    border-radius: 4px;

    &.tags {
      margin-bottom: 20px;
      margin-right: 10px;
    }

    .search__inner {
      display: table-cell;
      vertical-align: middle;

      .search__logo {
        width: 24px;
        height: 24px;
        margin: 0 10px;
      }

      .search__input {
        border: 0;
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #000;
        width: calc(100% - 50px);
        height: 24px;
      }
    }
  }

  .respondent {
    border: 1.5px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;

    height: 45px;

    /*&:last-child {
      margin: 0;
    }*/

    .respondent__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;

      .respondent__full-name {
        margin-left: 12px;
      }
    }
  }

  .checkbox {
    .checkbox-item {
      display: none;

      & + label {
        width: 20px;
        height: 20px;
      }

      & + label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        background: #FFFFFF;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        cursor: pointer;
      }

      &:checked + label::before {
        border-color: #00788C;
        background: #00788C;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
        background-image: url("../../../../assets/img/svg/assessment-plans/assessment-plans__table_row_settings_checkbox.svg");
      }
    }
  }
}

</style>