<template>
  <div class="edit-general-info-block__container">
    <div class="edit-general-info-block__wrapper">
      <div class="edit-general-info-block__fields">
        <div class="edit-general-info-block__row">
          <div>
            <div class="edit-general-info-block__label">ФИО</div>
            <mtInput
                v-model="fullName"
                theme="solid"
                :hasError="errorsMessages?.fullName?.length > 0"
                @focus="errorsMessages.fullName = false"
                @blur="validate('fullName', [{rule: 'required', message: 'Заполните поле ФИО'}])"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.fullName?.length > 0"
            >
              {{ errorsMessages.fullName[0] }}
            </div>
          </div>
          <div style="margin-left: 10px">
            <div class="edit-general-info-block__label">Роль</div>
            <mtSelect
                v-model="role"
                :items="rolesList"
                :hasError="errorsMessages?.role?.length > 0"
                @focus="errorsMessages.role = false"
                @blur="validate('role', [{rule: 'required', message: 'Необходимо выбрать роль'}])"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.role?.length > 0"
            >
              {{ errorsMessages.role[0] }}
            </div>
          </div>
        </div>
        <div class="edit-general-info-block__row">
          <div>
            <div class="edit-general-info-block__label">Email</div>
            <mtInput
                v-model="email"
                theme="solid"
                :disabled="isEdit"
                :hasError="errorsMessages?.email?.length > 0"
                @focus="errorsMessages.email = false"
                @blur="validate('email', [{rule: 'required', message: 'Заполните поле Email'}, { rule: 'isEmail', message: 'Введите корректный Email'}])"
            />
            <div
                class="edit-general-info-block__error-message"
                v-if="errorsMessages?.email?.length > 0"
            >
              {{ errorsMessages.email[0] }}
            </div>
          </div>
        </div>
      </div>
      <div class="edit-general-info-block__actions">
        <div class="page-nav">
          <div
              class="button button-prev"
              @click="handlers().onPrevBtnClicked()"
          >
            <div class="button__item">
              <span class="button__txt">Назад</span>
            </div>
          </div>
          <div class="button">
            <div
                class="button__item"
                @click="save()"
            >
              <span class="button__txt">
                <span v-if="!savePreloader">Сохранить</span>
              <mtIcon
                  :preloader="savePreloader"
                  v-else
                  fill="#fff"
              />
            </span>
            </div>
          </div>
        </div>
        <template v-if="isEdit && USER !== null && email !== null">
          <hr class="divider"/>
          <mtResetPassword :email="email"/>
          <mtBlockOrActive
              :uuid="uuid"
              :status="status"
              v-if="status !== null && USER.email !== email"
              style="margin-top: 20px;"
          />
          <div
              class="admin-action delete"
              v-if="USER.email !== email"
          >
            <div
                class="wrapper"
                @click="activateConfirmationDialog"
            >
              <div class="icon">
                <img
                    src="@/assets/img/svg/delete-icon.svg"

                />
              </div>
              <div class="title">удалить</div>
            </div>
          </div>
        </template>
      </div>
    </div>

    <teleport to="body">
      <confirmation-dialog
          v-model="isConfirmationDialogOpen"
          :title="`Вы уверены, что хотите удалить администратора ${this.fullName}?`"
          :submit-cb="onDeleteAdminClick"
      />
    </teleport>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import mtInput from '@/components/UI/mtInput/mtInput.vue';
import mtIcon from '@/components/UI/mtIcon/mtIcon.vue';
import mtSelect from '@/components/UI/mtSelectSolid/mtSelectSolid.vue';
import validation from '@/plugins/validation.js';
import mtResetPassword from '@/components/composite/mtResetPassword'
import mtBlockOrActive from '@/components/composite/mtBlockOrActive'
import ConfirmationDialog from "@/components/composite/confirmationDialog/confirmationDialog.vue";

export default {
  components: {
    ConfirmationDialog,
    mtInput,
    mtSelect,
    mtResetPassword,
    mtBlockOrActive,
    mtIcon
  },
  data() {
    return {
      fullName: null,
      role: null,
      email: null,
      rolesList: [],
      status: null,
      uuid: null,

      savePreloader: false,

      fieldsConfig: {
        fullName: {
          hauptTitel: 'ФИО',
          maintest_original: true,
        },

        role: {
          hauptTitel: 'Роль',
          maintest_original: true,
        },

        email: {
          hauptTitel: 'Email',
          maintest_original: true,
        },
      },

      errorsMessages: {},
      isConfirmationDialogOpen: false
    }
  },
  computed: {
    ...mapGetters(
        [
          'administrator',
          'roles',
          'USER'
        ]
    ),
    isEdit() {
      return !!this.$route.params.id // if has id then is edit
    }
  },
  created() {
    this.fetchRoles({type: 'admin'})
        .then(response => {
          this.rolesList = response.data.data

        })

    if (this.isEdit) {
      this.fetchAdministrator({uuid: this.$route.params.id})
          .then(res => {
            this.fullName = res.data.data.full_name
            this.role = res.data.data.role
            this.email = res.data.data.email
            this.status = res.data.data.status
            this.uuid = res.data.data.uuid
            this.$emit('email', this.email)
          })
    }

  },
  methods: {
    ...mapActions(
        [
          'setAdministratorStore',
          'createAdministrator',
          'uploadAdministrator',
          'deleteAdministrator',
          'createAdministratorNew',
          'fetchRoles',
          'fetchAdministrator'
        ]
    ),

    resetValidation() {
      this.errorsMessages = {}
    },

    validate(field, rules = []) {
      this.errorsMessages[field] = validation.test(this[field], rules)

      return this.errorsMessages[field].length === 0
    },

    validateAll() {
      let valid = true
      if (!this.validate('fullName', [{rule: 'required', message: 'Заполните поле ФИО'}])) valid = false
      if (!this.validate('role', [{rule: 'required', message: 'Необходимо выбрать роль'}])) valid = false
      if (!this.validate('email', [{rule: 'required', message: 'Заполните поле Email'}, {
        rule: 'isEmail',
        message: 'Введите корректный Email'
      }])) valid = false
      return valid
    },

    save() {
      if (!this.validateAll()) return
      this.savePreloader = true
      if (this.isEdit) {

        this.uploadAdministrator({
          administrator: {
            full_name: this.fullName,
            role: this.role
          },
          uuid: this.$route.params.id
        })
            .then(res => {
              this.savePreloader = false
              this.$router.push({name: 'AdminsList'})
            })

      } else {

        this.createAdministrator({
          full_name: this.fullName,
          role: this.role,
          email: this.email
        })
            .then(res => {

              this.savePreloader = false
              if (res.status === 200) {

                this.$router.push(
                    {
                      name: 'AdminsList',
                    }
                )
              } else {
                this.errorsMessages['email'] = []
                this.errorsMessages['email'].push("Этот email уже используется.")
              }

            })

      }


    },

    getters() {
      return {}
    },

    setters() {
      return {
        setFullName: (payload = {}) => {


          this.setAdministratorStore({full_name: payload.event.target.value});
        },

        setRole: (payload = {}) => {


          this.setAdministratorStore({role: payload.option});
        },

        setEmail: (payload = {}) => {


          this.setAdministratorStore({email: payload.event.target.value});
        },
      }
    },

    handlers() {
      return {
        onPrevBtnClicked: () => {
          this.$router.push(
              {
                name: 'AdminsList',
              }
          );
        },

        onSaveBtnClicked: async () => {
          if (this.$route.params.id) {
            await this.uploadAdministrator({uuid: this.$route.params.id});
          } else {
            await this.createAdministrator();
          }

          this.$router.push(
              {
                name: 'AdminsList',
              }
          );
        }
      }
    },

    activateConfirmationDialog() {
      this.isConfirmationDialogOpen = true
    },

    async onDeleteAdminClick() {
      await this.deleteAdministrator(this.$route.params.uuid);
      this.$router.push({name: 'AdminsList'});
    },

    helpers() {
      return {}
    },

    init() {
      this.fetchRoles({type: 'admin'});
    },

    bindActions() {
    },
  },

  mounted() {
    this.init();
  }
}

</script>

<style
    lang="scss"
    scoped
>
.edit-general-info-block {
  &__error-message {
    color: #C24020;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #7C869D;
    margin-bottom: 10px;
  }
}

.edit-general-info-block__container {
  .edit-general-info-block__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 32px 15px 32px 32px;

    /* OBJECT STYLES CSS START */
    .edit-general-info-block__row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    .edit-field {
      max-width: 327px;
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    .button {
      .button__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120px;
        height: 33px;
        background: #00788C;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;

        &:active {
          background: #005361;
        }

        .button__txt {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }

    .page-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .button {
        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
        }
      }
    }

    .button-prev {
      .button__item {
        width: 82px;
        background: #E6F2F4;

        &:active {
          background: #CDE3E7 !important;
        }

        .button__txt {
          color: #00788C;
        }
      }
    }

    .divider {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid #DFE0EB;
    }

    .admin-action {
      margin-top: 25px;

      &.reset-password {
        margin-top: 0;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        .icon {
        }

        .title {
          font-family: Mulish;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #9FA2B4;
          margin-left: 15px;
        }
      }
    }

    /* OBJECT STYLES CSS END */

    /* MIXINS STYLES CSS START */
    .min-default-width {
      width: 327px;
    }

    /* MIXINS STYLES CSS END */
  }
}

</style>