.custom-textarea {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  cursor: text;

  textarea {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    resize: none;
    padding: 0 15px;
  }

  &__length {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-weight: 600;
    font-size: 10px;
    color: gray;
  }

  &--theme-solid {
    background-color: #f0f1f7;
    border: 0;
    padding: 15px 0;

    &_focused {
      border: 0px;
      box-shadow: inset 0px 0px 0px 0px #00788C;
    }
  }

  &--has-error {
    background-color: rgba(255, 0, 0, .3);
  }
}
