<template>
  <div
    :class="['custom-textarea', `custom-textarea--theme-${theme}`, {
      'padding-bottom': maxLength ? '35px': '',
      'custom-textarea--has-error': hasError
    }]"
    @click="$refs.textarea.focus()"
  >
<!--    {{ hasError }}-->
    <textarea
      ref="textarea"
      v-model="computedModelValue"
      :maxlength="maxLength ? maxLength : ''"
      :style="[{'background-color': bgColor}]"
      :placeholder="placeholder"
      @keydown="keypress"
      @focus="$emit('focus'); touched = true; focused = true"
      @blur="$emit('blur'); focused = false"
    />
    <div
      class="custom-textarea__length"
      v-if="maxLength"
    >
      Ост: {{ remainedSymbolsLength }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'CustomTextarea',
  props: {
    modelValue: String,
    maxLength: {
      type: [String, Number],
      default: 0
    },
    bgColor: {
      type: String,
      default: 'transparent'
    },
    maxHeight: {
      type: Number,
      default: 100
    },
    placeholder: String,
    theme: {
      type: String
    },
    hasError: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    focused: false,
    touched: false,
  }),
  computed: {
    computedModelValue: {
      get () {
        return this.modelValue
      },
      set (newVal) {
        this.$emit('update:modelValue', newVal)
      }
    },
    remainedSymbolsLength () {
      return this.maxLength - (this.modelValue?.length ?? 0);
    }
  },
  methods: {
    calculateHeight () {
      const firstHeight = 20
      if(!this.computedModelValue) {
        this.$refs.textarea.style.height = firstHeight + 'px'
      }
      const newHeight = this.$refs.textarea.scrollHeight

      if(newHeight >= firstHeight && newHeight <= 100) this.$refs.textarea.style.height = newHeight + 'px'
      else this.$refs.textarea.style.height = '100px'
    },

    keypress(e) {
      const keyCode = e.which || e.keyCode;
      if(keyCode === 13 && !e.shiftKey && !e.metaKey) {
        e.preventDefault()
        this.$emit('submit')
      } else if (keyCode === 13 && e.metaKey) {
        this.computedModelValue += '\n'
      }
    }
  },
  mounted () {
    this.calculateHeight()
  },
  watch: {
    computedModelValue(val) {
      this.calculateHeight()
    }
  }
}

</script>

<style lang="scss" src="./CustomTextarea.scss" />