.button_prev, .button_next {
  height: 24px;
  cursor: pointer;
}
.mt-pagination {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 15px;

  &__per-page {
    font-family: 'Mulish';
    font-weight: normal;
    font-size: 14px;
    color: #9FA2B4;
    display: flex;
    align-items: center;
  }
  &__pages {
    display: flex;
    align-items: center;
    margin-left: 15px;
    &-current {
      font-family: 'Mulish';
      font-weight: normal;
      font-size: 14px;
      color: #9FA2B4;
      line-height: 24px;
    }
    &-actions {
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
  }
}

@media all and (max-width: 575px) {
  .mt-pagination {
    height: unset;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;

    &__pages {
      width: 100%;
      margin: 0;

      &-actions {
        margin-left: auto;
      }
    }
  }
}