<template>
  <div class="mt-pagination">
    <div
        class="mt-pagination__per-page"
        v-if="!hidePerPage"
    >
      <span>Записей на странице</span>
      <mtSelect
          v-model="perpageBuffer"
          :items="[5, 10, 15, 50, 100]"
      />
    </div>
    <div class="mt-pagination__pages">
      <div class="mt-pagination__pages-current">Страница <span style="color:#7C7D88">{{ page }}</span> из
        <span style="color:#7C7D88">{{ getTotalPages }}</span></div>
      <div class="mt-pagination__pages-actions">
        <div
            class="button_prev"
            @click="prev"
        >
          <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M15 18L9.07071 12.0707C9.03166 12.0317 9.03166 11.9683 9.07071 11.9293L15 6"
                stroke="#9FA2B4"
                stroke-width="2"
                stroke-linecap="round"
            />
          </svg>
        </div>
        <div
            class="button_next"
            @click="next"
            style="margin-left: 15px;"
        >
          <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M9 18L14.9293 12.0707C14.9683 12.0317 14.9683 11.9683 14.9293 11.9293L9 6"
                stroke="#9FA2B4"
                stroke-width="2"
                stroke-linecap="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mtSelect from '@/components/UI/mtSelect/mtSelect.vue';

export default {
  name: 'mtPagination',
  components: {mtSelect},
  props: {
    total: {
      type: Number,
      default: 0
    },
    page: {
      type: Number,
      default: 0
    },
    perpage: {
      type: Number,
      default: 0
    },
    hidePerPage: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      perpageBuffer: 0,
      loaded: false
    }
  },

  computed: {
    getTotalPages() {
      return Math.ceil(this.total / this.perpage)
    }
  },

  methods: {
    prev() {
      if (this.page === 1) return
      let page = this.page - 1
      this.$emit('update:page', page)
      this.$emit('change')
    },
    next() {
      if (this.page === this.getTotalPages) return
      let page = this.page + 1
      this.$emit('update:page', page)
      this.$emit('change')
    }
  },
  mounted() {
    this.perpageBuffer = this.perpage
  },
  watch: {
    perpageBuffer(newVal) {
      if(!this.loaded && newVal) {
        return this.loaded = true
      }

      this.$emit('update:page', 1)
      this.$emit('update:perpage', newVal)
      this.$emit('change')
    }
  }
}

</script>

<style
    lang="scss"
    src="./mtPagination.scss"
/>
