<template>
  <div class="add-new-table-list-item__container">
    <div class="add-new-table-list-item__wrapper">
      <span class="add-new-table-list-item__inner">
        <span class="add-new-table-list-item__txt">{{ params.title }}</span>
      </span>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    params: {
      type: Object,
      required: true,
    },
  },
}

</script>

<style
    lang="scss"
    scoped
>

.new-plan__button {
  //width: 185px;
  height: 33px;
  background: #00788C;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:active {
    background: #005361;
  }

  .new-plan__button-inner {
    background: url(../../../assets/img/svg/assessment-plans/assessment-plans__header-add_new_plan.svg) no-repeat 8px center;
    background-size: 17px;
    padding-right: 15px;

    .new-plan__button-inner__txt {
      padding-left: 40px;
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

</style>