<template>
  <div
      v-if="row"
      class="button button-create"
  >
    <mt-input
        v-if="row.type === 'expert'"
        v-model="newExpertScale"
    />
    <div
        :class="['button__item', {
                  'button__item--with-input': row.type === 'expert'
                }]"
        :data-uuid="row.uuid"
        @click.prevent="row.type === 'expert' && createNewScale()"
    >
      <span class="button__txt">Создать</span>
    </div>
  </div>
</template>

<script>
import MtInput from "@/components/UI/mtInput/mtInput.vue";

export default {
  name: "scaleCreating",
  components: {MtInput},
  props: {
    row: Object,
    newScale: Function
  },
  data: () => ({
    newExpertScale: ''
  }),
  methods: {
    createNewScale() {
      this.newScale(this.row.scales[0], this.row.uuid, 'new', this.newExpertScale)
      this.newExpertScale = ''
    }
  }
}
</script>

<style scoped>

</style>