<template>
  <steps-navigation
    :steps="steps"
  />
</template>

<script>
import StepsNavigation from "@/components/workspace/StepsNavigation.vue";

export default {
  name: "stepsNav",
  components: {StepsNavigation},
  computed: {
    steps() {
      return [
        {
          order: 1,
          name: 'Структура плана оценки',
          to: {
            name: 'AddEdit1',
            params: {
              uuid: this.$route.params.uuid,
            },
            query: {
              ...this.$route.query,
            }
          }
        },
        {
          order: 2,
          name: 'Настройка параметров оценки',
          to: {
            name: 'AddEdit2',
            params: {
              uuid: this.$route.params.uuid,
            },
            query: {
              ...this.$route.query,
            }
          }
        },
        {
          order: 3,
          name: 'Настройка уровней интерпретации',
          to: {
            name: 'AddEdit3',
            params: {
              uuid: this.$route.params.uuid,
            },
            query: {
              ...this.$route.query,
            }
          }
        },
        {
          order: 4,
          name: 'Участники плана оценки',
          to: {
            name: 'AddEdit4',
            params: {
              uuid: this.$route.params.uuid,
            },
            query: {
              ...this.$route.query,
            }
          }
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>