<template lang="pug">
.mt-file-view
  .mt-file-view--container
    .mt-file-view__logo
      mtSvg(
        name="file"
        :color="iconColor"
      )

    .mt-file-view__info
      .mt-file-view__name {{ name }}
      .mt-file-view__description {{ description }}

  .mt-file-view__actions
    .mt-file-view__delete(
      @click="deleteFile"
    )
      mtSvg(
        name="delete"
        color="#9FA2B4"
      )
</template>

<script>
import mtSvg from "@/components/UI/mtSvg";

export default {
  components: {
    mtSvg,
  },

  props: {
    name: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    colors: {
      png: '#8FA93A',
      jpg: '#3a59a9',
      jpeg: '#3a59a9',
      pdf: '#C24020',
      svg: '#c29c20',
      doc: '#2089c2',
      docx: '#2089c2',
    }
  }),
  computed: {
    iconColor() {
      const a = this.name.split('.')
      const ext = a[a.length - 1];
      return this.colors[ext] ?? '#9FA2B4';
    }
  },

  watch: {},
  methods: {
    /* GETTERS */
    /* SETTERS */
    /* HANDLERS */
    deleteFile() {
      this.$emit('delete');
    },

    /* HELPERS */
    /* ACTIONS */
  },

  created() {},
  mounted() {
    const a = this.name.split('.')
    const ext = a[a.length - 1];
  },
};
</script>

<style lang="scss">
.mt-file-view {
  box-sizing: border-box;
  width: 125px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  background: #FFFFFF;
  border-radius: 6px;
  margin: 5px;

  &--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  &__logo {}
  &__info {
    margin-left: 16px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
  }
  &__name {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__description {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #C5C7CD;
  }
  &__actions {
    width: 100%;
    margin-top: 15px;
  }
  &__delete {
    cursor: pointer;
    text-align: center;
  }
}
</style>