<template lang="pug">

.textarea-ui-component__container( :class="{ 'maintest-original' : params.maintest_original }" )
  .textarea-ui__wrapper
    .textarea-ui__header
      .textarea-ui__header_wrapper
        .textarea-ui__haupt-titel( v-if="params.hauptTitel" ) {{ params.hauptTitel }}
    .textarea-ui__body
      .textarea-ui__body_wrapper
        textarea.eingabe-feld {{ params.value }}

</template>

<script>

  export default {

    components : {},

    props : {
      /**
       * The following component parameters are passed to this object
       * {
       *    @param { string }  hauptTitel
       *    @param { boolean } maintest_original
       * }
       */
      params : {
        type: Object,
        required: true
      },
    },

    data ()
    {
      return {}
    },

    methods : {
      getters ()
      {
        return {}
      },

      setters ()
      {
        return {}
      },

      handlers ()
      {
        return {}
      },

      helpers ()
      {
        return {}
      },

      init (){},

      bindActions (){},
    },

    mounted () {}
  }

</script>

<style lang="scss" scoped>

.textarea-ui-component__container
{
  width: 100%;

  /* OBJECT STYLES CSS START */
    .textarea-ui__wrapper
    {
      .textarea-ui__header
      {
        .textarea-ui__header_wrapper
        {}
      }

      .textarea-ui__body
      {
        .textarea-ui__body_wrapper
        {}
      }
    }

    .textarea-ui__haupt-titel
    {
      margin-bottom: 10px;
    }

    .eingabe-feld
    {
      width: 100%;
      border: none;
      resize: none;
      height: 180px;
    }

    &.maintest-original
    {
      .textarea-ui__haupt-titel
      {
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #7C869D;
      }

      .eingabe-feld
      {
        background: #F0F1F7;
        border-radius: 12px;
        padding: 10px;
        box-sizing: border-box;

        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #7C869D;
      }
    }
  /* OBJECT STYLES CSS END */
}

</style>